[2015-07-26 21:15] nathandunn commented on #137
after 3 hours . . it looks like PostgreSQL is lagging . . :

[code]

[2015-07-27 02:25] nathandunn commented on #137
After almost 8 hours, still working fine.  Error rate overall is 0.01%, with 2.4 operations / sec with an overall target of 2 / sec.   A off of the adds / deletes (L11, L6, L7, L14) had ~0.14% error.    I had turned L5 off (so only running 15 threads, but mostly I think that it was just some initial bumps).

Top looks identical to the above, but rarely dropping two below 200%.

[2015-07-27 02:36] nathandunn commented on #137
Doing 4 threads jmeter-dev-blast-test-4.jmx, with a 1/5 get features over read features we get:

[2015-07-27 21:18] nathandunn commented on #481
@cmdcolin   Got it it in the EvidenceTrack as an HTMLFeature, but not yet draggable.  Just copying it straight over didn't seem to do anything:

![screen shot 2015-07-27 at 2 16 25 pm](https://cloud.githubusercontent.com/assets/751274/8917986/41a68a3a-346a-11e5-8082-1c4ebc99362f.png)

[2015-07-27 21:26] cmdcolin commented on #481
The WebApollo code transforms HTMLFeatures tracks to DraggableHTMLFeatures using TrackConfigTransformer, so it is just probably not transforming the HTMLFeaturesEx

[2015-07-27 22:03] nathandunn commented on #481
Yeah, something else is going on.   If I replace HTMLFeatures entirely with HTMLFeaturesEx same thing.   I saw the trackConfigTransfer as well.  Not sure if its not transforming or just clashing.

Anyway, when you have time.

Nathan

[2015-07-27 23:00] enuggetry commented on #481
Maybe somehow interfering with the event trap.

On Mon, Jul 27, 2015 at 3:03 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-07-28 00:47] nathandunn commented on #137
The optimized results are 2.7 ops / sec (twice) with one error.   That is 16 threads, and almost double the 1.4 ops / sec.

[2015-07-28 02:51] nathandunn commented on #137
Other optimization target:

Called at 12 X the amount (not sure if eager fetch is the same as a join, maybe do join to feature location on initial select? or not at all?):
[code]

getAllSequenceAlterationsForFeatures is a slow query when it call  . . NonCanonicalnSliptSiteService::findNonCanoncialAppectorDonorSplitSites(Transcrtipt)

[2015-07-28 03:13] nathandunn commented on #137
The majority of the data usage is still grabbing the transcripts from the database, which should not be a surprise.   This is multiple joins . . which by necessity includes feature_location, so it might be worth it to include that.

[2015-07-28 15:39] nathandunn commented on #481
Maybe.  But its still drawing the older HTMLFeatures.  Not sure if its cached somewhere or there is some namespace issue.    Anyway, I’m sure its tractable.  I’ll try to finish optimizations today and look at that.

Nathan

[2015-07-28 16:19] cmdcolin opened #501 "Add sample data browser"
I was thinking that adding a sample data browser to the setup process would be a good feature. JBrowse does this with the volvox sample data, and it seems to be quite a nice way to confirm user's installations. It also demonstrates browser capabilities.

This is up for discussion though

[2015-07-28 16:23] cmdcolin opened #502 "Track panel has a hard limit on 100 tracks"
We have some browsers where there are over 100 tracks, so the annotator panel track browser cannot display all our tracks.

https://github.com/GMOD/Apollo/blob/master/src/gwt/org/bbop/apollo/gwt/client/TrackPanel.java#L61

We could just increase the limit but I was wondering if anyone has other ideas.

[2015-07-28 16:40] nathandunn commented on #502
Feel free to change the size to somerhign reasonable and close this.   You could also add a paginator as well, pretty easily.

Long-term I want to do something like #227 .

[2015-07-28 16:44] cmdcolin commented on #502
Raised to 1000. Will defer to that issue for future stuff.

[2015-07-28 16:44] #502 closed

[2015-07-28 17:59] nathandunn commented on #501
I would rather have a script / target of “add-sample-data” or something like that and not have it be a default target.

Nathan

[2015-07-28 20:10] cmdcolin commented on #501
That makes pretty good sense to me. one other thing I considered about this is that normally we have the jbrowse data directory external to the war file, but in the sample data case, it might make sense to include it in the war package because we might not necessarily know where else to put it on the users filesystem

[2015-07-28 20:16] nathandunn opened #503 "(1h) adding organism should only support "absolute" paths"
if the path does not start with a "/" it should be rejected, otherwise will try to load relative to tomcat.

[2015-07-28 20:29] cmdcolin commented on #503
I just added a scenario where we might want to load data relative to tomcat in #501

I just don't see why we would necessarily disallow this

[2015-07-28 20:29] nathandunn commented on #501
It should be external to the war file since users will only want it the first time.   It should go in:

docs/examples/sample_data

In the doc you could point to the directory and supply screenshots . . maybe in the top-level doc.

Nathan

[2015-07-28 20:31] nathandunn commented on #503
That is not considered best practice for working with tomcat.

Nathan

[2015-07-28 21:37] nathandunn commented on #503
Test:
Try to add an organism withOUT an absolute path as a directory.  Should see warning.

[2015-07-28 22:08] nathandunn commented on #491
Going to start on some of the smaller pieces, but will probably have to wait for all of RC3.

[2015-07-29 00:43] selewis commented on #498
comments on WA2 proposal

On Fri, Jul 24, 2015 at 3:35 PM, Nathan Dunn <notifications@github.com>
wrote:

TSS1 = get translation-start-site (TSS) of transcript 1
TSS2 = get translation-start-site of transcript2
if (!different_genes && CDS1 overlaps CDS2 && phase of TSS1 == phase of
TSS2)
    different_genes = false;

In other words, you don't have to look at phase except for where
translation star

[2015-07-29 02:19] nathandunn commented on #498
Thanks.  It sounds like my proposal is correct then.  Just surprised that this was in the old code as its really easy to reproduce.    We'll need to do this with the overlapping function as well.

Nathan

[2015-07-29 03:50] selewis commented on #498
Right,

The only thing I was noting is that you don't have to check the phase of
each exon in the CDS, just the TSS genomic phase has to be the same (and
you said 'or')

On Tue, Jul 28, 2015 at 7:19 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-07-29 04:51] nathandunn commented on #137
after 4 hours of stress test, at a steady 3.5 ops / sec, with a CPU that is not constantly pegged.  Memory is stable at around 1.4 G.  CPU is REALLY spiky ,but it doesn't hang at ~200% as it did before and postgres is not constantly maxes.

[2015-07-29 05:38] nathandunn commented on #498
Yes this makes sense.

Yes the CDS must overlap *AND* the transcription start phase must be the same.

What I meant, but not what I said.  I’ll fix the text.

Thanks,

Nathan

[2015-07-29 05:49] nathandunn commented on #137
![screen shot 2015-07-28 at 10 46 53 pm](https://cloud.githubusercontent.com/assets/751274/8950765/d6846c06-357a-11e5-9de3-fab742bf8e08.png)
![screen shot 2015-07-28 at 10 46 46 pm](https://cloud.githubusercontent.com/assets/751274/8950764/d683c062-357a-11e5-8919-207478349d7a.png)

[2015-07-29 14:50] nathandunn commented on #137
After running it for 15 hours we have 9 total errors.  8 on L7, one on 6.   It should be noted that additions are done via a "burst" (at least initially), which might account for some of these issues.   The averages for adding transcript was close to a second.   However, 3 were above 3 seconds, but largely due to variability.
![screen shot 2015-07-29 at 7 49 41 am](https://cloud.githubusercontent.

[2015-07-29 15:46] nathandunn commented on #137
Using jmeter-dev-stress-2 (adds and deltes only): 22% of processing is (56% is generateTranscript):

    List results = (Feature.executeQuery("select f.name from Feature f join f.featureLocations fl join fl.sequence s join s.organism org where org = :org and f.name like :name ",[org:organism,name:name+'%']))

The next highest call (convertJSONToFeature) is 7%, but should have dominated.

With rega

[2015-07-29 15:54] nathandunn commented on #137
Removed data (and some other un-necessary code) . . . results overall are MUCH better.   7.8 ops / sec for jmeter-dev-stress-2 (4 threads going AFAP).  All averages are <500 ms and all maxes are below 3.

[2015-07-29 17:13] nathandunn commented on #137
For a longer stretch, we got 4 samples / sec for jmeter-dev-stress-2 (4 threads going AFAP) with no errors for an hour.

- [ ] This probably needs to be a join.
    FS::getOverlappingFeatures() . .
       . . .  criteraQuery . . makes this un-necessary call
       return results*.feature.unique()

- [ ] Also, the hash function on FeatureRelationship calls hash onparent and child features Features,

[2015-07-29 20:55] cmdcolin opened #506 "Issues with generate-names.pl on large data file"
There was a reported issue with a large (3.9 GB) gff and it has problems related to the generate-names.pl script (some features are apparently missed?)

File
http://www.mediafire.com/download/diyagoqy90f2alc/CcClean_annotated2.gff.gz

Thread
http://gmod.827538.n3.nabble.com/Gmod-ajax-generate-names-pl-not-indexing-everything-td4050318.html

To test, I think you can run this

    gunzip CcClean_ann

[2015-07-29 21:01] cmdcolin commented on #506
Meant to post on jbrowse

Close!

[2015-07-29 21:01] #506 closed

[2015-07-29 22:38] nathandunn commented on #137
I get about 40 samples / sec after 1 minutes for the blast test . . . after the add /delete fixes.

[2015-07-29 22:45] nathandunn opened #507 "test annotation migration and generate performance statistics for live database"
- [x]  pre-fill database with annotations to observe differences (wait until after user-migrating a DB)
- [x]  do a network latency test (off of icebox) to observe differences

NAL / i5K can have:
100 organisms per server( ? . . not sure what that limit is)
5K annotations per organism
up to 100K sequences per organism
so maybe 1Mil annotations per server

[2015-07-29 22:47] nathandunn commented on #137
Nothing to test.

[2015-07-29 22:47] #137 closed

[2015-07-29 22:52] nathandunn commented on #452
@cmdcolin   Do you want to close this, or leave it open?

[2015-07-29 23:00] cmdcolin commented on #452
Close is ok with me. Will reopen if i see something out of the ordinary

[2015-07-29 23:23] nathandunn commented on #452
I think we integrated some of this work already, esp. the caching and some work in #137.

[2015-07-29 23:23] #452 closed

[2015-07-30 12:47] childers commented on #507
Our record right now is around 148k sequences for one assembly. Hopefully that will be an outlier moving forward, but that's our upper bound as of now.

[2015-07-30 13:37] nathandunn commented on #507
I don't think it will effect it.  It performs better with fewer annotations per sequence.

Nathan

[2015-07-30 17:16] nathandunn commented on #507
Did network latency test off of icebox and still good results . . . some initial erroring out on one of the genes, but other than that ran for 10 hours fine.  Was pretty much 3.5 ops / sec for most of the testing time.   Assuming that at some point there were some network latency issues.

![screen shot 2015-07-30 at 6 19 58 am](https://cloud.githubusercontent.com/assets/751274/8989916/012c2f82-36a

[2015-07-30 17:36] nathandunn commented on #498
From a brief conversation with @monicacecilia   . . . everything in here is correct, with the caveat that Exons will almost always overlap exactly.    In conjunction with #73 this might end up being a non-issue, but it should still be done correctly.

@selewis   This is the code that is "wrong" . . .coming straight from WA1:

https://github.com/GMOD/Apollo/blob/master/grails-app/services/org/bbop/

[2015-07-30 17:39] nathandunn opened #508 "refactor DraggableHTMLFeatures to be more polymorphic"
Basically we can't use any of @enuggetry related to #481  changes without this being refactored.

[2015-07-30 23:44] cmdcolin commented on #508
Just to be more precise about what (I think) is happening, DraggableHTMLFeatures does inherit from HTMLFeatures, but it is fully overriding various methods from HTMLFeatures instead of delegating properly calling super()/this.inherited().

[2015-07-31 00:12] cmdcolin commented on #508
Prevents new introns from being drawn and dragged  in the #481

[2015-07-31 19:32] nathandunn commented on #488
@deepakunni3   I bootstrapped in the code here to /report/changes2 with the relevant changes:

https://github.com/GMOD/Apollo/commit/9d743e2543d29fb8fdc433b575bd5f57a587c80b

Important pieces:
- changes2.gsp (the "html" file)
- FeatureEventController::changes2 . . loads the file and handles the organism, not much else
- FEC::changesValue() . . loads JSON called in the page . . handles most logic i

[2015-07-31 19:34] nathandunn opened #509 "!! add the ability to annotate "phenotype""
FYI @selewis   add anything as you see fit.

[2015-08-02 04:42] nathandunn opened #511 "!!(1h) set current sequence dropdown not selecting sequence"
http://localhost:8080/apollo/sequence/setCurrentSequenceLocation/?name=chr2&startbp=null&endbp=null

JSON Exception parsing (probably just the 404)

[2015-08-03 03:04] nathandunn opened #512 "!!(2h) only able to add 4 organism max to permissions"
- [x] user page
- [x] group page

[2015-08-03 03:26] cmdcolin commented on #512
Pretty much same issue as https://github.com/GMOD/Apollo/issues/502?

[2015-08-03 03:31] cmdcolin commented on #491
#510 did some of this

[2015-08-03 17:31] nathandunn opened #513 "(1h) add security to reports"
should be admin in order to view report

to test:
- logout and connect to report url

OR

- logout and login as user and connect to report url

[2015-08-03 21:11] nathandunn opened #514 "logout across different browsers (on different machines)"
from #480 . .  .just confirming behavior of this:

- it registers a logout on a different browser / machine, but the session key is the same, so it doesn't actually do the logout
- it does send a websocket request out correctly notifying of the logout (but without actually doing a logout).

[2015-08-03 23:43] nathandunn commented on #493
so spring security core has an easy workaround for this . . . . shiro native also has support for this.

Hooking up a listener straight to web.xml might work as well.

[2015-08-03 23:43] nathandunn commented on #493
https://github.com/apa64/try-shiro/blob/master/grails-app/conf/Config.groovy

[2015-08-03 23:44] monicacecilia opened #515 "(4h) Need to optimize merges."
Optimize:
- [x] mergeTranscripts (use TS::convertToJSON())
- [x] addExon  /  TranscriptService::addExon() .  . . use queries and TS::convertToJSON()

It is possible to merge two gene models by dragging a model on top of one already on the "User-created Annotations" (U-cA) area. However, the merge is very slow (top image).
Merges are occurring faster when both gene models are dragged into the U-cA

[2015-08-03 23:46] monicacecilia commented on #400
Brilliant - and good eye @deepakunni3. Indeed it works. :dancer:

[2015-08-03 23:46] #400 closed

[2015-08-03 23:54] monicacecilia commented on #401
I can confirm that this is now fixed.
hooray! :dancer:

[2015-08-03 23:54] #401 closed

[2015-08-04 01:00] monicacecilia commented on #448
@nathandunn The difference you see between the sequence in model GB42167 and GB42169 is due to the differences in the nucleotide sequence. Apollo is correctly reading the resulting sequence after setting the readthrough in each case.

Your first example, GB42167, has a TGA stop codon, which Apollo correctly interprets as a selenocysteine (U) when the "Set stop readthrough" function is called.
<img

[2015-08-04 02:02] deepakunni3 commented on #448
@monicacecilia Hi Moni, I tested it just now.

Peptide sequence before setting a read through stop codon:
[code]
Translation stops when it hits the first `X`.

Peptide sequence after setting a read through stop codon:
[code]
Translation reads through the first `X` and places a `*` and continues till it reaches the next `X`

@cmdcolin Thanks for updating the SINV browser. :)

[2015-08-04 14:23] monicacecilia commented on #448
Brilliant. Thanks for the fix and confirmation.
I'll create a new issue wrt the stop codons that do not code for selenocisteyne.
:dancer:

[2015-08-04 15:29] monicacecilia commented on #252
It is confirmed. :dancer:

[2015-08-04 15:29] #252 closed

[2015-08-04 16:05] nathandunn opened #516 "add updated dev doc"
FYI @enuggetry   . ..  I'll try to start something for this as I already have some notes.

[2015-08-04 16:30] nathandunn commented on #515
Merge transcript is using generic feature code to process JSON, which I've already shown to be really slow.    Fix is pretty straight-forward.

[2015-08-04 16:33] nathandunn commented on #492
@deepakunni3  Code commits are here:

9bf11529aef0407fb486a894485d43cf302b820c
6b128da7b48828b1f211f3330d2e7232687ceeae
1140454386b03d12717435653370d1bb783bf66c

[2015-08-04 16:34] nathandunn commented on #492
@deepakunni3   Looks good.

[2015-08-04 16:34] cmdcolin commented on #493
I like the idea of this SessionExpiredListener, but instead of forcing logout, I think it should try and "re-login" (like a heartbeat timer)!

The reason being is that if you force a logout, it destroys the remember me cookie.

[2015-08-04 16:36] cmdcolin commented on #493
The main concern that I have is that when the sessions expire, the app continues to function in a half-broken state, so we need to just refresh the session or "listen" to the responses that the ajax calls are making better to just stop when it is in that half-broken state

[2015-08-04 16:40] nathandunn commented on #493
@cmdcolin  It shouldn't force a logout, however, I need to see how it interacts with the remember-me cookie.   This is all in a branch, so we'll have to definitely review it.    So the behavior we want is:

On session expire . . .
- if a remember-me cookie exists, use that to re-login .. if it fails notify, otherwise the user doesn't care . . . I think that it might do this automatically, but I am

[2015-08-04 17:40] nathandunn commented on #516
I'm going to go ahead and close this with the caveat that it is here:

https://github.com/GMOD/Apollo/blob/master/docs/Architecture.md

Also, FYI @cmdcolin  and @deepakunni3   feel free to add.

[2015-08-04 17:40] #516 closed

[2015-08-04 18:12] #362 closed

[2015-08-04 18:14] nathandunn commented on #513
Test:  Logout and see if you can still get to the reports pages.

[2015-08-04 18:15] nathandunn commented on #512
@cmdcolin   It is similar, yes.

[2015-08-04 18:15] nathandunn commented on #512
To Test:  have more than 4 organisms.  Try to assign permissions to a user and group for the "fifth" one.

[2015-08-04 18:16] nathandunn commented on #492
Going to re-test.

[2015-08-04 19:54] nathandunn commented on #349
this is working

[2015-08-04 19:54] #349 closed

[2015-08-04 19:57] nathandunn commented on #385
works .  . chose not to implement dynamic organism count stuff

[2015-08-04 19:57] #385 closed

[2015-08-04 20:01] nathandunn commented on #389
Seems to be working

[2015-08-04 20:01] #389 closed

[2015-08-04 20:09] nathandunn commented on #497
I think that the culprit was a minor (improved) update of hibernate / grails 2.4.5

Anyway, you can delete an isoform now.

[2015-08-04 20:09] #497 closed

[2015-08-04 20:10] nathandunn commented on #503
Confimr works

[2015-08-04 20:10] #503 closed

[2015-08-04 20:12] nathandunn commented on #464
Works

[2015-08-04 20:12] #464 closed

[2015-08-04 20:15] nathandunn commented on #459
its there and working . .  the "changes" needs some work and it is being worked on.

[2015-08-04 20:15] #459 closed

[2015-08-04 20:27] nathandunn commented on #467
working on Sequence Panel

[2015-08-04 20:27] #467 closed

[2015-08-04 20:33] nathandunn commented on #463
confirmed working on icebox

[2015-08-04 20:33] #463 closed

[2015-08-04 22:02] cmdcolin opened #517 "Support different types of sequence stores"
Currently we only support the hashed sequence stores, the default prepare-refseqs argument. We should add support for

- Using prepare-refseqs.pl with the --nohash option
- Using prepare-refseqs.pl with the --compress option
- Supporting possible future formats where just plain fasta files are used (jbrowse pull requests for 2bit and fasta index are avaiable)

[2015-08-04 22:48] nathandunn opened #518 "add ability to import GA4GH endpoints"
should be able to import GA4GH endpoints:

https://github.com/ga4gh/server

reference:
http://ga4gh-reference-implementation.readthedocs.org/en/latest/demo.html

[2015-08-04 22:50] nathandunn commented on #517
:+1:

[2015-08-04 22:52] nathandunn commented on #518
The JS code is here:  https://github.com/acthp/ga4gh-rxjs

[2015-08-05 00:13] nathandunn commented on #493
http://shiro-user.582556.n2.nabble.com/Listening-for-session-timeout-events-via-SessionManager-td5998503.html

Will have to use "native" mode, which caused its only problems.

[2015-08-05 01:00] nathandunn commented on #493
Next . . I think I my try the spring security.   On the flip side I could do something like this:

http://stackoverflow.com/questions/3201991/auto-loyingg-off-once-the-session-expires

This actually has jQuery make a heartbeat check.   This would have to go into the jbrowse section, however.    That, and we could just use the stomp websocket library to do the same thing.

The problem is that we ar

[2015-08-05 01:09] monicacecilia commented on #448
@deepakunni3 something is still not working.
The issue of the "stop" being mistakenly retained has been fixed (I'll close this issue again), but the issue of how Apollo is drawing this gene model (as shown in #453 ) is still incorrect in the SINV instance.

[2015-08-05 01:09] #448 closed

[2015-08-05 01:15] monicacecilia commented on #453
Although the sequence export bug reported in #448 has been fixed, in the SINV Apollo instance is still drawing this gene model incorrectly. @cmdcolin @deepakunni3 May I kindly ask one of you to please let me know when you have updated it?

[2015-08-05 01:23] nathandunn commented on #453
@cmdcolin  @deepakunni3  I think Moni means updated the Missouri server with 2.0.0-RC3.

[2015-08-05 01:29] monicacecilia opened #519 "Automatic logout warning needed."
We must warn the users that they have been logged out of a session. Currently, Apollo simply stops working without warning, and regardless of how many operations, the requests simply hang. It is only evident the user is "logged out" after refreshing.

[2015-08-05 01:30] nathandunn commented on #519
Dupe of #493.

[2015-08-05 01:30] #519 closed

[2015-08-05 01:32] nathandunn commented on #493
@cmdcolin   How do I do this in dojo-land at the panel level:
[code]
or conversely:
[code]

[2015-08-05 01:33] monicacecilia commented on #519
10-4.

[2015-08-05 02:06] monicacecilia commented on #456
Nope. The logic has now gone bananas.

After conducting an alteration to delete 12 nucleotides to the right of position 1,571,572, going from the intron into the exon.

![screen shot 2015-08-04 at 7 02 40 pm](https://cloud.githubusercontent.com/assets/1714621/9076775/8dbaa010-3adb-11e5-99b1-8a5fb0daad64.png)

The resulting gene model looks like this:
![screen shot 2015-08-04 at 7 00 51 pm](https:/

[2015-08-05 02:13] monicacecilia commented on #453
Hi there, the rules stated above are not correct.

**"1) on import, annotation CDS boundaries are trusted (currently doing this)"**
 --> This is incorrect. The structure should be adopted as it came from the evidence, i.e. the intron/exon boundaries from the evidence should be retained, but Apollo should calculate the CDS when the model is dragged into the U-cA, without prejudice from the evidence

[2015-08-05 02:27] nathandunn commented on #456
Going the other way, this is the error.   Should delete 5 residues, instead it is trying to do:

[code]

which gives:
[code]

I think what it should be is:

[code]

<img width="319" alt="screen shot 2015-08-04 at 7 17 49 pm" src="https://cloud.githubusercontent.com/assets/751274/9076968/81914a3a-3add-11e5-8ccb-ad3157b8cbe4.png">

[code]

[2015-08-05 02:43] monicacecilia commented on #468
Bingo on RC3. woop woop! (i.e. yes, it works as expected). :dancer:

[2015-08-05 02:43] #468 closed

[2015-08-05 02:47] monicacecilia commented on #458
Not ready. :cry: somewhat related to process in #453 and #456.

[2015-08-05 02:51] nathandunn commented on #456
This offset is still of as well:

<img width="691" alt="screen shot 2015-08-04 at 7 44 49 pm" src="https://cloud.githubusercontent.com/assets/751274/9077310/83a6ec36-3ae1-11e5-968c-df9a86e85d5a.png">

The local coordinate is ```-1``` . .. ,but in reality it should be ```-4``` . . so it ends up not deleting far enough:
[code]

It should be:  12 - 4  = 8  . . . or sequenceAlteration.length - localCo

[2015-08-05 02:52] nathandunn commented on #456
The peptide sequence is also wrong:

<img width="589" alt="screen shot 2015-08-04 at 7 52 40 pm" src="https://cloud.githubusercontent.com/assets/751274/9077386/631fe2d2-3ae2-11e5-978b-9b1b4183bd43.png">

[2015-08-05 14:37] cmdcolin commented on #453
Well personally I was surprised by the fact that this behavior was not in place before and so I was throwing up my hands trying to justify it.

Our behavior is now substantially different than previous versions, but maybe it is more accurate.

[2015-08-05 14:44] cmdcolin commented on #453
Furthermore: this could be sort of a special case. Like, NCBI has two different pipelines, alignments (NM_ prefix IDs) and gene predictions (XM_ prefix IDs)

The NM_ ones have high quality evidence but the gene models may be messed up (similar to what I posted in OP)

The XM_ ones have good ab initio evidence and gene prediction, so they satisfy the more typical situations

I think the NM_ type ev

[2015-08-05 15:18] nathandunn commented on #453
@cmdcolin  @deepakunni3   So we fixed this last night to comply to the updated rules.  See https://github.com/GMOD/Apollo/commit/62267cd6405f46d816e843a164d72b7bfe5ef049   . . . fortunately it was pretty easy.

[2015-08-05 15:21] cmdcolin commented on #453
I saw that and that's why I commented

"Our behavior is now substantially different than previous versions"

[2015-08-05 15:24] nathandunn commented on #453
Ahh . . thanks.

[2015-08-05 15:38] nathandunn commented on #456
@monicacecilia,

@deepakunni3  and I discovered that it is a problem ONLY with getting sequence off of subfeatures, but we think  the whole transcript is okay.  Will try to finish fixing this, this morning . . ..

[2015-08-05 18:17] nathandunn opened #520 "consider multiple open reading frames and phases (6)"

[2015-08-05 19:37] cmdcolin commented on #520
@deepakunni3  showed me this http://web.expasy.org/translate

Maybe something similar?

![screenshot-web expasy org 2015-08-05 14-37-15](https://cloud.githubusercontent.com/assets/6511937/9095897/809fa5d4-3b7f-11e5-8bc2-9e71f175a4fb.png)

[2015-08-06 15:49] nathandunn commented on #458
@deepakunni3   Do you think that this is fixed as well ?

[2015-08-06 17:48] cmdcolin commented on #456
We added a fix here 9ed8d6b69164 that is important

Previously anything downstream of an alteration was badly calculated in the insertion case

[2015-08-06 17:50] nathandunn commented on #456
Okay, I merged it in.

Nathan

[2015-08-07 01:43] monicacecilia opened #522 "Unable to open data using URLs"
Unable to open honey bee files located (at Elsik Lab) from the "Open" menu:

/Open (Test that data can be loaded locally using URLs (File / Open / Remote URLs)).

@cmdcolin, it is possible these files moved and are no longer available. Please let me know. And thanks for having those available!!

<img width="704" alt="screen shot 2015-08-06 at 6 36 56 pm" src="https://cloud.githubusercontent.com/as

[2015-08-07 02:05] cmdcolin commented on #522
I think the permissions on those were wonky

I think it should work now though Paste this into the URL box

http://genomes.missouri.edu/amel/Amel_combined_variants.gz.tbi
http://genomes.missouri.edu/amel/Amel_combined_variants.gz

[2015-08-07 02:26] cmdcolin commented on #522
Sorry links were bad(?)

http://genomes.missouri.edu/amel/Amel_combined_variants.vcf.gz.tbi
http://genomes.missouri.edu/amel/Amel_combined_variants.vcf.gz

[2015-08-07 03:22] nathandunn commented on #522
Those seemed to work, but I'll let @monicacecilia  close this:

![screen shot 2015-08-06 at 8 21 41 pm](https://cloud.githubusercontent.com/assets/751274/9128106/d02c38ac-3c78-11e5-97c2-5fab3afb1091.png)

[2015-08-07 15:58] #236 closed

[2015-08-07 15:59] nathandunn commented on #402
My guess is that this was a bug that is now fixed.

[2015-08-07 15:59] #402 closed

[2015-08-07 16:01] nathandunn commented on #79
To Test, verify this for:
- The reports page
- The Annotation tab.

[2015-08-07 16:04] nathandunn commented on #208
@deepakunni3   This is related to #488 .  Feel free to merge the two.

[2015-08-07 16:07] nathandunn commented on #441
This is a duplicate, which we've already fixed.

[2015-08-07 16:08] nathandunn commented on #483
@monicacecilia  Please comment and then assign to me with recommendations when you are testing.

[2015-08-07 16:09] nathandunn commented on #433
Not sure if this is redundant.

[2015-08-07 16:11] cmdcolin commented on #441
I'm not sure this was fixed.

[2015-08-07 16:11] nathandunn commented on #295
Related to #17  and others.

[2015-08-07 16:12] nathandunn commented on #441
Alright . . I will assign it then.

[2015-08-07 16:12] cmdcolin commented on #433
I think it's still a good issue. Currently any organism can create the public link to browser. Would probably be good to make that optional in some cases.

It would probably be pretty easy to add this on the "create organism" panel

[2015-08-07 16:13] nathandunn commented on #433
It is related sort of to #17  . . . and all of the permission code in 2.0.1.

[2015-08-07 16:14] cmdcolin commented on #295
Is this for the "email address" domains?

[2015-08-07 16:15] nathandunn commented on #295
Or IP address.  See #295 . . .

[2015-08-07 16:15] cmdcolin commented on #433
True. I guess that is concerned with public vs private tracks, but the concept of public vs private organisms might be worthwhile too.

[2015-08-07 16:16] cmdcolin commented on #433
I know that phytozome has done some stuff using just Apache htaccess to make private organism browsers, but of course, we aren't really using Apache!

[2015-08-07 16:17] nathandunn commented on #78
I *think* that this is done (a while ago), but please verify my understanding.

[2015-08-07 16:19] nathandunn commented on #418
Dupe of #444.  That bug has better comments.

[2015-08-07 16:19] #418 closed

[2015-08-07 16:22] nathandunn commented on #228
Might be a dupe, but definitely related to other permission stuff.

[2015-08-07 16:23] cmdcolin commented on #78
Do we include include "Owner/created by" in the exports yet?

[2015-08-07 16:24] nathandunn commented on #78
We include "owner" but not "edited by", though 99% of the time, I would guess that they are similar . . unless added via a bulk export.

[2015-08-07 16:26] nathandunn commented on #86
This might be a dupe, but some good notes on it.

[2015-08-07 16:27] cmdcolin commented on #78
Sounds good. This is a small quip about GFF3 format but apparently the "Owner" tag in our GFF3 is upper case, which is technically a reserved field in GFF3.

[2015-08-07 16:30] nathandunn commented on #11
This is related to the #488.    Its possible I'm not recording it, but would not be hard to add.

[2015-08-07 16:33] nathandunn commented on #43
Related to #488.   This was very important if I remember.

[2015-08-07 16:34] nathandunn commented on #46
Don't think  we need to use swagger, but we could make it look similar.

[2015-08-07 16:35] nathandunn commented on #143
Donish

[2015-08-07 16:35] #143 closed

[2015-08-07 16:42] nathandunn commented on #78
Can you should me where it is reserved?  I couldn’t find it, but I just want to see if it is something we should change.

Thanks,

Nathan

[2015-08-07 16:44] cmdcolin commented on #78
From http://sequenceontology.org/resources/gff3.html

"All attributes that begin with an uppercase letter are reserved for later use. Attributes that begin with a lowercase letter can be used freely by applications."

[2015-08-07 16:45] nathandunn commented on #78
Thanks.   We should fix that.   I’ll add a ticket.

Nathan

[2015-08-07 16:51] nathandunn opened #523 "GFF3 Exports should lower-case unless a reserved field"
http://www.sequenceontology.org/gff3.shtml

[code]

[2015-08-07 17:05] nathandunn commented on #146
We now have this with google analytics .  .

[2015-08-07 17:05] #146 closed

[2015-08-07 17:07] nathandunn commented on #144
This is related to the customizable data reports.

[2015-08-07 17:07] #144 closed

[2015-08-07 17:12] nathandunn commented on #105
Just another report type.

[2015-08-07 17:12] nathandunn commented on #104
Might be a dupe with #488 .

[2015-08-07 17:14] nathandunn commented on #45
Related to #500.

[2015-08-07 17:18] nathandunn opened #524 "Annotate Variants"
Allow annotation of variants.  Should behave similar to a sequence alteration, but with much additional data added to the schema based on information from the variant.

[2015-08-07 17:22] nathandunn opened #525 "(3w) enable genome folding"
- [x] Build "bookmark" tab out with drag and drop for re-arrangement
  - [x] wrap JSONArray / JSONObject of view objects
  - [x] persist Bookmarks to users
  - [x] enable "duplicate" function of bookmarks
  - [x] **enable "view" of bookmark**
    - [x] **should not return multiple refseqs** . . should return one combined refseq
    - [x] pass URL to JBrowse: organism, sequence, feature(s), etc in

[2015-08-07 17:24] nathandunn opened #526 "Enable MSA view using JalView, PANTHER"

[2015-08-07 18:08] cmdcolin commented on #185
This appears fixed in 2.0, latest firefox 39. Haven't tried 1.0.4 again

[2015-08-07 18:09] erasche commented on #208
@nathandunn excellent! thanks

[2015-08-07 18:13] nathandunn commented on #185
I think we should close this and open another one for 1.0.5.

Nathan

[2015-08-07 19:17] cmdcolin commented on #185
Ya. still appears to be a minor problem in 1.0.4 http://icebox.lbl.gov/WebApolloDemo/jbrowse/

This is technically a 1.0.5 milestone issue but I just wanted to double check that 2.0.0 didn't have problems with it

[2015-08-07 19:22] cmdcolin opened #527 "User's last location isn't used on page refresh"
If the user is navigating somewhere, and refreshes the page, it stays on same scaffold but then zooms out to the fullscreen view. tested on local and icebox 2.0.0-RC4

[2015-08-07 20:34] childers commented on #86
Q1: Did this get bumped to a later release?
Q2: Will my code adjustments from the 1.X branches still apply to make this work?  This has been critical to our post-annotation workflow.

[2015-08-07 20:37] cmdcolin opened #528 "Overlapper code is not working in some cases (?)"
I was just testing some behaviors in 2.0.0 RC4 such as creating new annotations from single exons and from individual RNA-seq reads and I wanted to check that they were being added to the same gene with the OrfOverlapper code.

From what I can tell though, it appears in many cases that they are not added to the same gene and it might be due to the OrfOverlapper code not working correctly(?).  I ha

[2015-08-07 20:40] cmdcolin commented on #528
The colored circles in my image all represent a different genes that were created from the dragged and dropped evidence. The gene groups were determined by going into the "Edit Information" dialog and looking at which transcripts were in the dropdown box for that gene.

[2015-08-07 21:08] cmdcolin commented on #86
@childers on Q2 which code adjustments are you referring to?

[2015-08-07 21:23] nathandunn commented on #528
This is a dupe of #498 scheduled for 2.0.1 . . . Its because it calculates the overlapping phase based on the exon start (?) instead of the CDS start.

[2015-08-07 21:23] #528 closed

[2015-08-07 21:24] nathandunn commented on #528
Also related to #73.

[2015-08-07 21:25] nathandunn commented on #185
Ah thanks . . I was looking at it on my phone and didn't notice the milestone number.

[2015-08-07 21:27] nathandunn commented on #527
This is also true when clicking on a transcript.

[2015-08-07 21:27] cmdcolin commented on #528
Sounds about right. I was looking for those issues but wasnt finding them

[2015-08-07 21:28] nathandunn commented on #86
@childers  . . . is this the code where you set the status explicitly based on custom client code?  Then yes, it should not be any different.

[2015-08-07 21:39] childers commented on #86
I was talking about the "replaced models" custom attribute.

Currently I'm updating the AnnotTrack file directly.

[2015-08-07 21:41] nathandunn commented on #86
Oh . . you mean this?:

https://github.com/GMOD/Apollo/issues/495 <https://github.com/GMOD/Apollo/issues/495>

Wondering if it should be renamed.

Nathan

[2015-08-07 22:56] nathandunn commented on #527
Retagged to 2.0.0-RC4

[2015-08-07 23:06] nathandunn commented on #527
Should be working now.

To test:
1 - go to a gene . .  refresh the page and see that you are at the same location
2 - got a a gene on a difference organism and refresh confirming your at the same place . . . go back to the original organism and verify that you are at the location you were on the original organism in (1)

[2015-08-07 23:15] childers commented on #86
Whoop

On Friday, August 7, 2015, Nathan Dunn <notifications@github.com> wrote:

[2015-08-10 14:58] cmdcolin commented on #274
Just updating this again, but GFF3 output is still really slow.

Here are several runs on the Pythium ultimum data (341 features)

    real	3m51.849s

    real	4m28.702s

The procedure to calculate the phase at the gff3 service level is particularly expensive

[2015-08-10 19:36] selewis commented on #520
No, we can do much better than this.

On Wed, Aug 5, 2015 at 12:37 PM, Colin Diesh <notifications@github.com>
wrote:

[2015-08-10 19:44] selewis commented on #526
JalView
See http://www.jalview.org/

On Fri, Aug 7, 2015 at 10:24 AM, Nathan Dunn <notifications@github.com>
wrote:

[2015-08-10 19:52] nathandunn commented on #515
It was doing a lot of "transcript" processes for EVERY exon it merged.

[2015-08-10 20:17] nathandunn commented on #515
doing jmeter -t jmeter-dev-blast-test-4.jmx  . . I get almost identical results from #137  .. which is good.

[2015-08-10 21:00] cmdcolin commented on #517
This branch actually demonstrated using a indexed fasta file in place of the sequnece chunks

https://github.com/GMOD/Apollo/tree/seq_chunk_remove

Just for reference (not ready for merge)

[2015-08-10 23:03] nathandunn opened #530 "history / undo fails when setting acceptor / donor"
Thanks for catching this @selewis

history and thus undo / redo fail for when setting a downstream / upstream acceptor / donor.

[2015-08-10 23:09] nathandunn opened #531 "Insertion of sequence alteration on negative strand creates *upstream* non-canonical splice sites"
Found by @selewis   while looking at BRCA1 transcripts with multiple isoforms:

http://icebox.lbl.gov/Apollo2/annotator/loadLink?loc=chr17:43125029..43125369&organism=5402342&tracks=GenBank TopLevel MRNA

So, for BRCA1-023-00001 if you create the transcript and set the downstream donors at the 5' end, it will do this, but with no non-canonical splice site.

However, if you add a sequence alteratio

[2015-08-10 23:12] selewis commented on #531
It's on the reverse strand, perhaps that is part of it?

On Mon, Aug 10, 2015 at 4:09 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-08-10 23:20] cmdcolin opened #532 "Set translation start produces uncaught out of bounds exception in an intron"
I don't know if this is a biologically relevant operation but if you perform "Set translation start" in an intron, it generates an out of bounds exception

    Message: String index out of range: -1
        Line | Method
    ->> 1904 | substring                in java.lang.String
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    |    632 | $tt__setTranslationStart in

[2015-08-10 23:41] selewis commented on #532
Definitely it is not allowed to set translation start within an intron
(obey the biology). Should have been caught and the menu item grayed out.

On Mon, Aug 10, 2015 at 4:20 PM, Colin Diesh <notifications@github.com>
wrote:

[2015-08-10 23:46] nathandunn commented on #532
assigned accordingly  . . should be greyed out, I agree

[2015-08-11 00:09] nathandunn commented on #531
Hmm . . I still couldn't reproduce it even with the BRCA transcripts (23 & 1) it always seemed to reproduce the correct splice sites.    I'm sure that there is an edge-case in there, just not quite sure how to find it.

[2015-08-11 00:09] cmdcolin commented on #532
Ya, technically the behavior now is "do nothing" since the crash causes nothing to happen, but a greyed out button would be nice.

[2015-08-11 00:13] nathandunn commented on #525
Met with @enuggetry  @selewis  and Ian.  Step one is to sort of reproduce this on the back-end and possibly hide the ref-seq data.

[2015-08-11 00:32] selewis commented on #531
It was the most 5' exon (on the minus strand). Did you try it with that
particular exon?

On Mon, Aug 10, 2015 at 5:09 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-08-11 01:53] nathandunn commented on #531
@selewis   it ended up being the sequence alteration you had added.   It adds it before you add the donor.     If you add the alteration and then the transcript you end up with the non-canonical splice site.
Seems like the CDS should be re-calculated to account for that or the Non-canonical splice site is incorrect.

![screen shot 2015-08-10 at 6 51 46 pm](https://cloud.githubusercontent.com/asset

[2015-08-11 02:54] selewis commented on #531
I hadn't added any sequence alteration.

Someone else perhaps?
If it was added why wasn't it visibly flagged (don't see it in this screen
shot either)

And even if I had added it then the code for finding the next donor site
should take this into account and still find a valid site.

On Mon, Aug 10, 2015 at 6:53 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-08-11 09:04] nathandunn commented on #531
Insertion of sequence alteration on negative strand creates *upstream* non-canonical splice sites:

<img width="477" alt="screen shot 2015-08-11 at 2 02 28 am" src="https://cloud.githubusercontent.com/assets/751274/9194015/0fe3113a-3fcd-11e5-9a65-82b51502a965.png">

<img width="487" alt="screen shot 2015-08-11 at 2 03 08 am" src="https://cloud.githubusercontent.com/assets/751274/9194026/219a3bb0-3

[2015-08-11 14:40] nathandunn commented on #531
I *think* what needs to happen is that we need to use @deepakunni3  sequence alteration coordinate transform code to properly get the offsets.  If they are in the intron they should be ignored when doing the calculation, though somehow we need to pick up the proper offset.   I am wondering how to handle this in relation to #431.    FYI @cmdcolin  . .

<img width="471" alt="screen shot 2015-08-11 a

[2015-08-11 15:24] cmdcolin commented on #531
If we were just considering frameshifts, it wouldn't need to consider introns since of course it is just the translation, but the splice sites are "in the intron". Therefore, you need to consider the alterations in the intron that might affect the splice sites.

[2015-08-11 19:44] nathandunn commented on #531
@cmdcolin   Like you said, you need to consider the alterations in the introns.  Specifically because the residues do as well, and you have to handle that offset accurately.   Anyway, I'm updating for a smaller Transcript (just 3 exons).

[2015-08-11 20:14] monicacecilia commented on #522
@cmdcolin @nathandunn
2015-08-11 at 1;13PM PDT: I pasted the URLs on the window and I am not able to see the files. Chrome and Safari still issue the same error, Firefox hangs. Cache has been cleaned.

??

![screen shot 2015-08-11 at 1 09 27 pm](https://cloud.githubusercontent.com/assets/1714621/9209330/b7c2e558-402a-11e5-8b56-d02564d4e9d4.png)

![screen shot 2015-08-11 at 1 11 01 pm](https://clou

[2015-08-11 20:15] selewis commented on #531
alterations affect the genome - whether or not it is within/outside of any
given feature is irrelevant. Order of any operation is: First get the
genomic sequence altered, then remap features onto altered genome and
proceed as usual. It's a kind of coordinate transform/projection.

(as @cmdcolin said)

On Tue, Aug 11, 2015 at 12:44 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-08-11 20:19] nathandunn commented on #522
Weird, it works for me.   The interface is a little wonky.

<img width="607" alt="screen shot 2015-08-11 at 1 17 39 pm" src="https://cloud.githubusercontent.com/assets/751274/9209441/620bfba8-402b-11e5-9d2f-7b9a7489313a.png">

<img width="468" alt="screen shot 2015-08-11 at 1 17 11 pm" src="https://cloud.githubusercontent.com/assets/751274/9209451/707ed642-402b-11e5-8f0a-163d4a7ba5cd.png">

[2015-08-11 20:21] nathandunn commented on #522
@monicacecilia   It worked on firefox as well.    Maybe try the 8080 port?  Has @cmdcolin  been blocking lbl? ;)

[2015-08-11 20:47] cmdcolin commented on #522
URL data loading is unique in that it requires CORS (cross origin resource sharing) which is sort of a unique set of HTTP headers. If your organizations firewall is very aggressive, it is possible that they will disrupt CORS

https://www.google.com/?q=firewall%20blocks%20cors

Interestingly, one person on stackoverflow suggested using HTTPS/TLS which would prevent the firewall from messing with yo

[2015-08-11 20:47] cmdcolin commented on #522
In any case, if you have the javascript console output it could help too

[2015-08-11 21:06] monicacecilia opened #533 "chunkSizeLimit error: too much BAM data"
Reported on 2015-07-25 via email.
I'm getting this same chunkSizeLimit error that Chris (@childers) fixed in an instance at NAL and despite increasing the limit ( to 500,000,000) - the error persists:

* We followed: http://gmod.827538.n3.nabble.com/Gmod-ajax-BAM-file-too-much-data-td4036008.html
* We re-started the instance, also cleaned the cache on the browsers, but the error persists.
* I know

[2015-08-11 21:15] nathandunn commented on #533
@monicacecilia   This is a JBrowse issue that shows up on some tracks but not others.  I moved it to another release date, since we need wait for significant imporvements to JBrowse.

[2015-08-11 21:19] monicacecilia commented on #522
@nathandunn it is not an issue about using the interface, "thanks" for highlighting the 'Open' button...  :unamused: It did not work at home and it did not work at the office. It is not an LBL exclusive thing.
"try the 8080 port" is not an acceptable solution. Will users have to change URLs every time they wish to reach certain data?

@cmdcolin here it is:
<code>
Refused to get unsafe header "Cont

[2015-08-11 21:24] selewis commented on #531
You're right about the *upstream* part.

That's weird and bad.

A sequence alteration always affects *both* strands.

There physically isn't any other way to do it. The two strands of DNA are
paired, there is no way for only one strand to be altered and the other not
to be affected (it'd be kinky at the least).

That said, given an indel at point X on the genome this will affect all the
features l

[2015-08-11 21:31] nathandunn commented on #522
I would agree that none of those are acceptable solutions.   Just trying to figure out what is going on on your system.

Looking on stack overflow, the most common culprit seems to be older browsers.

The "refused to get" content-range kills everything else, below it.

Can you do it here in WA1?

http://icebox.lbl.gov/WebApolloDemo/jbrowse/?loc=GroupUn4157%3A1..1439&tracks=DNA%2CAnnotations&highli

[2015-08-11 21:35] cmdcolin commented on #522
And also test outside the lbl firewall if possible ^^

[2015-08-11 21:41] cmdcolin commented on #522
Oh wait you already said you tested both. Well, that's a bummer.

[2015-08-11 23:58] #522 closed

[2015-08-12 00:28] monicacecilia opened #534 "Manual annotations are being shown in the incorrect scaffold and Additional, "interim" copies of gene models are also appearing"
### 1) Manual annotations are being shown in the incorrect scaffold.
As I was testing the conditions described in #531 using the Honey2 genome data on Apollo2 (http://icebox.lbl.gov/Apollo2/annotator/index) I realized that after conducting a sequence alteration Apollo brought annotations from other scaffolds into the one I was working at.
* Working in scaffold 1.33.
* Drag gene model GB40033 into

[2015-08-12 00:31] monicacecilia commented on #533
@enuggetry ... fyi.

[2015-08-12 00:45] nathandunn commented on #534
Thanks you for being thorough . . . another early morning for me

[2015-08-12 01:40] monicacecilia commented on #531
What I observed while trying to recreate this bug.

I am able to recreate non-canonical splice sites appearing when creating genomic deletions and insertions; they are *sometimes* accurately accounted for in transcripts in the forward strand - and some times introduced in what seems to be a random manner (for example see Group1.10 GB40804; create genomic deletion length = 2 at coordinate 191,162;

[2015-08-12 03:33] nathandunn commented on #534
I'm wondering if this is just garbage data from adding via a ```add_transcripts_form_gff3_to_annotations.pl```, which would obviously also need to be fixed.

[2015-08-12 03:42] nathandunn commented on #534
I think that the problem is that the websocket is ghosting the bad data on some operations.  Solution, dump services that create bad data.

[2015-08-12 04:20] selewis commented on #531
I think I'd like a code review on the entire coordinate issue.

Based on the small amount I've heard on these threads in GitHub I'm afraid
that the code is handling these in a piecemeal fashion rather than in a
generalized way. This shouldn't be hard.

This may ultimately require a big refactoring

(yes, Moni and I agree on the biology. I was trying for that with my ascii
art)

On Tue, Aug 11, 201

[2015-08-12 04:59] nathandunn commented on #531
I'm confused.  This was not ready to test.  @cmdcolin  just fixed this.  I'll test it tomorrow morning and retag with #534.

We should refactor this code, however, we thought it was in working condition, but there were several deficits that @deepakunni3 fixed from WA1.  We did not intend refactor it, but it might be good to look at for 2.0.1 or 2.1 now that we have many more regression tests.

[2015-08-12 05:02] nathandunn commented on #531
I see, @monicacecilia  you were evaluating the bug.  My bad.  The single-offset makes sense as that is what I saw in my testing.  Looks like @cmdcolin fixed it (knock on wood).

[2015-08-12 05:24] selewis commented on #531
yep - knock on wood!

On Tue, Aug 11, 2015 at 10:02 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-08-12 15:16] nathandunn commented on #531
@cmdcolin   This looks good.  I was also able to set the upstream and downstream non-canonical splice sites donation / accepting also works.

[2015-08-12 15:37] cmdcolin commented on #531
Thanks.  I think  @selewis was correct in this statement

That is indeed what we did.

So, ya, code review sounds good too, if there is ever a chance to do that let me know. Might also look at SequenceAlterationInContext code.

[2015-08-12 17:06] nathandunn commented on #534
The problem was a bad overlapper function.  Fixing it also massively sped up the operation, as well.

[2015-08-12 17:25] monicacecilia commented on #480
"when logged out on one (per user) should logout on all" is not happening. Instead, the other window stops processing requests and the user has no warnings about being "logged out".

[2015-08-12 17:27] nathandunn commented on #480
it should logout on ALL Apollo windows for that browser (won't work cross-browsers)

[2015-08-12 17:27] monicacecilia commented on #480
I am only using it on a single browser.

[2015-08-12 17:31] monicacecilia commented on #480
... ah, when I used the "Logout" button on the annotation window (browser) it did warn the other windows when logging out.

![screen shot 2015-08-12 at 10 30 22 am](https://cloud.githubusercontent.com/assets/1714621/9231472/3e8dd2c0-40dd-11e5-916f-ac4c3edee960.png)

However, when using the "logout" button on the annotator panel, the other window does not log out and no messages are issued.

![scre

[2015-08-12 17:36] nathandunn commented on #480
this is something specific to the proxy on icebox.    Works on the 8080 port as designed.

[2015-08-12 17:37] monicacecilia commented on #78
Annotator panel, RefSequence tab offers option to download GFF3 with and without FASTA. Dialog box contains clear, easy to understand options. :dancer:

[2015-08-12 17:37] #78 closed

[2015-08-12 17:46] monicacecilia commented on #79
@nathandunn, what is the URL for is this "reports" page?

[2015-08-12 17:49] monicacecilia commented on #203
Dear @cmdcolin, could you please confirm once again that PR #204 is working as expected? If so, we can close this issue. Thank you in advance!

[2015-08-12 17:54] nathandunn commented on #79
Anything on the admin panel.  The reports are specifically any of the ones below "Statuses":

![screen shot 2015-08-12 at 10 54 08 am](https://cloud.githubusercontent.com/assets/751274/9232086/895ec6ee-40e0-11e5-9055-e89ba2cdff73.png)

[2015-08-12 17:59] monicacecilia commented on #453
The rules have been updated and I am closing this issue because it is now on WA2.0.0-RC5 :dancer:

An observation to @cmdcolin @deepakunni3: As far as I can tell, the _Solenopsis_ instance has not yet been updated to reflect this change. Is that a correct assumption? - just an observation; naturally your lab will update it when it is appropriate for your workflow. cheers, ~m.

[2015-08-12 17:59] #453 closed

[2015-08-12 18:01] cmdcolin commented on #203
This isn't working yet actually. It needs a small fix

I noted in #204 after merging it that we found issues with it. The particular bug is prevents the user permissions dialog popping up

Probably a quick fix

[2015-08-12 18:02] nathandunn commented on #203
Alright . . this only relates to 1.0.5 though, right?

[2015-08-12 18:03] cmdcolin commented on #203
Yes

[2015-08-12 18:05] monicacecilia commented on #79
Is this window supposed to be so slow to respond? e.g. ~45 seconds to display the second page of users.

Also, do these boxes export something? if so, how do you retrieve the information? (clicking on them does not do anything), and if not, why can you "click" on them?

![screen shot 2015-08-12 at 11 03 05 am](https://cloud.githubusercontent.com/assets/1714621/9232323/da9d6398-40e1-11e5-856b-43086

[2015-08-12 18:09] nathandunn commented on #79
This was just a first-pass .. was originally intended for 2.0.1.  Haven't tested it with so much data.  Was not going to be in this release at all, but we had some time.

I've not gotten any feedback on this, so I would suggest move this to 2.0.1 with suggested improvements, or closing this and opening a new issue with the suggested improvements for 2.0.1.

[2015-08-12 18:15] nathandunn commented on #79
Also #488 is going to replace a lot of this.

[2015-08-12 19:19] erasche commented on #203
Sorry, I never got around to writing that fix!

[2015-08-12 19:23] nathandunn commented on #480
There is a problem with the jbrowse standalone mode .

[2015-08-12 19:27] cmdcolin commented on #480
Problem? I am testing and it seems like it might give a 404 in proxy but seems to work on normal tomcat. Still weird

[2015-08-12 19:28] nathandunn commented on #480
yeah, if you do an operation locally it will send it, but will only refresh the operation on the browsers with the annotator open . . very weird . .

[2015-08-12 19:44] nathandunn commented on #480
I take that back . . just rebuilt and now I'm seeing it work perfect . . . I'm wondering if it just didn't build correctly.   Just did a clean-all, run-app with no problems.    Its still not subscribed to logout events, but I think I know what is wrong there.

[2015-08-12 20:53] childers opened #536 "interpret jbrowse-style category look and feel on the Track Panel"
Currently the tracks panel is a straightforward listing of available tracks, with a developer centric Details panel at the bottom (Fig 1).  Are there plans to support organization via categories in the new UI? Clicking the "Full-screen view" does pop it out into a new JBrowse window, with all of the 'classic' settings intact.

<img width="401" alt="wa2_tracks_panel" src="https://cloud.githubuserco

[2015-08-12 21:33] monicacecilia commented on #79
Then we should update the milestone.

[2015-08-12 21:40] monicacecilia commented on #531
@nathandunn are these changes already available on icebox? (if so, then this bug has not been fixed.)

[2015-08-12 21:41] nathandunn commented on #531
no, they are not on icebox

[2015-08-12 21:42] monicacecilia commented on #465
I'm going to assume that this solved @holmrenser 's problems and that Tomcat cleared things. - if additional issues arise using Jetty, then we will have to open a different issue.
closing.

[2015-08-12 21:42] #465 closed

[2015-08-12 21:43] monicacecilia commented on #531
Oh, the "ready" label was misleading.

[2015-08-12 21:52] monicacecilia commented on #492
They are all added. :dancer:

[2015-08-12 21:52] #492 closed

[2015-08-12 21:55] monicacecilia commented on #511
@nathandunn I bet you know exactly what this means and what it looks like on localhost... :neutral_face:

[2015-08-12 21:55] #511 closed

[2015-08-12 21:57] monicacecilia commented on #512
I was able to add permissions for >4 organisms.

[2015-08-12 21:57] #512 closed

[2015-08-12 21:59] monicacecilia commented on #513
I logged in as "user" and I am still able to see all the reports. :confused:

[2015-08-12 22:01] monicacecilia commented on #527
works as expected - it remembers.

[2015-08-12 22:01] #527 closed

[2015-08-12 22:02] monicacecilia commented on #515
much faster. :dancer:

[2015-08-12 22:02] #515 closed

[2015-08-12 22:06] monicacecilia commented on #530
works.

[2015-08-12 22:06] #530 closed

[2015-08-12 22:10] monicacecilia commented on #203
Ok. -- if there is still interest on that fix, please be sure to send the PR.

[2015-08-12 22:20] nathandunn opened #537 "jbrowse-only mode not getting organism to listen to on websockets"
alright, I added one, just to keep track.

[2015-08-12 22:22] nathandunn commented on #537
To Test:
- Open jbrowse-only mode from the annotator and any operations are not propagated back to the interface.

[2015-08-12 22:23] monicacecilia commented on #534
:confused: ... nope. still happening.... I can see annotations you made on August 9, 10th, and 12th.
![screen shot 2015-08-12 at 3 22 52 pm](https://cloud.githubusercontent.com/assets/1714621/9238278/02b18714-4106-11e5-829a-6ab27412b050.png)

[2015-08-12 22:23] cmdcolin commented on #537
No worries, I think we discussed the fix for this so I'll let you know about it

[2015-08-12 22:23] nathandunn commented on #534
it is RC6, I have not deployed this yet.

[2015-08-12 22:24] monicacecilia commented on #534
neever miiiind... I just realized icebox only has RC-5...

[2015-08-12 22:24] monicacecilia commented on #534
ah, exactly. what you said. . .

[2015-08-12 22:35] nathandunn commented on #513
So, if the user is an admin on at least one project they are allowed to see these.

[2015-08-12 22:51] monicacecilia commented on #513
The user is NOT an admin, and it only has permissions to see one organism, yet it can see all reports.

[2015-08-12 22:53] monicacecilia commented on #513
.... k, done.

[2015-08-12 22:53] #513 closed

[2015-08-12 23:47] nathandunn commented on #537
conversely, I can look up the organism based on the sequence name if I don't have it.  If there are two with the same name . . .well, than I just pick one.   However, somehow the jbrowse div is set appropriately, which is confusing.

[2015-08-12 23:53] nathandunn commented on #537
I think I have a version of this running . . it uses the user prefs + sequence info . . I think this was what was working earlier.

[2015-08-12 23:54] nathandunn commented on #537
[code]

[2015-08-13 11:16] nathandunn commented on #536
Replaces #227  because this has nicer pictures.

[2015-08-13 11:16] nathandunn commented on #227
Closing in favor of #536.

[2015-08-13 11:16] #227 closed

[2015-08-13 11:17] nathandunn commented on #536
We definitely did plan to add it back after the initial release.   @cmdcolin  that could even be an HTML Panel and utilize much the same code . . or it could be rendered in GWT.

[2015-08-13 11:49] nathandunn opened #538 "GWT "links" can be bootstrap popups"
This can be a simple bootstrap popup instead of yet another panel.

<img width="1033" alt="screen shot 2015-08-13 at 4 48 46 am" src="https://cloud.githubusercontent.com/assets/751274/9249086/9db32068-4176-11e5-9cc7-89ba804537c8.png">

[2015-08-13 12:01] cmdcolin commented on #538
I thought we didn't like popups!

[2015-08-13 13:31] nathandunn commented on #536
@childers   We support the users using whatever work-flow works for them, so we support both of the models you mentioned above.  If there was a simple way to put the old tracks in the new side-bar, I think we would do that.    A more likely solution will be creating an HTML view of the page and using largely the same code from the existing JBrowse side-bar.

[2015-08-13 13:39] childers commented on #536
@nathandunn This project has been great abotu being flexible to support different usage scenarios; I'm interested in how the vision for using Web Apollo is changing to reflect the significant new features and interfaces. It's a complicated question that I found myself pondering as I interacted with the new UI.  I imagine you've had the same questions, and would love to hear your thoughts, especial

[2015-08-13 15:17] monicacecilia commented on #458
"if you drag first transcript into U-cA --> create sequence alterations --> modify CDS accordingly --> drag and drop second transcript (isoform of the first) into U-cA --> the same modifications resulting from the overlapping sequence alterations should be seen." This behavior is now observed. :dancer:

[2015-08-13 15:17] #458 closed

[2015-08-13 15:30] nathandunn commented on #534
Note that I re-added the same genes (but with proper names), but it is the same script and data.

[2015-08-13 15:38] monicacecilia commented on #456
Apollo is now able to create alterations across intron/exon boundaries.
The sequence seems to be correctly generated (****crosses fingers****).
So, I am going to close this issue.

### HOWEVER:
- when creating these alterations, the software is still having some difficulties correctly placing the warnings precisely under the offending boundary. In the figure below, the "non-canonical splice site"

[2015-08-13 15:38] #456 closed

[2015-08-13 15:40] monicacecilia commented on #534
This isn't ready :pensive:  Here is the note I added in #456
- @nathandunn Apollo is still changing the name of the transcript without user input. In this case, after "Undo" of a boundary modification, Apollo removed the name I had given the transcript and renamed it as the first transcript (xxxgenenamexxx-00001) from that gene model. I was working on gene model GB40030 in Group1.33. This has to d

[2015-08-13 15:40] cmdcolin commented on #456
I noted the issue with things being slightly offset in my pull request #535

I would like to revisit that placement as well so feel free to open a new issue for it. Good to close this one though

[2015-08-13 15:42] monicacecilia commented on #456
Ah, thanks Colin. Yep, I'll open a new one.

[2015-08-13 15:53] monicacecilia commented on #480
Alright! It even worked across browsers. :) :dancer:

[2015-08-13 15:53] #480 closed

[2015-08-13 15:57] nathandunn commented on #534
@monicacecilia
1) I think that this bug can be closed if this is the only thing outstanding.
2) The "Undo" behavior is working as I designed it.  We don't (yet) track "setName", "setSymbol", etc. which is unchanged from WA1.   In WA1 they were keeping the name, however, but history functions were inconsistent, which is now fixed.  My suggestion would be to create a new issue for this and describe

[2015-08-13 17:40] cmdcolin commented on #498
I would recommend revisiting this

Many instances of transcripts that should be part of the same gene are not merged due to bad overlapping strategies

WA1.0 probably had it wrong, but WA2.0 is not very good now either because practically everything, even transcripts that are 100% overlapping CDS and slightly different utr, are counted as a separate gene

[2015-08-13 17:42] cmdcolin commented on #453
Apparently WA1.0 had a flag called "use_cds_for_new_transcripts" that would disable the setLongestORF on initial import. This value was true by default. Now our WA2.0 behavior is "false" by default (and not configurable)

[2015-08-13 17:59] nathandunn commented on #453
Its called in places like this:

https://github.com/GMOD/Apollo/blob/master/grails-app/services/org/bbop/apollo/RequestHandlingService.groovy#L1544 <https://github.com/GMOD/Apollo/blob/master/grails-app/services/org/bbop/apollo/RequestHandlingService.groovy#L1544>

->

https://github.com/GMOD/Apollo/blob/master/grails-app/services/org/bbop/apollo/ConfigWrapperService.groovy#L16 <https://github.com

[2015-08-13 18:08] cmdcolin commented on #453
So that is for the addFeature code but now addTranscript automatically does the setLongestORF by default, correct?

https://github.com/GMOD/Apollo/blob/master/grails-app/services/org/bbop/apollo/RequestHandlingService.groovy#L660

[2015-08-13 18:19] monicacecilia commented on #498
Yes, it's currently tagged for 2.0.1, on the list to review again next.

One quick note: I don't understand what you mean when describing "transcripts that should be part of the same gene are not merged". Are you expecting automatic behaviour that merges transcripts? The function "to merge" means bringing two or more transcripts (adjacent or not; same strand) together, and it only happens when the

[2015-08-13 18:20] cmdcolin commented on #498
Merge was probably not the best choice of works. I meant that they should belong to the same gene model as alternative isoforms.

[2015-08-13 18:22] cmdcolin opened #539 "(4h) block user from trying to delete organism with annotation from the interface"
I actually noted this problem yesterday and was hoping it was a fluke, but I noticed that deleting an organism has problems via the "Delete organism" button on OrganismPanel

Log:

    | Error 2015-08-13 13:10:18,729 [http-bio-8080-exec-4] ERROR errors.GrailsExceptionResolver  - ObjectDeletedException occurred when processing request: [POST] /apollo/organism/deleteOrganism - parameters:
    data:

[2015-08-13 18:27] nathandunn commented on #498
What @cmdcolin  said.  I'll fix it.

[2015-08-13 18:31] nathandunn commented on #498
I had the same understanding as @cmdcolin . . . I agree with that clarification.

[2015-08-13 18:44] cmdcolin commented on #539
I think changing the join type on FeatureLocation in this commit is probably causing it https://github.com/GMOD/Apollo/commit/f60d190567e20aea36bc2ae996540eb83c36660e

This goes back to the eager vs lazy issue. I think fetchtype join is similar to eager.

[2015-08-13 18:52] nathandunn commented on #539
Should not be a common operation (initially).   However, what *should* happen is that it asks you if you want to delete  N annotations and then we simply add "delete features" to the delete organisms code.   I kind of left it this way on purpose as it won't be that common of an operations.  I'm not sure what other type of metadata needs to be deleted from organism (maybe permissions?).

[2015-08-13 19:07] cmdcolin commented on #539
Should we just remove the delete organism button then?

[2015-08-13 19:26] nathandunn commented on #539
Let's leave it for now.  Its a "bug".   Most of the time users will delete if there are no annotations.

[2015-08-13 19:32] childers opened #540 "Organism panel not showing all organisms"
I was testing the add organism functions, and everything looked fine through the first ten.  The eleventh organism did not show in the organisms panel, though it is visible in the instance drop-down box at the top.

<img width="576" alt="wa2-organism-panel" src="https://cloud.githubusercontent.com/assets/421248/9259598/2a386d6e-41d0-11e5-9bcc-4db0bb5ffdf1.png">

[2015-08-13 19:59] nathandunn commented on #539
Conversely we could create a script .. Delete features for organism which might work in the interim.

[2015-08-13 20:01] nathandunn commented on #540
Doh .. Easy fix .. I'll take care of it.

[2015-08-13 20:03] cmdcolin commented on #539
this could possibly fix it but it is slow

    diff --git a/grails-app/controllers/org/bbop/apollo/OrganismController.groovy b/grails-app/controllers/org/bbop/apollo/OrganismController.groovy
    index 2e52e61..4fdc582 100644
    --- a/grails-app/controllers/org/bbop/apollo/OrganismController.groovy
    +++ b/grails-app/controllers/org/bbop/apollo/OrganismController.groovy
    @@ -38,6 +38,12 @@ c

[2015-08-13 20:12] cmdcolin commented on #539
I think I will add this and we can close the bug. It is kind of slow but as long as it it eventually works then we can optimize it later

[2015-08-13 20:29] monicacecilia opened #541 "History of edits and History of metadata changes should be tracked identically"
Current behaviour:
- create new annotation
- change name (on Information Editor)
- edit the gene model
- "Undo" the change
- The result is that the change is reverted, BUT the gene name change also disappears.

Expected behaviour:
- ... the result should be a change back to the structure before the edit, but no changes to the metadata in the Information Editor should occur.

@nathandunn wrote: We

[2015-08-13 21:01] cmdcolin opened #542 "Admins for specific organisms are able to create organisms and assign permissions for organisms they don't own"
The behavior that was previously described for users that are *admins for a specific organism* here are not being followed now: https://github.com/GMOD/Apollo/issues/329

In that issue, I said that "Admin users for specific organisms will not be able to create new organisms, but they will be allowed to create new users and add permissions for that user on their specific organism."

Neither of thes

[2015-08-13 21:15] monicacecilia commented on #534
Hola hola... @nathandunn yes, the issue with the ghosts is resolved. As discussed, new issue for separately tracking the "History" for naming and edits was created #541.

[2015-08-13 21:15] #534 closed

[2015-08-13 21:18] monicacecilia commented on #498
10-4.

[2015-08-13 21:19] monicacecilia commented on #537
it is listening now. :dancer:

[2015-08-13 21:19] #537 closed

[2015-08-13 21:23] nathandunn commented on #542
If a user is an admin in one place, they are an admin EVERYWHERE . . . working on this now.

[2015-08-13 21:25] monicacecilia commented on #493
I'm going to add a :+1: every time I want this to be ready. . . hehe. I think I've tried to "create" this bug again about 3 times this week. :)

[2015-08-13 21:28] cmdcolin commented on #493
I think @nathandunn and I talked about this on a phonecall and it is fine in the case where the remember me cookie is set, which is good, but that without the remember cookie, it is still problematic

[2015-08-13 21:34] monicacecilia commented on #531
Sequence alterations no longer cause changes in exon upstream (towards N-terminus, 5') of the protein. Brilliant! :dancer:

The code review that @selewis suggested should still take place.

[2015-08-13 21:34] #531 closed

[2015-08-13 21:35] nathandunn commented on #531
I'll create an issue for the the code review.  This needs to happen for 2.1. .

[2015-08-13 21:36] nathandunn opened #543 "code review for genomic feature coordinate calculations"
See #531

[2015-08-13 21:36] monicacecilia commented on #540
great. we like the "easy" ones. :)
@nathandunn - please let us know when this has been pushed and is available for @childers to check again.

[2015-08-13 21:36] monicacecilia commented on #531
deal.

[2015-08-13 21:37] nathandunn commented on #540
It is pushed and ready for @childers  to check (it is on both 2.0.0 and master).

[2015-08-13 22:01] nathandunn commented on #542
probably should not automatically close this

[2015-08-13 23:09] cmdcolin commented on #542
I'll check this out

[2015-08-13 23:32] cmdcolin commented on #542
The organisms sub-tab on the User panel is empty now, it just says "Please select a user to view organism permissions" but selecting a user does nothing

[2015-08-13 23:41] cmdcolin commented on #542
I also changed the "Role" of a user that previously was class "user" to "admin" and re-logged in as this user and I was not able to see the admin type tabs

[2015-08-14 00:18] #491 closed

[2015-08-14 00:18] nathandunn commented on #540
Working on icebox . . .

[2015-08-14 00:18] #540 closed

[2015-08-14 00:31] nathandunn commented on #542
@cmdcolin  I "refixed" this as then then admin did not have access to the any organisms . . .

[2015-08-14 00:33] nathandunn commented on #542
Just close it if it works .. .if you want to look at it more tomorrow, that is fine as well.

[2015-08-14 00:34] nathandunn commented on #542
It does appear to be working on icebox now.

[2015-08-14 00:43] cmdcolin commented on #542
I think it's a lot better now at least for the user panel.

[2015-08-14 01:06] nathandunn commented on #542
@cmdcolin  Can we close it then or do you want to test it more first?   We can also issue bugs for 2.0.1 . . . just need to have this in a good state sometime tomorrow.

[2015-08-14 01:15] cmdcolin commented on #542
@nathandunn I made a change to make it only so that admin user can add and delete organisms. I think it is now valid for both web services and OrganismPanel

[2015-08-14 01:17] cmdcolin commented on #542
See 23992bbabf

Previously it was checking if the user was an admin on their current organism preference...now it checks whether the "role" is admin which is more accurate

[2015-08-14 14:11] childers commented on #540
This looks nice, thanks!

[2015-08-14 17:13] cmdcolin commented on #542
Should be fixed now

[2015-08-14 17:13] #542 closed

[2015-08-14 18:28] childers opened #544 "create user dialog is confusing"
The Create button is used to open the add user interface, then is grayed-out.  Could you make it disappear once the dialog is open?  It was confusing to me, as my internal logic was to click the create button to create my new user, and it took a while before I realized that I was supposed to use the Save button to create the account.  I know now, but it is not an intuitive interface for me.

[2015-08-14 18:50] cmdcolin commented on #544
What about something more similar to the Organism panel

Less confusing?

Similar but different button names

[2015-08-14 18:53] childers commented on #544
Dos it automagically save the user information for updating, or does it always need explicit saving?  I never noticed it on the organism setup panel, so maybe all is needs is a similar type of labaling for the interface options.

Thanks!

[2015-08-14 19:01] cmdcolin opened #545 "Query all features for an organism is slow"
I am opening up this thread because unless I am missing something, we are not able to query all features for a given organism in an efficient manner.

Currently our schema is like this

A feature has a feature location
A feature location has a sequence
A sequence has an organism

So to get all features that a particular organism has, we have to loop over all sequences where sequence.organism is ou

[2015-08-14 21:30] cmdcolin commented on #544
The initial save user does not automatically upload IIRC, but when you are editing a users info, it will automatically upload (i.e. there is no save button when editing a users info, and similarly, no save button when editing an organisms info). I think adding a save when editing is probably useful.

[2015-08-14 21:31] cmdcolin commented on #544
Similar things exist for our information editor and other panels. No save button

[2015-08-14 21:31] cmdcolin commented on #544
And there is no technical reason not to add a save button, just a UI thing.

[2015-08-14 21:32] childers commented on #544
I like that for the user interface, to help keep from accidentally destroying somebody's password.

[2015-08-14 21:34] cmdcolin commented on #544
Ya definitely. Could easily accidentally edit the password field.

[2015-08-14 21:39] cmdcolin commented on #545
Technically, in some places in the code, it is actually doing this [simplified for context]

I am not sure how performant the database is when it has to iterate through a "sequenceList" of 100000 scaffolds for instance

[2015-08-14 23:51] nathandunn opened #546 "better document REST API"
Every controller (and they all register with the system) should have a "describe web services" that provides input and can be parsed up via JSON / AngularJS:

- [x] for each controller provide the proper info in the webservices method:
   - [x] have it do an angularJS rendering . . can look like this: http://loic911.github.io/restapidoc/
   - [x] create a utility class for creating the JSON object

[2015-08-15 16:48] nathandunn opened #547 "create delete annotations for organism script"
create a REST script for deleting annotations from organisms

[2015-08-17 22:08] cmdcolin commented on #547
Maybe related to #539

Need to fix this and deleting organisms entirely

[2015-08-18 16:43] cmdcolin opened #548 "(4h) Deleting a feature that consists of merged transcripts causes error on annotator panel"
The annotator panel uses findAnnotationsForSequence to update the gene list, but apparently this method crashes after we delete a feature that consists of merged transcripts

    | Error 2015-08-18 11:38:28,103 [http-bio-8080-exec-39] ERROR apollo.AnnotatorController  - No row with the given identifier exists: [org.bbop.apollo.Feature#11701]
    | Error org.hibernate.ObjectNotFoundException: No ro

[2015-08-18 16:44] cmdcolin commented on #545
Unless this causes implementation or performance complications, I will close this.

Can be re-opened for discussion

[2015-08-18 16:53] nathandunn commented on #545
It should only do what you have listed below if there are a finite list of sequences (<10 but typically 1).  If it is doing that when including all sequences then it is clearly a bug and should be fixed to just be a join from sequence to organism .. Which would be very fast relative to what is above.

[2015-08-18 16:57] cmdcolin commented on #545
I believe that it is doing that on even large lists of sequences.

See the concept of "exportAllSequences" in IOServiceController.

[2015-08-18 17:26] nathandunn commented on #545
I and Deepak had also identified that.  Good to go ahead and fix.

Nathan

[2015-08-18 17:27] cmdcolin commented on #545
Ok, I'll go ahead and re-open then. I'll mark this as enhancement since it hasn't been identified to cause problems

[2015-08-18 21:08] cmdcolin opened #549 "Navigating to a different organism sometimes does not switch to it"
I think there is probably some sort of issue where navigating to a different organism via the user interface sometimes does not properly switch to it, and it will simply refresh back to the current organism.

I don't have a good handle on why that might be happening yet, but essentially, the last thing that happens before the page refresh is "setCurrentOrganism" whose code is

    @Transactional

[2015-08-18 23:02] cmdcolin commented on #517
I was trying to load a dataset with a lot of different refseqs (100000+...one of those really bad assemblies) and I got the error

[error:problem saving organism: org.apache.shiro.session.InvalidSessionException: java.lang.IllegalStateException: getAttribute: Session already invalidated]

Just something to be aware of

[2015-08-19 18:55] cmdcolin commented on #549
This was something that I was seeing yesterday but not today. Without a very good reproducibility I will close this for now. Re-open if occurs again

[2015-08-19 18:55] #549 closed

[2015-08-20 19:59] cmdcolin commented on #546
I think this is a good idea. I added web services API to markdown and added some updates along the way, and then I think that having "live" or "automatic" documentation could be a good feature (many of our current docs are actually showing WA1 scenarios, and the APIs do not 100% match)

[2015-08-24 18:36] nathandunn opened #550 "provide CRAM support for Apollo"
Technically this is a JBrowse issue, but I think we'd wanted it for human:

https://github.com/GMOD/jbrowse/issues/546

[2015-08-24 20:08] cmdcolin commented on #441
It would be great if the Apollo2 used "routes" in the URL, for instance

http://host/apollo/MY_ORGANISM/annotator

and

http://host/apollo/MY_ORGANISM/jbrowse

that would allow links to both the annotator panel in the former, and jbrowse only in the latter

It might also reduce the amount of logic that is currently trying to figure out what the current organism is from user preferences, etc.

[2015-08-25 21:45] nathandunn commented on #220
If we are simply changing the mRNA class type (or gene to pseudogene) it could be very easy.  However, we will have to re-attach / reload if we end up doing a SQL update.  . ... conversely . .. we could just delete / add with the different type . .  that way we could potentially add it to the history as well.

[2015-08-25 21:48] nathandunn commented on #494
dupe of #86

[2015-08-25 21:48] #494 closed

[2015-08-26 14:17] cmdcolin opened #551 "An admin with read-only permissions only gets read-only permissions (for tabs at least)"
====

- [x] fix typo on "insufficient"
- [x] admin with read-only permissions only gets read-only permissions (for tabs at least)
- [x] confirm that user's don't have access / drop-down to organisms that they should not be able to read

====

When loading the apollo 2 demo on icebox, I can try to access the brown recluse from the annotator panel as demo@demo.com, but I get this error

    Error: {

[2015-08-26 14:22] cmdcolin commented on #551
I don't seem to have this problem on our instance, that is, a "demo user" with read access to only certain organisms can only see those certain organisms in the dropdown.

Not sure how icebox got into this state

[2015-08-26 15:41] cmdcolin commented on #102
Not sure if this is the right card to comment on, but I just want to refresh interest in this sort of thing.

For example, we don't really have a way for users to register, but we also don't have a way for users to change their own password.

I think it would really be better for users to be able to "register" and for admins to "approve" them (and in fact, the admin must approve the permissions fo

[2015-08-26 16:26] cmdcolin commented on #551
Here is another confusing permissions scenario that is perhaps not totally related to the original one posted here.

If you are logged in as a admin user (that is, a user with a global admin role), but then you grant yourself only "read" permissions on a particular organism, then your permissions will drop to that of a normal user with only read permissions on that organism and the admin tabs on t

[2015-08-26 16:45] nathandunn commented on #551
Hmm . . . I saw that as well (the last thing you reported) . . . I though I'd fixed it though.

WRT to icebox . . . I agree that we should do a fresh install.

[2015-08-26 16:48] nathandunn commented on #551
copied:

 createdb -O apollo2_user -T apollo-release-production apollo-release-production_bu_2015_08_26

[2015-08-26 17:18] nathandunn commented on #551
I re-installed the server, which seemed to fix the one problem you weren't seeing.

The "read-only" issue is only affecting the tabs being shown.

[2015-08-26 17:24] cmdcolin commented on #551
@nathandunn I can't login as demo@demo.com anymore

[2015-08-26 18:14] cmdcolin commented on #551
Ok I fixed demo@demo.com login. That is important as it is what we tell users to login with at WebApolloDemo

The demo user now has global admin role now too (I did not make it this way, and it was not this way previously, the WebApolloDemo page suggests emailing to get the admin features)

[2015-08-26 18:41] nathandunn commented on #525
Takes about 733 ms to process honeybee . . . however, this is 1.6K tracks.   But we should only do this once.

[2015-08-26 19:15] cmdcolin opened #552 "If two organisms have refseqs that share the same name, the wrong sequence can be used"
Currently, if the refseq from two different organisms share the same name, then the sequence data from organism 2 can get returned into the browser for organism 1

As an example, one genome has a scaffold5692 with length ~4500, and another has scaffold5692 with length ~3175

You can see here that the organism thinks that it is using the one with length ~4500 (i.e. you can keep scrolling), but the

[2015-08-26 19:51] nathandunn commented on #552
Do you think that this is due to caching?

[2015-08-26 20:02] cmdcolin commented on #552
I don't think so. Haven't fully untangled it yet. Can make a reproducible use case if you can't get it to work either

[2015-08-26 22:40] cmdcolin opened #553 "Uncaught exception when user with read but no write permissions tries to create transcript"
I am posting this error for a specific case, but it is a general symptom of the following: We have many different ways that errors are propagated to the client, with practically each web service implementing the functionality itself, and that is if we are mindful enough to even propagate them at all. In the case of creating a transcript, a user with read but no write permissions will produce uncau

[2015-08-26 22:52] cmdcolin commented on #553
I added some exception handling here

e6499338a601b

[2015-08-27 04:21] nathandunn commented on #553
I agree .  . if we could link this with bootstrap alters somehow that would be perfect.

[2015-08-27 15:02] cmdcolin commented on #551
Since the original bug on icebox was fixed, and it doesn't necessarily correspond to any code fixes, I'll rename this issue to the last remaining checkbox

[2015-08-27 16:59] nathandunn commented on #508
This may go away if @enuggetry  fix works.

[2015-08-27 18:39] cmdcolin commented on #439
I would maybe want to again add interest for this. There is a format called "bigchain" that is basically just a fancy bigbed file the represents the liftover files. We manually converted the chain files to a regular bed for loading (which is what Chris talked about at our meeting) but it would be cool to load these with bigbed

[2015-08-27 18:39] cmdcolin commented on #439
Also, biodalliance has support for this which is what made me remember it in the first place :+1:

[2015-08-27 20:20] nathandunn commented on #433
FYI: also request via chestnut group as well.  I think that this is on the USDA list as well.

[2015-08-27 20:48] cmdcolin opened #554 "If a user closes a track in the genome browser, it remains as checked on the annotator panel"
If a user closes a track on the genome browser, then it will remain checked on the annotator track panel

This issue doesn't seem to have any serious consequences, just an aesthetic weirdness

[2015-08-27 23:22] cmdcolin opened #555 "Set exon boundary very slow in some cases"
Setting exon boundaries can take a very long time on icebox and on genomes (our server).

It takes consistently about 25 seconds for me on icebox for the honeybee genomes, but it is unclear why it was taking so long

I wanted to look into what was taking so much time so I went ahead and added a lot of debugging statements to the setExonBoundaries method (timing in ms)

Results:

    2015-08-27 18:

[2015-08-27 23:28] cmdcolin commented on #555
It looks like maybe this is happening after a feature has built up a "history" of changes, and not just for "First time" sequence alterations

The one that I was editing on icebox had about 5 changes GB42150-RA-00001

The one on genomes had about 10 or so

[2015-08-27 23:31] cmdcolin commented on #555
Title changed to reflect the (suspected) cause of issue

[2015-08-28 04:21] cmdcolin commented on #550
I have basically gotten this compiled to emscripten to the point where i can run some htslib libraries (i.e. the library with CRAM support, written in C)

so now, there are implementation questions. there are basically two paths. using some of the existing code that htslib has to get networked files already, or to use custom code to get networked chunks of files and then getting htslib to interpre

[2015-08-28 05:42] enuggetry opened #556 "Excess dijit menu attribute buildup on feature and feature-label dom elements"
This appears to happen upon rollover of the feature elements.
You can see it in the DOM browser.
It doesn't seem to cause any functional problems.

![ice_screenshot_20150827-223354](https://cloud.githubusercontent.com/assets/10053377/9539830/3edf3f9e-4d0c-11e5-8440-2703ce759d69.png)

WA 2.0.0

[2015-08-28 14:08] cmdcolin commented on #556
Do you see the same amount of buildup in jbrowse proper? The menus initialized dynamically and are also supposed to be deleted after a certain timeout period

The following code from HTMLFeatures illustrates

    _refreshMenu: function( featDiv ) {
        // if we already have a menu generated for this feature,
        // give it a new lease on life
        if( ! featDiv.contextMenu ) {

[2015-08-28 14:26] cmdcolin commented on #550
I went ahead and compiled some doxygen for htslib since there isn't yet a defactor API reference

http://cmdcolin.github.io/htslib_docs/files.html

One note that I found interesting in cram.h says

    "Consider using the higher level hts_*() API for programs that wish to be file format agnostic (see htslib/hts.h)."

This made me consider kind of going back to the "high level" hts functions, and h

[2015-08-28 15:18] nathandunn opened #557 "(4h) verify that web services scripts suppport HTTPS"
Some groovy scripts have issues connecting to HTTPS.

http://stackoverflow.com/a/9578244/1739366

[2015-08-28 21:37] enuggetry commented on #556
I'm not seeing the same problem on JBrowse alone.
This particular track is in the Volvox Sample: HTMLFeatures - Example Features.

[2015-08-29 05:29] enuggetry commented on #481
I've created a jbrowse plugin (and checked in) called NeatFeatures.
It specifically deals with the new feature structures in Apollo.
Give it a shot.

![ice_screenshot_20150828-204109](https://cloud.githubusercontent.com/assets/10053377/9560611/b8274f6a-4dd2-11e5-8cb9-b0a12d4a3138.png)

[2015-08-30 03:06] nathandunn commented on #525
We want it to pick out the appropriate projection locations (since it makes byte-range projections and comparisons) since it is making the calls with projected coordinates.

Question: How / does the client use the BAI file to generate Byte-range alls and interpret BAM files?  It looks like its a port of the SAMTools C-code to the client, i.e., it reads in the bai file, and calls the appropriate BA

[2015-08-31 02:55] nathandunn commented on #525
Was thinking about .BAM tracks and realized we don't want to render BAM tracks, we want to render references based on BAM tracks data such that we get useful data zoomed in or out.   Most of the data delivered by the BAM track is unused (too much detail) or can be collapsed to increase visibility of other tracks.  I think using .BAM as a source file is great, but we should be able to pull the read

[2015-08-31 03:07] nathandunn commented on #555
1) Does this generalize to every function?
2) Is the history function also slow?

My guess is that these are both true . . . it does some recursion.  Probably the easiest solution is to let the history operations go into their own thread.

[2015-09-01 19:00] enuggetry commented on #508
I refactored it into a JB plugin that operates out-of-band (ie post render).
It requires a minor change to HTMLFeatures.js and doesn't require any changes to DraggableHTMLFeatures.js.
It has some special code to handle the nested subfeatures in Apollo, which JBrowse doesn't have.
Currently resides in a separate branch.
https://github.com/GMOD/jbrowse/tree/Eric_work_f1/plugins/NeatFeatures

My prel

[2015-09-02 15:46] cmdcolin commented on #433
One thing that was happening with 2.0.0 is that in the public jbrowse mode, the organism wouldn't be displayed in top left. This was actually desirable according to Chris E so I added that here https://github.com/GMOD/Apollo/tree/display_organism

It could be extended to perhaps enumerate organisms that have a "public" attribute added to them

[2015-09-02 16:28] nathandunn commented on #433
I think that would be fine so long as you know what organism you are on (somewhere).  If you could set the organism based on the URL that would be great, as well.

[2015-09-02 16:31] cmdcolin commented on #433
Yes! I mentioned a potential strategy for this here https://github.com/GMOD/Apollo/issues/441

[2015-09-02 16:38] cmdcolin commented on #441
It might also be possible that we can just create new additions to UrlMapping to test this out and not affect the current code. Not sure yet.

[2015-09-02 16:55] cmdcolin commented on #555
This bug is actually very weird and might not be related to feature history.

You can reproduce it on pretty much any feature if you use the "Make intron" right click option, but it isn't exclusive to that use case.

[2015-09-02 16:56] cmdcolin commented on #555
Issue renamed since my initial assumptions about "several edits" was incorrect. There are more specific conditions for it (still to be enumerated)

[2015-09-02 16:59] cmdcolin commented on #441
There is a definite case where this needs fixing too:

Currently we recommend that all users for webapollo login to demo@demo.com

If two users are doing that and browsing different organisms, that will cause problems and their browsing and annotating will fail

[2015-09-02 17:02] nathandunn commented on #441
Yes, this is true.   However, this is a bad use-case.  A true “production” instance should never have this problem.

It does make me think that allowing for auto-registration somehow to be supported on the demo side would not be a bad idea.

Nathan

[2015-09-02 17:04] cmdcolin commented on #555
Also, pretty much always, editing the boundaries of the internal introns is slow. The ends of the genes, the UTRs, is always pretty much fast. Sorry about the vagueness, I just wanted to have other people confirm this

@nathandunn @deepakunni3 can you confirm

[2015-09-02 17:04] cmdcolin commented on #441
Agree.

[2015-09-02 23:58] nathandunn commented on #525
Just as an FYI to store:

- https://www.biostars.org/p/65558/ (crossmap, esp.)
- https://www.biostars.org/p/10395/  (UCSC liftover)

[2015-09-04 18:29] ifishlin opened #559 "Question about front-end of Apollo"
Hello,

I am working for i5k project now,
and I realized that I fully don’t understand how the front-end parts of Apollo works.

Ex.
“OrganismPanel.java/OrganismPanel.ui.xml” should communicate with OrganismRestService.java
But I can’t figure out how are they put  together? There is no clues in the codes.

Is there some short descriptions of how many tech  (DOJO? GWT? BOOTSTRAP3?)  are used and th

[2015-09-04 21:01] cmdcolin commented on #559
@ifishlin good questions! I think it is good to understand the "basic" componenents. We do have documentation about the architecture if you are curious too. http://webapollo.readthedocs.org/en/latest/Architecture.html

The libraries that you mentioned are used in different ways on the front end

1) The GWT component represents the "annotator panel" or sidebar in Apollo2
2) The Bootstrap library is

[2015-09-05 04:09] nathandunn commented on #274
that's pretty slow and those should be easy fixes (all / every is slow)

[2015-09-05 04:16] nathandunn commented on #538
I'm open to ideas.  Its just not that polished.

[2015-09-05 04:20] nathandunn commented on #536
@childers   Sorry, I lost all of these emails in an over-zealous junk folder.  I would love to chat about this (this Thursday).  My original plan was to put the other track window back on the other side using largely the same code.

[2015-09-05 14:46] nathandunn commented on #551
This is fixed on icebox now.

```admin with read-only permissions only gets read-only permissions (for tabs at least)```

[2015-09-05 14:46] #551 closed

[2015-09-05 14:55] nathandunn commented on #481
@enuggetry   This looks great.  I'm not seeing this plugin in the master branch, though.  Where should I be looking / how should I use it?

[2015-09-05 15:19] nathandunn commented on #559
Sorry for the delay.   These github issues were getting swallowed in my junk box.

More doc here on both [GWT](http://www.gwtproject.org/), [Grails 2.4.5](http://grails.github.io/grails-doc/2.4.5/), and [DOJO](http://dojotoolkit.org/reference-guide/1.10/dojo/doc.html):

With respect to the GWT it makes REST calls to the grails code.   It does this using "XXXRestService" calls. e.g., in OrgansimPan

[2015-09-05 15:23] enuggetry commented on #481
Hey it's in the eric work branch.  Still needs a little ironing.  Please do
test drive.
On Sep 5, 2015 7:55 AM, "Nathan Dunn" <notifications@github.com> wrote:

[2015-09-05 15:24] nathandunn commented on #556
I have had issues withe the Volvox Sample data in general.

[2015-09-05 15:24] #556 closed

[2015-09-05 15:27] nathandunn commented on #559
I added you to the list (apollo@lists.lbl.gov) and answered it there.  Let me know if you don't see it there.

[2015-09-05 15:27] #559 closed

[2015-09-05 15:36] nathandunn commented on #555
I can confirm (even on icebox) that sometimes it is normal speed (< 2 seconds) and other times it seems to take forever, which looks like nothing is happening.

[2015-09-05 15:36] nathandunn commented on #481
When its ready can you issue a pull request and I can mess with it then (also helps me review changes)?

Thanks,

Nathan

[2015-09-05 16:15] cmdcolin opened #560 "Make instances of all WA versions on icebox / EC2"
It would be very useful to have many versions of WA available for testing. JBrowse does this with http://jbrowse.org/code/JBrowse-x.y.z for all versions after about 1.10. Having these instances available is actually really useful just to quickly determine regressions and verify behavior in past versions.

[2015-09-05 16:31] nathandunn commented on #560
Agreed.  What versions do you think we should have?   Right now we have 1.0.4 and 2.0.0.

I'm assuming we also want master and possibly 2.1?

[2015-09-05 16:59] cmdcolin commented on #560
Ya. I guess 1.x and 2.x versions. Nightly/master build would be cool. I'd just like to have this mindset going forward. Having the version in the URL might help too instead of just WebApolloDemo. With JBrowse there is jbrowse.org/code/latest-version and this is symlinked to the latest version

[2015-09-05 17:38] nathandunn commented on #560
- [ ] add master versions for continuous integration
- [ ] add version / git hash to server

[2015-09-05 17:39] nathandunn commented on #560
I agree on all of this stuff . ..  now I just need to find the time.

[2015-09-05 17:40] nathandunn commented on #481
In retrospect that might be a bad idea (the pull request).  I'll take a look when I have a moment.

[2015-09-06 16:30] nathandunn commented on #525
The original JBrowse2 source attempts to use OpenLayers for projection:

https://dojotoolkit.org/reference-guide/1.10/dojox/geo/openlayers.html

as here:  https://github.com/dojo/dojox/blob/master/geo/openlayers/Map.js#L566

though its unclear if that is used.

There is a projection package that looks almost identical to the server side code already written:

https://github.com/GMOD/jbrowse/tree/2

[2015-09-06 16:59] nathandunn commented on #525
Looking at the newer source, while it would be easy to load that package, actually integrating it would be really hard.

[2015-09-06 18:58] nathandunn commented on #525
![image](https://cloud.githubusercontent.com/assets/751274/9706075/7c611d9a-548e-11e5-9b4d-b6a1fca2b213.png)

Added architecture / design (also in docs)

[2015-09-08 09:35] enuggetry commented on #481
I may not be qualified to fully test under Apollo, is the only thing.

[2015-09-08 13:11] childers commented on #536
@nathandunn No worries, we've all got a lot of irons in the fire.  I look forward to talking more with you about it on Thursday.

[2015-09-08 14:28] nathandunn commented on #481
How are you configuring in in trackList.json?

Nathan

[2015-09-08 19:05] monicacecilia commented on #560
aaaaah, like I said :) :+1:

[2015-09-08 19:08] enuggetry commented on #481
I put a read me file in the plugin directory.  There are Apollo
instructions.
On Sep 8, 2015 7:55 AM, "Nathan Dunn" <notifications@github.com> wrote:

[2015-09-08 21:42] nathandunn commented on #481
So this kicks ass.   Drags up and everything.   We should show this off on Thursday.

This will DEFINITELY work.

Only request is that we choose something darker than that yellow.

Question, should I use your branch while I’m doing genome folding development or just stick to master?

Nathan

[2015-09-08 21:59] nathandunn commented on #525
ITs slightly different, but it works:

[code]

The test is the middle one:

![screen shot 2015-09-08 at 2 58 50 pm](https://cloud.githubusercontent.com/assets/751274/9748536/2543bcd6-563a-11e5-9468-f11df56a891d.png)

Need to work on projection now.

[2015-09-08 22:02] cmdcolin commented on #525
That looks good. Some of the differences are probably due to the fact that bigwigs have  "summary" blocks and are not always rendering at the base level. there are lots of weird issues with this like here https://github.com/GMOD/jbrowse/pull/504

Otherwise that looks good

[2015-09-08 22:05] nathandunn commented on #525
Right now I'm ignoring the summary tracks, but otherwise it is pretty efficiently parsing the same data (I need to speed up some of the other parts, though).

[2015-09-08 23:31] enuggetry commented on #481
Great.
Re: the yellow.  Because of the method I use now, I'm able to inherit the color that is defined in config script. However, let me think about how I can better handle lighter colors like yellow.

My own general preference is to keep things in a branch until it's relatively solid, particularly if it's main-line code.

[2015-09-09 00:01] nathandunn commented on #481
Sounds good.  I’m also working off of a branch.

Nathan

[2015-09-09 17:49] nathandunn commented on #560
@cmdcolin   Was going to do this with Docker and then load using an EC2 container service . .. any thoughts.  . .

[2015-09-09 17:55] nathandunn commented on #560
http://docs.docker.com/mac/step_one/   . . . a fancy gui client might work best . . .

[2015-09-09 18:00] nathandunn commented on #560
Perusing EC2 instances, probalby want a m3.xlarge . . . 80 GB SSD.  Minimum of about 30-40 GB's need (20 GB just for data)

[2015-09-09 18:12] nathandunn commented on #560
export GRAILS_VERSION=2.4.5
%n:%C%% docker run --rm -v `pwd`:/app:rw -p 80:8080 --name grails mozart/grails

build image via:

docker build https://raw.githubusercontent.com/mozart-analytics/grails-docker/master/Dockerfile

will need to fork to create the image correctly and prebuild  / preload the database.

[2015-09-10 10:55] nathandunn commented on #560
Quick note no method for creating snapshot.  In my case I got it working on a smaller m3.xlarge instance . . and took a snapshot (which did not include the EBS volume).  I then got it working on a larger r3.2xlarge image and transferred the EBS-related stuff over.   From that I took a 100 GB snapshot.  I can launch working (including data) mounted on the root from that.   Weird part is that when l

[2015-09-10 10:58] nathandunn commented on #560
@monicacecilia  Storage of useable snapshot is roughly $10 / mo. You can probably run a demo for ~$50 (5 instances, 48 hours).  About $0.15 / hour roughly.

[2015-09-10 14:34] cmdcolin commented on #560
gmod in the cloud might have input. plus they are wanting to use apollo2 for new version..

FYI jbrowse runs off a micro instance...i think testing on a micro would be worth it

[2015-09-10 15:42] nathandunn commented on #560
That is a good idea.  I’ll shoot off an email to Scott.

I can probably run off of a small to medium (need about 4 GB of memory for the full stack).    The real limiting factor is hosting 20GB of honeybee data.

Nathan

[2015-09-10 16:34] nathandunn commented on #73
"Monica: we've ran into a few cases where the annotator adds information into the gene model, on the "gene" field. And then that gene parent is applied to an isoform that should not be.
where two isoforms share a gene parent that shouldn't. probably happens because the two genes used to be isoforms but now they are not. the inherited "gene" information is kept -- and we need to not have the same g

[2015-09-10 16:36] nathandunn opened #561 "have a contributor / editors export to column 9 in GFF"

[2015-09-10 16:37] nathandunn opened #562 "(2h) create a script 'delete_annotations_from_organism.groovy' to delete all annotations from an organism"

[2015-09-10 16:38] nathandunn commented on #562
. . . for when you have time . . . or we can switch later . . . just don't want to forget it

[2015-09-10 17:24] monicacecilia commented on #73
From @mpoelchau
We've ran into a few cases where the annotator adds information into the gene model, on the "gene" field, and then that gene parent is applied to a different transcript that should not be its isoform.
When two isoforms share a gene parent that they shouldn't share: this probably happens because the two transcripts used to be isoforms of the same gene, but they are no longer so. The

[2015-09-10 19:18] nathandunn opened #563 "add error to changes pages"
This a list of errors pulled from an NAL script.

![screen shot 2015-09-10 at 12 17 12 pm](https://cloud.githubusercontent.com/assets/751274/9798467/e4dd17a0-57b5-11e5-91a2-28f93d00544e.png)

[2015-09-10 20:06] nathandunn commented on #508
I think we can close this, but re-open it @cmdcolin  if there is work you want to do on this still.

[2015-09-10 20:06] #508 closed

[2015-09-10 20:22] nathandunn opened #564 "create a multi-organism snapshot for Apollo2"
Related to #560 . . . but we want to host lots of identical organisms (with different users with write access to each) on the same server.

[2015-09-10 20:26] cmdcolin commented on #564
that is the current way that this can be handled but it doesn't scale well. I think it would be better if we added better control over "who can see what" (i.e. instead of a user just having READ permission, they might only have READ-THEIR-OWN-ANNOTATIONS)

[2015-09-10 20:51] nathandunn commented on #564
I think that we have that use-case in an issue somewhere as well (if not, please add it).   Yeah, this will replicate the organism / sequence / scaffolds, which is not ideal, but should work in the interim if we don't fix the permissions fixed.

[2015-09-11 00:24] nathandunn commented on #525
Talked with @monicacecilia   . . . a priority is to create a projection (and annotate) across multiple scaffolds.   That, in and of itself, isn't too bad . . we just add scaffold / sequence (which includes organism) as a has to lookup and a value on the "Coordinate" object.

The trickier part is 1) displaying the proper "details view" in jbrowse and 2) when dragging up an annotation I need to re-r

[2015-09-11 15:39] nathandunn commented on #552
@cmdcolin   I can't reproduce this . . . if you could make a reproducible case when you have a monent that would be great.

[2015-09-11 17:46] monicacecilia opened #565 "Create option to export GFF3 to comply with requirements at NCBI"
These are the GFF3 formatting requirements provided by Terence Murphy from NCBI. Before submitting the official gene set (OGS), that is, the integrated GFF of predicted and manually curated models, some attributes need to be added:

1. Add <code>locus_tag</code> attribute to top-level features such as gene or pseudogene (e.g., locus_tag=W904_OFAS000001; where W904 is the species accession number u

[2015-09-11 23:12] nathandunn commented on #547
This is a dupe of #562

[2015-09-11 23:12] #547 closed

[2015-09-14 20:15] nathandunn opened #567 "(2h) when changing organism directory . . should change associated "Sequence" directory as well"

[2015-09-14 23:02] nathandunn opened #568 "add more species to icebox server"
This is in support of the monarch project, but will also test the system and provide some good homologous test data.

[2015-09-14 23:04] nathandunn commented on #568
Basically, for each organism, I want a track of genes, and the conservation of the genome, if available.  Easy peasy.  For human and mouse, there’s some extra stuff, which are regulatory tracks (that’s for another project we’re getting started). For testing purposes, you could just start with one regulatory/enhancer track (rather than the 10-20), and we’ll see how it looks.

Then, we should invest

[2015-09-15 17:11] nathandunn commented on #568
all data downloaded

[2015-09-15 17:14] nathandunn commented on #567
test with cow and cow2 on icebox . . . should have different RefSeq's

[2015-09-15 18:58] cmdcolin commented on #568
Lemme know if you have any questions about loading the datasets from ensembl/refseq/ucsc... there are some tricks somtimes

[2015-09-15 19:03] nathandunn commented on #568
Most if it I have . . . I have to rewrite some of the FASTA files to create better chromosome names.

My bigger question is . . what is the preferred method for importing the GFF3 gene tracks?   I always forget the type . . . or if its necessary . .

./bin/flatfile-to-json.pl --gff /data/jbrowse/monarch/cow2/raw
/Bos_taurus.UMD3.1.81.gff3 --out /data/jbrowse/monarch/cow2 --trackLabel Cow2

You can

[2015-09-15 19:15] cmdcolin commented on #568
The ensembl GFF3 normally use "transcript" instead of "mRNA" for their transcript types, so just pass that to the --type argument.

    bin/flatfile-to-json.pl --type transcript --gff "sorted gff file" --out /opt/apollo/organism --trackLabel Ensembl_transcripts

There are also some cool extra filters that you can add to the --type argument too

For example, you can also load multiple types into on

[2015-09-15 20:27] nathandunn commented on #568
Ha, so they were all right!   I think I also inherited some of the Apollo trackList decoration, as well.

Nathan

[2015-09-16 14:50] nathandunn commented on #552
@cmdcolin   Per our earlier conversation, can we close this and re-open it if it re-appears?

[2015-09-16 15:07] cmdcolin commented on #552
Sure. wasn't able to reproduce on cflo on my instance. might have been from browsing in two tabs which as we know causes problems (see #441 )

[2015-09-16 15:07] #552 closed

[2015-09-16 17:43] cmdcolin opened #569 "Small difference in file loading between Apollo 1 and Apollo 2"
I noticed this on the honeybee webapollo instances

The Honeybee tracks called "Fgenesh++ with RNASeq training data" and "Fgenesh++ without RNASeq training data" don't load in Apollo2 on the demo browser.

These tracks did work in Apollo1

I think Apollo2 for some reason doesn't like the "+" signs in the filenames.  You can see on the backend that the filenames that Apollo2 is searching for replac

[2015-09-16 18:02] nathandunn commented on #569
Hmm . . wonder if it messes up the JSON parsing?  Do you know where its happening on the backend code (too lazy to look right now)?

[2015-09-16 19:37] cmdcolin commented on #569
I don't know at what level, but I imagine grails perhaps does something smart. Sometimes websites think things like

"google.com/?query=This+Is+My+Query"

is actually a query for "This Is My Query"

Therefore...the scope of this bug might be really limited to this case with the plus signs...not very important...

[2015-09-17 05:37] nathandunn commented on #569
Agreed .. lower priority

[2015-09-17 17:31] nlwashington commented on #568
tagging myself @nlwashington

[2015-09-17 18:45] nathandunn commented on #568
Discussion with @nlwashington, looked at human and zebrafish.   Changes added to todo-list.

- having both gene and transcript is good, but we want to be able to collapse the transcript in evidence
- bigwig tracks should be about 30 pixes high, no variance, XY & Density plots
- don't need fragmented scaffolds, but okay to have
- need to be able to lookup by identifier, not just name (if possible),

[2015-09-18 21:36] nathandunn commented on #525
@cmdcolin   I am over-riding the track view detail stuff.  I can return the correct content / over-ride pretty easily.  What I'm struggling with is the popup.  My guess of what is going on is that then function is being executed, but somehow either the wrong container is being updated or . . something else:

Here is my over-ride:

https://github.com/GMOD/Apollo/blob/feature/genometry1/client/apoll

[2015-09-18 22:05] cmdcolin commented on #525
i dont think you should need to copy code into html features like that. you could just "inject" code into tracklist.json config files perhaps like we have done done for other config issues.

There is this which is targetted in modifying specific parts of the default view details popup

http://gmod.org/wiki/JBrowse_Configuration_Guide#Customizing_parts_of_the_.27View_details.27_Pop-ups_with_callbac

[2015-09-18 22:58] nathandunn commented on #525
Ah . . . I could do this in trackList.json (dynamically or otherwise).

Can you see an advantage to rewriting it in trackList.json or in the javaScript directly?  I would probably write it in trackList.json if possible (assuming this works) just to follow our pattern.

[code]

[2015-09-19 21:03] nathandunn commented on #525
So how do you pass the track and sequence name in with the rest of the argument?   Do I need the function callback to get this or are there defined variables? I'm only seeing variables for the feature name and type.

Nathan

[2015-09-19 21:17] cmdcolin commented on #525
You can get the sequence name from the feature i think

    feature.get('seq_id')

track name, i dunno.

[2015-09-20 01:06] nathandunn commented on #525
Ahh . . the function callback example shows what to do.  This should work perfectly . . I just need to get the escaping right . . this might also have to go directly into the trackList instead.:

[code]

[2015-09-21 21:18] nathandunn commented on #525
Track view detail works roughly the same

[2015-09-22 15:56] nathandunn opened #570 "(2d) web-services: support altering user permissions on organisms"
We want to support GenSAS, which means supporting authentication into Drupal.   Previously this was done using a direct database connection.  However, a web service / OAuth would be a better way to do it.   Conversely, it might be necessary to have the maintainers maintain this version as a grails plugin, as well, depending on the specificity and complexity.

- [x] update user organism permissions

[2015-09-22 15:58] nathandunn commented on #548
Most likely triggering query event prior to commit being finished.

[2015-09-22 17:18] nathandunn opened #571 "allow collapsible HTMLFeatures in evidence track"
Related to view of transcripts here.   #568  . .. . where we just want the overlapped coding region.

Ideally should be able to put in trackList.json and / or exist in drop-down.

@cmdcolin   For when you have time.

[2015-09-22 19:45] cmdcolin commented on #560
Why was this closed?

[2015-09-22 19:46] cmdcolin commented on #560
Or, was there anything done?

[2015-09-22 19:46] nathandunn commented on #560
I think I meant to close #564 . . . which is done (and on Amazon).

[2015-09-22 19:47] nathandunn commented on #564
Done and ran successful training (Sao Paolo images).

[2015-09-22 19:47] #564 closed

[2015-09-22 22:47] nathandunn commented on #571
@cmdcolin   How much work do you think that this would be?

[2015-09-22 22:54] nathandunn commented on #571
Or . . if I were to do it (if that was advisable) where would I look to do it.

Thanks.

[2015-09-22 23:14] cmdcolin commented on #571
should just be copying these lines from AnnotTrack into DraggableHTMLFeatures (and making sure that these methods are only defined once in the file..)

https://github.com/GMOD/Apollo/blob/master/client/apollo/js/View/Track/AnnotTrack.js#L5580-L5611

[2015-09-22 23:22] cmdcolin commented on #571
Woop. Meant to link this too https://github.com/GMOD/Apollo/blob/master/client/apollo/js/View/Track/AnnotTrack.js#L5561-L5578

_getLayout and _trackMenuOptions

[2015-09-23 02:28] nathandunn commented on #571
Perfect thanks.

[2015-09-23 16:25] cmdcolin commented on #570
I was going to go ahead and see if we could try using the shiro-oauth plugin

It didn't compile for me though (??)

I added to the plugin to BuildConfig.groovy `compile ":shiro-oauth:0.3"`

Then I just tried to deploy and I got this error

    $ ./apollo run-local
    Buildfile: /Users/biocmd/Apollo2/build.xml

    copy.apollo.plugin.webapp:
         [echo] Copying WebApollo plugin to jbrowse weba

[2015-09-23 16:34] nathandunn commented on #570
Stephen is going try a few things on his side to see what the recommended way to do this is in Drupal.   I would prefer to use a REST login instead of OAuth, but OAuth is fine, as well.

Nathan

[2015-09-23 16:37] cmdcolin commented on #570
I don't think OAuth precludes a REST based login.  There already is a "REST based login" (or a web service API for login), but it uses our backend. It would probably be nice if it just used their existing backend (and sessions even)

[2015-09-23 16:40] nathandunn commented on #570
I don’t think it precludes either, but we need to check and see what the appropriate Drupal hooks are (other than a direct database connection) before we start implementing a solution.

Nathan

[2015-09-23 22:43] cmdcolin opened #572 "Discussion: NCBI genes with filled gap sequence"
I just found a note from an email last year that I thought was interesting

It was a note on updates to NCBI annotations and included this note on "gap-filled models"

"II. gap-filled models.
-----------------------------------------
Last month we updated our annotation software to include a new feature to improve annotation quality we call "gap-filling". Basically, the software can now utilize tr

[2015-09-24 18:07] yeban opened #573 "Integration with GeneValidator."
Hi,

We have developed [GeneValidator](https://github.com/wurmlab/genevalidator) (GV), a tool to identify potential issues with a gene prediction (Dragan et al, in review). GV does this by comparing CDS or amino-acid sequence of a gene to BLAST hits from the SwissProt or the NR database (configurable). We believe integrating GV with WA might be of interest to the community. Screenshots below (take

[2015-09-24 18:19] nathandunn commented on #573
I would agree . . I think it would be a good integration.   We need to think about how to best integrate it within the UI / configuration, but the API makes it look pretty easy.

[2015-09-28 16:51] cmdcolin commented on #572
Doesn't look like there is much interest in this. I suppose will close and reference if relevant.

[2015-09-28 16:51] #572 closed

[2015-09-28 19:53] vivekkrish commented on #139
Just wanted to chime in on this.

Have you all come across `jso` (OAuth 2.0 Client with Javascript, https://github.com/andreassolberg/jso)?
It implements the complete OAuth2.0 implicit flow, and is AMD-loading compatible.

Just with about 5-10 lines of javascript (see the [Getting Started](https://github.com/andreassolberg/jso/blob/master/README-getting-started.md#getting-started-1) section), it i

[2015-09-28 20:11] nathandunn commented on #139
Thanks . . . we might be able to use this.  I've heard that figuring out OAuth flavors can be interesting.

[2015-09-28 20:26] vivekkrish commented on #139
You're welcome! I was alerted to the presence of this module by one of our collaborators at UT Austin.

We've explored the possible integration of this into our applications to utilize our own OAuth2 login flow (within the Araport project, https://www.araport.org), giving such apps access to an Araport `token` which could be utilized to make calls to authenticated Araport APIs (https://www.araport

[2015-09-29 17:41] cmdcolin commented on #433
Trying to fast track this for a special use case at our lab

[2015-09-29 18:12] nathandunn commented on #433
:+1:

[2015-09-30 18:07] cmdcolin commented on #525
what is this bookmark panel function? just curious

[2015-09-30 19:35] nathandunn commented on #525
Bookmarks are a way to organize projections.

http://icebox.lbl.gov/Apollo2-1/annotator/index <http://icebox.lbl.gov/Apollo2-1/annotator/index>

Note the bookmark tab, and the “bookmark” buttons on annotations / ref sequence.  They don’t actually generate folding yet, but that is next on the agenda (wiring it in).

Nathan

[2015-09-30 20:28] nathandunn opened #575 "(1h) feature search on Annotator, Search, Track Panels/Tabs should be case-insensitive"
- [x] annotator search panel
- [x] sequence search panel (this was already true . . in 2.0.0)
- [x] track search panel (this was already true . . in 2.0.0)

[2015-09-30 20:43] cmdcolin commented on #525
A generic bookmark feature would be pretty nice as well. Dunno if that is related or not

[2015-09-30 20:46] cmdcolin commented on #555
This can be really bad for annotators. I think this should probably be fast-tracked too. I can look into it a bit

[2015-09-30 20:49] cmdcolin commented on #433
I made a basic implementation of this on the display_organisms branch.

It basically just adds a checkbox to the OrganismPanel, and a -public option for the add_organism.groovy web services script

https://github.com/GMOD/Apollo/tree/display_organism

Might be almost ready but I merged in changes from master and it started failing isoform tests

[2015-09-30 21:11] cmdcolin commented on #575
Hmm. Track panel search is case insensitive.

[2015-09-30 21:33] nathandunn commented on #525
We will have a generic one, as well.  . . . but its a “projected” one.  No reason why not having a projected one might not make sense.

Nathan

[2015-09-30 21:34] nathandunn commented on #555
That would be great.  If you could come up with a few examples we can right them into the integration tests and optimize them directly.

[2015-09-30 21:39] deepakunni3 commented on #555
Yes, even I have observed this behavior.

[2015-09-30 22:55] nathandunn commented on #555
If we could generate a reproducible  example in the honeybee I would be happy to fix it.

Nathan

[2015-10-01 15:54] cmdcolin commented on #555
I think this is definitely history related. It seems to approximately double the response for each change, so after about 12 or 13 exon boundary edits to GB42150-RA for example (just one version of this transcript added to UcA), it takes over a minute

[2015-10-01 15:56] nathandunn commented on #555
That is perfect (and somewhat familiar).

Thanks.  I will take a look.

Nathan

[2015-10-01 16:33] nathandunn commented on #536
- [ ] add / exposed faceted to add (if exists)
- [ ] add configurable tracks as well (re-parse the current)

[2015-10-01 16:33] nathandunn commented on #536
FYI @cmdcolin  / @monicacecilia

[2015-10-01 17:49] cmdcolin commented on #536
Technically we are just using "&tracklist=0" on the jbrowse frame which suppresses the native tracklist. We could re-enable it but at the cost of screen real estate

[2015-10-01 19:46] nathandunn commented on #539
Related to a few other issues.

[2015-10-01 20:25] cmdcolin commented on #517
I added ability to use --compress via 081331a79eec18ba6

I will just close this and we can pull in indexed fasta if jbrowse enables it on their end

Using nohash is probably really rare and or unnecessary

[2015-10-01 20:25] #517 closed

[2015-10-01 20:28] cmdcolin commented on #573
AnnotTrack's right-click menu is sort of inflexible but I made a new "model" for customizing the right-click menus via #576 which could perhaps make it easier for customizing configurations like this. That's just an idea, it is not added to the AnnotTrack yet

[2015-10-02 18:49] cmdcolin commented on #539
I think we might want to reconsider that act of "deletion". Instead of just wiping it out, gone for good, which can introduce data inconsistencies, we can just flag it as deleted and then not show it

We could have a "big hammer" to actually delete things, but I think flagging things at deleted can solve more headaches in the short term, and it actually provides a better record

This can go for de

[2015-10-02 18:58] nathandunn commented on #539
I think having flags that this makes sense it terms of OGS and 2.2.  The concept of a deleted status flag and how it gets interpreted throughout the interface is pretty involved.

We are already going to have a web service to handle annotation deletion of organisms.   In the interim (WRT to this update) . . I think that the most appropriate thing to do (before going nuclear) is:

1 - warn that the

[2015-10-02 19:05] cmdcolin commented on #539
In the case of deleting an organism, ok maybe they do want to go away completely. No record of it ever existing.

In the case of a user deleting an annotation, I actually think it is more subtle. I think that having a record of that annotation existing is important.

The case of deleting a user, we need to have the fact that this user existed to remain in the database because they can have associa

[2015-10-02 19:06] cmdcolin commented on #539
Ref #11

[2015-10-02 19:26] nathandunn commented on #539
They should be logged in FeatureEvent history.  If AuditLogging is on, it will be logged there, as well.

Maybe a bigger question is "where does one want to see this information”?  Admin will have “changes” pages so we can show there.

Nathan

[2015-10-02 19:34] cmdcolin commented on #539
Would definitely like to recreate the "changes" page.

Also, we have always sort of had trouble naming these things, but it could also be called "Annotation overview" or something and then just happen to have a feature for sorting by date providing recent changes.

[2015-10-02 20:36] nathandunn commented on #539
We are doing that here:

https://github.com/GMOD/Apollo/issues/488 <https://github.com/GMOD/Apollo/issues/488>

Nathan

[2015-10-02 23:15] nathandunn commented on #570
FYI @spficklin

[2015-10-05 17:35] cmdcolin commented on #567
The sequence should just get the directory from organism i think

There are TODO icons indicating that

I was gonna take a look at this since we ran into this problem too

[2015-10-05 17:55] nathandunn commented on #567
You are correct they are redundant and we’d planned to replace them.

https://github.com/GMOD/Apollo/blob/master/grails-app/domain/org/bbop/apollo/Sequence.groovy#L42 <https://github.com/GMOD/Apollo/blob/master/grails-app/domain/org/bbop/apollo/Sequence.groovy#L42>

As a matter of fact, I think it actually is set off of Organism in SequenceService.   I don’t think that Sequence.refSeqFile is used.

[2015-10-05 17:58] nathandunn commented on #567
However ``SequenceService::loadRefSeqs(Organism)``` removes all organisms . . . so it might need a small refactoring to "update" or "purge".

[2015-10-05 18:05] cmdcolin commented on #567
Ok. Just started adding stuff here https://github.com/GMOD/Apollo/tree/seqdir_fix

[2015-10-05 18:06] cmdcolin commented on #567
I'll just add my "workingon" tag to this too

[2015-10-05 18:07] nathandunn commented on #567
Awesome Thank you!

Nathan

[2015-10-06 20:35] childers commented on #498
Hi all,
I just received this email from one of our high volume annotators, and while it is related to isoforms, I'm not sure if it is related.  Please feel free to split off to another issue if this is the case. I am following up for more specific information, and hope to have some screenshots or links for you soon.

Chris, for some time now I've experienced a strange problem with Web
Apollo where

[2015-10-06 20:41] nathandunn commented on #498
So . . the general rule we are trying to enforce right now (correct me if I’m wrong anyone) is that if isoforms have overlapping (and in-phase / same-strand) CDS regions . . they must belong to the same gene model.

It *sounds* like they have two problems:
1 - they are trying to establish multiple gene models (not isoforms) in the same region.  This is allowed now . . but not for long (once this b

[2015-10-06 20:54] nathandunn commented on #546
I don't think that the rest-api-doc will work for us.

Probably just need to create a better manual page.

[2015-10-06 21:14] nathandunn commented on #555
There is a recursion issue of some sort here.  .  . should be roughly 12X4 for the future events . . . However, I think its re-calling this for current events in a very unoptimized way.

<img width="998" alt="screen shot 2015-10-06 at 2 12 50 pm" src="https://cloud.githubusercontent.com/assets/751274/10322814/5bfdc284-6c34-11e5-827f-a9fa8167b29b.png">

[2015-10-06 21:26] cmdcolin commented on #498
They might actually just have the "collapse" setting on with the annotator track?

[2015-10-06 21:28] childers commented on #498
I had just suggested that as well.  I had forgotten that was an option on the User-created Annotations track until I was trying to recreate this issue.

[2015-10-06 21:30] nathandunn commented on #498
I think that @deepakunni3  is still working on this.

[2015-10-06 21:39] nathandunn commented on #555
Every time it adds features it doubles the findAllPreviousFeatureEvents / Future . . . necessary to make the call (N^2).   This is because the find function is recursive, which is great except that its a database.   The recursion is necessary to track the splits and merges (otherwise we could just grab a "patch" associated with the unique id).

If we select all FeatureEvents for a given uniqueName

[2015-10-06 23:27] nathandunn commented on #539
- [x] add a service for deleting the features
- [ ] (1d) create a web-service for "deleting features from an organism"
- [ ] (1h) add a "block" for deletion of an organism (basically you can't do it if there are annotated features on it)

[2015-10-06 23:30] nathandunn commented on #568
@nlwashington   . .

- [ ] Waiting for Monarch team to get their own server.

I think I want to create a mildly separate build off of 2.0 / master branch that consists of:
- [ ] collapsible evidence track on evidence (already implemented in 2.1) . . a very simple back-port
- [ ] inclusion of Neato plugin to properly draw genes

But without being dependent on 2.1.   Should be pretty quick to get up

[2015-10-07 01:53] cmdcolin commented on #445
This is probably one of those unnecessary things. I think I saw some other service doing it but really https support is the best way to ensure security.

[2015-10-07 01:53] #445 closed

[2015-10-07 02:01] cmdcolin commented on #340
dupe of 341

[2015-10-07 02:01] #340 closed

[2015-10-07 02:04] cmdcolin commented on #338
I'm sort of familiar with the general issue here when taking screenshots but i haven't seen this happen really. Is it still a problem?

[2015-10-07 02:10] cmdcolin commented on #412
We added ability to create annotations from  canvas features in #576 and i think we should keep moving in that direction. I'd suggest closing

[2015-10-07 02:12] cmdcolin commented on #546
Agree. Since documentation is just continuous and we are not switching platforms can we close this as an issue?

[2015-10-07 02:19] cmdcolin commented on #199
I think this can be closed, the install script doesn't need any updates for this to work

[2015-10-07 02:19] #199 closed

[2015-10-07 02:25] cmdcolin commented on #282
Only if someones really motivated

[2015-10-07 02:25] #282 closed

[2015-10-07 02:28] cmdcolin commented on #533
I think the jbrowse side of things (and/or) the cram support will try and target fixes. re-open if needed (sorry triaging here)

all the issues here are noted though so thanks moni for documenting

[2015-10-07 02:28] #533 closed

[2015-10-07 02:55] nathandunn commented on #338
I haven't seen it.  My guess is that it has more to do with the iFrame.

[2015-10-07 02:55] #338 closed

[2015-10-07 02:56] nathandunn commented on #412
Also working on this in 2.1 (via REST) .. so I would agree.

[2015-10-07 02:57] nathandunn commented on #546
Not yet . . it is really bad and incomplete.  I need to think of a way to either move it into markup or tie it into the code base.

[2015-10-07 03:17] cmdcolin commented on #546
I actually migrated the html to markup here https://github.com/GMOD/Apollo/blob/master/docs/Web_services.md

[2015-10-07 03:18] cmdcolin commented on #546
We should actually move that markdown back to html to use in the web services link from the help tab

[2015-10-07 14:59] nathandunn commented on #546
So . . would I would *like* would be to annotate (Java Web Annotations) the web services directly and have it auto generated.   Since these are on the controllers it shouldn’t be too bad.

When you create a new Grails projects it creates a home page that lists all of the controllers (and maybe views?).   If we could modify the help page to only pick up the annotated actions (and read the annotatio

[2015-10-07 15:11] cmdcolin commented on #546
I don't know what java web annotations are. no results from https://www.google.com/search?client=safari&rls=en&q=%22Java+Web+Annotations%22&ie=UTF-8&oe=UTF-8#

[2015-10-07 15:13] cmdcolin commented on #546
If it is "java web service annotations", then that looks like it is from a bygone era of SOAP

[2015-10-07 15:19] nathandunn commented on #546
Sorry .. I meant Java annotations.

Not sure if there is a specific tool for it.

Nathan

[2015-10-07 15:46] cmdcolin commented on #546
This type of annotation looked pretty good http://loic911.github.io/restapidoc/

I guess whatever you think is easiest though. We do have the markdown version and I think just improving the markdown and the example code that we have is good

[2015-10-07 15:51] nathandunn commented on #546
I had issues getting that to work .. But it is exactly what I am looking for.   Maybe we could modify it.

Nathan

[2015-10-07 17:01] deepakunni3 opened #579 "Information Editor shows only the first attribute in the 'Attributes' section even if there are more attributes"
This is due to a bug in FeaturePropertyService::getNonReservedProperties

[code]

The fix is to remove `@NotTransactional` and use `findAll()` instead of `find()` for `findAllByFeature()` statement.

[2015-10-07 17:11] deepakunni3 opened #580 "Error while merging transcripts with long names"
While merging transcripts, if one of the transcript has a name that is long (ex. fgeneshpp_with_rnaseq_Group1.10_108_mRNA-00001), the server gives a PSQL Exception.
`org.postgresql.util.PSQLException: ERROR: value too long for type character varying(255)`

[2015-10-07 17:17] nathandunn commented on #555
@cmdcolin   This should be working now . ..

Here is the error (X2) . .  genius:

https://github.com/GMOD/Apollo/commit/a9edbda464fef0d2f1efd8a1236db12f35601aec#diff-50a5825035c2fa8982393768e6a49473L348

[2015-10-07 17:42] #555 closed

[2015-10-07 21:14] cmdcolin commented on #571
I went ahead and added this. Should be fixed

[2015-10-07 21:15] nathandunn commented on #571
awesome!

[2015-10-07 21:16] cmdcolin commented on #536
In the email thread we said that we can basically add a category falg to the track selector

I think this is pretty much the best stop gap solution because if it goes further than that, then there are screen real estate issues

[2015-10-07 21:18] nathandunn commented on #536
I think category selector is good.

If there is a way we could trigger the facet selector (if it is there) that would be good as well.  If you know what the hook is there, I can register the function.

Nathan

[2015-10-07 21:21] cmdcolin commented on #570
Looks like updateOrganismPermission is a webservice that already exists on the UserController

Maybe a new command line script to automate that is worthwhile

[2015-10-07 21:23] nathandunn commented on #570
Yeah . . I am going through to document this stuff right now.   If you have a Skype second, I can show you where I’m at with it.

Nathan

[2015-10-07 23:04] nathandunn commented on #567
Looks good to me.   I think that refactor is going to save us time in the long-run.

[2015-10-07 23:31] monicacecilia opened #583 "Sanity check during VCF file handling."
Because we are going to be thinking about variants again very soon, I am bringing this to our attention again.

From Gabe Rudy's blog (2014-02) http://blog.goldenhelix.com/grudy/the-new-human-genome-reference-and-clinical-grade-annotations-its-all-about-the-coordinates/

" This variant, present in one in thirty Caucasians, is historically described in the deletion of three bases at the 1521st codi

[2015-10-08 15:53] cmdcolin commented on #557
I can recreate this error

But then again, the error seems to indicate that it is due to not having a valid SSL certificate.

I am using a self-signed one for testing based on this setting https://gist.github.com/jessedearing/2351836

[2015-10-08 16:19] nathandunn commented on #580
If you could take a look at this @monicacecilia  when you have a chance.    We just need to know if a transcript name should ever be greater than 255 characters.

[2015-10-08 17:13] cmdcolin commented on #562
Note that there is a similar problem with user

If you try and delete a user that has annotations associated with them, it produces this error

![screenshot-icebox lbl gov 2015-10-08 12-12-25](https://cloud.githubusercontent.com/assets/6511937/10373905/dd2fb6b4-6db5-11e5-8d74-d5be08daf644.png)

Error Deleting User
Failed to delete the user Hibernate operation: could not execute statement; SQL [n/a

[2015-10-08 17:23] nathandunn commented on #580
Talked to @monicacecilia   . . unlikely, before machine-generated names, this will happen.  We'll just either make it twice as long or change it to type "text".

[2015-10-08 18:05] cmdcolin commented on #557
I was able to get it to work by adding my custom certificate to java's CAStore

http://blog.alwold.com/2011/06/30/how-to-trust-a-certificate-in-java-on-mac-os-x/

I.e.

sudo keytool -importcert -alias newcert -file /etc/ssl/certs/myssl.crt -keystore /Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home/jre/lib/security/cacerts

After that I had no errors using add_organism (I also restar

[2015-10-08 18:34] monicacecilia commented on #565
@nathandunn you or @deepakunni3 ? I assigned this one to you to bring it back to the spotlight. cheers,

[2015-10-08 18:35] nathandunn commented on #565
Should this be the default for exporting GFF3 . . or should this be another option?

[2015-10-08 18:46] monicacecilia commented on #565
For now, I think it should be another option called "GFF3 for NCBI" or something similar. We may want to incorporate this permanently later on, but I don't know how many people are using the output on their pipelines, so we should make an announcement before changing it for good.

[2015-10-08 18:53] deepakunni3 commented on #565
This is interesting. Maybe I can look into this.

[2015-10-08 18:54] nathandunn commented on #565
@deepakunni3   Sure.  @monicacecilia   Okay .  an option makes the most sense for now.

[2015-10-08 18:58] monicacecilia commented on #565
Si @deepakunni3! cheers,

[2015-10-08 19:30] deepakunni3 commented on #565
:+1:

[2015-10-08 21:01] nathandunn commented on #557
The thought is to have a "--ignore-ssl-issues" option in the groovy scripts:

http://stackoverflow.com/questions/19723415/java-overriding-function-to-disable-ssl-certificate-check
http://stackoverflow.com/a/29220321/1739366

In theory the RESTClient has an option to do this . . but this is a different source:

https://github.com/jgritman/httpbuilder/blob/master/src/main/java/groovyx/net/http/RESTC

[2015-10-08 21:09] cmdcolin commented on #525
This is sort of random (and this may have even been mentioned before) but I like the way ensembl does this

Example

![ensembl](http://useast.ensembl.org/img-tmp/2015_10_08/session_3953401/ImJQnZCH.png)

[2015-10-08 21:42] nathandunn commented on #557
@cmdcolin   You should update the front-matter for this in the HTTPS section:

https://github.com/GMOD/Apollo/blob/master/grails-app/views/webServices/index.gsp

[2015-10-08 21:50] cmdcolin commented on #557
Sure. Looks like the web service documentation is getting very well improved

[2015-10-08 22:04] nathandunn commented on #546
@cmdcolin   / @deepakunni3   FYI . . please feel free to update this as you see fit:

. . . relevant files are:
- https://github.com/GMOD/Apollo/blob/master/grails-app/views/webServices/index.gsp
- https://github.com/GMOD/Apollo/blob/master/grails-app/assets/javascripts/WebServicesController.js

And of course the annotations on any of the controllers.

This should be helpful with the caveat that t

[2015-10-08 22:07] cmdcolin commented on #546
How do you update the restapidoc.json file?

[2015-10-08 22:09] nathandunn commented on #546
Very good point . . .

I put it in the apollo binary as: create-rest-doc . . .  “./apollo create-rest-doc"

but it is:

grails rest-api-doc

Nathan

[2015-10-08 22:21] nathandunn commented on #546
FYI . . not sure what is up with the transitions . . they should be smooth but are not

[2015-10-08 23:52] monicacecilia opened #585 "add BLAT to Tools panel to fix HTML issues and allow more interoperability with other features"
**Summary**: in certain situations, when the wind blows from the East, BLAT results are not being parsed correctly.
### Bug one:

One error I have seen is that the display does not wrap the lines correctly, so the first field of the second line of results ends up being tagged to the end of the first line. When this happens, users are still able to hover over any of the fields of results from a lin

[2015-10-09 16:00] nathandunn commented on #585
- [ ] the sequence must not include the definition line  // I think we should just filter it out
- [ ] no spaces are allowed at the beginning or at the end of the sequence // again I think the input should just do a "trim" on the input
- [ ] they have entered a nucleotide sequence when trying to run a protein search, and vice versa (yes, that again) ..  I think that this is being block by #344 . .

[2015-10-09 16:01] nathandunn commented on #585
A lot of this is due to jbrowse in an iframe . . . rendering as div's should be fine if we have the correct backing CSS classes

[2015-10-09 16:14] monicacecilia commented on #585
And that's also a problem right now, the current CSS classes are likely
what's conflicting with browsers.

Let's have a table, please. Pretty please. Very pretty please.

On Friday, October 9, 2015, Nathan Dunn <notifications@github.com> wrote:

[2015-10-09 16:18] nathandunn commented on #585
I'll take a look.  A table is not necessarily a better solution, but I think I understand what you are saying (possibly . .  need to start up windows and double-check).

[2015-10-09 16:36] nathandunn opened #586 "verify 2.0.0 -> 2.0.1 migration from a dumped 2.0.0 database works"
this will be near last.  Worst-case we use the database-migration plugin.

https://grails.org/plugin/database-migration

It is basically setup for something like this at the end (as needed):

[code]

[2015-10-09 17:07] nathandunn opened #587 "When the number of overlapping transcripts for a given gene changes, the # of transcripts in the Information Editor drop-down menu does not always update accordingly."
when changing the number of genes on a transcript related isoform overlap . . the # of names in the info editor drop-down does not always change

[2015-10-09 17:08] nathandunn commented on #587
Related to #73.   Everything works fine, but the number of transcripts in the drop-down does not always reflect the change in isoform.

[2015-10-09 17:22] cmdcolin opened #588 "Splitting and then merging back together causes exception"
When you split a feature and then merge the pieces back together again, it causes an exception

    2015-10-09 12:18:37,136 [clientInboundChannel-2] DEBUG apollo.AnnotationEditorController  - exception org.bbop.apollo.AnnotationException: Not one current feature event being merged for: 5b38fc25-9bd6-4f18-a528-72b3304b84d8
    2015-10-09 12:18:37,136 [clientInboundChannel-2] DEBUG apollo.Annotation

[2015-10-09 17:26] nathandunn commented on #562
This is "mostly" done, just have not yet tested / run it, but I think that all of the hooks are there.

[2015-10-09 17:52] nathandunn commented on #586
@deepakunni3   @cmdcolin

As an FYI the 2.0.1-snapshot on the staging server from a dump from 2.0.0 and did not notice any issues.

[2015-10-09 17:59] nathandunn commented on #588
Do you have an example annotation / steps taken?  I just tried it and it worked fine.

[2015-10-09 18:07] cmdcolin commented on #588
For me it always happens on the transcripts that I have tried, but as I said, it "works" but only after a page refresh, presumably because the thrown exception prevents the update operation from happening

Try GB48937-RA

Select the two 5' most exons, right-click, and select "split"

It will split into two transcripts

Then select the the two transcripts, right-click, and select "merge"

Then they

[2015-10-09 18:09] nathandunn commented on #588
Ahh . . it will for the first split and first merge but not after that.   The update history is not being sent back to the server properly.   I'll take a look.

[2015-10-09 18:20] cmdcolin opened #589 "It is possible to get into a state where switching organism is not possible"
This is hard to reproduce but I have seen it some months back and now.

Basically, as the title says, you can get into a state where it is impossible to change your which organism you are viewing (when logged it)

The UserOrganismPreferences table allows having different preferences for each organism, but it seems to have gotten into an inconsistent state where multiple organisms have "current_org

[2015-10-09 18:30] nathandunn commented on #589
Hmm . . not sure if it should re-check / fix this on load or fix it when it is boot-strapped.

[2015-10-09 20:31] nathandunn commented on #588
So . . the issue (which @cmdcolin  alluded to) is that the history is throwing exceptions for some reason, explicitly in addMergeFeatureEvents after some history has been shown.  I was not seeing this earlier, but it causes at least one of the side-cases.

[2015-10-10 03:15] nathandunn commented on #525
Need to properly convert this when setting sequence in MainPanel::genomic:

[code]

to

[code]

when passing in as a URL.

[2015-10-11 02:44] nathandunn commented on #585
Using bootstrap + div would work . . . basically it doesn't assign row values for divs (!!).   With more people on more devices this is A) an easy fix and B) a more necessary one.   That, or put bootstrap into this (if available), which will have the same effect.

[2015-10-12 15:18] cmdcolin opened #591 "Annotator panel doesn't remember the width that the user set it to"
As title says. If you resize annotator panel, and refresh page, its position is not remembered.

[2015-10-12 15:34] cmdcolin commented on #591
I'd just make this a cookie or something rather than storing this in the database.

[2015-10-12 16:14] nathandunn commented on #591
I think that is a good idea.  I agree that it is annoying the way it is.   I'll fix this right now.

[2015-10-12 16:28] nathandunn commented on #591
http://www.gwtproject.org/doc/latest/DevGuideHtml5Storage.html

[2015-10-12 17:25] nathandunn commented on #591
Put in the wrong branch . . . some overlap issues as well.

[2015-10-12 17:28] nathandunn commented on #591
Fixed now . . . remembers the "open/close" state and the last open width.

[2015-10-12 18:42] nathandunn commented on #536
So . . to paraphrase what we discussed today:
1 - [ ] provide a way to show facets (i.e, tracklist=1 instead of 0) from Apollo if JBrowse is configured as faceted
2 - [ ] for category tracks, expose the additional emulation data to expose the tracks

I was looking at the differences between the faceted and category, but they seem very different beasts.  Looking at the categories, though I don't th

[2015-10-12 18:45] nathandunn commented on #573
@yeban   If you want to work on the integration, we'd be happy to work with any pull request you made.

[2015-10-12 21:42] nathandunn commented on #585
Soo . . @monicacecilia   . . I would propose putting a "Tools" tab in Apollo.

I was hoping this was just a simple HTML fix.   @GreggHelt2  implemented it correctly in dojo in the way I would have if I had been forced to use dojo.    The "workarounds" / other ways to do this are to use a dojo [TableContainer](https://dojotoolkit.org/reference-guide/1.10/dojox/layout/TableContainer.html) or to prog

[2015-10-12 23:02] nathandunn commented on #585
I think that doing it this way also gets us to . . we can do analysis in a tab instead of a popup so that it is persistent.

[2015-10-12 23:09] monicacecilia commented on #585
:+1: Let's try a "Tools" tab!

[2015-10-13 03:05] nathandunn commented on #585
Its 2.0.2 okay for this?

[2015-10-13 04:38] monicacecilia commented on #585
Yep.

[2015-10-13 10:47] yeban commented on #573
Thanks @nathandunn. I'm home till the end of this month. I will give it a shot after I'm back. I hope that won't be too late.

[2015-10-13 14:08] nathandunn commented on #573
We’ll integrate it in whenever you are done with it (we are constantly releasing).   Let us know if you need any help along the way.

Nathan

[2015-10-13 17:05] monicacecilia commented on #573
@yeban @yannickwurm
This is looking really good! Thanks for the update on the progress with GV.

On a related subject, I added an issue for you two at https://github.com/wurmlab/afra/issues/113

[2015-10-13 20:52] erasche opened #592 "Create group functionality in UI throws exception"
On clicking the "plus" button under Users Tab->bottom panel->Groups Tab, I receive the following:

[code]

[2015-10-13 21:28] monicacecilia commented on #592
@erasche do you mean when you try to add a new "Group" using the plus (+) sign? -

gah! @nathandunn I just got an error on our demo - slightly different wording at the end.
<code>
Uncaught com.google.gwt.event.shared.UmbrellaException: Exception caught: (TypeError) : Cannot read property 'userId' of undefined
</code>

[2015-10-13 21:37] nathandunn commented on #592
I will take a look.  Most likely the button should be disabled until you enter text.

Nathan

[2015-10-13 21:39] erasche commented on #592
@monicacecilia yep, exactly what I mean. It's a select field so no way to enter text.

[2015-10-13 21:40] monicacecilia commented on #592
But the box to type that text doesn't allow the admin to do so in the first place. - at least at http://genomearchitect.org/WebApolloDemo

[2015-10-13 22:37] nathandunn commented on #592
So . . there are few problems . . . mostly due to a hastily assembled UI.  I get something similar to above if I don't click on a user and try to add a group.     I'll try to clean up some of the ambiguity on the master branch (and soon 2.0.1) and you can tell me if its there.

In the interim @erasche   if you click on the user such that it is highlighted and then click "+" does it work okay?

[2015-10-13 23:07] nathandunn commented on #592
I'm going to continue continue to work on UI fixes . . . feel free to pull master at any point.  I will probably be done tomorrow.

[2015-10-14 00:03] nathandunn commented on #592
- [x] unselect group editing when unselected
- [ ] re-select (don't unselect) when adding / removing group to a user
- [ ] review other user / group interfaces for a similar failed paradigm (do not add when not selected)

[2015-10-14 01:17] erasche commented on #592
@nathandunn oh! Okay. This is all making a bit more sense. I finally figured out that I have to go to groups, create the group, go to users, select a user, then I can click the plus button which applies a group to a user. That workflow was not at all clear. For some reason I expected the "+" to allow me to create a new group on the user tab, clearly wrong.

[2015-10-14 01:54] nathandunn commented on #592
Thanks for the feedback.   I agree that this workflow needs to be tweaked to feel more “standard”.   We’ll see what we can do.

Nathan

[2015-10-14 16:45] nathandunn opened #594 "export GWT 2-way data-binding"
Will hopefully minimize some coding / errors.

http://www.lteconsulting.fr/hexabinding/

I also like the idea of being able to do an angular-style two-way binding:
<g:textBox ui-field="someTextBox.text" value="internalValue"/>

<g:textBox ui-field="someTextBox.text"/>

[2015-10-14 16:46] nathandunn commented on #594
also the use of "generators" to remove REST boiler-plate (might) be interesting, as well.

[2015-10-14 17:40] nathandunn commented on #570
:+1:

[2015-10-14 17:41] nathandunn commented on #562
@deepakunni3   Can you take a look at this one now.   It should be mostly done, but I haven't tested it at all.   The service method should work, however (knock on wood).

[2015-10-14 18:18] cmdcolin commented on #493
Would definitely like this to get fixed sometime

2.0.2 sounds good but I keep running into it

[2015-10-14 18:35] nathandunn commented on #493
The tricky part is setting up a shiro listener for timeouts:

https://github.com/vahidhedayati/grails-shiro-listener/blob/master/README.md

At some point, I'd thought of possibly switching out of Shiro and into using Spring Security (ouch) because the listeners are better integrated.  We'll see.

[2015-10-14 18:52] monicacecilia commented on #493
:+1:  as promised (above).

[2015-10-14 18:56] nathandunn commented on #562
dang you move quickly . . .

[2015-10-14 18:59] deepakunni3 commented on #562
It would be good to test the scripts, in case there is something missing.

[2015-10-14 19:01] nathandunn commented on #562
I’ll test this and the other one you finished today.

Nathan

[2015-10-14 19:08] deepakunni3 commented on #562
:+1:

[2015-10-14 19:16] nathandunn commented on #592
This is what confluence does . . which is a lot more explicit.  However, if you have 30 (or more) organisms per server and want a group for each, this won't exactly work well.

<img width="452" alt="screen shot 2015-10-14 at 11 48 59 am" src="https://cloud.githubusercontent.com/assets/751274/10494790/3e502aee-726d-11e5-9cad-b8c3601e058a.png">

[2015-10-14 19:25] erasche commented on #592
That looks very admin friendly.

My org's use case is on one extreme, we'll have thousands of organisms, but organised into relatively few groups. I can see that something like that wouldn't work for groups like i5K.

If you were looking for design options that scale,something akin to select2's "Multiple Select Boxes" [https://select2.github.io/examples.html]() would be brilliant

![select-groups]

[2015-10-14 19:29] nathandunn commented on #592
Too funny.   This is what confluence uses on its group panel to add groups (as well as to add tags).    I’ll take a look as to how they implemented that or to see if there is a similarish way to implement that widget.

Just as an FYI, I’m using confluence as a reference just because they do this large user/group management stuff all the time and I think its pretty tried and tested.

Nathan

[2015-10-14 19:30] nathandunn commented on #586
Added blocked as its the last thing we do.

[2015-10-14 19:34] nathandunn commented on #557
you may want to switch to use this:

https://maven-repository.com/artifact/org.codehaus.groovy.modules.http-builder/http-builder/0.7.2

@Grapes(@Grab(group='org.codehaus.groovy.modules.http-builder', module='http-builder', version='0.7.2’))

(update to 0.7.2) . . .

the API should be here:

https://github.com/jgritman/httpbuilder

Its a bit confusing as it looks like codehaus has shut down.

Sorry

[2015-10-14 19:43] nathandunn commented on #562
that worked without a hitch . . I like the explicit usage setting for org id and name.  I added some additional doc for adminuser and adminpassword, but the code is unchanged.

[2015-10-14 19:43] #562 closed

[2015-10-14 19:45] nathandunn commented on #567
I don't that there is a way that Moni can really test this, so I'll go ahead and close this.

Thanks.  This was a refactor that needed to happen.

[2015-10-14 19:45] #567 closed

[2015-10-14 21:09] #570 closed

[2015-10-15 02:55] nathandunn commented on #592
@erasche   Got caught up with some other stuff.  Am aiming to get this into the 2.0.1 release, though.  This week or early next weeek.

[2015-10-15 03:48] cmdcolin opened #596 "Document method for using other jbrowse plugins in WA"
As the title says

Would be good to have a workflow for this, or at least have it documented

There are pretty obvious workarounds but having a best practices scenario would be good

[2015-10-15 04:39] nathandunn commented on #596
I agree.  I think this would be good documentation to add . . esp. before the hackathon.

[2015-10-15 07:14] erasche commented on #592
No rush. We don't have it in prod yet, so I'm just reporting things as I
find 'em.
15. okt. 2015 2.55 a.m. skrev "Nathan Dunn" <notifications@github.com>:

[2015-10-15 08:29] nathandunn commented on #586
- [ ] test 2.0.0 -> 2.0.1 migration from dumped database

[2015-10-15 15:15] cmdcolin commented on #557
@deepakunni3 added these new options via d30298696f245b

works great in my tests

[2015-10-15 15:15] cmdcolin commented on #557
merged to master

[2015-10-15 15:20] nathandunn commented on #557
:+1:

[2015-10-15 15:20] #557 closed

[2015-10-15 15:20] nathandunn commented on #557
FYI @childers  our scripts should support https now

[2015-10-15 15:22] nathandunn commented on #592
No worries.  I think you're not the first person to run into these.  If these changes don't get it out in 2.0.1 they should be out fairly shortly.

Also, I think that this will work for us out of the box:

http://jdramaix.github.io/gwtchosen/

[2015-10-15 15:25] cmdcolin commented on #557
To be clear...I think they always did...this is just adding the ability to bypass a certificate authority issue with the added flag.

[2015-10-15 15:27] nathandunn commented on #557
Yep!

Nathan

[2015-10-15 15:27] erasche commented on #592
Oh, nice, those look great. Will make the experience much nicer. Thanks again!

[2015-10-15 15:37] nathandunn commented on #489
I think we can at least do this in a lot of GWT-code pretty easily

[2015-10-15 17:15] nathandunn opened #597 "enable toggle of JBrowse-style track selector"
Basically just need to flip this to to 1 here when the trackList is faceted:

https://github.com/GMOD/Apollo/blob/master/src/gwt/org/bbop/apollo/gwt/client/MainPanel.java#L383

There is a "list" command . . . . issued into AnnotTrack.js  there is probably a very easy way you could just change it here to pass along those changes:

https://github.com/GMOD/Apollo/blob/master/client/apollo/js/View/Tra

[2015-10-15 17:17] nathandunn commented on #597
Also, the order of loading is . . .

1 - update genomic location via MainPanel
2 - show tracks based on loaded frames from the MainPanel (at that point you can parse them)

Thinking about this . . . you might have to actually scan the file-system first once the organism is selected / changed.  Not hard but non-optimal.

[2015-10-15 17:20] nathandunn commented on #536
Related to #597. . .

[2015-10-15 18:55] nathandunn commented on #560
this is done

[2015-10-15 18:55] #560 closed

[2015-10-16 00:08] nathandunn commented on #592
Associated pull request is in there.   I'll try to get screen shots in there tomorrow.   Should be much simpler.

Nathan

[2015-10-16 14:18] childers opened #599 "add info logging for permission granting"
Is there a logging level that will let us keep track of the addition or removal of permissions, at the group and user level?

[2015-10-16 16:02] nathandunn commented on #599
We can add logging for this pretty easily . . .  I'll add some documentation on how to adjust logging-level (you can get pretty specific).
- [ ] add logging for adding / removing permissions
- [ ] add documentation for how to adjust logging level in ```apollo-config.groovy```

[2015-10-16 17:51] nathandunn commented on #599
Customizing configurations goes here.

[2015-10-16 18:09] nathandunn commented on #599
@cmdcolin  Can you review and close this when you have a chance.

[2015-10-16 18:59] cmdcolin commented on #148
Technically it looks like we use the apollo server to proxy to ncbi entrez

NcbiProxyServiceController

This is used in similar contexts to the GOLR (information editor)

[2015-10-16 19:11] nathandunn commented on #148
Right.  This could / should be done in an identical fashion.

Nathan

[2015-10-16 19:25] nathandunn commented on #148
Are you wanting to do this one instead of the faceted track list?  I think this will be important for https so might be worth spending a couple of hours fixing.

Nathan

[2015-10-16 19:29] cmdcolin commented on #597
The order of loading that you have specified is correct and in this case it makes it difficult to choose to even in principle know what type of tracklist is being used

I would have to make a rest call from the GWT code to a grails controller that then parses some config files, and even at the end of this it could wrong since the config file system that jbrowse uses is very complex

[2015-10-16 19:31] nathandunn commented on #597
I can take a look at this if you want.

I'm doing a lot of this type of thing for projection so I think I know what needs to be done.

Do you know what file(s) it should be looking for?

Nathan

[2015-10-16 19:33] cmdcolin commented on #597
How about i put it a different way.

This is one of those cases where we are trying to be "smarter than the user" by trying to make a decision for them about what they want.

We should instead just have a configuration variable called "use native track selector" and use that

[2015-10-16 19:34] cmdcolin commented on #597
That would be easy to implement I think and probably less headache, easier to configure, etc.

[2015-10-16 19:37] nathandunn commented on #597
That's brilliant.  We can just put a flag in the track panel that says use native selector.  If you want a default value in the config file it wouldn't hurt but having the selection and storing it using browser storage would be a pretty easy / elegant solution.

Nathan

[2015-10-16 19:37] nathandunn commented on #597
Definitely lets do that.

Nathan

[2015-10-16 19:50] cmdcolin commented on #599
Sure. I tested this out and it looked good

[2015-10-16 19:50] #599 closed

[2015-10-16 19:51] cmdcolin commented on #599
I might also want to add some more docs on separating logs to different files e.g. http://stackoverflow.com/questions/6330436/grails-and-log4j-how-to-logs-in-different-files-with-same-level

Then have separate logfiles for logins, permissions

[2015-10-16 19:51] cmdcolin commented on #599
@childers if you had any other specific use cases let us know or feel free to reopen

[2015-10-16 21:00] nathandunn commented on #599
That’s fine.  You might want to create a separate doc for that and reference it.  I mostly just wanted to give a quick high-level of it.  Also, make sure you’re not duplicating something we can just link to.

Nathan

[2015-10-16 22:35] nathandunn commented on #489
Nothing to test here really . . .

[2015-10-16 22:47] nathandunn opened #601 "make minor user UI improvements"
Some things I realized after working on some other UI stuff for groups:
- [x] make all buttons bootstrap buttons
- [x] create button should go at the top, be bootstrap, ~~and create a dialog~~
- [x] create save popup (and refresh on save)
- [x] test create
- [x] test save
- [x] test delete
- [ ] ~~hide tab panel at the bottom when nothing selected~~
- [ ] ~~register table?~~
- [x] user/group boots

[2015-10-17 00:24] nathandunn opened #602 "udpate admin html pages"

[2015-10-17 04:48] nathandunn commented on #148
On the branch ```golr_config```

Getting this issue:

[code]

[2015-10-17 07:17] cmdcolin commented on #489
If you enter invalid user information in the Login then there is a bootbox but there is also some other layer making it impossible to click anything

[2015-10-17 15:20] nathandunn commented on #489
Thanks for reporting.   Probably the glass pane . . . I’ll put something else there.

Nathan

[2015-10-17 15:39] nathandunn opened #603 "fix login dialog to handle bad logins / be more boot-strappy"
Related error introduced in #538  .. .

LoginDialog:
- [x] add internal setError
- [x] make bootstrappy

[2015-10-17 15:39] nathandunn commented on #603
Errors should only show up on the login itself

[2015-10-17 15:39] nathandunn commented on #538
Will fix this error in #603  . .

[2015-10-17 15:39] #538 closed

[2015-10-17 17:16] nathandunn opened #604 "Make register dialog more bootstrappy and put errors on the dialog similar to the login dialog"
RegisterDialog: . . . make similar fixes to #603
- [ ] put error dialog into the register dialog (no popup)
- [ ] make bootstrappy

[2015-10-17 18:34] nathandunn opened #606 "have proxies support fallback order / active flags"

[2015-10-19 13:39] cmdcolin commented on #148
Note that we do not want to support "arbitrary proxying"

i.e. we don't want something that can say "http://apolloserver.com/apollo/proxy/?proxyurl=http://google.com" to forward a request to google.

That type of setup allows hackers to bounce malicious requests through your server

I was surprised to see code that looks like this here https://github.com/GMOD/Apollo/commit/c39837ae3b0d6bc0bad23d21

[2015-10-19 13:45] cmdcolin commented on #148
Do appreciate the work on this though :) I just think it should come from simple server side config variables than allowing the client to do it

[2015-10-19 14:55] nathandunn commented on #148
You're right . . an unregistered proxy should fail.   I think I need to bootstrap the proper ones and go from there.

http://stackoverflow.com/questions/16904414/code-to-get-a-java-servlet-to-act-as-a-proxy
https://github.com/mitre/HTTP-Proxy-Servlet

[2015-10-19 17:39] nathandunn opened #607 "at some point cache proxies (including NCBI lookup . . .as well as merge NCBI)"
- [ ] move NCBI lookup to a Proxy object
- ~~allow proxy objects to be cached~~

Current performance provides a negligible hit (around 150-300 ms per request), which is a bit long, but could be cached and managed (size, clearing) internally based on the proxy.

[2015-10-19 17:39] nathandunn commented on #607
Related to #148 .

[2015-10-19 17:43] nathandunn commented on #148
Also the seed for #606.

[2015-10-19 17:48] nathandunn commented on #148
To test:
- confirm that GOLR lookup (GO type-ahead evidence) still works as you would expect

[2015-10-19 20:18] nathandunn commented on #536
It might be worth thinking about pushing the "categories" (and the simple track) into the faceted track.  It removes the need to re-implement the category track and simplifies the interface.

[2015-10-19 20:29] cmdcolin commented on #536
Not sure what you mean? My understanding was that we were going to have a toggle for native selector https://github.com/GMOD/Apollo/issues/597

[2015-10-19 20:32] nathandunn commented on #536
That is exactly right.

I guess what I'm trying to say is that it would be good if we could somehow convert "category" tracks into faceted (though bare) tracks.  Basically trying to extend the solution in #597 to work with categories.   That might not be feasible . . just an idea.

[2015-10-19 20:36] cmdcolin commented on #603
#609 was a small fix to this. not much to worry about there

[2015-10-19 20:37] nathandunn commented on #603
K thanks

[2015-10-19 20:53] cmdcolin commented on #603
There is a problem where if the user logs in, and they have no permissions, there is the glass pane over it. This is similar to the comment i made on #489

[2015-10-19 20:53] cmdcolin commented on #603
![screenshot-localhost 8080 2015-10-19 15-53-17](https://cloud.githubusercontent.com/assets/6511937/10591024/8f560ed0-7679-11e5-9ff5-8a98e4689522.png)

[2015-10-19 20:55] nathandunn commented on #603
That should have been fixed.  I think you must have over-written it somehow.   I’m going to revert this.  The UiBinder is nice, but its complete.  There were other issues (I should have checked it better) like an icon missing.

Nathan

[2015-10-19 21:27] monicacecilia commented on #536
Please let me correct that to "That is exactly right, for now". :bowtie:

@nathandunn 's comment sparks form a conversation we had.

I am in favor of making things easier for the user.

The solution of toggling a native selector so we can allow the display Tracks the way they used to be displayed is a very good solution to the problem of allowing users to access these features again in the immedia

[2015-10-19 21:45] cmdcolin commented on #603
This was not fixed previously so I'm not sure why it was reverted. We talked briefly and will try and fix later

[2015-10-19 23:04] nathandunn commented on #603
Sorry . . forgot mark:

https://github.com/GMOD/Apollo/commit/a6a243dc44aad172d5f6002c45c1c6397ea054dd

This fixes having a lack of organism.

[2015-10-19 23:04] nathandunn commented on #603
![screen shot 2015-10-19 at 4 04 43 pm](https://cloud.githubusercontent.com/assets/751274/10593754/21a93504-767b-11e5-98cd-23186f88667a.png)

[2015-10-20 00:26] cmdcolin commented on #603
The previous popup had a logout button on it because when you got to this step you would just not be able to log back out unless you cleared you cookies, and then furthermore, the user would be unable to access the jbrowse mode unless they manually cleared cookies.

[2015-10-20 00:29] nathandunn commented on #603
K .. I'll add that in a bit.

Nathan

[2015-10-20 15:38] nathandunn commented on #603
Test by logging in successfully (and failing a login).  Also test by logging in as a user with no permissions.

[2015-10-20 15:40] nathandunn commented on #591
Panel remembers if it was last opened or closed and what it's last open width was.

[2015-10-20 16:26] nathandunn commented on #433
To test:
- basically when you go to this page:

http://icebox.lbl.gov/Apollo-staging/jbrowse/

Only "public" organisms should be shown.  This can be marked in the organism panel.

[2015-10-20 16:29] nathandunn commented on #489
To test:
- GWT will only create "bootstrap" alerts that look like the attached . . vs the old "alert" dialog of old.
![screen shot 2015-10-20 at 9 28 52 am](https://cloud.githubusercontent.com/assets/751274/10614056/0f7b990c-770d-11e5-8cdc-603a5e71537a.png)

[2015-10-20 16:30] nathandunn commented on #489
You can't really test that everywhere, but let me know if overall they look better or if you have any other changes (or run into any problems).

[2015-10-20 16:31] nathandunn commented on #539
To test:
- find an organism with annotations on the organism panel and "delete".   You should see the following:

![screen shot 2015-10-20 at 9 30 40 am](https://cloud.githubusercontent.com/assets/751274/10614106/5062f5a0-770d-11e5-8344-188f2ff6bbaf.png)

There is a web service to allow them to delete all the annotations (or they can do it manually or they can create another organism).

[2015-10-20 16:34] nathandunn commented on #546
To test:

Go to the webservices API page (either on the admin panel or "Help Web Services" and should see this page .  . .

.. but I am missing some things . . . grr . . one sec.

http://icebox.lbl.gov/Apollo-staging/WebServices/

[2015-10-20 16:36] nathandunn opened #612 "indicate when a track is "collapsed""
Related to #571 .    Tracks collapse, but don't give any indication that they are in that state without clicking on the track menu.   This is true for both features and tracks.

[2015-10-20 16:36] nathandunn commented on #571
To test:

- you can collapse evidence tracks like you can annotation tracks.   Longer-term I think we'll want to "somehow".  See #612.

[2015-10-20 16:37] nathandunn commented on #579
Test:
- add multiple attributes to an annotation in the information editor.  Confirm that they are visible, can be deleted, updated, etc.

[2015-10-20 16:38] nathandunn commented on #580
Test:
- create two annotations with really long names (say 255 characeters or more) and confirm
- merge the two annotations and confirm that the merged names are also more than 255 characters long.

[2015-10-20 16:43] nathandunn commented on #588
Test:
- create a feature and do stuff with out to add history to it
- create another feature and do stuff with out to add history to it
- merge the features
- add some more history
- split the features and add more history

Should all work as expected.

[2015-10-20 16:49] nathandunn commented on #592
Test:
- user and group UI's should be easier to work with . . . see screenshots below:

![screen shot 2015-10-20 at 9 48 55 am](https://cloud.githubusercontent.com/assets/751274/10614556/cd4666ae-770f-11e5-95e9-739e69760973.png)

![screen shot 2015-10-20 at 9 49 16 am](https://cloud.githubusercontent.com/assets/751274/10614564/daeea55a-770f-11e5-8f03-560ac328b3ca.png)

[2015-10-20 16:49] nathandunn commented on #592
FYI . . the first one is the user panel. . .

[2015-10-20 16:50] nathandunn commented on #601
Test:
- confirm that the user tab is a bit easier to work with and looks nicer:

![screen shot 2015-10-20 at 9 50 32 am](https://cloud.githubusercontent.com/assets/751274/10614605/05b190fe-7710-11e5-8a79-74792ccb4d80.png)

[2015-10-20 16:52] erasche commented on #592
Wow! Awesome!

[2015-10-20 17:50] deepakunni3 commented on #548
@cmdcolin Having trouble reproducing this bug since the merge operations that I do are snappy.
Let me know if you have a specific example to try out with.

[2015-10-20 17:50] #548 closed

[2015-10-20 18:03] nathandunn commented on #548
I’m wondering if my optimization of the history operations fixed the timing issue that caused this.

NAthan

[2015-10-20 18:04] deepakunni3 commented on #548
@nathandunn That is most likely the reason. Before the optimization the time delay was from several seconds to a minute. This would have led to the timing issue.

[2015-10-20 18:30] nathandunn commented on #395
I think that @cmdcolin  already kind of went through and did this already.

[2015-10-20 18:30] #395 closed

[2015-10-20 18:51] cmdcolin commented on #597
Should be ready since #611 was merged

[2015-10-20 18:52] nathandunn commented on #597
Yep . . thanks . .. I'll get these deployed shortly . .  . let me know if you have any final thoughts on the merge notes.

[2015-10-20 19:04] nathandunn commented on #586
@cmdcolin  @deepakunni3  If you have anything extra just add it to the changelog  . . I went through the final pass with your changes and I think all of the improvements / fixes in 2.0.1 are accounted for.  Thanks.

[2015-10-20 19:07] #586 closed

[2015-10-20 19:13] nathandunn commented on #597
I'm going to "disable/hide" the Track datagrid when show native is selected (easier than trying to sync them).  And call reload when we hide the native track again.

[2015-10-20 19:19] cmdcolin commented on #597
That seems just awkward to me. I can see why but the synchronization "reasoning" is unnecessary. Synchronization should happen automatically via the subscribe/publish event system

[2015-10-20 19:22] nathandunn commented on #597
If you think you can work that . .. (I mean . . I know it works, because we use it).

If you want to:

A) hide the table dataGrid.setVisible(false) when showing and the opposite when hiding (and the request “loadTracks”)
B) synchronize them directly (which I think is what you’re proposing).

I’m fine with either.  Do you want to finish this out?

Thanks,

Nathan

[2015-10-20 19:24] nathandunn commented on #597
Otherwise I can finish it up.

[2015-10-20 22:10] cmdcolin commented on #597
I added the commit to "synchronize them" here dffc0000677

[2015-10-20 22:11] cmdcolin commented on #597
Feel free to review and mark as ready if needed

[2015-10-20 22:15] nathandunn commented on #597
That is perfect.  Thanks. I think we are a go!

[2015-10-20 22:37] nathandunn commented on #602
done

[2015-10-20 22:37] #602 closed

[2015-10-20 22:38] nathandunn commented on #544
@childers   I'm hoping that the UI for 2.0.1 is a little simpler, but let us know.

[2015-10-20 22:38] nathandunn commented on #544
Screenshots are here:  #610

[2015-10-20 22:40] nathandunn commented on #544
We can always make changes later if its still not working adequately.

[2015-10-20 22:40] #544 closed

[2015-10-20 22:44] nathandunn commented on #536
@cmdcolin   I think that this will be lower priority because of your other fix

[2015-10-21 03:57] cmdcolin commented on #554
This was fixed by dffc00006777aa9dd021dc60e3c60bf90124c9e3

[2015-10-21 04:38] nathandunn commented on #554
just going to have a re-check . . . glad that its work that's already done . . . I'll add it to the changelog . . thanks

[2015-10-21 14:22] nathandunn opened #615 "a user with "no access" has access to all of the admin panels (and the name does not show up) on okay"

[2015-10-21 14:35] cmdcolin opened #616 "Add new organism broken on RC1"
If you go and try to add new organism, it fails due to checkLogin

    | Error 2015-10-21 09:59:03,828 [http-bio-8080-exec-2] ERROR errors.GrailsExceptionResolver  - NullPointerException occurred when processing request: [GET] /apollo/user/checkLogin
    Stacktrace follows:
    Message: null
        Line | Method
    ->>  139 | $tt__checkLogin  in org.bbop.apollo.UserController
    - - - - - - - -

[2015-10-21 14:38] nathandunn commented on #616
See the one I just submitted as well

[2015-10-21 15:01] cmdcolin commented on #616
Updated to reflect one issue that I found

[2015-10-21 15:23] cmdcolin opened #617 "Drag-and-drop of transcript does not get added to AnnotTrack until refresh in RC1"
Here is the full debug output of a addTranscript operation. The last line I think is the most important, as it seems to say that no event is found, and hence, the update is not fired to the client?

    2015-10-21 10:20:16,120 [clientInboundChannel-1] DEBUG apollo.AnnotationEditorController  - operationName: addTranscript
    2015-10-21 10:20:16,249 [Actor Thread 1] DEBUG apollo.AnnotationEditorCo

[2015-10-21 15:24] cmdcolin commented on #617
This is based on the 2.0.1-RC1 tag proper

[2015-10-21 15:33] cmdcolin commented on #616
Didn't mean to close necessarily. Feel free to test if needed

[2015-10-21 15:43] cmdcolin commented on #615
Not sure what this refers to?

[2015-10-21 16:09] nathandunn commented on #615
![screen shot 2015-10-21 at 9 07 39 am](https://cloud.githubusercontent.com/assets/751274/10642580/3cfe0394-77d3-11e5-85e1-2f3e821f9b29.png)

closing yields this . .  all active:

![screen shot 2015-10-21 at 9 08 06 am](https://cloud.githubusercontent.com/assets/751274/10642589/46bd5326-77d3-11e5-97e4-e45bd1360931.png)

- [ ] allow public jbrowse link (similar to login)
- [ ] hide all tabs!

[2015-10-21 16:16] cmdcolin commented on #615
Thanks. It is also kind of weird because normal users will see those admin tabs while logging in but they will disappear once they finish logging in

[2015-10-21 16:17] cmdcolin opened #618 "Use Shiro authorization measures"
Our permission system is pretty complicated, and probably unnecessarily so

Could be simplified by taking advantage of Shiro authorization

http://shiro.apache.org/java-authorization-guide.html

[2015-10-21 16:18] cmdcolin commented on #618
From a zoomed out point of view, the simply large number of methods that we have in permissionservice is overwhelming

    Boolean hasPermissions(JSONObject jsonObject, PermissionEnum permissionEnum) {
    def checkPermissions(JSONObject jsonObject, Organism organism, PermissionEnum requiredPermissionEnum) {
    Boolean checkPermissions(PermissionEnum requiredPermissionEnum) {
    Sequence checkPe

[2015-10-21 16:18] nathandunn commented on #615
True . . . would be good to fix in 2.0.2.

Nathan

[2015-10-21 16:22] nathandunn commented on #615
Also (and most importantly) have to disallow closing the modal.

[2015-10-21 16:28] nathandunn commented on #617
This is an error in the JavaScript having to do with publicMode not being set.  Should be fixed now.

Nathan

[2015-10-21 16:36] cmdcolin commented on #617
Looks fixed now

Good catch

[2015-10-21 16:38] nathandunn commented on #618
So, shiro is good, but it scratches the surface of what we are doing.

For each *user* we track the specific permissions for:
- [ ] global
- [ ] organism
- [ ] track (soon)

And of course, this is integrated with groups.

I agree, though, that it needs to be better / more concise.   If we can leverage shiro for this, that would be great, but I'm not holding my breath ;)   MInimally a code-review (

[2015-10-21 16:48] cmdcolin commented on #618
The problem that I see is our permission service has outgrown it's purpose, so it is not just checking permissions, it is also resolving the sequence IDs, organisms, updating userorganismpreferences, etc.

code review would be great.

I also think that it is pretty flexible, and even if shiro isn't the main platform we target, we should wrangle our permission system better.

[2015-10-21 16:49] nathandunn commented on #618
:+1:

[2015-10-21 17:03] nathandunn commented on #616
Getting this error . . which is a liquibase problem:

[code]

I'll fix it.

[2015-10-21 17:07] nathandunn commented on #616
Was something wrong with the build . . . Doing a dump of 2.0.0 database into 2.0.1 . . .

[2015-10-21 17:18] nathandunn opened #619 "icons not being cleaned up in RC2"
Not a showstopper . . but good to fix if an RC3.

![screen shot 2015-10-21 at 10 17 13 am](https://cloud.githubusercontent.com/assets/751274/10644325/fa70b472-77dc-11e5-94d2-1f84dd4d6048.png)

[2015-10-21 17:19] nathandunn opened #620 "password field missing"
![screen shot 2015-10-21 at 10 18 36 am](https://cloud.githubusercontent.com/assets/751274/10644360/239caffe-77dd-11e5-90fc-bf5056f2fa8c.png)

Admin should be able to change /edit a password

[2015-10-21 17:20] nathandunn commented on #620
I was logged in as the wrong user . . user's can edit their own passwords.

[2015-10-21 17:20] cmdcolin commented on #618
Also our problems with resolving the organism might be improved through better routing/urlmapping

For example, it would be much better if we were just able to navigate to /Apollo2/Amel_4.5/jbrowse or /Apollo2/Amel_4.5/annotator for accessing an organism, but currently, we have to have a complicated url with the organism ID

[2015-10-21 17:20] nathandunn commented on #620
admin's can still edit everyones

[2015-10-21 17:23] cmdcolin commented on #616
Can you elaborate?

I mean, I see the same issue if I try to directly upgrade a 2.0.0 instance to 2.0.1

[2015-10-21 17:24] cmdcolin commented on #616
Do you have to literally do a database dump? You cannot just point a 2.0.1 version to 2.0.0 database?

[2015-10-21 17:31] nathandunn commented on #616
It should work the same either way . . . most of the time liquibase will take care of things, but sometimes it doesn't.

Anyway, I tried it with the dump method and I got the exact same result, which is actually good.  Typically, I would do this with a quick SQL patch, but that doesn't really work for all of our user's obviously.

Anyway, I'll wade through this until I get the appropriate effect.

[2015-10-21 17:33] cmdcolin commented on #616
Ah ok. I guess we might need to resolve the migration from #586

[2015-10-21 17:34] nathandunn commented on #616
Yeah .. we'll just fix it here, though.

[2015-10-21 17:37] cmdcolin commented on #620
But the normal users don't even see the user panel so they are not able to edit their password?

We should just make a normal grails gsp page for this i think

[2015-10-21 17:39] nathandunn commented on #620
Good point.   You could also just put it in a dialog popup linked from the user-name since its already setup to do this and the user is already focused there.    When we review permissions, we can start thinking about moving things along.

Nathan

[2015-10-21 17:40] nathandunn commented on #618
I think that the organism separate / important issue.   Can you see if its not already an issue and if not, create one with the proposal?    Its true that Shiro path's might help with this, but would be good to see an entire proposal.

Thanks.

[2015-10-21 17:41] nathandunn commented on #620
Can you take a look at this?   I think that a dialog from MainPanel (turning the "username" at the top into a link) will fix this.

[2015-10-21 17:42] cmdcolin commented on #618
I added this comment here https://github.com/GMOD/Apollo/issues/441

This is because simply using routes to define what organism is used is more effective than trying to retrieve the current organism from sessions and user preferences.

[2015-10-21 17:48] cmdcolin commented on #620
Yep

[2015-10-21 19:07] nathandunn commented on #616
Putative Work-log based on this:  http://wpgreenway.com/posts/grails-db-migration-tutorial/ . . . **trying to simulate a user experience**:

- [ ] get 2.0.0 dump from icebox
- [ ] load into a new 2.0.0 database   (rename role in script, drop db, create db, create role from database, load sql)
- [ ] point to the new 2.0.0 database
- [ ] run server in dev mode (make sure it works)
- [ ] dbm-status t

[2015-10-21 19:09] nathandunn commented on #616
Its possible that there are SQL changes on the production database which are creating issues with this tracking system . . I'll try to re-enforce the constraints to re-check

[2015-10-21 19:17] nathandunn commented on #616
Also, you can generate the dbm-generate-gorm-changelog . . instead . . does not require a database.  This might be the more "correct" way to do it, since we can't say for sure what user's have done with their database (as in our case).

[2015-10-21 19:22] nathandunn commented on #616
Ran into some caching issues . . .turning it off temporarily to see if I can't get around it:

[code]

[2015-10-21 19:33] nathandunn commented on #616
Fix was to update the database migration plugin to 1.4.1 : https://jira.grails.org/browse/GPDATABASEMIGRATION-161

[2015-10-21 19:38] cmdcolin commented on #618
Also, as long as this is a discussion thread, we are not doing very good testing of the permission system, because each of these methods has a specially coded scenario for the Environment.TEST

[2015-10-21 20:24] cmdcolin commented on #619
Woops. Pushed a fix

[2015-10-21 20:24] nathandunn commented on #619
thanks!

[2015-10-21 20:59] nathandunn commented on #620
Are you working on this one now?  . . otherwise I'll take a stab at it.

[2015-10-21 21:16] cmdcolin commented on #620
Well what is the idea? Just a popup for changing password? Or external gsp?

[2015-10-21 21:18] nathandunn commented on #620
Just a popup for now . .  I can do it quickly while I’m working on migration stuff, but if you think you can do it quickly no worries.

Am on Skype if you need clarification.

Nathan

[2015-10-21 21:48] cmdcolin opened #621 "Delete organism is greyed out after creating new organism in RC2"
As title says, even if organism has 0 annotations, the delete organism button always greyed out

[2015-10-21 22:08] nathandunn commented on #621
Can you show me a screen shot?  I'm not seeing it.  Are you sure that your user is a full global admin?

[2015-10-21 22:10] cmdcolin commented on #621
Weird. It went away when I refreshed page.

I can't reproduce

[2015-10-21 22:12] cmdcolin commented on #621
Closed for now

[2015-10-21 22:13] cmdcolin commented on #621
Actually it happens if you create a new organism. You can't delete an organism you just created apparently

[2015-10-21 22:13] nathandunn commented on #621
alright . . I'll take a look . .. all of the migration stuff seems to be working . . so this and the password are all that is left for RC3

[2015-10-21 22:14] cmdcolin commented on #621
Ya. This is a minor issue. Just surprising.

[2015-10-21 22:14] cmdcolin commented on #616
Migration worked well for me

[2015-10-21 22:16] cmdcolin commented on #621
Updated title to reflect issue

[2015-10-22 00:14] nathandunn commented on #620
I just did a quick fix on this so I could tag it.  If you want to add more that is fine.    Its not much:

![screen shot 2015-10-21 at 5 14 23 pm](https://cloud.githubusercontent.com/assets/751274/10653729/358b3bd8-7817-11e5-9cf7-47e8545fb5bc.png)

[2015-10-22 00:18] nathandunn commented on #621
Test:  Create or delete an organism and observe that you can still edit it (or other organisms)

[2015-10-22 00:19] nathandunn commented on #620
Test:
A non-admin user (one that can't see the "User" panel) can edit their own password with this ridiculous looking modal I made.

[2015-10-22 00:19] nathandunn commented on #619
Test:
Only a single "Incorrect login" is ever created with a single icon.

[2015-10-22 00:21] cmdcolin commented on #620
I just did approximately the same  thing on a branch but this looks ok

[2015-10-22 00:22] nathandunn commented on #620
Should I look at your branch or should I just go with this?

[2015-10-22 00:26] cmdcolin commented on #620
it's really exactly the same except it uses regular gwt dialogbox instead of bootstrap box. I think yours is fine

[2015-10-22 00:27] nathandunn commented on #620
Then we are good . . thanks.

[2015-10-22 15:51] deepakunni3 commented on #616
If I create a fresh clean database and then try to deploy, I get migration failed with stacktrace:
[code]

[2015-10-22 15:57] nathandunn commented on #616
Shoot . . I didn’t try that . . . let me take a look.

Nathan

[2015-10-22 17:10] nathandunn opened #622 "make organism, groups, users tabs more consistent"
all three of these tabs should function / look the same.  Group panel is probably closest to what should be there, but we should talk briefly.   Important points:

1 - "add new" should be on the top"
2 - we should use a save button (which should be of type primary, and icon)
3 - ideally "new" things should come in with a popup
4 - details panel should be hidden if nothing selected
5 - they should

[2015-10-22 17:17] cmdcolin commented on #622
I don't know what you think about this, but I almost think we should just move the organism, groups, and users tabs to separate GSP pages outside the side panel. They are basically admin functions.

Then we can focus on annotator panel features with the annotator panel instead of admin functions.

[2015-10-22 17:20] nathandunn commented on #622
I think that is also a good though as well and should be pretty easy.   I think that it has the same issue WRT to consistency (which format makes sense).  But doing something like this with angularjs / bootstrap simplifies things immensely and reduces the amount of code.    We should definitely discuss it.

Nathan

[2015-10-22 17:34] cmdcolin commented on #616
Maybe use something like "precondition" to check if these columns exist perhaps https://fbflex.wordpress.com/2012/07/14/preconditions-with-the-database-migration-plugin-in-grails/

[2015-10-22 17:36] nathandunn commented on #616
That’s a good idea.   I’ll take a look.

Nathan

[2015-10-22 17:37] nathandunn commented on #616
note:

http://grails-plugins.github.io/grails-database-migration/docs/manual/guide/groovyPreconditions.html <http://grails-plugins.github.io/grails-database-migration/docs/manual/guide/groovyPreconditions.html>

[2015-10-22 17:38] nathandunn commented on #616
http://www.liquibase.org/documentation/preconditions.html <http://www.liquibase.org/documentation/preconditions.html>

[2015-10-22 18:28] cmdcolin commented on #616
This might still have problems i.e. #623 didn't fix it

[2015-10-22 18:31] nathandunn commented on #616
Yeah, I think it just doesn’t run it.   Getting the same error.

Nathan

[2015-10-22 18:32] cmdcolin commented on #616
I think checkColumn needs to specify the schemaName according to liquibase docs

Assume schemaName "public" ?

[2015-10-22 18:33] nathandunn commented on #616
Ahh . .  okay I’ll try that . . tagging is fun ;)

[2015-10-22 19:12] nathandunn commented on #616
Looks like you forgot to check the table as well, but otherwise worked (so it was checking the column on the table that wasn’t there (not sure why it wouldn’t assume that failing to find the table was also a failure).

Just as an FYI for @deepakuni as well . . . I think it stores the applied change sets in the database itself, so if it fails for some reason during development, but may apply the ch

[2015-10-26 17:28] selewis opened #624 "Generic list/set operations (and display) of entities with genomic coordinates"
Lists - we need a generic component for handling lists of entities that have genomic coordinates. Examples of an 'entity' include a blast/blat alignment, but may also be a gene, or transcripts, or any feature, or a SNP, or a repeat unit, or just a coordinate pair, strand, and reference that the user has provided.

@nathandunn note:  Some of this is redundant / finished in #525 .
- [x] A bookmark c

[2015-10-26 17:52] nathandunn commented on #624
@selewis I'm kind of interpreting these as an enhancement to the concept of "track" (or where I'd like to see tracks go) and overlaps bookmark (a set of genomic locations) a bit.   Exceptions to this are:
1 - "lists" (we need a better name) can be stored much like a bookmark can (planned)
2 - a generated "list" can be persisted (see 1)
3 - **a "list" is both a set of locations and a set of tracks*

[2015-10-26 18:33] cmdcolin opened #625 "The username won't display in Apollo sometimes"
On a "fresh" install of 2.0.1, you get the username nicely displayed in the button area

![t1](https://cloud.githubusercontent.com/assets/6511937/10738573/087bf01a-7be6-11e5-8704-ee202cdba49f.png)

In a version upgraded from 2.0.0, the username will not be displayed

![t2](https://cloud.githubusercontent.com/assets/6511937/10738577/0be480e6-7be6-11e5-8dbf-26712a14cfc3.png)

Might be indicative of

[2015-10-26 18:35] nathandunn commented on #625
I've seen that as well . . not sure what causes it, but it is still functional, so I don't think its a showstopper.  You could try trashing the cache, logging out and logging in and see where you get.

[2015-10-26 19:07] nathandunn commented on #624
There is some redundancy with #525 but some good additional data.

[2015-10-26 19:08] nathandunn commented on #624
Renaming "list" to what I'm calling "Bookmark" on the interface and back-end, which is just a region with an annotated indication of "projection" or "folding" (e.g., padding, reverse compliment, transcript or exon etc.).

[2015-10-26 20:45] monicacecilia opened #626 "Logging in from 'Public Genomes' does not allow user to return to Annotator Panel"
If I use the new option to 'Browse Public Genomes' in the 'Login' window,
![screen shot 2015-10-26 at 1 40 22 pm](https://cloud.githubusercontent.com/assets/1714621/10741913/782d3d82-7be7-11e5-941e-fc1af44a724b.png)

and then I choose to 'Login', I am not able to see the 'Annotator Panel' view, unless I go back to the previous window and refresh the 'Login' page.

Solution:
- [ ] Create menu optio

[2015-10-26 21:25] nathandunn commented on #626
I will add something.  If you switch organisms on the upper left hand side it will add it back.  I'll put something in the view menu to do the same.

Nathan

[2015-10-26 22:10] monicacecilia commented on #73
This is not ready yet. The resulting behavior is still not completely following the biology. A few things still need to be corrected:

- [ ] When two splice forms (isoforms) of the same gene overlap on their coding sequence (CDS) - even if the overlap is just a few amino acids-, they should have the same parent gene. This should always be true.

I just discovered that when you have two splice form

[2015-10-26 22:17] monicacecilia opened #627 "Automatic 'Enter New Tag' and 'email' on 'Attributes' fields."
These automatically generated Tags appear while working a gene model:

![screen shot 2015-10-26 at 3 13 07 pm](https://cloud.githubusercontent.com/assets/1714621/10744030/45dc09be-7bf4-11e5-807a-c9f2d787e77d.png)

After trying to erase them Apollo renamed them to _undefined_. In both cases, the value is the username.

This happened while testing the GOLR and PMID features.

[2015-10-26 22:19] nathandunn commented on #627
from @monicacecilia  : It happened while adding PMID and GO

[2015-10-26 22:19] monicacecilia commented on #148
I confirm that GOLR lookup is working as expected.
However, see what happens when adding new GO terms at #627

[2015-10-26 22:21] monicacecilia commented on #433
Will close this one when we close #626 to make sure going back to seeing the _Annotator Panel_ is ready.

[2015-10-26 22:24] erasche commented on #203
We've moved to WA2.0 completely (and were the only ones who used/needed REMOTE_USER so closing this ancient bug.)

[2015-10-26 22:24] #203 closed

[2015-10-26 22:27] monicacecilia commented on #498
I think this will be solved when #73 is solved. Let's leave them linked and close at the same time --- I think that @nathandunn encountered similar issues to the ones I noted on 2015-10-26

[2015-10-26 22:27] nathandunn commented on #203
:+1:

[2015-10-26 22:27] monicacecilia commented on #498
I'm assigning @deepakunni3 since this is linked to #73, which is assigned to him.

[2015-10-26 22:30] monicacecilia commented on #579
More "Attributes" are now visible, but user is unable to "Delete" any of them. Also, odd behaviour on the "Attributes" fields is described at #627

[2015-10-26 22:35] nathandunn commented on #627
@monicacecilia   I couldn't reproduce this locally or on staging.  Maybe getting into a weird error state?

[2015-10-26 22:41] erasche commented on #325
Closed for same rationale as #203, moved to WA2.0

[2015-10-26 22:41] #325 closed

[2015-10-26 23:01] monicacecilia commented on #621
:+1: Created and deleted organisms, behaviour as expected. First dancer of the day! :dancer:

[2015-10-26 23:01] #621 closed

[2015-10-26 23:09] monicacecilia commented on #592
@nathandunn  I cannot delete current users that someone else created:
![screen shot 2015-10-26 at 4 03 00 pm](https://cloud.githubusercontent.com/assets/1714621/10745000/5040a188-7bfb-11e5-84d9-ed3db0bb5abf.png)

But I am able to create new users and delete users I created.

[2015-10-26 23:10] nathandunn opened #628 "Merge and split fails to reproduce the correct results"
On group 1.10 if I add GB40770-RA-00001 and GB40769-RA-00001 (twice) and then I merge one of the 770 isofrorms and 769 isoforms it works . . and then when I split it it fails.   To be fair, I think this wasn't working at all in previous versions:

![screen shot 2015-10-26 at 4 09 31 pm](https://cloud.githubusercontent.com/assets/751274/10745103/01f485b6-7bfc-11e5-92ae-262cad7bda1a.png)

[2015-10-26 23:11] monicacecilia commented on #571
:dancer:

[2015-10-26 23:11] #571 closed

[2015-10-26 23:11] monicacecilia commented on #612
Oh, this will be very useful! :+1:

[2015-10-26 23:12] nathandunn commented on #628
When I delete it looks like not all of the sub-features are properly being removed.:

![screen shot 2015-10-26 at 4 11 50 pm](https://cloud.githubusercontent.com/assets/751274/10745132/4d4d0178-7bfc-11e5-8764-8def91a51f7b.png)

[2015-10-26 23:20] monicacecilia commented on #597
It works as expected. :dancer:
@nathandunn and if available, it will show a hierarchical display of the data, correct?

@nathandunn, for Milestone 2.0.2:
- will this "Tick" box also be the way users access the faceted browsing style?
- My suggestions on the matter are in #536

[2015-10-26 23:20] #597 closed

[2015-10-26 23:23] monicacecilia commented on #203
:+1: