[2016-05-03 18:17] cmdcolin commented on #1017
yep. I would first rm -rf web-app/jbrowse and then do another apollo run-local
hope that helps!

[2016-05-04 06:47] sbmimi commented on #1017
@cmdcolin I tried to remove web-app/jbrowse then re-run and I am getting the same error. How can I change the permissions of the watchman?

Also, I am using 2.0.2 now and this is the error I'm getting when running ./apollo run-local:

ResNet-30-241:Apollo-2.0.2 mimiyxu$ ./apollo run-local
Buildfile: /Users/mimiyxu/Downloads/Apollo-2.0.2/build.xml

copy.apollo.plugin.webapp:
     [echo] Copying Web

[2016-05-04 13:45] nathandunn commented on #1017
If you type “java -version” or “javac -version”

what do you see?

Also, what system are you on?

You should be able to compile using java 1.8 (the default).

Nathan

[2016-05-04 20:15] sbmimi commented on #1017
@nathandunn
java version "1.6.0_65"
Java(TM) SE Runtime Environment (build 1.6.0_65-b14-468-11M4833)
Java HotSpot(TM) 64-Bit Server VM (build 20.65-b04-468, mixed mode)

I am on a MacBook Pro OS X Yosemite

[2016-05-04 20:20] cmdcolin commented on #1017
It will need at least java 1.7 (also known as just java 7) to compile right http://webapollo.readthedocs.io/en/latest/Prerequisites.html

You can try getting java 7 or java 8 from oracle or similar! You could try installing it from oracle and then running java -version again to see if it upgraded correctly

[2016-05-04 20:22] nathandunn commented on #1017
Ahh . . yeah, you’ll want to install Java 7 or Java 8.

You can use home-brew (OpenJDK is okay) or install the JDK (which will install the JRE as well) directly from Oracle.

http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html <http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html>

 Once installed you may need to set the JAVA_HOME vari

[2016-05-04 21:38] erasche commented on #1016
Making progress here

https://github.com/erasche/docker-recipes/tree/master/galaxy-apollo

what's left:

- need to get jbrowse tools to show up
- need to point apollo tools at apollo instance
- need to set up a proxy in front which allows access to both galaxy + apollo over same URL. This will be required so iframes / etc will work properly.

[2016-05-04 21:46] nathandunn commented on #518
https://github.com/ga4gh/schemas/tree/protobuf/src/main/proto/ga4gh

An initial implementation:

http://1kgenomes.ga4gh.org

[2016-05-04 22:15] nathandunn commented on #1016
Thanks.   I was planning on diving deeply into this tomorrow.  Is there a place you would recommend me starting that would be the most helpful?    My end-goals are:

1 - have a galaxy server with Apollo running in it that allows for some means of getting data in and out of Apollo (and expand web-services to potentially facilitate this)
2 - provide easy documentation to do this for those running ga

[2016-05-04 22:41] cmdcolin commented on #518
I was just poking around and made a GA4GH data viewer as a proof of concept pretty quick. Here is a little demo for both the myvariant viewer and a GA4GH track.

Test browser here http://cmdcolin.github.io/jbrowse/?loc=chr1%3A120471622..120472035&tracks=MyVariant.info%20clinvar%2CGA4GH%201kg%2CMyGene.info&highlight=

The GA4GH variants have really long ID names so it's just printing those out as i

[2016-05-04 22:49] erasche commented on #1016
I'm definitely on board with all of these end goals. We have grant funding which somewhat covers this topic (packaging up an Apollo + Galaxy + Chado environment as a deployable docker unit that's easily installable/available. It's a high priority for us.)

This is half-way there as-is.

This summer I'm going to work on adding OAuth to Apollo and Galaxy which is the main thing preventing deeper int

[2016-05-04 23:21] nathandunn commented on #1016
Nice to have? This is requirement ;)

I just want to add some doc for this.  Could be something very simple like: "(1) install docker (link)", (2) "docker start erasch/webapollo2" (3) connect at <host>:8080/apollo  .  etc.  I can take care of that though.

WRT to the organism management, @childers  team at the NAL is doing something similar I believe using the API.   I'll try to comment on the ind

[2016-05-04 23:23] erasche commented on #1016
@nathandunn great to hear!

[2016-05-05 01:38] nathandunn commented on #1016
Adding / updating organisms is here:

You can use the UrlMapper to remap existing URL's: https://github.com/GMOD/Apollo/blob/master/grails-app/conf/UrlMappings.groovy

http://icebox.lbl.gov/Apollo2/jbrowse/web_services/api

[code]

[Support here]: (https://github.com/GMOD/Apollo/blob/master/grails-app/controllers/org/bbop/apollo/OrganismController.groovy#L129
)

[code]
I would problem do this in t

[2016-05-05 01:49] nathandunn commented on #1016
@erasche  (see note above if you didn't get it)

Let me know how else you might want to do this.  We have a great deal of flexibility with how we handle this.

Some of the other stuff I would be happy to stub out for you to get you going, so let me know when you're ready to start it.

[2016-05-05 14:03] wieckr commented on #115
Well, if you were waiting for someone to chime in to request ldap auth, VectorBase would love it.

[2016-05-05 14:13] childers commented on #115
We've been discussing this with @nathandunn for a while now too. I would like to put a vote in for a solution that supports [CAS](https://en.wikipedia.org/wiki/Central_Authentication_Service), or the CAS protocols.

[2016-05-05 14:39] nathandunn commented on #115
@childers

Looks like CAS is provided as well: http://grails.org/plugin/spring-security-cas

[2016-05-05 14:44] nathandunn commented on #115
@wieckr  / @childers   I think that this will be a major focus of 2.0.4 as it also supports #978 as well.   We have to switch our security system over and then we can use those plugins directly.

[2016-05-05 15:04] jbhangoo opened #1020 "No bin/prepare_refseqs.pl found"
The instructions say:

But after running apollo run-local there is no bin directory created. No setup.log file was created. The troubleshooting guide does not cover this topic. So I am posting this problem to GitHub as suggested in the guide. Thank you!

[2016-05-05 15:17] childers commented on #115
Yeah, CAS is one of the more widely used protocols, and a lot of frameworks support it. I hope it won't be too difficult to wire it into Apollo.

[2016-05-05 15:22] nathandunn commented on #1020
Thanks for reporting.

Are you running a particular version or cloning from the repository directly?

Nathan

[2016-05-05 15:24] jbhangoo commented on #1020
Changelog says version 2.0.2

[2016-05-05 15:40] nathandunn commented on #1020
@jbhangoo  Looks like only "./install_jbrowse.sh" script installs it to the local jbrowse directory.

[2016-05-05 15:41] nathandunn commented on #115
It shouldn’t be too difficult once we move the security framework back.

Nathan

[2016-05-05 15:42] nathandunn commented on #1020
JBrowse is installed just not into the local "./bin" directory, but we can fix that.

[2016-05-05 15:59] cmdcolin commented on #1020
I think this is only on master. Doesn't affect 2.0.2. I would suggest getting 2.0.2 with "git checkout 2.0.2", or actually probably just re-clone the git repo and checkout 2.0.2 manually it as it might get confused by the partially installed "state".

Also, kind of random but I personally like installing the jbrowse scripts this way: http://gmod.org/wiki/JBrowse_FAQ#Can_I_install_the_perl_packages

[2016-05-05 16:35] erasche commented on #115
Just 2¢ from me.

REMOTE_USER is essentially *always* easier to implement than specific auth frameworks if you don't need any of the features (e.g. group management/syncing from LDAP) and can live with the issue that HTTP auth doesn't support logout without ugly hacks. This is what galaxy used for years as the primary way to do LDAP, CAS support for varying site deployments. Galaxy only recently a

[2016-05-05 16:40] jbhangoo commented on #1020
I tried this:

`
./apollo run-local
./install_jbrowse.sh
`

But it failed to install Perl prerequisities, saying

`bin/cpanm: No such file or directory`

No bin directory was created. I also tried that link to install jbrowse using cpnam, but got a similar error of

`bash:cpanm: command not found`

I searched for an install package that provides cpanm, but found none.

[2016-05-05 16:45] nathandunn commented on #1020
Well, that explains stuff as well.  CPANM (like CPAN) is a perl installer.

If you are using a mac I would suggest using hombrew.  If you have apt-get or yum I would use those.  Failing that they provide instructions here:

http://search.cpan.org/~miyagawa/App-cpanminus-1.7040/lib/App/cpanminus.pm <http://search.cpan.org/~miyagawa/App-cpanminus-1.7040/lib/App/cpanminus.pm>

Nathan

[2016-05-05 17:03] jbhangoo commented on #1020
yum did not have a repository for cpanm. The instructions on the link didn't work until I changed https to http

After installing cpanm, install_jbrowse now gives a different error:

`chmod: cannot access `web-app/jbrowse/bin/cpanm': No such file or directory
`

[2016-05-05 18:15] nathandunn commented on #1020
It probably didn't install correctly prior.   Try this:

Try:

```./apollo clean-all```  (removed old installs)
```./apollo run-local```
```./install_jbrowse.sh```

I'm fixing it so that the extra install_jbrowse.sh is not in there, but in the interim this should work.

[2016-05-05 18:36] jbhangoo commented on #1020
This gives the same error as before.

I also deleted the whole install, and wiped the databse. Then got the V2.0.2 archive and unzipped it again/ Then I followed this process again, but got to the same error.

[2016-05-05 18:37] nathandunn commented on #1020
2 questions:

1. what does your ```setup.log``` file say?
1. what happens when you type ```cpanm```?

Thanks.

[2016-05-05 18:42] jbhangoo commented on #1020
1.
[code]

2..

[code]

[2016-05-05 18:50] nathandunn commented on #1020
Sorry this is such a pain.   Some more to try:

1. does ```web-app/jbrowse``` exist?
2. does ```web-app/jbrowse/bin``` exist?
3. does ```jbrowse-download``` exist?
4. does ```jbrowse-download/bin``` exist?
5. does ```jbrowse-download/bin/cpanm``` exist?
6. does ```jbrowse-download/setup.log``` exist?

If the answer to 6 is yes, what is in that file?

If the answer to 5 is yes, what happens when yo

[2016-05-05 19:06] nathandunn commented on #115
@erasche  You make a compelling argument. I moved that code to a [1.0 branch for reference](https://github.com/GMOD/Apollo/blob/1.0/src/main/java/org/bbop/apollo/web/user/remoteuser/RemoteUserAuthentication.java
).

Not too bad to write this code!   Is the idea behind this that you put Apollo behind Apache or NginX to and have them be responsible for the authentication with the upstream server and

[2016-05-05 19:07] erasche commented on #115
@nathandunn yep, precisely. Upstream proxies like apache and nginx have wide support for dozens of auth methods and we have some assurance they're safely/correctly implemented. I just like passing responsibility for security to other projects. :)

[2016-05-05 19:17] jbhangoo commented on #1020
[code]

ant clean-all then ant run-local:

[code]

[2016-05-05 19:30] wieckr commented on #115
Using REMOTE_USER through apache rewrite rules would be fine for my purposes.  Ideally there would be some method of logging out, however I would take any centralized auth method over our currently segregated account management.

[2016-05-05 19:37] nathandunn commented on #1020
. . . sorry I meant:

```apollo clean-all```

```apollo run-local```

JBrowse doesn't seem to be installing itself correctly.   We've fixed some of this in 2.0.3 (which we are currently working on).

[2016-05-05 19:54] jbhangoo commented on #1020
`
Buildfile: build.xml

copy.apollo.plugin.webapp:

setup-jbrowse:

git.clone:
     [exec] Result: 129

copy.apollo.plugin.jbrowse:
     [echo] copying plugin to jbrowse git ...
     [copy] Copying 190 files to /usr/local/src/Apollo-2.0.2/jbrowse-download/plugins/WebApollo
     [echo] Will be setting up jbrowse
     [copy] Copying 190 files to /usr/local/src/Apollo-2.0.2/web-app/jbrowse

install.j

[2016-05-05 20:14] nathandunn commented on #1020
I think you might have a version of git that is too old.

This is the command that is failing  (apologize for it doing it silently).

git clone --recursive -b 1.11.6-release --single-branch https://github.com/GMOD/jbrowse jbrowse-download

Apollo-2.0.2% git --version
git version 2.6.4 (Apple Git-63)

I tried this with git 1.7.9 and it does not work as the “--single-branch” option is not supported

[2016-05-05 21:34] jbhangoo commented on #1020
Oh, I think I see it now:

`[exec] Result: 129
`
That is probably an error report.

I copied the latest version of Git from github.com and replaced the current one. Now, it gives a different problem. apollo run-local tries to access a file but fails:

`jbrowse-download/tests/data/SL2.40_all_rna_seq.v1.bigwig
`

That file appears to exist, but it is actually a bad symlink to someonbe's external dir

[2016-05-05 21:40] nathandunn commented on #1020
What is the output from ```./apollo run-local```?

Also, did you install the updated git locally or globally?  I think that it will use the system git by default.

[2016-05-05 21:43] jbhangoo commented on #1020
Here is the end of the output of apollo run-local:

[code]

I installed the new Git system-wide, replacing the previous version completely.

[2016-05-05 21:55] nathandunn commented on #1020
I see.  Did you confirm the version of git it was running (```git --version```)?

Would also be helpful to get the full stack-trace from the top.

This is mine:

[code]

Granted I was already running Apollo, but otherwise it would say "listening on port 8080" or something like that.

[2016-05-05 21:59] jbhangoo commented on #1020
[code]

[code]

[2016-05-05 22:09] nathandunn commented on #1020
It looks like its not actually cloning.  Let's try this, so we get the full output:

```rm -rf jbrowse-download```
```rm -rf web-app/jbrowse```
```git clone --recursive -b 1.11.6-release --single-branch https://github.com/GMOD/jbrowse jbrowse-download```

Let me know what this does.  This is essentially what ant is doing, but its not telling us why its not cloning properly.

[2016-05-05 22:09] cmdcolin commented on #1020
Those bad symlinks were removed in more recent versions of JBrowse due to the fact that they are bad symlinks indeed. Currently Apollo 2.0.2 is pinned to JBrowse 1.11.6 though, so I guess that's why you see this. Still it is odd, since our deployments with 2.0.2 have worked thus far. I might suspect specific perhaps the "ant" version being used could cause you to specifically hit this error (I mig

[2016-05-05 22:17] jbhangoo commented on #1020
[code]

I manually removed the symlink, but got the same error. Maybe it regenerates the link.

Clone test results:

[code]

[2016-05-05 22:39] nathandunn commented on #1020
I **think** that this is a firewall problem, and its not letting git pull the submodules with the same command.

Here are two things to try:

(1)
With the current code base remove the "--recursive" part and fetch them with a separate command:

[code]

(2)
If that doesn't work.
clone the master branch where I've fixed some of this stuff and try ```./apollo run-local```

This is the master branch, w

[2016-05-05 22:40] cmdcolin commented on #1020
We have a pre-requisite for ant 1.8 listed here

http://webapollo.readthedocs.io/en/2.0.2/Prerequisites.html

Also, as @nathandunn says above, you are running into blocking the use of the git:// protocol

In general, the git:// protocol issue is another problem that will be fixed after we synchronize with jbrowse 1.12.2, only affects older versions currently

[2016-05-05 23:19] jbhangoo commented on #1020
I upgraded ant to V1.9.7, but test (1) didn't work with the same result as before

So I tried (2) and clone the master branch. Reading the git documents seemed like this was the way:

[code]

Then ./apollo run-local gave this result which looks very different than before:
[code]

[2016-05-06 00:50] nathandunn commented on #1020
Let's try this:

[code]

and run ```bower install``` again.   If that seems to work, you should be able to run the run-local target again without any problems.

From here:  http://stackoverflow.com/a/15684898

[2016-05-06 14:12] jbhangoo commented on #1020
bower was not found on my system. So I installed that and got

`bower ENOENT        No bower.json present
`

So, I went back to V 2.0.2 and it works after entering that `git config` command -- that is very useful!

The apollo run-local ran without any errors or non-zero return codes. I now have the bin directory and all the contents. So, I am not sure why the master checkout didn't work, but V 2.0

[2016-05-06 14:58] cmdcolin commented on #1020
The add-webapollo-plugin command is not needed in Apollo2 versions :)

http://webapollo.readthedocs.io/en/2.0.2/Configure.html#upgrading-existing-instances

If you're able to navigate to http://localhost:8080/apollo (or 8085 if you use "apollo run-local 8085" for example) then you should be done!

[2016-05-06 15:25] jbhangoo commented on #1020
I ran the two scripts "prepare_refseqs" and "flatfile_to_json" on the .fas and .gff files in the pyu_data sample [respectively] but no tracks appear when I go to localhost:8085/apollo and log in. There are no errors in the browser console.

[2016-05-06 15:26] nathandunn commented on #1020
Did you add an organism and point the directory to where you added the files?

Nathan

[2016-05-06 15:33] nathandunn commented on #541
should also make a note that as part of #967 we could query for updated features using the history, but non-genomic edits are not recorded.

[2016-05-06 15:37] jbhangoo commented on #1020
I was actually just copying and pasting the directions online.

On the webpage itself, there is an Organism tab, but when I try to create a new organism I get an error: Not authorized

I am logged in as the admin user. I checked the permission on the path to the data folder and I have read and execute permissions. I also changed the permission on the data folder itself to give write permission.

[2016-05-06 15:40] jbhangoo commented on #1020
UPdate: I just re-logged in as admin, and that fixed it!

[2016-05-06 15:53] nathandunn commented on #1020
Excellent.  I’ll add that note about the git config as that seems to be a pretty reliable workaround.

Nathan

[2016-05-06 16:11] #1020 closed

[2016-05-06 16:13] jbhangoo commented on #1020
I would suggest adding information about cpanm too

[2016-05-06 16:23] nathandunn commented on #1020
I added it.   Thanks.

Nathan

[2016-05-06 18:54] nathandunn commented on #1016
@erasche   A couple of notes.

One one of my machines I am getting this error:

```WARNING: The DB_1_PORT_5432_TCP_ADDR variable is not set. Defaulting to a blank string.```

any ideas on why its not set, or any way to explicitly set (or set a sane default)?

Also, it looks like the galaxy-apollo is trying to install jbrowse, which is fine.  If you're doing it for Apollo, its un-necessary, though

[2016-05-06 18:58] erasche commented on #1016
@nathandunn it's due to https://github.com/erasche/docker-recipes/blob/master/galaxy-apollo/docker-compose.yml#L19

This is a problem between different versions of docker-compose. What version are you on? I'm on 1.6.2, but it's been a few days since I've booted the image so naturally I've forgotten if I was seeing that error message or not.

Originally you could just stick env variables in docker-

[2016-05-06 19:22] nathandunn commented on #1016
@erasche   I'm glad I asked.  I have one machine with docker-compose 1.7 installed that does NOT work (the error above) and one with 1.4 which works great.

Looks like I had an alternate version installed.    I'm trying to figure out what mixture of versions might work best and if  I should remove all of the homebrew stuff or use Docker Toolbox directly .

If it continues to be a problem, I think

[2016-05-06 19:26] erasche commented on #1016
Ok, I'll see if I can figure out the fix for later versions of docker-compose.

`DB_1_PORT_5432_TCP_ADDR` cannot be set to localhost, unfortunately. The value of that environment variable is populated at boot by the docker-compose command, providing the container with an IP address at which the `DB` container is reachable. This will change between launches of the `docker-compose.yml` file, and if

[2016-05-06 19:38] nathandunn commented on #1016
Yeah, I upgraded to 1.7 on the other machine using the default docker toolbox and it now consistently errors out.

That being said, there is a python and a rails example:

https://docs.docker.com/compose/rails/ <https://docs.docker.com/compose/rails/>
https://docs.docker.com/compose/django/ <https://docs.docker.com/compose/django/>

In both cases they set host to ‘db'.  Which, seems to be connecti

[2016-05-06 19:40] erasche commented on #1016
**Oh Wow**.

That's really awesome, I had not seen that. They've finally fixed this issue. Ok, I'll update my scripts for the new docker-compose.yml soon.

[2016-05-06 19:54] nathandunn commented on #1016
I am not entirely sure if it works all the way, but it seems to be connecting to the database.  Still not able to view externally, but that could be due to something else.

Nathan

[2016-05-09 17:34] nathandunn commented on #1016
Everything else works, but the JBrowse doesn't seem to be built properly (src/dojo/dojo.js is not included) in the webapollo2 image I ran with ```docker run erasche/webapollo2:cpt```.

[2016-05-09 17:40] nathandunn commented on #1016
I just need to make a few changes to the Dockerfile and rebuild.

[2016-05-10 21:07] monicacecilia commented on #728
@nathandunn is working on improving this with the new coordinates transformation code.

[2016-05-10 21:08] nathandunn commented on #728
this drop-down will go away with the projection code in favor of the sequence panel

[2016-05-10 21:10] monicacecilia commented on #685
Redundant with #524, #583, #893

[2016-05-10 21:10] #685 closed

[2016-05-10 21:12] monicacecilia commented on #645
@deepakunni3 would you mind please looking into this to see if it is still showing up in the current version? We'll go from there. :) Thanks!

[2016-05-10 21:17] monicacecilia commented on #524
Related to #583, #893.

[2016-05-10 21:41] monicacecilia commented on #110
Reviewed changes in GMOD/jbrowse#485 and they do not help in solving this.

@enuggetry if you feel like taking a look at this for JBrowse, I think it would be very useful.
This functionality would allow users to change the directionality of one read (one element) in an evidence track. This is useful, for example, when you want to use a read from an RNA-seq track as point of reference for modifying

[2016-05-10 21:41] #110 closed

[2016-05-11 14:22] deepakunni3 opened #1027 "clientToken not found for operation get_gff3 and get_sequence"
While trying to get the GFF3 or the sequence of an annotation the server throws the following error:

[code]

This would be related to the recent introduction of clientToken for supporting multiple concurrent organisms (#441).

[2016-05-11 14:27] deepakunni3 opened #1028 "PubMed and Gene Ontology lookup doesn't work"
In the Annotation Information Editor, PubMed and Gene Ontology lookup yields no result.

When adding a PubMed ID the console throws:
[code]

When adding a GO term the console throws:
[code]

[2016-05-11 14:42] nathandunn commented on #1027
Do you have a chance to look at it?   There is a ton of code in RequestHandlerService that handles the clientToken, so it should be a pretty easy fix.

[2016-05-11 14:43] nathandunn commented on #1028
Thanks for reporting @deepakunni3  I think that the URL Mapping is off.  I'll take a look and issue you a PR to review.

[2016-05-11 16:04] deepakunni3 commented on #1027
Sure, I can get this done quickly.

[2016-05-11 16:26] nathandunn opened #1030 "create a docker image for 2.0.3 when released"
- [x] switch version to 2.0.3 hash key
- [x] add tag for stable, latest, and 2.0.3

Related to #1016

[2016-05-11 17:26] #1028 closed

[2016-05-11 17:28] nathandunn commented on #967
To test: try doing a chado export in the sequence panel.

[2016-05-11 17:32] nathandunn commented on #1027
Alright.  Let me know if you need a hand with this.

The fixes to URLMapping in #1029  *may* have already fixed this, but am unsure.

[2016-05-11 18:26] adnguyen999 opened #1031 "Displaying BAM file in stand-alone JBrowse vs. Web Apollo"
Hi,

After uploading a BAM file in stand-alone JBrowse, I was able to see tooltips / labels of alignment features when the mouse hovers over them, e.g. a tooltip showing the query name found in the first column of a .sam file. However, I could not see this feature in JBrowse when accessing via Web Apollo.

Thank you.
Anh-Dao

[2016-05-11 19:03] nathandunn commented on #1027
@deepakunni3   If you pull the upstream master, I was able to fix the "get_sequence" one by calling the handleInput method (sorry, though I'd done that everywhere):

[code]

[2016-05-11 19:24] monicacecilia commented on #1027
good catch!

[2016-05-11 20:39] nathandunn commented on #1016
FYI @enuggetry  @erasche @jnguyenx    Looks like the older version of docker-compose doesn't support volumes?  Though somehow we mapped the /data file internally.   Not sure.

https://docs.docker.com/compose/compose-file/

To upgrade:
https://docs.docker.com/compose/compose-file/#versioning

https://docs.docker.com/compose/compose-file/#upgrading

[2016-05-11 21:26] nathandunn commented on #1016
Turns out that this is badly supported on the mac:  http://stackoverflow.com/questions/23439126/how-to-mount-host-directory-in-docker-container

For now I'll just punt and use the absolute directory.

[2016-05-11 21:26] nathandunn commented on #1016
I mean use the relative directory

[2016-05-11 22:10] nathandunn commented on #1031
@adnguyen999   Apollo rewrites the JBrowse tracks when it gets added to Apollo, so that is to be expected.   However, I agree that we should still allow viewing of tooltips and labels of the alignments.

[2016-05-12 01:18] sbmimi commented on #1017
Hey!

So I set the JAVA_HOME variable and I was able to run the ./apollo run-local command. Doing so would prompt a whole bunch of text and finally end with BUILD SUCCESSFUL. However, after this, it starts trying to access grails. In the quickstart guide, there was an instruction to set the grails version to 2.4.5, however, the program complains:

"Application expects grails version [2.5.4], but G

[2016-05-12 03:50] nathandunn commented on #1017
If you are pulling from master, you need the grails version 2.5.4 or just remove it and it will download the correct version.

If you are using sdkman you do:

sdk install grails 2.5.4

or just remove grails and it will automatically download the correct version.

Nathan

[2016-05-12 10:15] MichelMoser opened #1032 "new url of the docs"
Dear Apollo Team,

You recently changed position of your docs from:

http://webapollo.readthedocs.io/

to

http://genomearchitect.readthedocs.io/en/latest/

Could you change or redirect relevant links to the url?

Thank you,
michel

[2016-05-12 11:18] monicacecilia commented on #1032
Dear Michael,

Thanks for your message. We are working on it.

As we announced to the list yesterday, we are in the process of upgrading a few aspects of our website, and with this, also portions of our documentation. As we mentioned in the message, things may be intermittently unavailable until we finalize our updates.

Unfortunately there was little time to give notice about the updates, as we a

[2016-05-12 11:39] monicacecilia commented on #1032
All but one instances of http://webapollo.readthedocs.io/ had been updated. Thanks for catching that. Let us know if you encounter any other hiccups. :bowtie:

[2016-05-12 11:39] #1032 closed

[2016-05-12 14:35] nathandunn commented on #1032
Thanks.  So weird.  I could have sworn I did this already.

[2016-05-12 16:09] nathandunn commented on #1017
Though, I would use 2.0.2 (currently running Grails 2.4.5).

https://github.com/GMOD/Apollo/releases/tag/2.0.2 <https://github.com/GMOD/Apollo/releases/tag/2.0.2>

Nathan

[2016-05-12 16:57] nathandunn commented on #1015
Related to discussion to PR at #937 as well.

[2016-05-12 17:03] nathandunn commented on #1015
What we want is more along the lines of #912.

[2016-05-13 16:42] adnguyen999 commented on #1031
Hi,

Do you have any documentation explaining the coloring scheme for BAM features (e.g. red, green, gray colors seen in the attached screenshot )?

Thanks
Anh-Dao

From: Nathan Dunn <notifications@github.com<mailto:notifications@github.com>>
Reply-To: GMOD/Apollo <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 11, 2016 6:10 PM
To: GMOD/Apollo <Apollo@noreply.github.co

[2016-05-13 17:15] nathandunn commented on #1031
@adnguyen999   I don't think the screenshots got attached.    You should be able to add them to the code directly on the github issue: https://github.com/GMOD/Apollo/issues/1031

[2016-05-13 17:18] adnguyen999 commented on #1031
Thanks Nathan.

![bam_feature](https://cloud.githubusercontent.com/assets/16709226/15255973/14e9439c-190d-11e6-95e6-915ac81c5d46.png)

[2016-05-13 17:38] childers commented on #733
Hi Dan,
Apologies for the extremely late response.  This got lost in my Drafts, and
I just found it.

I agree with you that finding the common core that most or all of us share
would be a great step towards the goal of not having to hack code or make
custom tracks as a matter of course.

In terms of the GC track, it can be useful for spotting scaffolds that
don't belong in the assembly.  We've had

[2016-05-13 18:16] monicacecilia commented on #1031
Hi Anh-Dao, :smile:
Mismatches and deletions relative to the reference genome are shown in red and insertions are shown in green.

I haven't come across those gray sticks before. Do you have a public browser example where I can see them?

[2016-05-13 18:26] adnguyen999 commented on #1031
Hi Monica,

Sorry, we don't have a public browser. Can you see the gray bars in the screenshot above?

[2016-05-13 18:39] #1027 closed

[2016-05-13 18:57] nathandunn commented on #1027
To test do: "get_sequence" and "get_gff3" on a sequence.   . . Also do this at the track level for the annotation track.

[2016-05-13 18:59] nathandunn opened #1034 "Apply for JOSS.org citation"
- [x] get a DOI (and DOI’s for any references)
- [x] register with zenodo (as they are all registered there) (and add a badge)
- [x] add DOI badge to README
- [ ] apply for joss.theoj.org and wait (and add a badge)
- [x] add DOI badge to BBOP
- [x] add DOI badge to GenomeArchitect

https://guides.github.com/activities/citable-code/

These are attached to releases so it would be 2.0.2 or 2.0.3 most

[2016-05-13 20:51] monicacecilia commented on #1031
@adnguyen999 that's ok. Do you think you could zoom in closer closer to the those gray bars and share with us a screenshot that includes 2 tracks: the "Reference Sequence" and the aligned reads from the BAM track? Hopefully we'll get a better idea of what those gray bars denote.

[2016-05-13 21:09] monicacecilia commented on #1031
By "zoom in closer" I mean to zoom in to the nucleotide level. thanks.

[2016-05-16 15:53] nathandunn commented on #524
Just uploading a clearer picture.

<img width="587" alt="so sequence assembly problem" src="https://cloud.githubusercontent.com/assets/751274/15295073/a63cd880-1b43-11e6-8cfa-1486bfa7cc29.png">

[2016-05-16 22:58] nathandunn commented on #990
@childers   Please re-open if you are still seeing this.

[2016-05-16 22:58] #990 closed

[2016-05-16 23:00] nathandunn commented on #971
@deepakunni3  @enuggetry   I might just tag a 1.12.2-Apollo in JBrowse (not a release) so that we can have a "locked" version that is tested against.   Will that work?

[2016-05-16 23:25] enuggetry commented on #971
ok.  that would be fine.  We'll jump to 1.12.3 in the next maint release,
then.

On Mon, May 16, 2016 at 4:00 PM, Nathan Dunn <notifications@github.com>
wrote:

[2016-05-16 23:44] nathandunn commented on #971
So do you want me to call it 1.12.2 or 1.12.2-Apollo?

Nathan

[2016-05-17 00:17] enuggetry commented on #971
makes sense to add "apollo"

On Mon, May 16, 2016 at 4:44 PM, Nathan Dunn <notifications@github.com>
wrote:

[2016-05-17 00:44] nathandunn commented on #971
👍

[2016-05-17 01:32] deepakunni3 commented on #971
👍

[2016-05-17 01:33] monicacecilia commented on #971
👍

... everybody is doing it. :bowtie:

[2016-05-17 17:03] nathandunn commented on #769
@deepakunni3   I think you just need to modify this code:

https://github.com/GMOD/Apollo/blob/master/client/apollo/js/View/Track/AnnotTrack.js#L3410-L3425

You could handle it in the callback, but I think that this would be easier.  I think you *could* just add/remove the [iconClass](https://github.com/GMOD/Apollo/blob/master/client/apollo/js/View/Track/AnnotTrack.js#L3559) and change the [labelT

[2016-05-17 17:05] nathandunn commented on #769
It could be that we don't use the iconClass at all if that ends up being easier.  I think a * or a left-arrow should convey the same meaning.  http://www.webstandards.org/learn/reference/charts/entities/symbol_entities/

[2016-05-17 17:26] nathandunn commented on #970
@erasche   Is the initial problem still a problem?  If so, please re-open it.

You might need to update apollo and then do an "./apollo clean-all" so that it properly pulls in changes, but it should be fixed.

The problem that @cmdcolin  alluded to I added here: https://github.com/GMOD/jbrowse/issues/743

[2016-05-17 17:27] #970 closed

[2016-05-17 17:41] erasche commented on #970
Tested with `gmod/apollo:stable` and this looks to be fixed.

[2016-05-18 01:55] nathandunn opened #1039 "transposable elements should indicate strand"
From #1038 and #873.

Transposable elements should allow flipping of strands as well as indicate strands when created.

[2016-05-18 07:54] monicacecilia commented on #1039
Let's make sure to read more on this before making the final push.
Transposable elements are transcribed - and some are later retro-transcribed - but I'm fuzzy on the directionality bit.

[2016-05-18 15:34] nathandunn commented on #1039
Makes me worried if you are fuzzy ;)    We'll definitely wait on this until you have had a chance to review.

[2016-05-18 22:09] nathandunn opened #1040 "allow apollo-config.groovy configuration to create admin user on startup"
From docker build: https://github.com/erasche/docker-compose-galaxy-annotation/issues/1

[2016-05-18 22:10] nathandunn commented on #1030
Need to do this to support #1040.

[2016-05-19 14:53] adnguyen999 commented on #1031
Hi Moni,
Sorry, I was out of town for a couple of days.

![screen shot 2016-05-19 at 10 50 54 am](https://cloud.githubusercontent.com/assets/16709226/15397871/9ffd8dfc-1daf-11e6-9bdc-dcb93835bb68.png)

[2016-05-19 16:23] nathandunn opened #1041 "change "group" to "team""
Wanted to review with @monicacecilia  but I think that this makes sense.

[2016-05-19 20:28] nathandunn opened #1042 "allow REMOTE_USER authentication"
- [x] establish a way to bypass logins using a REMOTE_USER header
- [x] replace all "logins" with ```permissionService::authenticateWithToken```

REMOTE_USER authentication added to support galaxy authentication:

https://github.com/erasche/gx-cookie-proxy/

[2016-05-20 01:33] damurdock opened #1043 "Berkley security message at genomearchitect.org"
Hi all,

Sorry in advance if this is the wrong place to post this. When I attempt to access genomearchitect.org, I get the following error:
<img width="1217" alt="screenshot" src="https://cloud.githubusercontent.com/assets/653537/15413897/8c9931d0-1dfa-11e6-8a57-8a45d5718832.png">

I'm not at Berkley Lab, so I think this is an issue with the server doing the redirect. I would contact the Berkley S

[2016-05-20 01:49] nathandunn commented on #1043
Thank you for reporting.  Well try to figure this out asap

[2016-05-20 02:13] kltm commented on #1043
I'm on this now. Pinging @cmungall and @hdietze as this could potentially have knock-on effects with other locations.

[2016-05-20 02:17] kltm commented on #1043
Funny, berkeleybop.org works just fine, and that is the *exact* same thing, IFAICR.

[2016-05-20 02:20] nathandunn commented on #1043
I'll try checking from some other places.

Nathan

[2016-05-20 02:23] kltm commented on #1043
If I get it, it's not going to matter--I'm guessing they've caught this at the LBL firewall level, we'll need their help to fix it.

In addition to some other configuration notes, I've directed them at this item; if anything interesting comes up, feel free to tag it on.

[2016-05-20 02:24] kltm commented on #1043
@nathandunn Since the jekyll will compile down to a static site, we can always just get it up manually without the redirect in the interim.

[2016-05-20 02:36] nathandunn commented on #1043
They blocked it in a day (it was working when you initially flipped it), so they can unlock it just as quickly I bet.

In the interim @damurdock  you can go to:

https://genomearchitect.github.io/

Sorry if the migration has caused any inconvenience.

[2016-05-20 14:23] nathandunn commented on #1043
We were able to resolve it.  Thanks @damurdock

[2016-05-20 14:23] #1043 closed

[2016-05-20 16:47] nathandunn commented on #1012
Definitely getting this error:

[code]

I'll have a fix for it momentarily.

[2016-05-20 16:55] deepakunni3 commented on #1012
@nathandunn yes, I had removed the unused generic clientToken from `Permission.groovy` domain object. (commit 6caceba)

[2016-05-20 17:01] nathandunn commented on #1012
@deepakunni3  I think this error is just that the clientToken is not there on a production site and needs to be added.   I have to bring up a production site, so I'll add these as I come across them.

[2016-05-20 17:06] deepakunni3 commented on #1012
@nathandunn my bad. I thought it was because of removing a field.

[2016-05-20 17:40] nathandunn commented on #1012
That should fix it all, but we'll wait until your done to evaluate more schema changes.  That being said, it seemed to work fine migrating from a 2.0.2 DB to a 2.0.3 DB.

[2016-05-23 18:33] childers commented on #412
@nathandunn this was closed without  addressing the fact that draggableAlignments don't support color by strand.  We get requests for this every so often, and we wanted to verify with you before responding. Is the idea to move towards rendering BAM data as canvas features?

[2016-05-23 18:46] childers commented on #412
The other request we get is support for showing cognate pairs in the case of paired end BAM files.  From what I've read and seen, there is no way to support showing mate reads as a connected unit in any feature type. Can this be reopened, or moved to a (or two) new feature request?

[2016-05-23 18:57] nathandunn opened #1044 "show mate reads as a connected unit in any feature type that supports BAM"
From: https://github.com/GMOD/Apollo/issues/412#issuecomment-221059543

The other request we get is support for showing cognate pairs in the case of paired end BAM files. From what I've read and seen, there is no way to support showing mate reads as a connected unit in any feature type that supports BAM. Can this be reopened, or moved to a (or two) new feature request?

[2016-05-23 18:57] nathandunn commented on #412
@childers   Thanks for catching.  Yeah, it is a pet peeve of our team as well.   I'm not sure how hard it would be to pull the JBrowse code through to fix this.

I created a separate issue for the other one.

[2016-05-24 17:11] erasche opened #1045 "Export sequence API issue"
I'm having an issue right now with the organism flag to the IO api. This table summarizes a number of API calls. These results are not at all what I expect

Organism | exportAllSequences | sequences | returned seq count | expected seq count
------ | ------ | ------- | ---- | -----
none   | true   | "ctgA"  | 0 | 0
none   | false  | "ctgA"  | 0 | 1
none   | true   |         | 1 | 3
none   | false

[2016-05-24 17:22] erasche commented on #1045
Script is here, btw:

[code]

[2016-05-24 18:54] nathandunn commented on #1045
I'll take a look.  I have a feeling that if you pass the organism name / ID in as:

    /apollo/<name>/IOService/write

. . it might work as expected, but unsure.   Does it work out of the interface as you would expect?

[2016-05-24 19:04] erasche commented on #1045
It works out of the UI as expected. You navigate to that organism, select ref seqs, everything works.

[2016-05-24 19:06] nathandunn commented on #1045
That's half the battle.   Hopefully its just bad doc.  Are you able to emulate what you see is being passed?

[2016-05-24 19:35] erasche commented on #1045
I am, but organism is never passed during UI based calls.

[2016-05-24 19:39] nathandunn commented on #1045
Okay . . . I'll fix / address that.

[2016-05-24 20:12] nathandunn commented on #1045
Just noting as I go.   If you don't use the organism, it will pull the organism from your preferences (last used), or from the first allowed, or from the clientToken (which can also be an organism name or ID, or a browser token).

I'm less concerned with that.  The ```exportAllSequences``` option is used by Chado, but nothing else, so the description is wrong.  @deepakunni3   Do you have any insig

[2016-05-24 20:15] nathandunn commented on #1045
@deepakunni3  I have a proposed fix for this (the exportAllSequences).  You can let me know.  I just want to make sure I wasn't over-thinking the design.

[2016-05-24 20:29] deepakunni3 opened #1047 "Running apollo from master fails due to missing entry in changelog"
To reproduce, clone the master branch and try `apollo run-local` without any pre-existing database (ex. H2).

[code]

Reported by @cmdcolin

[2016-05-24 20:33] nathandunn commented on #1045
@erasche   This is the revised table.   When an organism is not defined it will use the preference.

ExportAllSequences should always export ALL sequences if set to true (per definition).   If no sequences are defined, all sequences will be exported.  I'm going to double-check, but that is my understanding.

Organism | exportAllSequences | sequences | returned seq count | expected seq count
------

[2016-05-24 21:00] nathandunn commented on #1045
@erasche  FYI in your script the ```format``` should be ```text```, however it would have defaulted to that value.

Also, my assumption is that Merlin and Volvox both have 2 sequences each (and they are similarly named).

And to clarify, there are exported sequences (the scaffolds) in the GFF3 and then the GFF3 annotations.   The FASTA export option ONLY exports the annotations.

[2016-05-24 21:01] nathandunn commented on #1045
This was my script:

[code]

[2016-05-24 21:06] deepakunni3 commented on #1045
@nathandunn exportAllSequences is also used by the GFF3 and Fasta export. They play the same role where if exportAllSequences is true then the sequenceList sent to the server is empty. This implies exporting of all sequences where the server queries for all sequences for a given organism and exports them.

[2016-05-24 21:20] nathandunn commented on #1047
@deepakunni3  Let me know what you find.  I'll give it a quick try.   I'm actually a bit surprised, because what we do in the .travis testing all the time and when docker gets loaded it does similar stuff.   Of course, it could be the apollo run-local.   Trying now.

[2016-05-24 21:22] deepakunni3 commented on #1047
@nathandunn Yes, I am trying to do a broader set of tests and it looks like this happens only with H2.

Trying with a fresh PostgreSQL database works fine.

[2016-05-24 21:34] nathandunn commented on #1047
I validated the same thing locally . . . I can take a look as its my code and you can test it . .  sound good?

[2016-05-24 21:40] nathandunn commented on #1047
@deepakunni3   You / @cmdcolin  were right that the columnDataType is required for H2  notNullExists . . . just confused why the PR was closed.   Granted, its silly that its there, but did it work?

http://www.liquibase.org/documentation/changes/add_not_null_constraint.html

The page is pretty explicit that its an H2 and mysql (but not for others).  Very weird that we don't see it in travis.

[2016-05-24 21:40] nathandunn commented on #1047
Should we re-open your PR?

[2016-05-24 21:46] deepakunni3 commented on #1047
@nathandunn I was finding some issues with the the PR. So wanted to confirm it works properly in all cases before requesting a merge.

[2016-05-24 21:47] deepakunni3 commented on #1047
@nathandunn I see, so it has to be specified explicitly for H2 and mysql. Yes, travis should have caught this issue.

[2016-05-24 21:54] nathandunn commented on #1047
@deepakunni3  Okay . . . well, I think it works in H2.   I had tested it before in postgresql coming from a 2.0.2 . . and it has been tested in a de novo.  If you have more test-cases then I think we're good.  My only worry is the travis case, however its running tests, so it might build the schema directly.  The migration scripts are only necessary in the case of migration.   My guess is that in

[2016-05-24 21:55] nathandunn commented on #1047
Okay . . . well, ping me when you think its ready and thanks for catching it.

[2016-05-24 22:15] deepakunni3 commented on #1047
@nathandunn In the changelog, if we change:
[code]
 to
[code]

and try `apollo run-local` the error for H2 is resolved.

But, I get the following strack trace if we use a psql database via `apollo-config.groovy`:
[code]

[2016-05-24 22:26] nathandunn commented on #1047
@deepakunni3   I think that the constraint check is failing, which is wrong (and a good thing to catch).

But also . . its a duplicate ID, which is not good either, since I think it uses those to mark what has an has not run.

[2016-05-24 22:32] nathandunn commented on #1047
This seemed to work for me:

[code]

[2016-05-24 22:33] deepakunni3 commented on #1047
@nathandunn Right, and if its a de-novo psql database there is no error.

[2016-05-24 22:34] nathandunn commented on #1047
Hmm . . maybe we should iterate over the tests to run . . .

- [ ] de novo postgresql
- [ ] migrated postgresql
- [ ] de novo h2

[2016-05-24 22:35] deepakunni3 commented on #1047
Yes, it would be good to cover for these scenarios which are highly likely to occur with users.

[2016-05-24 22:54] deepakunni3 commented on #1047
Tested your suggestion and it works for both H2 and PostgreSQL database.

[2016-05-25 00:40] #1040 closed

[2016-05-25 01:04] #1047 closed

[2016-05-25 02:18] erasche commented on #1045
fyi Merlin has one seq (Merlin), and Volvox has the default 2 (ctgA, B), but the expected changes with volvox look good.

yeah, I would have expected exportAll + no organism + no seqs = exporting absolutely everything from apollo, rather than exporting the last accessed organism. Is there another way to export everything?

[2016-05-25 03:10] nathandunn commented on #1045
Thanks.  I updated the table to reflect that.

WRT to exporting everything, there are many ways to do that.   Generally user's would use a web-service script to do an export for each organism since typically they aren't published at the same time.

We could, however, refactor IOServiceController to do this.   What's the use-case, and how would you expect the input / output to look?

[2016-05-25 03:12] erasche commented on #1045
No need, `listOrgs | fetchData` will be fine for me, just my confusion over docs. All fixed.

[2016-05-25 03:54] nathandunn commented on #1045
Perfect, I'll test it tomorrow (if its pushed / rebuilt?)

[2016-05-25 04:58] erasche commented on #1045
the retrieve / fetch tool won't accept the organism json properly...I'll open an issue for that.

[2016-05-25 16:31] nathandunn opened #1052 "overlapping regions of features combine incorrectly"
Unlike features and isoforms should not overlap.

<img width="836" alt="screen shot 2016-05-25 at 9 28 30 am" src="https://cloud.githubusercontent.com/assets/751274/15547984/34ef1c6e-225b-11e6-80b6-d128396ff801.png">

FYI @deepakunni3 / @monicacecilia    . . . Not sure if these should be named separate genes or not, but definitely there should be no Repeat Region gene.

[2016-05-25 17:05] nathandunn commented on #1052
@deepakunni3 . . . I think that this is 2.0.2 being used . . sorry false-alarm.

[2016-05-25 17:05] #1052 closed

[2016-05-25 18:20] nathandunn commented on #1052
@deepakunni3   I retested this in the master and it worked as you had originally written it, i.e., perfectly 👍

[2016-05-25 18:23] deepakunni3 commented on #1052
@nathandunn Ah, okay! 👍

[2016-05-25 20:00] deepakunni3 opened #1054 "clientToken error as a result of getCurrentOrganismForCurrentUser"
This was first brought to my attention by @cmdcolin where if we do 'BLAT Sequence Search' in Apollo, we see an error on server side with a stack trace:
[code]

It looks like the method `getCurrentOrganismForCurrentUser()` requires a clientToken but isn't being provided with one.

https://github.com/GMOD/Apollo/blob/master/grails-app/controllers/org/bbop/apollo/AnnotationEditorController.groovy#L94

[2016-05-25 20:05] nathandunn commented on #1054
Thanks.  I can take a quick look and create a PR.

[2016-05-25 20:08] deepakunni3 opened #1055 "Problems with 'Full-screen view' mode"
Currently there are few problems with the 'Full-screen view' mode:
* If we add an annotation, to the annotation track, we do not see the annotation until we refresh the page. (reported by Colin Diesh)
* If we click logout there is a popup saying 'Failed to log out cleanly.  Please refresh your browser'. If I do a refresh, the user is still logged in.
* Another issue, may or may not be related to t

[2016-05-25 20:11] nathandunn commented on #1055
Thanks.  I'll take a look.  Most likely we're going to dump full-screen view so these things won't matter.

[2016-05-25 21:01] nathandunn commented on #1042
Need to support the case where its in the header.    In the case of the login, which we're not using, we can do something like this:

http://stackoverflow.com/a/7114285/1739366

[2016-05-25 21:08] nathandunn commented on #1055
More to the point, when you log out it should automatically refresh to the login screen and view.   Not entirely sure what is possible here without further hacking into JBrowse, though.  The "Full-screen" view lacks an ID.

[2016-05-25 22:18] erasche opened #1058 "targetURL not preserved properly through login (loadLink, reports)"
At least I'm assuming that's the root cause.

**Issue:**

I open a url, such as `https://fqdn/apollo/annotator/loadLink?loc=&organism=142856&tracklist=1`

**Expected result:**

- If not logged in, I enter my credentials, and view organism 142856
- If logged in, I see organism 142856

**Actual result:**

- If not logged in, I enter my credentials, and view the very first organism in the list, avail

[2016-05-25 22:19] nathandunn commented on #1042
Reference on Apache settings:

http://serverfault.com/questions/207301/get-the-authenticated-user-under-apache

Need to extend the Shiro AuthenticationToken and if acceptRemoteUser is configured on, then accept the header.

https://shiro.apache.org/static/1.2.2/apidocs/org/apache/shiro/authc/AuthenticationToken.html

[2016-05-25 22:20] nathandunn commented on #1042
ShiroCas does something similar in their filters:

https://grails.org/plugin/shiro-cas
https://github.com/commercehub-oss/grails-shiro-cas/

[2016-05-25 22:49] erasche opened #1059 "Shareable, Public JBrowse instances do not seem to link to other refseqs in organism."
I recently hit the "public" button on a [test organism](https://cpt.tamu.edu/apollo/142856/jbrowse/index.html?loc=nHMqLGXaUvjsR3KSCD18RSETusGa:0..111906).

it just links to one of the two ref seqs, with no way to get between them. If you look at the original URL you'll note that it reads `loc=nHMqLGXaUvjsR3KSCD18RSETusGa`. The parent organism has a name of `nHMqLGXaUvjsR3KSCD18RSETusGa`, and two r

[2016-05-25 22:54] erasche opened #1060 "Undo/History for changes other than structural"
Wishlist item :)

The feature history currently only includes structural changes. We noted over the course of our course that it would be incredibly useful if that feature history also included things like users adding / removing / changing annotations on the feature.

That way we can keep an accurate log of who added a feature name, and allow undoing various changes.

We had one student who ran a

[2016-05-25 22:55] erasche commented on #207
@monicacecilia, my PI is nagging me, do you need any more information for this?

[2016-05-25 22:59] erasche opened #1061 "Possibly hide "None" permissions in Report::Annotator"
![utvalg_853](https://cloud.githubusercontent.com/assets/458683/15558781/59453014-22cc-11e6-8a22-9820d70b9d57.png)

Love the Report interfaces, they're awesome! The Nones clutter up the UI a bit though.

[2016-05-25 23:08] nathandunn commented on #1060
I think that this is a dupe of this #541.   I'll post your comment there.   Definitely need to think about this.  Maybe we just log it different.

[2016-05-25 23:08] #1060 closed

[2016-05-25 23:08] nathandunn commented on #541
From @erasche  #1060:

[2016-05-25 23:09] nathandunn commented on #1061
Ha . . good point!

[2016-05-25 23:12] erasche commented on #1060
@nathandunn sounds good. Thanks.

[2016-05-26 00:54] nathandunn commented on #1061
I see . . you have to turn the permissions on and off and then "none" will show up.  I should just hide it.

[2016-05-26 00:55] erasche commented on #1061
Ah, that explains it. I had a naive script to lock out student access following the course that just submitetd a "no permissions" on every combination of the set of students, and genomes.

[2016-05-26 01:15] nathandunn commented on #1061
I can fix it, just making a note.  Just wondering if I should remove the permission altogether or just from the interface .  .  anyway . . .

[2016-05-26 12:36] nathandunn commented on #730
<img width="588" alt="screen shot 2016-05-26 at 5 36 04 am" src="https://cloud.githubusercontent.com/assets/751274/15574699/c69acaca-2303-11e6-9d19-be25658e106a.png">
<img width="588" alt="screen shot 2016-05-26 at 5 35 56 am" src="https://cloud.githubusercontent.com/assets/751274/15574700/c6af6dc2-2303-11e6-84b2-4bce9a09e1b1.png">

[2016-05-26 12:39] nathandunn commented on #730
FYI @monicacecilia @strumpfe   [review / thoughts when you have time](https://github.com/GMOD/Apollo/issues/730#issuecomment-221858611).  I'll try to put something on staging by the end of the week.

[2016-05-26 13:00] nathandunn commented on #1061
[Fixed here](https://github.com/GMOD/Apollo/commit/1bb53a792470024372c25de030f6447c0ccd1140).  It hides this instead of "None" permissions.

[2016-05-26 13:29] nathandunn commented on #1059
@erasche   I'm not sure I understand the issue.  Are you clicking on the "link" icon?

In the link, the 142856 is the organism ID.  nHMqLGXaUvjsR3KSCD18RSETusGa has to be the scaffold within that organism (not the organism name).

However, it looks like the organism (with the ID) doesn't exist or is not public.  On the organism tab you can click on the "public" checkmark and it should become avail

[2016-05-26 14:11] erasche commented on #1059
@nathandunn looks like I did something wrong. I then removed the organism and forgot to close this. My apologies. If I can reproduce it again I'll re-open.

[2016-05-26 14:11] #1059 closed

[2016-05-26 14:30] nathandunn commented on #730
@deepakunni3   Do you think that this might work better if the All, Selected, Current is all on one line?    And the header would show "selected (3)" instead of the first in the list of 3 (when not in drop-down mode)?

I was thinking of a checkbox to potentially deselect a scaffold might be good, or having an add-to-pile button.

Anyway, probably over-thinking it.  It was pretty obvious what was g

[2016-05-26 14:42] deepakunni3 commented on #730
@nathandunn Yes, I agree that replacing the 'selected' button with a dropdown would be more efficient use of the real estate. Actually that was the original plan but had some issues with getting the widgets to work as expected.
- I tried Gwt-bootstrap dropdown and the problem is that dropdown doesn't have scrollbar and if the dropdown is long enough we see it overflow below the page.
- I tried GWT

[2016-05-26 15:21] deepakunni3 commented on #645
Tried to reproduce this issue.

If I zoom to base level, click an annotation and flip its strand then the sequence displayed remains the same. But if I were to deselect the annotation and click on it again the sequence is updated. i.e. there is no need to do a page refresh. Perhaps this was fixed along the way.

[2016-05-26 15:59] nathandunn commented on #645
I think the idea would be to trigger the refresh without unclicking and re-clicking.

Looking for ```AnnotTrack.js```

[2016-05-26 16:08] nathandunn commented on #645
@monicacecilia  Seems to remember other cases where this is an issue.

[2016-05-26 16:19] monicacecilia commented on #730
- [ ] Remove button that shows a selected group, when only one has been selected.
- [ ] Remove 'None' button, in favor of 'clear symbol' button.

[2016-05-26 16:20] monicacecilia commented on #645
- 👍  to trigger refresh (drawing) after function to 'move to opposite strand'.

[2016-05-26 16:23] nathandunn commented on #730
[ ] users / groups selection popup is hidden

[2016-05-26 16:29] monicacecilia commented on #207
Dear @erasche I'm sorry you are being nagged.

We do not currently require additional information.

We are currently planning to start working on this for Milestone 2.2.0.

If this is a pressing matter that your lab needs to address, please feel free to start looking into it yourself, and we can guide you through the sticky parts. Unfortunately for the purpose of your progress, we have 2 other, ve

[2016-05-26 16:38] erasche commented on #207
No worries @monicacecilia, was just following up since the issue hadn't been touched in ~6 months. Completely understandable with respect to higher priority items. Thanks for the response!

[2016-05-26 16:38] monicacecilia commented on #207
Dear @erasche, would you settle for an additional feature type from the list?
And the ability to identify them on the "User-created Annotation" area?
You would not yet be able to calculate the effect of the terminator on the transcript.

[2016-05-26 16:39] erasche commented on #207
@monicacecilia yes! We don't need to calculate anything, just to make the annotation. I'll look into where that lives in the codebase.

[2016-05-26 16:42] monicacecilia commented on #207
Brilliant!

[2016-05-26 16:55] monicacecilia commented on #207
- [ ] Add feature type 'terminator'. Seen here in [Sequence Ontology](http://www.sequenceontology.org/miso/current_svn/term/SO:0000141).

- Note subtypes: bacterial (rho-dependent and rho-independent) and eukaryotic (terminator of RNA Pol-II promoter).

[2016-05-26 18:08] nathandunn opened #1065 "expose JBrowse div to GWT panel"
Use a similar method to handleTrack (i.e., we can potentially pass the object reference back into it).

This will allow us to use the JS API's directly to do things like navigateTo(), etc. on the browse div object

http://jbrowse.org/api/

[2016-05-26 18:33] nathandunn commented on #207
We were discussing and we think that [promoter](http://www.sequenceontology.org/browser/release_2.3/term/SO:0000167) should be added as well, but we can add that later (it should follow the exact same pattern).

They can probably both mirror the [Transcript](https://github.com/GMOD/Apollo/blob/master/grails-app/domain/org/bbop/apollo/Transcript.groovy) domain object in by extending the GeneMemberR

[2016-05-26 18:36] nathandunn commented on #207
I would set the property Rho-depdenent property directly on the object.

[2016-05-26 19:17] nathandunn opened #1066 "user / group selection goes the wrong direction"
On the user detail panel in the group tab, the "update membership" box sometimes goes up instead of down:

![screen shot 2016-05-26 at 12 08 32 pm](https://cloud.githubusercontent.com/assets/751274/15586718/ac45f7c6-233a-11e6-8ea2-31cec43a2e31.png)

Oddly on the demo page, these sometimes are adjustable and sometimes are not.

https://gwtbootstrap3.github.io/gwtbootstrap3-demo/#select

Somehow the

[2016-05-26 19:56] erasche commented on #1061
Similar thing is seen in the API, but that may be less of an issue?

[code]

[2016-05-26 19:58] nathandunn commented on #1061
I don’t think its an issue, but if you run into anything, let me know and I’ll take care of it.

Nathan

[2016-05-26 20:03] erasche opened #1067 "Weird hibernate RO issue"
[code]

But with a client token...

[code]

I've tried selecting idle PG transactions and terminating them, but that does not seem to fix the issue. If anyone has any insights I'd really appreciate it.

[2016-05-26 20:16] erasche commented on #1061
Not an issue, just leads to inflated JSON responses:

wc -c | du -h | transformation
--- | --- | ---
130406 | 236K| None
12928 | 24K|  Remove permissions blocks without any permissions
12254 | 20K | Remove redundant user id in permission block + empty permission blocks.

[2016-05-26 20:20] nathandunn commented on #1067
I'll take a look.  In Grails-land, the service and controllers have multiple levels of transactional isolation.

By default in UserController these are set to readOnly:

https://github.com/GMOD/Apollo/blob/master/grails-app/controllers/org/bbop/apollo/UserController.groovy#L19

If you put ```@Transactional``` above the method it should work:

https://github.com/GMOD/Apollo/blob/master/grails-app/c

[2016-05-26 20:23] nathandunn commented on #1061
I think that's a pretty worthwhile use-case with little up-side.   Let me take a look.

[2016-05-26 20:24] nathandunn commented on #1061
I meant little-upside for ignoring.  Weird that the user-id is redundant.

[2016-05-26 20:25] erasche commented on #1067
@nathandunn okay, an RO transaction for looking up a user list makes **complete** sense. That's grea to see.

It does an insert into permissions. Sorry, I forgot the DB logs:

[code]

[2016-05-26 20:32] nathandunn commented on #1067
Ahh . . its checking for the organism permissions and setting a preference for the client token for the organism, which is completely un-necessary when you’re just loading users.

I’ll fix that with a few other things.

Nathan

[2016-05-26 20:32] erasche commented on #1067
Brilliant, thank you @nathandunn

[2016-05-27 16:42] erasche opened #1070 "Annotation search tab would be more useful if search includes Comments, DBXrefs, Etc."
![utvalg_861](https://cloud.githubusercontent.com/assets/458683/15614742/f14356d0-2429-11e6-9aee-dc8349976ded.png)

[2016-05-27 17:09] monicacecilia commented on #1034
Started the Zendo + GitHub integration. Waiting on our nest release to sync so it produces the DOI.

[2016-05-27 17:14] nathandunn commented on #1012
Tested and confirmed to be working.  Can re-open another issue if we run into issues.

[2016-05-27 17:14] #1012 closed

[2016-05-27 17:20] monicacecilia commented on #802
Explanations for these are available:
- in user guide in section "[4.2.2 Exon Structure Integrity](http://genomearchitect.org/users-guide/)"
- From the 'Help' top-level menu in the Apollo main window.

The text reads "Use the square bracket keys [ and ] to jump to the next exon splice junction or coding sequence (CDS). The curly bracket keys { and } allow users to jump to the next transcript."

[2016-05-27 17:20] #802 closed

[2016-05-27 17:22] monicacecilia opened #1071 "Add Apollo icon for URL box genomearchitect"
... because we miss it a lot.

[2016-05-27 18:14] monicacecilia commented on #1041
👍  Yes, 'team' is okay.

[2016-05-27 18:17] #1067 closed

[2016-05-27 18:27] nathandunn commented on #1061
@erasche  I'm going to close this.  I'll open another bug for loading users, with ONLY a list of users.  We're looking at 20 minutes of work, but if its not urgent / necessary it can wait until after the 2.0.3 release.

[2016-05-27 18:27] #1061 closed

[2016-05-27 18:28] erasche commented on #1061
@nathandunn delay it :) not necessary.

[2016-05-27 18:29] nathandunn opened #1072 "create web-service for ONLY listing the users"
From request in #1061 .

By default "loadUsers" returns a lot of redundant permission data used by the app directly (to avoid inferring).

For just loading a list of users, however its over-kill.

[2016-05-27 18:36] nathandunn commented on #1030
@erasche   WRT to chado . . are you building off of my tag (latest?)  if so I can add chado to that, but not sure how that would integrate with the rest of the app

[2016-05-27 18:39] erasche commented on #1030
@nathandunn yeah, i'm building off latest/master.

If you add chado to that, the only thing we have to do is switch out the postgres image for erasche/chado (or integrate the docker-compose from https://github.com/erasche/docker-tripal/blob/master/docker-compose.yml if you want full tripal support as well ;) )

[2016-05-27 18:40] erasche commented on #1030
The tripal config linked automatically loads chado on first run. Would it be a problem for apollo / would apollo "notice" if the chado tables weren't created until ~1 minute after boot?

[2016-05-27 18:51] erasche commented on #1030
@nathandunn @deepakunni3 so with chado support, do we just switch apollo-config.groovy to use *only* a dataSource_chado and have "automatic" export by saving directly to chado? Or can it use both and only export to chado whenever the user presses the button?

[2016-05-27 19:19] erasche opened #1074 "Duplicate organisms"
Just ... fyi. I've seen this occur a couple times and I'm now realising that my tooling caused this. However, the fact that it is possible is probably worth treating.

[code]

three orgs with identical (genus, species, common_name). Perhaps there should be a uniqueness constraint placed on those three?

[2016-05-27 19:22] nathandunn commented on #1074
So, we've kind of gone back and forth on this.  The discussion we had this morning (same organisms, but different / isolated groups of users) made me think that we should leave it as-is, but its worth discussion.

[2016-05-27 19:44] nathandunn opened #1075 "problems upgrading to gwt bootstrap 0.9.3 . .. too much old jQuery?"
lib/gwt/gwtbootstrap3-0.9.2.jar                                  | Bin 1487290 -> 0 bytes
 lib/gwt/gwtbootstrap3-0.9.3.jar                                  | Bin 0 -> 1513627 bytes
 lib/gwt/gwtbootstrap3-extras-0.9.2.jar                           | Bin 972583 -> 0 bytes
 lib/gwt/gwtbootstrap3-extras-0.9.3.jar                           | Bin 0 -> 1142296 bytes

Other relevant diffs:

[code]

![scre

[2016-05-27 19:45] nathandunn commented on #1075
FYI @deepakunni3   Got it to work fine, but then that error . . something about additional jQuery added. I removed it in a few places, but somehow its picking up the wrong one.   Anyway, doesn't need to be fixed today.

[2016-05-27 19:51] nathandunn commented on #1075
[code]

[2016-05-27 20:29] nathandunn commented on #1070
Makes sense.  Would like to get input from @monicacecilia  et al on this as well.

Would be a pain to do that type of denormalization within a DB . . maybe something like an embedded (or otherwise) elastic-search.

[2016-05-27 21:37] nathandunn commented on #1058
If you login again and paste the URL it works.  Not idea, but I want to do a more thorough rewrite of the security for 2.0.4 that will fix the rewriting.   There is a similar issue with reports as well.

[2016-05-27 21:39] erasche commented on #1058
Yep, that's basically what I do when I click the eyeball twice when using an Annotate dataset in galaxy.

[2016-05-27 21:41] nathandunn commented on #1058
If you login with the “remember-me” cookie on it should be good for a year or so.

Do you have an existing “loadLink” for it?  If its a priority I *will* make it work.  If you are wired into it, I’ll make sure to fix it.

Nathan

[2016-05-27 21:42] erasche commented on #1058
Not a priority. The annotate tool generates the full loadLink URL. This is a very minor issue.

[2016-05-27 21:43] nathandunn commented on #1058
Alright, well let me know if the status changes.   I want to make sure the work-flow actually flows without too much complication.

[2016-05-27 21:44] erasche commented on #1058
For a demo it'll be completely hidden.

You'll run the tools for the first time, the first org will be added, and you'll default to viewing that. No way to encouter this unless there are already orgs in, and you're logged out.

[2016-05-27 22:35] nathandunn commented on #1013
I can do the tag, but you can do the rest.  Crazy . . now there are "multiple" assignments.

[2016-05-27 22:54] nathandunn commented on #1071
It is now there:

http://genomearchitect.github.io/

[2016-05-28 05:32] nathandunn commented on #1030
@erasche  Finally got a chance to look a this.  You add the dataSource to it.  More next week.

It doesn't do an automatic export.  Most user's want to have a view of what is in there first.

[2016-05-28 17:50] nathandunn opened #1077 "Error annotating from Canvas tracks"
FYI @monicacecilia  Something else we need to remember to test for.

These work fine for HTMLFeatures when doing a right-click.

When annotating a human canvas track (similar results for Volvox):

http://icebox.lbl.gov/Apollo-staging

Some types work and some types do not:

- [x] gene  / mRNA
- [x]  pseudogene / transcript
- [x] tRNA, snRNA, etc.
- [x] repeat_region
- [x] transposable_elements

Th

[2016-05-28 17:53] nathandunn commented on #1077
Found when testing: https://github.com/TAMU-CPT/galaxy-apollo/issues/2

[2016-05-29 03:49] nathandunn commented on #1058
- [ ] /auth/login (submit) should respect the "targetUri" if passed in
- [ ] loadLink should create a "targetUri" automatically if not logged in
- [ ] report should create a "targetUri" automatically if not logged in

Eventually make more global.

May get bumped to 2.0.4.

[2016-05-29 03:51] nathandunn opened #1078 "move reports to separate tab from admin"
can probably be bumped to 2.0.4, but thought that it might help if there were different permissions for reports, but would have to configure: (reportsAvailableToUsers) option.

[2016-05-30 17:33] deepakunni3 commented on #1077
@nathandunn This was because the method call in `WebApolloCanvasFeatures.js` for pseudogene, repeat region and transposable element are different from `DraggableHTMLFeatures.js`. This resulted in a wrongly formatted JSON object being sent to the server.

PR #1079 addresses this issue.

[2016-05-30 17:42] nathandunn commented on #1077
Awesome thanks.

[2016-05-30 20:33] nathandunn commented on #1058
@erasche  this should be fixed by the PR #1081  . . . if you can test that it meets your needs, that would be great.

[2016-05-30 20:35] nathandunn commented on #1077
To Test: Annotate a Canvas Track (see Human) for all of the above types and see that they work properly.

[2016-05-30 20:36] nathandunn commented on #1071
and there: http://genomearchitect.org/

[2016-05-30 20:53] nathandunn commented on #145
Nothing to test (not configured on icebox and nothing to see).

[2016-05-30 20:53] #145 closed

[2016-05-30 20:53] nathandunn commented on #1066
On the group tab observe that the "user" detail tab at the bottom goes the correct direction (i.e., up).

[2016-05-30 20:55] nathandunn commented on #1055
Test: see [above test conditions](https://github.com/GMOD/Apollo/issues/1055#issue-156838992) and should not be able to reproduce.

[2016-05-30 20:55] nathandunn commented on #1054
Test: BLAT search should be fixed.

[2016-05-30 21:13] nathandunn commented on #444
Nothing to test.

[2016-05-30 21:13] #444 closed

[2016-05-30 21:15] nathandunn commented on #890
Nothing to test here.

[2016-05-30 21:15] #890 closed

[2016-05-30 21:15] nathandunn commented on #967
Nothing to test . . nevermind

[2016-05-30 21:15] #967 closed

[2016-05-30 21:16] nathandunn commented on #1045
Nothing to test here (this was a web-service API issue)

[2016-05-30 21:16] #1045 closed

[2016-05-31 03:33] nathandunn commented on #1075
I think that this is due to the jQuery imported in client/apollo being too old

[2016-05-31 03:35] nathandunn commented on #1075
Current version is 1.7 . . . I can't remember, but I think I need to pull in a more recent version of something.  Should be at 1.12 for bootstrap . . though I think that the jQuery-ui will make more of a difference.

[2016-05-31 17:54] nathandunn commented on #971
This is fixed now.

[2016-05-31 17:54] #971 closed

[2016-05-31 22:49] erasche commented on #1030
@nathandunn @deepakunni3 chado export works beautifully. I could not be more excited. I need to fix my tripal container, but I should have a full dockerized galaxy-apollo-chado-tripal for GMOD.

[2016-05-31 23:01] nathandunn commented on #1030
Awesome would love to see it.  Thanks for the attention to detail (as always @deepakunni3 ).

[2016-06-01 00:45] nathandunn commented on #1042
@erasche  Do you have a flavor of the REMOTE_USER  call you use in nginx?   I'll figure it out either way, but figured it would be worth getting to work for one instance.

[2016-06-01 01:23] nathandunn commented on #1042
http://nginx.org/en/docs/http/ngx_http_core_module.html#var_remote_user

[2016-06-01 01:23] deepakunni3 commented on #1030
@erasche Thank you! Let us know if there is some issue with the export.

[2016-06-01 01:25] nathandunn commented on #1042
This is probably it:

https://wiki.galaxyproject.org/Admin/Config/NginxExternalUserAuth

More references:

https://wiki.galaxyproject.org/Admin/Config/nginxProxy#External_User_Authentication

http://serverfault.com/a/392096

[2016-06-01 01:28] erasche commented on #1042
@nathandunn yep, just set the `REMOTE_USER` header.

As for nginx specifically, I've never done remote_user in nginx because it's painful (relative to apache) so that bit is new to me.

[2016-06-01 17:49] monicacecilia opened #1084 "Write GFF3 adaptors to meet specific needs"
- [ ] Ability to export GFF3 including '[polypeptide](http://www.sequenceontology.org/miso/release_2.5/term/SO:0000104)' subfeature. Use case as requested for parasite genomics

This adaptor will allow admins to activate as needed, delegating responsibility for implementation to admins, not user.

[2016-06-01 18:31] nathandunn opened #1085 "hovering over feature, owner is not displayed and owner not recorded if not mRNA or genomic feature"
In the detail panel it is there correctly.  For some reason the hover is not there correctly.

- [x] fix if owner set and not hovering
- [x] in the case of non-coding RNA (all but mRNA, repeat region and transposable element), owner is not set
- [x] retest with Canvas Track

found in 2.0.2?

![screen shot 2016-06-01 at 11 30 44 am](https://cloud.githubusercontent.com/assets/751274/15721098/4ef7485

[2016-06-01 18:42] nathandunn commented on #1084
This should be an external "Handler" that could be configured in apollo-config.groovy.    I'm not sure if this should be a "replacement" for Gff3HandlerService called from IOServiceController.

It could be a replacement or an addition.  I think that the idea would you could write a "CustomGff3HandlerService" and in apollo-config.groovy you would have:

The 'key' would be the FeatureStringEnum look

[2016-06-01 21:32] nathandunn commented on #1085
This was definitely showing up in 2.0.2

[2016-06-01 21:33] monicacecilia commented on #1085
good thing I had the burning urgency to make a screen capture....

[2016-06-01 21:57] monicacecilia commented on #1084
Thinking a little more about this issue.

The flavor of GFF3 that we received as example is quite different from our own.

[code]

After a lengthy discussion, we decided to offer this response:
- The model for annotation in Apollo is very transcript-centric.
- The easiest thing to do would probably be for the interested parties to massage the exported GFF3. Coming from Apollo they would be Gene/mR

[2016-06-01 21:57] #1084 closed

[2016-06-02 00:04] monicacecilia commented on #220
gets the first 💃 !!

[2016-06-02 00:04] #220 closed

[2016-06-02 16:19] monicacecilia commented on #441
💃

[2016-06-02 16:19] #441 closed

[2016-06-02 16:24] monicacecilia opened #1090 "JBrowse rendering issues for NeatFeatures"
Introns are no longer visible at certain zoom levels. For example, [see this region in Human instance](http://icebox.lbl.gov/Apollo-staging/annotator/loadLink?loc=chr13:49108380..49115740&organism=21&tracks=GenBank%20TopLevel%20MRNA).

![screen shot 2016-06-02 at 9 17 21 am](https://cloud.githubusercontent.com/assets/1714621/15752575/9d189920-28a3-11e6-851f-efd9321dd083.png)

![screen shot 2016-06

[2016-06-02 16:31] monicacecilia commented on #1090
Also, this is specific to HTML tracks; does not occur in Canvas tracks.

[2016-06-02 16:39] monicacecilia commented on #587
This has been fixed. Also checked details related to #73, to be sure. And those have also been fixed. Great job! 💃

[2016-06-02 16:39] #587 closed

[2016-06-02 17:06] nathandunn commented on #730
@monicacecilia  Should this be closed or are we waiting for the "hover" for this?

[2016-06-02 17:09] nathandunn commented on #1042
Active development here:  https://github.com/nathandunn/Apollo/tree/1042_remote_user

Current issue is getting the REMOTE_USER authenticated to a thread so that Shiro picks it up.   Getting this error with custom authentication:

[code]

[2016-06-02 17:21] monicacecilia commented on #730
Confirmed that users are able to:
- select multiple reference sequences, continuous or not, and across different pages of the listed sequences.
- de-select one or more sequences from a group by command/apple key + click.
- remove all selections using "clear" button.
- downloading data from selected sequences.
This gets two dancers! 💃  💃

[2016-06-02 17:21] #730 closed

[2016-06-02 17:55] monicacecilia commented on #769
Great, so clicking on the 'revert' button genomic element back to that state, and the 'bookmark' symbol now moves to the reverted state. This is great! 💃
![screen shot 2016-06-02 at 10 53 36 am](https://cloud.githubusercontent.com/assets/1714621/15755116/3bd0d756-28b0-11e6-8a7f-10cb49bf7043.png)

However, the original request of adding a label to the button or to the column that reads 'Revert' or

[2016-06-02 17:58] monicacecilia commented on #833
ncRNAs are no longer included in CDS export via FASTA files. 💃

[2016-06-02 17:58] #833 closed

[2016-06-02 18:19] nathandunn opened #1092 "loading public genome is not finding data properly"
loading public genome is not finding data properly

[2016-06-02 18:23] nathandunn commented on #1090
These are all JBrowse issues, so I'll be expanding

- [ ] NeatHTMLFeatures disappear when zoomed in
- [ ] NeatCanvasFeatures not using strand to calculate
- [ ] NeatCanvasFeatures have disappearing UTR

[2016-06-02 18:32] monicacecilia opened #1093 "Evidence tracks missing in 'Cat' on staging instance."
@nathandunn  Is this deliberate?
![screen shot 2016-06-02 at 11 26 21 am](https://cloud.githubusercontent.com/assets/1714621/15756140/d0c21844-28b4-11e6-9232-eaae8f923eb1.png)

[2016-06-02 18:33] nathandunn commented on #1093
Yes.  There are no cat tracks.

[2016-06-02 18:40] nathandunn commented on #769
I think that "Set" looks better.

![screen shot 2016-06-02 at 11 38 31 am](https://cloud.githubusercontent.com/assets/751274/15756584/c12cb7a2-28b6-11e6-8c22-7770a46f54ab.png)
![screen shot 2016-06-02 at 11 38 14 am](https://cloud.githubusercontent.com/assets/751274/15756585/c13b7fda-28b6-11e6-98d0-e2b1957afa4a.png)

[2016-06-02 19:31] deepakunni3 opened #1094 "Slightly different feature JSONObject sent from the client to the server"
When we create a non-coding RNA based annotation, the feature JSONObject, sent to the server, sometimes doesn't have 'name'. This causes the naming scheme of the created annotation to deviate from the expected behavior.

This happens only on some evidence tracks.

[2016-06-02 19:31] monicacecilia commented on #1093
10-4

[2016-06-02 19:31] #1093 closed

[2016-06-02 20:15] monicacecilia opened #1095 "'Change annotation type' menu and options need attention."
Dear @deepakunni3

Regarding the end product of the [pull request to "Change annotation type"](https://github.com/GMOD/Apollo/pull/1002):

- A genomic element of type 'gene' can be changed to anything else, including 'repeat_region' (RR) or 'transposable_element' (TE).
![screen shot 2016-06-02 at 1 03 34 pm](https://cloud.githubusercontent.com/assets/1714621/15759318/17c7776c-28c3-11e6-9c54-c5a9b9

[2016-06-02 20:23] nathandunn commented on #1095
@monicacecilia  Is that really necessary since they can use the history to undo the operation?

[2016-06-02 20:24] monicacecilia commented on #1095
What is *that*?

[2016-06-02 20:24] deepakunni3 commented on #1095
Yes, like Nathan said, you can do a UNDO to go back from a RR/TE to a gene.

[2016-06-02 20:25] monicacecilia commented on #1095
Yes it is.

[2016-06-02 20:26] nathandunn commented on #1095
I think what we're trying to say is that it *IS* reversible.

[2016-06-02 20:27] deepakunni3 commented on #1095
The reason for the limitation of not allowing users to change annotation type:
When you change the annotation type from Gene --> Repeat Region, the entire feature is reduced to a single level feature (i.e. no child features).
Since the change annotation type relies heavily on the input that it gets, going from Repeat Region --> Gene would lead to a top level 'flat' feature, which is not desirable.

[2016-06-02 20:28] monicacecilia commented on #1095
It is "really" necessary to have a warning. It is not intuitive to go with _Undo_.
The warning could say a whole lot, like: "You will not be able to revert back to this type of element using the 'Change annotation type' menu option. Use "Undo" instead."

But before that, then let's understand the reasons why it cannot be changed from non-directional element to directional element. (by "directional

[2016-06-02 20:42] monicacecilia opened #1096 "Using ?organism=organismName doesn't work if logged in, only works in public/non logged in."
Quoting from original issue #845
- The ?organism=organismName (instead of ?organism=organismId) was added in 2.0.1 but it doesn't work if you are logged in (goes through two different code paths)
- Issue brought to attention by @anaome http://gmod.827538.n3.nabble.com/Gmod-ajax-Navigate-to-ortholog-gene-in-a-different-organism-td4052815.html
- As a weird corallary, loadLink links work only if you

[2016-06-02 20:42] monicacecilia commented on #1096
Waiting for @nathandunn to update staging so this can be tested.

[2016-06-02 20:42] #845 closed

[2016-06-02 20:42] monicacecilia commented on #845
See #1096 instead.

[2016-06-02 20:44] nathandunn commented on #1090
NeatHTMLFeatures disappear because subfeatures are not found when zoomed in. In that case, we should create a straight line.

[2016-06-02 20:45] monicacecilia commented on #1095
__Updated ToDo List__
- [ ] When curators try to change annotation type from a genomic element with directionality to one that does not require it, warn them that action is only reversible using _Undo_ function.
- [ ] The menu options to "Change annotation type" only appear after _click_ over the words. Please change this to react when user hovers over the words instead? The way the 'Create new an

[2016-06-02 20:47] monicacecilia commented on #873
#1038 fixed and updated this.

@nathandunn I need a track of HTML, non-stranded features to be able to test this. A track with repeats, GC content, gaps, etc. could work.

[2016-06-02 20:53] nathandunn commented on #873
Could dig through a BAM track?   I think that's where they came from originally.    Can you use the original link?

http://icebox.lbl.gov/Apollo-staging/annotator/loadLink?loc=Group1.1:1345175..1356995&organism=3836

[2016-06-02 20:55] monicacecilia commented on #873
Ya see whatIwasTellingYouAboutThoseSpacesInTheURLs?

![screen shot 2016-06-02 at 1 55 29 pm](https://cloud.githubusercontent.com/assets/1714621/15760780/aa75f27c-28c9-11e6-9035-046548d0e96e.png)

[2016-06-02 20:56] nathandunn commented on #1095
I thought we weren't doing the "warning" message?

[2016-06-02 20:57] nathandunn commented on #1096
👍

[2016-06-02 20:58] nathandunn commented on #879
I think we fixed and tested.   I think that there were some issues with the data being imported.

[2016-06-02 20:58] #879 closed

[2016-06-02 20:59] monicacecilia commented on #1095
Incorrect. You thought we should not add a warning message because curators could grow tired of them. I said the action might be infrequent enough that it might not matter.
I also said we should let curators know about this in ways different than user guide and mailing list.
The only alternative offered was a message box.

[2016-06-02 21:00] nathandunn commented on #873
I can change the link text to be: "Link icon" or "right-click" and copy to share.

[2016-06-02 21:02] monicacecilia commented on #1096
@nathandunn not ready... still see this when trying to access public / logged out versions of our data in JBrowse (in staging):
![screen shot 2016-06-02 at 2 01 16 pm](https://cloud.githubusercontent.com/assets/1714621/15760940/7ea37ee8-28ca-11e6-98c2-25ac82f4f71d.png)

[2016-06-02 21:02] nathandunn commented on #1095
okay

[2016-06-02 21:03] monicacecilia commented on #873
@nathandunn reads in BAM tracks often (although not always) have information about strandedness. In Honey Bee data on staging they do.

[2016-06-02 21:03] nathandunn commented on #1096
Leave the "ready" on there and just assign it to nobody (or me).

[2016-06-02 21:09] deepakunni3 commented on #873
RNA-seq BAMs would have reads with strand information whereas DNA-seq (genomic) BAMs are not likely to have reads with strand information.

[2016-06-02 21:11] nathandunn commented on #873
@deepakunni3  If you know where some are let me know, otherwise I'm sure I can dig some up from somewhere or I can synthesize a track.

[2016-06-02 21:14] monicacecilia opened #1097 "Display of draggable alignments is incorrect."
Instead of keeping HTML defaults, SVG is having a weird effect on the display of draggable alignments.
Instead of this:
![draggable1-good](https://cloud.githubusercontent.com/assets/1714621/15761291/3e2bb0a4-28cc-11e6-9566-434f576a41e8.png)

They are showing up like this:
![draggable1-bad](https://cloud.githubusercontent.com/assets/1714621/15761295/3fa8b9ea-28cc-11e6-86b2-8ad7ff1fdcfc.png)

[2016-06-02 21:16] monicacecilia commented on #939
Aww, I think it's a pretty little box. :bowtie:
Also checked that user is able to log in without email address.
Works! Gets a dancer 💃

[2016-06-02 21:16] #939 closed

[2016-06-02 21:17] monicacecilia commented on #1097
Reads initially show up as shown in the first figure, and change to display as in second figure after a second or two.

[2016-06-02 21:25] monicacecilia commented on #963
Three whole paragraphs worth of [Hippie Ipsum](http://www.hippieipsum.me/) and the comments took just fine. Works well, and gets a💃 !

[2016-06-02 21:25] #963 closed

[2016-06-02 21:26] nathandunn commented on #963
Nice.  I don't see carob everyday.

[2016-06-02 21:27] monicacecilia commented on #1001
Fixed! 💃

[2016-06-02 21:27] #1001 closed

[2016-06-02 21:46] nathandunn commented on #769
@monicacecilia  Can you supply some feedback on the verbiage for above?

https://github.com/GMOD/Apollo/issues/769#issuecomment-223383479

Words are hard.

[2016-06-02 21:48] monicacecilia commented on #769
How about just '_Revert_'?
'_Set_' by itself does not convey much meaning in this context.

[2016-06-02 21:56] nathandunn commented on #769
👍

[2016-06-02 22:14] monicacecilia commented on #1003
💃

[2016-06-02 22:14] #1003 closed

[2016-06-02 22:18] monicacecilia opened #1098 "Error on BLAT search function."
When I try to run a BLAT search, the following error occurs.
![screen shot 2016-06-02 at 3 16 26 pm](https://cloud.githubusercontent.com/assets/1714621/15762896/2f3999ae-28d5-11e6-812b-82dd3a08615b.png)

[2016-06-02 22:18] monicacecilia commented on #1054
@nathandunn can't rest because https://github.com/GMOD/Apollo/issues/1098

[2016-06-02 22:23] monicacecilia commented on #1096
Need to solve https://github.com/GMOD/Apollo/issues/1092 before this can be re-tested.

[2016-06-02 22:23] monicacecilia commented on #1055
Need to solve https://github.com/GMOD/Apollo/issues/1092 before testing.

[2016-06-02 22:25] nathandunn commented on #1090
Need to retag after merging this:  https://github.com/GMOD/jbrowse/pull/754

[2016-06-02 22:25] monicacecilia commented on #1058
Can't test until https://github.com/GMOD/Apollo/issues/1092 is fixed.

[2016-06-02 22:29] monicacecilia commented on #1066
@nathandunn wait, what? should it not be "_(i.e., down)_"?

[2016-06-02 22:29] nathandunn commented on #1066
ah .. you're right . . . I think I forgot to say "not up"

[2016-06-02 22:30] monicacecilia commented on #1066
Ok. In that case, 💃 !

[2016-06-02 22:30] #1066 closed

[2016-06-02 22:30] monicacecilia commented on #1071
so purrrrrdy. 💃

[2016-06-02 22:30] #1071 closed

[2016-06-02 22:34] nathandunn commented on #1098
This is fixed.  It is a system upgrade issue.  It is now working.

[2016-06-02 22:34] #1098 closed

[2016-06-02 22:39] monicacecilia commented on #1077
💃

[2016-06-02 22:39] #1077 closed

[2016-06-02 22:42] monicacecilia commented on #1085
💃

[2016-06-02 22:42] #1085 closed

[2016-06-02 22:44] monicacecilia commented on #1098
👍

[2016-06-02 22:48] monicacecilia commented on #1054
#1098 is now fixed.
BLAT works appropriately.
💃

[2016-06-02 22:48] #1054 closed

[2016-06-02 23:04] monicacecilia commented on #1034
I have not been able to access Zenodo again since I initially did... and my computer does not want to talk to Zenodo anymore... @nathandunn you may need to jump in and do this from your end.

[2016-06-02 23:08] monicacecilia commented on #1034
neeeever miiiiind. After a few days, I'm finally in again...

[2016-06-02 23:10] monicacecilia commented on #1034
DOI badge is ready.
- [![DOI](https://zenodo.org/badge/22312/GMOD/Apollo.svg)](https://zenodo.org/badge/latestdoi/22312/GMOD/Apollo)

[2016-06-02 23:21] deepakunni3 commented on #1034
@monicacecilia The title says `WA2.0.2-RC1` when it should be `WA2.0.3-RC1`.

[2016-06-02 23:22] monicacecilia commented on #1092
I still can't access any of the other genomes...

[2016-06-02 23:24] monicacecilia commented on #1034
That's all automatically done by the info Zenodo gets from GitHub... so let me go find out what's up. (because the rest of the page lists it correctly). grrrr.

[2016-06-02 23:31] deepakunni3 commented on #1034
Oh, we did have a typo in the title when we released the RC1, which was changed within minutes.
But I guess Zenodo didn't update itself.

[2016-06-02 23:31] monicacecilia commented on #1034
Oh, so it's @nathandunn fault... 😉  hehe.

[2016-06-02 23:34] monicacecilia commented on #1034
yep... it's not going to be updated until we do a new release...

[2016-06-02 23:55] nathandunn commented on #1092
I'll let you know as soon as I have it redployed

[2016-06-03 00:10] nathandunn commented on #1034
The very newest one should be:

Apollo2.0.3-RC2(JB1.12.2-apollo)

Or .  . I could just do them as:

2.0.3(JB1.12.2-apollo)

??

[2016-06-03 00:12] monicacecilia commented on #1034
I like to differentiate RC from the real deal. Let's keep -RCx in the name.

[2016-06-03 00:21] nathandunn commented on #1034
Sorry . .  I meant:

2.0.3-RC2(JB1.12.2-apollo)

Didn't mean to drop the RC2

[2016-06-03 00:25] nathandunn commented on #1095
So, the "hover" doesn't work, but everything else does

[2016-06-03 00:34] monicacecilia commented on #1097
💃

[2016-06-03 00:34] #1097 closed

[2016-06-03 00:37] monicacecilia opened #1101 "'Change annotation type' options should appear after onFocus event"
- [ ] The menu options to "Change annotation type" only appear after click over the words. Please change this to react when user hovers over the words instead? The way the 'Create new annotation' menu (from right click over evidence tracks) works?

[2016-06-03 00:38] monicacecilia commented on #1095
Thanks. I like it.
![screen shot 2016-06-02 at 5 35 56 pm](https://cloud.githubusercontent.com/assets/1714621/15765329/6a1597ae-28e8-11e6-9dc0-e6c407160a9e.png)

I'll close, but does not get a dancer, because of the _onFocus_ bit with the menu is not yet working. I've created #1101 to remind us of that.

[2016-06-03 00:38] #1095 closed

[2016-06-03 00:49] monicacecilia commented on #1092
Now working. 💃

[2016-06-03 00:49] #1092 closed

[2016-06-03 00:58] monicacecilia opened #1102 "Last visited scaffold is no longer preserved across sessions."
Last visited scaffold is no longer preserved across sessions. Is this deliberate? Am I the only one seeing this? When I log out, then change window, and log back in with same UserName, I am being sent back to first available organism (i.e. Cat in _Staging_).

[2016-06-03 00:59] monicacecilia commented on #1058
This is resolved and I'm closing.  However... #1102

[2016-06-03 00:59] #1058 closed

[2016-06-03 01:15] monicacecilia commented on #1055
I can confirm all issues have been resolved.

This Login window looks funky though. Not a show-stopper. Just different from the one we have on the 'Annotator Panel' view.

Listing the possible users:
![screen shot 2016-06-02 at 6 10 21 pm](https://cloud.githubusercontent.com/assets/1714621/15765807/c5e757f2-28ed-11e6-8904-18c7ee38e900.png)

After entering credentials.
![screen shot 2016-06-02 at 6

[2016-06-03 01:15] #1055 closed

[2016-06-03 01:17] monicacecilia opened #1103 "Make Login windows the same for Annotator Panel view and Full-screen view."
'Full-screen view' Login window
![screen shot 2016-06-02 at 6 13 08 pm](https://cloud.githubusercontent.com/assets/1714621/15765805/b8c45980-28ed-11e6-9487-9cbedab2ef10.png)

'Annotator Panel view' login window:
![screen shot 2016-06-02 at 6 15 44 pm](https://cloud.githubusercontent.com/assets/1714621/15765834/02f2f566-28ee-11e6-9845-89dd25368f20.png)

[2016-06-03 01:18] monicacecilia commented on #1103
Goal: make both look like the 'Annotator Panel view' login window.

[2016-06-03 01:18] monicacecilia commented on #769
💃

[2016-06-03 01:18] #769 closed

[2016-06-03 01:20] monicacecilia commented on #1034
Ok. I think the former. Thanks.
Apollo2.0.3-RC2(JB1.12.2-apollo)

[2016-06-03 01:56] nathandunn commented on #1102
Not deliberate, definitely a bug.

[2016-06-03 01:56] nathandunn commented on #1096
@monicacecilia  I think that this can be retested still.

[2016-06-03 02:03] nathandunn commented on #1034
How do we trigger Zenodo?  We made another release and it doesn't seem to be updating.   Maybe just need to wait.

[2016-06-03 03:08] nathandunn commented on #873
I added a volvox organism with a strandless track.

<img width="611" alt="screen shot 2016-06-02 at 8 06 12 pm" src="https://cloud.githubusercontent.com/assets/751274/15767529/a8ed588a-28fd-11e6-89d5-b4baa6926d99.png">

[2016-06-03 04:17] nathandunn commented on #1102
For some reason, with no preferences set it is creating 3 almost identical entries, which means its not calculating the equality properly.

[2016-06-03 04:48] nathandunn commented on #1013
Closing this as we are doing this already.

[2016-06-03 04:48] #1013 closed

[2016-06-03 07:27] lfaino opened #1104 "remove organism"
Dear,
this is not a issue. I would like to know which is the easiest way of remove an organism from WebApollo. could you please help?

thanks
Luigi

[2016-06-03 14:55] nathandunn commented on #1104
Sure.

If you have no annotations on an organism, then you should be able to go to the organism tab and hit delete.

If you DO have annotations, you can delete them and then do a delete.

Conversely, you can use web-services to do the same:

http://icebox.lbl.gov/Apollo2/WebServices/ <http://icebox.lbl.gov/Apollo2/WebServices/>

We have a working example script here (should be in your local doc di

[2016-06-03 15:04] lfaino commented on #1104
Hi Nathan,
you are very quick. I do have an annotation and actually I would like to remove that and place a new one for the organism. however, I do not understand how to use the webservices. how can i set the user, password and organism from the WebSeevices?

moreover, we I use the groovy script i get this error:

org.codehaus.groovy.control.MultipleCompilationErrorsException: startup failed:
Gene

[2016-06-03 16:24] nathandunn commented on #1104
If you only have a single annotation (or just a few), I would just delete it by using the right-click menu and then delete the organism.

If you have a large batch (like >20 . . .when it starts to become a pain) then this method should work.

First of all, it shouldn’t be such a pain, by something is up with the way this resolves with maven.  Hopefully this will work.

Change the top of your scrip

[2016-06-03 16:55] monicacecilia commented on #1034
New releases are supposed to trigger it automatically. Nothing to do on our end. I noticed the same last night and figured it will be updated in a few hours. . .

[2016-06-03 17:53] nathandunn commented on #1102
Fixed some things, but wanted to check off what is still problematic.

- [ ] on login 3 "preferences" set (not a big problem, but annoying)
- [ ] on logging back in, it picks up the organism correctly in the appState, but fails to update the browser for some reason
- [ ] safari fails to create a clientToken . .  though otherwise works fine

[2016-06-03 19:41] nathandunn commented on #1102
I think we are good . . . rebuilding for test now .

[2016-06-06 08:41] lfaino commented on #1104
Hi Nathan,
at the end it worked out. I had to update my groovy to 2.4.6 and change the httpbuilder to 0.5.2 and remove the folders.

thanks
Luigi

[2016-06-06 11:32] nathandunn commented on #1104
Glad it worked out!

[2016-06-06 11:32] #1104 closed

[2016-06-06 12:42] nathandunn commented on #873
Retested and still works.

[2016-06-06 12:59] nathandunn commented on #1102
@monicacecilia  I re-confirmed that this was working.  I had to blow on the preferences (and the annotations), but it looks correct.   However, it should probably look them up by lastUpdated.  Hmm . . .

[2016-06-06 13:05] nathandunn commented on #1102
By defalut they use the creation date, but if you go back and for it might get annoying

[2016-06-06 13:44] nathandunn commented on #1102
Okay . . this is fixed now (pushed tag).

[2016-06-06 19:18] nathandunn opened #1106 "refactor integration tests to use users"
in https://github.com/nathandunn/Apollo/tree/projection_v2_server

The testing schema uses users explicitly and a helper abstract integration class.  Less code but better tests and mostly already written.

[2016-06-07 19:01] adnguyen999 commented on #1031
FYI
Regarding my first post (tooltips / labels of alignment features)
A co-worker found the way to show the labels on the features by using the "Show labels" option.

Anh-Dao

[2016-06-07 19:16] nathandunn commented on #1031
👍

[2016-06-07 20:38] monicacecilia commented on #873
@nathandunn, that's a funny track. :bowtie:
- I checked and confirmed that genomic elements from the evidence tracks, that do not have 'strand' information, by default are converted to sense strand.
- Checked and confirmed that genomic elements in the Uc-A area can be moved to the opposite strand.
- WRT @nathandunn's comment: "I can change the link text to be: "Link icon" or "right-click" and copy

[2016-06-07 20:38] #873 closed

[2016-06-07 20:40] monicacecilia opened #1107 "Volvox data in staging throws errors."
@nathandunn Is this deliberate? It may just be the case that you didn't add those data. I just wanted to check. If you meant to do this, then let's get rid of _Volvox mithicus_ for the demo instance.

<img width="1426" alt="screen shot 2016-06-07 at 3 00 23 pm" src="https://cloud.githubusercontent.com/assets/1714621/15873845/23a22e86-2cc6-11e6-8991-56d64352970c.png">

[2016-06-07 20:42] monicacecilia opened #1108 "Errors from Apollo"
@nathandunn This error is appearing every time I go to the staging instance. It is repeated with every new window. This does not appear to affect anything I am testing; I am passing the message nonetheless.

<img width="1418" alt="screen shot 2016-06-07 at 2 59 02 pm" src="https://cloud.githubusercontent.com/assets/1714621/15873890/496273ba-2cc6-11e6-99db-35a87c77a2d4.png">

[2016-06-07 21:04] nathandunn commented on #1108
@monicacecilia  Going to the same place and not seeing it

[2016-06-07 21:07] nathandunn commented on #1107
I am missing the raw file directory it looks like?  . . I'll check.

[2016-06-07 21:08] monicacecilia opened #1109 "Need to add organism label to JBrowse / Full-screen view window."
Logged out users in 'Full-screen view' cannot tell which organism they are browsing. There is not a label to let them know.

<img width="687" alt="screen shot 2016-06-07 at 3 54 08 pm" src="https://cloud.githubusercontent.com/assets/1714621/15874445/cd32b202-2cc8-11e6-891f-3b2d035f0d77.png">

Logged in users can see the name from the 'Annotator Panel'.

We need a label under the tab 'Genome', or a

[2016-06-07 21:08] monicacecilia commented on #1096
- Organisms (not the manual annotation for each organism) are now visible when logged out.
- We agreed to not pursue a GENEID look up at this point.
- Other problems were identified - but this issue can be closed.

[2016-06-07 21:08] #1096 closed

[2016-06-07 21:08] nathandunn commented on #1108
I am seeing it . . yeah . . . it is coming from the help menu.

[2016-06-07 21:09] nathandunn commented on #1108
If we do another pass I'll try to see if I can fix it.   Like you said it doesn't affect anything.  Why is it there?  I'm not sure.

[2016-06-07 21:12] monicacecilia commented on #1102
Yes, it *remembers* now. 💃

[2016-06-07 21:12] #1102 closed

[2016-06-07 21:13] monicacecilia commented on #1108
It's a myyyyystery...

[2016-06-07 21:14] nathandunn commented on #1107
Observing the same thing with some of the "raw" tracks.

I'm checking locally.  I have this eerie feeling it doesn't like the sub-directory, but will see.

[2016-06-07 21:14] nathandunn commented on #1107
the data is there

[2016-06-07 21:18] monicacecilia commented on #1034
### Zenodo
The tag was updated with the latest RC.
[![DOI](https://zenodo.org/badge/22312/GMOD/Apollo.svg)](https://zenodo.org/badge/latestdoi/22312/GMOD/Apollo)

It's driving me nuts that the DOI in the original badge shows up as:
[![DOI](https://zenodo.org/badge/22312/GMOD/Apollo.svg)](https://zenodo.org/badge/latestdoi/22312/GMOD/Apollo)

But in the Zenodo page, it actually has updated the DOI

[2016-06-07 21:29] nathandunn commented on #841
I would say it might also be worth considering expanding the annotator panel to filter by status and edit the status within the panel.  @childers @mpoelchau   ?  Lower-hanging fruit.

For a separate page, having a bulk-way to change status and delete.  Also filtering by user, org, (scaffold), date, and status.   We could add errors, etc. after that as well.    Anyway, thinking out loud.

[2016-06-07 21:56] monicacecilia opened #1110 "Using external URLs to visualize data in Apollo is not processing data correctly."
@nathandunn I sent you an email with the URLs I was trying to load.
The data are there and available, but Apollo can't open the files and thus, it is unable to visualize it. No error warning is shown.

The console error:
<img width="1420" alt="screen shot 2016-06-07 at 4 54 53 pm" src="https://cloud.githubusercontent.com/assets/1714621/15876042/9b4e3ee8-2cd0-11e6-8ceb-e5328339b8d4.png">

[2016-06-07 21:56] nathandunn commented on #1110
K . . thnanks

[2016-06-07 23:43] nathandunn commented on #1107
I have a fix for this and will assign it back when deployed.

[2016-06-07 23:44] nathandunn commented on #1108
I'm wondering if this is related  #1110  . . I'll try fixing it first and see if that helps.

[2016-06-07 23:49] nathandunn commented on #1108
yep . . .  I fixed this and #1110  works as well.

[2016-06-07 23:58] nathandunn commented on #1109
I added the appropriate Jbrowse bug: https://github.com/GMOD/jbrowse/issues/761

[2016-06-08 21:33] monicacecilia opened #1112 "Remove one "Add sequence search track" option from "Track" menu."
I'm adding @enuggetry to this issue because I don't know if this was a JBrowse bug that snuck in or we did this. :bowtie:

We need to remove one "Add sequence search track" option from new "Track" top-level menu.
<img width="299" alt="screen shot 2016-06-08 at 4 30 00 pm" src="https://cloud.githubusercontent.com/assets/1714621/15911696/82a35ede-2d96-11e6-838b-c15282ce4656.png">

[2016-06-08 21:35] monicacecilia commented on #1110
Brilliant. it works now.💃

[2016-06-08 21:43] monicacecilia commented on #1108
Fixed. 💃

[2016-06-08 21:43] #1108 closed

[2016-06-08 21:56] monicacecilia commented on #1107
done and done. 💃

[2016-06-08 22:03] monicacecilia opened #1113 "Update 'Help' top-level menu options and 'Help' box links."
The item to check the Apollo version under the 'Help' top-level menu has disappeared. Let's put it back.

Also, the "Apollo user guide" under "Apollo links" in the "Help" box needs to be updated from the current http://genomearchitect.org/web_apollo_user_guide to the updated http://genomearchitect.org/users-guide/

I still don't like "User's Guide"... _but that is a different bug and shall be solv

[2016-06-08 22:33] monicacecilia opened #1114 "BLAT search hangs when 'Search all genomic sequences' is checked."
I have queried Group16.4 (honey bee) using this string of amino acids, and I see results almost immediately. However, when using the same string and checking the 'Search all genomic sequences' box, the query hangs, and after waiting over 10 minutes, I gave up and cancelled.
It should return results much sooner than that.
[code]

Network console shows the following (see failed request in red):
<img

[2016-06-08 22:34] monicacecilia commented on #1114
Also tried a search in a different group (1.1), without selecting 'all sequences'. The response was immediate. When checking 'all sequences' behavior was the same.

[2016-06-08 22:34] nathandunn opened #1115 "moving jbrowse "boundary" begins to halt"
Moving side-bar around begins to lag badly.

This is new with 1.12.2 / 2.0.3 . . . I think either 1.12.1 or 2.0.2 may not have this error.

[2016-06-08 22:35] monicacecilia commented on #1114
p.s: Apollo is not happy about having 'Developer Tools' window open at the bottom. It hiccups and does not re-render in the correct size.

[2016-06-08 22:35] nathandunn commented on #1115
<img width="1432" alt="screen shot 2016-06-08 at 2 36 37 pm" src="https://cloud.githubusercontent.com/assets/751274/15913406/a64a66b4-2d8e-11e6-95c3-8332ec39ffe3.png">

[2016-06-08 22:36] nathandunn commented on #1115
Confirmed that this happens locally as well.

[2016-06-08 23:01] nathandunn commented on #1115
Tested in embedded jbrowse mode and did not get errors (in master).

[2016-06-09 00:46] nathandunn opened #1116 "reload tracks if track tab is active on restart"
if the track tab was the last tab it will show up (good), but then will stay as "track not found" until refreshed

[2016-06-09 01:48] nathandunn commented on #1115
Have this same issue with 1.11.6.

[2016-06-09 03:26] monicacecilia commented on #1116
Thanks for adding this.

[2016-06-09 03:50] nathandunn commented on #1115
https://github.com/GMOD/Apollo/commit/afe39d282fc8aad31fd815c4c895174df480ad1d seems to be okay.

Should move up from here:

https://github.com/GMOD/Apollo/commits/master?page=2

[2016-06-09 11:38] nathandunn commented on #1115
working: https://github.com/GMOD/Apollo/commit/1bb53a792470024372c25de030f6447c0ccd1140

[2016-06-09 11:42] nathandunn commented on #1115
working: https://github.com/GMOD/Apollo/commit/e75ccadb913e3ae8f1a3ba867c5f7d17f98fd63e

[2016-06-09 11:49] nathandunn commented on #1115
working: https://github.com/GMOD/Apollo/commit/b5badcc04457ffe2ec812dd9056254b28200b0e3

jbrowse error appears when switching organisms, but not on initial load

[2016-06-09 11:57] nathandunn commented on #1115
seems to work: https://github.com/GMOD/Apollo/commit/bc53a52f5a45ab21db4d0cfe60c1750e108d4448  . . updated bootstrap plugin from 3.3.4 to 3.3.5

Worth pointing out this bug:

<img width="532" alt="screen shot 2016-06-09 at 4 57 17 am" src="https://cloud.githubusercontent.com/assets/751274/15928908/a4483754-2dfe-11e6-8c2f-8981e8fb2b33.png">
<img width="1413" alt="screen shot 2016-06-09 at 4 57 10 a

[2016-06-09 11:59] nathandunn commented on #1115
works: https://github.com/GMOD/Apollo/commit/be1bde324beaf6d592881735ac239dd1d8c629c0

[2016-06-09 12:05] nathandunn commented on #1115
works: https://github.com/GMOD/Apollo/commit/bc53a52f5a45ab21db4d0cfe60c1750e108d4448

[2016-06-09 12:19] nathandunn commented on #1115
Issues, 1 - defined in HTML or template or 2 - not destroyed properly (most likely since we only get this once)

https://www.sitepen.com/blog/2013/10/23/dojo-faq-why-am-i-getting-error-tried-to-register-widget-with-idxxx-but-that-id-is-already-registered/

[2016-06-09 12:22] nathandunn commented on #1115
http://stackoverflow.com/a/15361223/1739366

Probably easiest to check and re-assign.

[2016-06-09 12:42] nathandunn commented on #1115
I think we can safely remove [this code](https://github.com/GMOD/Apollo/blob/master/client/apollo/js/main.js#L219-L247 ):

It is all from this commit:

https://github.com/GMOD/Apollo/commit/b8964c1bc6553bd7c3811f1f3efcfa750d055e20

@GreggHelt2  Do you remember what this was to fix (zooming, etc. works well without it seems), in case I missed something during testing.  I think that JBrowse + Dojo +

[2016-06-09 12:51] nathandunn commented on #1112
This is from the RegexSearch plugin . . I think I might be adding the plugin twice.

[2016-06-09 12:51] nathandunn commented on #1112
I checked jbrowse and it is correct there.

[2016-06-09 12:58] nathandunn commented on #1114
I was able to do this in 23 seconds.   Blat was definitely pegged during that time (as it should be).  Would be great to get a queuing system or leverage @enuggetry  's JBrowse platform.

[2016-06-09 13:05] nathandunn commented on #1114
I would vote that we move this to 2.0.4, as I don't think its a new problem.   If I was compiling something on icebox (not the most powerful machine) it would effect this as well.

[2016-06-09 13:06] nathandunn commented on #1114
I think you should test it again to see if you see the same results I did.

[2016-06-09 13:17] nathandunn commented on #1110
Will need to be retested.

[2016-06-09 13:17] nathandunn commented on #1107
Will need to be rested.

[2016-06-09 13:18] nathandunn commented on #1107
Still appears to work.

[2016-06-09 13:24] nathandunn commented on #1110
Confirmed that this still seems to work.

[2016-06-09 13:53] nathandunn commented on #1112
There is a core plugin concept in JBrowse 1.12.  Now we register that internally.

[2016-06-09 18:54] nathandunn opened #1118 "copy functional annotations explicitly"
We should be able to copy functional annotation and attributes from evidence into a user annotation via some method:

1 - following the annotation  (select on both, select "copy annotations"), selects all or some annotations
2 - during annotation (just selects all)
3 - matching location after the annotation (problematic)

Probably 1 or 2 is the most likely method.

[2016-06-09 19:03] nathandunn opened #1119 "allow for configurable CV / CV_TERM lookups (e.g., HPO, OMP, etc.)"
we want to allow additional CV / CV_TERM lookups

- [ ] make configurable per name, lookup service / URL, target CV
- [ ] allow create if not found (separate table)

[2016-06-09 19:08] nathandunn opened #1120 "attach evidence codes and pubs to cv / cv_term annotations and allow possibly more complex units"
When I've built these before, there is some pretty involved logic here.

I'm really curious if we could leverage Noctua to Link to Lego models directly.

http://geneontology.org/page/connecting-annotations-lego-models

http://noctua.berkeleybop.org/

[2016-06-09 19:14] nathandunn opened #1121 "allow custom export classes for GFF3, FASTA, and Chado"
The idea is to allow a user to write their own export class if they have a different version of GFF3, Chado, etc. and then have that available the Sequence Panel.

[2016-06-09 19:15] nathandunn commented on #1121
The initial context was to allow the ability to add a Chado exporter for exporting protein sequences.

[2016-06-09 19:18] nathandunn commented on #1120
FYI @satta

[2016-06-09 19:19] nathandunn commented on #1118
FYI @satta

[2016-06-09 19:19] nathandunn commented on #1119
FYI @satta

[2016-06-09 19:20] nathandunn commented on #1121
FYI @satta

[2016-06-13 15:58] erasche opened #1122 "Share UX"
Just wanted to document this. I have some work in a branch but still feeling my way around GWT. It'll be a few months before I get something usable implemented (due to other priorities)

My users wish to control sharing of the genomes themselves. I realise not every site wants that (some may want the org admin, or the sys admin to control sharing + dissemination and vet access), but my site strong

[2016-06-13 16:57] nathandunn opened #1123 "add classic menu option / switch organism should work"
The trick part here is that when

[code]

The problem is that the "loadLink" that is called fails.  But this fails anyway.

[2016-06-13 18:53] nathandunn commented on #1122
@erasche  I want to be able to make sure I understand the use-case.   You want to be able to configure it such that:

1 - non-admin users can invite other user's not in the system to edit
2 - non-admin users can invite other user's IN the system to edit a genome that they can also edit

What groups like @childers  did is build a system on top of Apollo to do this.   I think in their model user's r

[2016-06-13 18:59] erasche commented on #1122
@nathandunn

No. I'm fine with users having to go through a registration process as of now.

yes! This.

Building on top... I would do this but I'm not sure of the cost/benefit here. If I did, it would likely go all in, and build a full-featured AngularJS standalone client and just use Apollo's API. That's a lot of work for something that I feel would fit pretty naturally with the existing collabo

[2016-06-13 20:08] nathandunn commented on #1109
This is a dupe of #1123

[2016-06-13 20:08] #1109 closed

[2016-06-13 20:14] nathandunn opened #1125 "caching disabled for JBrowse files"
I think that this is because of the redirect.  It wouldn't be that bad because of the clientToken (doesn't actually seem to be hitting the database), but even when refreshing, some files are not appropriately cached (and the clientToken remains the same).

[2016-06-13 21:02] nathandunn opened #1126 "logged-in Apollo only supports side-bar"
1 - When logging out via the JBrowse window, we always go back to "/annotator/" . . . this will still allow public / anonymous jbrowse viewing
2 - When logging in (via the JBrowse window), it simply takes you to "/annotator"

[2016-06-13 21:04] nathandunn commented on #1126
This simplifies what we have to support in terms of modes of Apollo:

1 - logged-in with side-bar
2 - reports / other pages
3 - logged out with login screen
4 - jbrowse public mode

[2016-06-13 21:39] nathandunn commented on #1125
The problem is that when we have a referer:

http://localhost:8080/apollo/849980139913682511949274315/jbrowse/index.html?loc=Group1.1%3A0..1382403&highlight=&tracklist=0

it calls jbrowse files:

http://localhost:8080/apollo/jbrowse/src/dojo/number.js

the final redirected from:

http://localhost:8080/849980139913682511949274315/apollo/jbrowse/src/dojo/number.js

The redirected file IS using the c

[2016-06-13 23:59] monicacecilia opened #1128 "'Genome' menu items throw errors - incorrect URLs"
When trying to access any of the organisms from this list:
<img width="294" alt="screen shot 2016-06-13 at 4 57 45 pm" src="https://cloud.githubusercontent.com/assets/1714621/16027059/04087942-3188-11e6-8e7e-293454da3a42.png">

User is directed to this error page. URLs for all organisms respond in this manner:
<img width="897" alt="screen shot 2016-06-13 at 4 56 44 pm" src="https://cloud.githubuse

[2016-06-14 00:00] nathandunn commented on #1128
yeah, this one of the things I fixed, but you should definitely recheck it.

[2016-06-14 00:07] monicacecilia commented on #1107
I can confirm that it still works as intended.

[2016-06-14 00:20] nathandunn commented on #1107
I'm sure it still works, but re-opening to re-test

[2016-06-14 00:51] nathandunn commented on #1125
I confirmed that after you do a page reload it uses the cached version of files.

[2016-06-14 00:52] nathandunn commented on #1128
Confirmed that this ifixed.

[2016-06-14 00:52] nathandunn commented on #1123
Confirmed that both parts to this work.

[2016-06-14 00:57] monicacecilia commented on #1031
@adnguyen999 ... I have looked and looked and I don't have an answer for those gray bars. I'm sending this pic to the JBrowse list, in case someone over there knows what's up.

[2016-06-14 01:20] nathandunn commented on #1075
Grails installs a 1.11 and 1.10 version in the plugins . . so I probably need to exclude one.  Could be a dependency or just an asset.

[2016-06-14 20:31] monicacecilia commented on #1120
@nathandunn
Do you mean something beyond having the ability to annotate PMIDs?
Or do you mean to add the ability to link the PMID to the annotations made using GO IDs?

[2016-06-14 20:32] monicacecilia commented on #1118
I am surprised there is not already an issue for this. This must be a dup of an earlier one. This is not the first time we discuss this bit. I'll look.

[2016-06-14 20:41] nathandunn commented on #1120
The latter:

I'd done it this way before.   This might be a larger conversation for a long-term solution and a short-term solution using attributes / keys / comments as we'd talked about before.

[2016-06-14 20:41] nathandunn commented on #1118
Definitely not the first time.

[2016-06-14 20:46] monicacecilia commented on #1120
Copy that. Just clarifying for this issue.

[2016-06-14 20:53] nathandunn commented on #1120
Would love to do this with LEGO / Noctua annotations, but I don't know if we're there yet.

[2016-06-14 20:53] monicacecilia commented on #1107
Yes it does, and I checked. ... again. 😒

[2016-06-14 20:53] #1107 closed

[2016-06-14 20:56] nathandunn commented on #1107
👍   points for thoroughness

[2016-06-14 21:12] monicacecilia commented on #1110
Confirmed.

[2016-06-14 21:12] #1110 closed

[2016-06-14 21:25] monicacecilia commented on #1112
I can confirm that there is only one option to "Add sequence search track".

However, the name of the top level menu has been reverted from "Track" to "File".

@nathandunn Please let's make sure the name of this top-level menu remaisn as "Track", so it is consistent with JB1.12.2 as well.

[2016-06-14 21:31] nathandunn commented on #1112
I'll take a look.  Have no idea what this might be as it should just inherit from the current version.

[2016-06-14 21:31] nathandunn commented on #1112
of jbrowse   . . .

[2016-06-14 21:41] monicacecilia opened #1129 ""Open track file or URL" options discrepancy."
Different options from the "Open track file or URL" menu do not offer the same results opening the same files as local vs external binary files via URL.

If I open these three files from an external location, the three files are loaded simultaneously and Apollo is able to discern what they are and how the tracks should be organized:

![screenshoturl-load](https://cloud.githubusercontent.com/assets

[2016-06-14 21:48] monicacecilia commented on #1113
Nope.
The URL to "Apollo User Guide" in Help is still the old one. . . here's the fix for the Help menu
https://github.com/GMOD/Apollo/pull/1130

[2016-06-14 22:00] monicacecilia commented on #1114
BLAT search seems to be working correctly and this issue seems to have been resolved. 💃

[2016-06-14 22:00] #1114 closed

[2016-06-14 22:05] monicacecilia commented on #344
Just singing "happy birthday" to this old issue... sheesh.
Unbelievably enough, we still do not have warnings for users that have entered a nucleotide sequence and are trying to run 'BLAT protein' and the opposite, entered an amino acid sequence and are trying to run 'BLAT nucleotide'.
Up next... this! :) (after all the "up next" things already in our list).

[2016-06-14 22:11] monicacecilia commented on #1115
Yep. That's solved. Boundary is sliding without hiccup.

The description in https://github.com/GMOD/Apollo/commit/b8964c1bc6553bd7c3811f1f3efcfa750d055e20 refers to some errors in zooming in and out of base level.  I have not come across this error again (bases are displayed correctly despite zoom level and with different settings (e.g. colored CDS, Dark theme, etc).  I agree with you. Chrome fina

[2016-06-14 22:11] #1115 closed

[2016-06-14 22:12] monicacecilia commented on #1116
Ya-ya! 💃

[2016-06-14 22:12] #1116 closed

[2016-06-14 22:13] monicacecilia commented on #1123
It switches, and it loads all the tracks, too! Great. 💃

[2016-06-14 22:13] #1123 closed

[2016-06-14 22:14] monicacecilia commented on #1125
Yes, and it loads a lot faster. Great!

[2016-06-14 22:14] #1125 closed

[2016-06-14 22:14] monicacecilia commented on #1128
Confirmed. 💃

[2016-06-14 22:14] #1128 closed

[2016-06-14 22:50] monicacecilia opened #1131 "Warn users when 'Make Intron' is not possible"
We understand that the option to 'Make Intron' will only show results when indeed there is sufficient space to make an intron with canonical splice sites within the exon of interest.

However, it is disconcerting to the user that Apollo does not issue any warning when this scenario is not available - when it is not possible to "Make Intron".

Let's add a message (I thought we had one at some point

[2016-06-14 23:03] monicacecilia opened #1132 "Run through TestScript.md for 2.0.3"
- [x] [RC-3](https://github.com/GMOD/Apollo/releases/tag/2.0.3-RC3)
- [x] [RC-6](https://github.com/GMOD/Apollo/releases/tag/2.0.3-RC6)

[2016-06-15 00:03] nathandunn opened #1133 ""Track" menu has reverted back to "file" menu"
Created from #1112

[2016-06-15 00:03] #1112 closed

[2016-06-15 00:14] nathandunn commented on #1113
👍  You fixed it!   There was an issue to web_services whih I will fix now.

[2016-06-15 00:20] nathandunn commented on #1113
👍  for using the PR

[2016-06-15 00:44] nathandunn commented on #1129
I'm having trouble reproducing this.  Everything I've tried has worked so far.   Can you email these URL's?    Not sure if its variant + BigWig that is the problem.

[2016-06-15 04:11] nathandunn commented on #1129
I couldn't reproduce it . .
<img width="693" alt="screen shot 2016-06-14 at 9 05 54 pm" src="https://cloud.githubusercontent.com/assets/751274/16067794/856d1488-3274-11e6-8c88-b5b8b5c98623.png">
<img width="641" alt="screen shot 2016-06-14 at 9 06 15 pm" src="https://cloud.githubusercontent.com/assets/751274/16067793/856cecc4-3274-11e6-842c-e003b6700050.png">

 . . . am seeing two tracks.

[2016-06-15 04:51] nathandunn commented on #1133
So . . this is the "Classic" vs "new" . . . so the choices are:

<img width="315" alt="screen shot 2016-06-14 at 9 36 52 pm" src="https://cloud.githubusercontent.com/assets/751274/16068158/84f83894-3278-11e6-994f-7a1bc6a00667.png">

vs

<img width="285" alt="screen shot 2016-06-14 at 9 40 13 pm" src="https://cloud.githubusercontent.com/assets/751274/16068165/9b6ad67c-3278-11e6-8ff8-451df6374ab3.pn

[2016-06-15 08:30] monicacecilia commented on #1129
@nathandunn yes, as I said above (and you corroborated) it works well when you use the URLs.

**BUT** when you try to upload those files from local copies in your computer, it does not work as expected.

Please see above the part that reads "If I open the same three files from a local copy,"....

[2016-06-15 08:31] monicacecilia commented on #1113
💃

[2016-06-15 08:31] #1113 closed

[2016-06-15 13:51] nathandunn commented on #1129
Crap, that’s right.  Was too tired when I read this.  Will take another look.

[2016-06-15 15:40] nathandunn commented on #1129
Testing against volvox local and it works on staging and locally.

[2016-06-15 15:50] nathandunn commented on #1129
Tested on honeybee locally (bai + bam) and worked for forager and the bigwig for the combined.    I'm wondering if the full VCF didn't download?  I'm taking another look at the VCF and see.

[2016-06-15 16:29] nathandunn commented on #1129
Only fails in one specific instance, though it is unclear why.  Failed in 2.0.2 as well (for this particular instance).  This code has not really been touched so its hard to know.

[2016-06-15 16:32] #1132 closed

[2016-06-15 17:26] #1030 closed

[2016-06-16 00:44] nathandunn commented on #1120
Discussed with @monicacecilia   . . probably not LEGO, but something like:

GENE (or Transcript) 1-N GO  1-N ECO 1-1 PMID

We can the allow these to be interpreted on export by the user.

http://gmod.org/wiki/Chado_Sequence_Module#Table:_feature_cvtermprop

[2016-06-16 01:18] nathandunn commented on #1121
From @cmungall

General intro
http://geneontology.org/article/gaf-gpad-and-lego

Specs:
http://www.geneontology.org/specifications/gpad/gpad-1_2.html

[2016-06-16 16:35] monicacecilia opened #1134 "Improving capture of gene ontology (GO) data in Information Editor"
Discussing the ability to capture ontology terms as well as evidence codes and supporting literature. It includes Gene Ontology as well as various anatomy and phenotype ontologies (e.g. Uberon, OMP, mouse anatomy, etc.).

Gene ID --> ontology term (e.g. GO ID) --> evidence code (e.g. ECO ID) --> PMID

Bringing @satta @cmungall @kltm to this discussion.

[2016-06-16 17:28] nathandunn commented on #1118
So this has two parts:

- [ ] import functional annotations via REST using the Chado JBrowse connector (how would be pull in functional annotations?)
- [ ] ensure that imported functional annotations can then be added when creating a user-created annotation
- [ ] make sure that copying the functional annotations is configurable

[2016-06-16 17:44] nathandunn commented on #1118
The [REST API](http://gmod.org/wiki/JBrowse_Configuration_Guide#JBrowse_REST_Feature_Store_API), doesn't document how to pull in functional data.  However, I believe it copies what Apollo does.   So an example would be as follows.  Keep in mind that publication is "dbXref" which is wrong (we export it to the correct place in Chado, though).

[code]

However, in JBrowse-land it should just render w

[2016-06-16 17:53] nathandunn commented on #1118
Ensure that imported functional annotations can then be added when creating a user-created annotation
====

The Code to Generate the JSON is here:  https://github.com/GMOD/Apollo/blob/master/client/apollo/js/JSONUtils.js#L239

You just need to add the different relative properties.

I think that the server code is already configured to interpret the JSON correctly.  If not, the method is here:

ht

[2016-06-16 17:53] nathandunn commented on #1118
I think we can wait for the configuration part (once we get this stuff set).

[2016-06-16 17:57] nathandunn commented on #1119
Looks like multiple URL's could be supported using the obofoundary.  http://obofoundry.org/ and ontobee  http://www.ontobee.org/ontology/envo

[2016-06-16 18:02] nathandunn commented on #1134
Should look something like this.

![screen shot 2016-06-16 at 11 02 25 am](https://cloud.githubusercontent.com/assets/751274/16127554/d3b712e0-33b1-11e6-9e4b-9aba11e0e6f1.png)

[2016-06-16 18:34] monicacecilia commented on #1134
To start with.. and we may add other fields.

[2016-06-16 21:50] monicacecilia commented on #1134
Collection of GH issues related to this improvement:
- [ ] copy functional annotations explicitly #1118
- [ ] allow for configurable CV / CV_TERM lookups (e.g., HPO, OMP, etc.) #1119
- [ ] attach evidence codes pub IDs to cv / cv_term annotations, allow possibly more complex units #1120
- [ ] allow custom export classes for GFF3, FASTA, and Chado, and GPAD, and GAF? #1121

[2016-06-20 16:02] nathandunn commented on #1015
Talked with @childers  and @mpoelchau  .. . . we can just use the canned key attribute prior, which will be #86 and should be more "uniform", and a quicker fix as well.

[2016-06-20 16:25] selewis commented on #1134
On export the annotation ("GAF") file should include the user ID as well as
the source.

-S

On Fri, Jun 17, 2016 at 12:50 AM, Monica Munoz-Torres <
notifications@github.com> wrote:

[2016-06-20 17:24] nathandunn commented on #1121
[From](https://github.com/GMOD/Apollo/issues/1134#issuecomment-227193851)

the source.

[2016-06-20 17:25] nathandunn commented on #1134
Okay @selewis I added it to the relevant issue.

[2016-06-20 17:54] childers opened #1135 "npm prerequisite 'npm not listed in documentation"
I was just checking out 2.0.3 and got this error below.  Should npm be added to the list of required software?
[code]

[2016-06-20 17:55] nathandunn commented on #1135
Yes!

[2016-06-20 18:08] nathandunn commented on #1135
Sould be fixed by #1136.

[2016-06-20 18:08] #1135 closed

[2016-06-20 18:35] childers opened #1137 "bower prerequisite not listed in documentation"
I found another prerequisite not listed in the documentation.  I think this is an Apollo issue as you guys do reference bower, but if it belongs in JBrowse, just let me know and I'll post it over there.
[code]

[2016-06-20 20:59] nathandunn commented on #1137
Fixed in #1138.

[2016-06-20 20:59] #1137 closed

[2016-06-21 19:46] nathandunn opened #1140 "additional parameters dropped in loadLink"
Issue found by NAL tests of Blast (FYI @childers).

This comes from wanting use a URL to add additional track information.  e.g., loc and organism, tracks, are picked up, but what is missing is:

- addStores
- addTracks

So the fix is multiple parts:

- [x] In AnnotatorController loadLink this information is filtered away into the clientToken, which is fine (it is a preference), but the other para

[2016-06-21 21:00] nathandunn commented on #1140
should be noted that the actual "public" jbrowse view works well (i.e., /apollo/jbrowse)

[2016-06-21 22:12] nathandunn commented on #1140
Calls:

MainPanel::MainPanel() (pull params here)
MainPanel::loginUser()
MainPanel::getAppState()
MainPanel::setAppState()

- need to add "currentParams" to MainPanel and tie everything else into that . . should solve the problem.

[2016-06-24 15:00] nathandunn commented on #1140
Here is a better test string:

[code]

[Just as a link](http://localhost:8080/apollo/annotator/loadLink?loc=scaffold_0:0..1768108&organism=1053513&tracks=%3Eloc=scaffold_5%3A460811..466180&addStores={%22url%22%3A{%22type%22%3A%22JBrowse%2FStore%2FSeqFeature%2FGFF3%22%2C%22urlTemp%20late%22%3A%22https%3A%2F%2Fgmod-dev.nal.usda.gov%2Fwebapp%2Fmedia%2Fblast%2Ftas%20k%2F0942657fdb4c4e4daeb29d1095c9db8

[2016-06-24 16:07] nathandunn commented on #1015
Many of these can be handled through implementation of #86 . .  but this should be a good interim goal.

[2016-06-25 21:44] nathandunn commented on #950
Looked at 4 use-cases:
1 - Multi-scaffold transcript crossing, exons not.  Transcript / Genes are defined using two FeatureLocations, where the max and min are the max and min of the scaffolds where they cross.  Exons are defined with a single feature location.
2 - Multi-scaffold transcript crossing where exon is crossing.   Same as above, but the FeatureLocation is defined in two places.
3 - Mult

[2016-06-25 22:33] nathandunn commented on #1034
@monicacecilia  Looks like just the joss is waiting.

[2016-06-27 02:37] nathandunn commented on #1016
think that this is done now

[2016-06-27 02:37] #1016 closed

[2016-06-27 19:40] childers opened #1143 "Documentation issues"
Some documentation issues I've run across.
http://genomearchitect.readthedocs.io/en/stable/Prerequisites.html
 - lists using GVM, this has been replaced with sdkman.

http://genomearchitect.readthedocs.io/en/stable/Apollo2Build.html
 - lists Grails 2.5.4, but when I tried to build off master (post2.0.3 release) it requires Grails 2.5.5.  This might not be an issue now, but probably will relatively

[2016-06-27 21:45] #1143 closed

[2016-06-28 14:39] nathandunn opened #1144 "can not add featureType"
![image](https://cloud.githubusercontent.com/assets/751274/16419632/74720226-3d1c-11e6-9758-312238174b89.png)

Look like it didn't have the updated display field.

Should be fixed.

[2016-06-28 15:30] nathandunn opened #1145 "re-enable configuration of info-editor from server"
re-enable configuration of info-editor from server

[2016-06-28 15:34] #1145 closed

[2016-06-28 16:16] nathandunn opened #1146 "add_transcripts_from_gff3_to_annotations.pl"
Reported by Loraine Guéguen:

For a new project, we used the 2.0.2 version. We had the same problematic that was to keep the metadata and be able to edit them, so we loaded again the gff directly into the annotation track. However, for the 2.0.2 version, the "Note" attributes from the gff3 file are unfortunately not imported into the "comment" section of the "information editor" panel, but in the

[2016-06-28 21:12] nathandunn commented on #1075
It looks like jquery-ui uses 1.10, trying to switch this to an export = false .

[2016-06-28 21:18] nathandunn commented on #1075
did not work as runtime can not support == false . . .may have to include these directly in assets . . . including jquery-ui without the dependencies  .. . not sure where we are using it in the code

[2016-06-28 21:32] nathandunn commented on #1146
One should be able to do a round-trip.  Not sure if 2.0.2 introduced the error, but it really don't work for a round-trip.  I actually get errors.

[2016-06-29 15:36] nathandunn commented on #1146
I noted that I get these errors, which I think are all related:

- [ ] export Annotation to GFF3, delete the annotation, import the annotations.  Expected: The same annotation.  Found: missing child-features
- [ ] export Annotation to GFF3, import the annotations without deletion.  Expected: An identical isoform.  Found: An error about overlap.
- [ ] add a "Comment" to an annotation, export Annota

[2016-06-29 15:48] nathandunn commented on #1042
Was thinking that we can do this with REMOTE_USER by auto-generating passwords and storing the auto-generated passwords locally.   LDAP / CAS could be done similarly.

[2016-06-29 15:51] nathandunn opened #1147 "getting information editor data can be slow from long genes"
Reported by Loraine Guégen:

There is always a 10 to 20 seconds delay before the "Information Editor" panel appears once we have clicked on "Edit Information". Apparently, it depends on the gene : the longest is the gene, the most time it takes. That is not very comfortable.
We have Apollo 2.0.2 release with a postgres database. And the gff3 is directly loaded into the User-Annotation track (can t

[2016-06-29 16:09] erasche commented on #1042
@nathandunn random passwords would be great! (And no need for separate ldap/cas implementations I think)

[2016-06-29 16:17] nathandunn commented on #1147
Confirmed that as you add children (exons) the time it takes to generate the "information window".  From 100 ms, to 600 ms for around 50 exons.

[2016-06-29 16:39] nathandunn commented on #1147
The first call gets a gene and it is about 20 ms . . but the transcript (which is getting exons that it throws away) is taking much longer.

To fix this we can just need to update the conversion process in a service from here and just add the missing properties:

<img width="784" alt="screen shot 2016-06-29 at 12 38 00 pm" src="https://cloud.githubusercontent.com/assets/751274/16460650/6c1eb882-3d

[2016-06-29 16:41] nathandunn commented on #1147
Missing:
- [ ] id
- [ ] name
- [ ] owner
- [ ] type
- [ ] unique_name?
- [ ] parent_id / parent_type?
- [ ] parent_type?
- [ ] properties?
- [ ] sequence?

Ignored:
- [ ] location
- [ ] children?

[2016-06-29 21:21] nathandunn commented on #1146
@deepakunni3   If you want to rewrite the perl script into something else (or not) that would be fine as well, though I think it must have been a pretty small bug to have broken it so recently.

[2016-06-29 21:56] nathandunn commented on #1042
@erasche   Yeah, I was just thinking of what other users' will ask for and ways to plug / configure that.

[2016-06-30 13:09] nathandunn opened #1149 "create a native SVG track from the native Canvas track"
This allows us to attach handlers, etc. to existing canvas tracks in theory.

https://github.com/gliffy/canvas2svg

[2016-06-30 13:10] nathandunn commented on #1149
http://gliffy.github.io/canvas2svg/

[2016-06-30 14:42] nathandunn commented on #1149
FYI @enuggetry   Not sure if this is better in JBrowse.

[2016-06-30 14:46] nathandunn commented on #1034
@monicacecilia  / @selewis   I think we are ready for the JOSS submission?

http://joss.theoj.org/papers/new

[2016-06-30 18:02] deepakunni3 opened #1150 "Error with Apollo 2.0.3 when deployed with a fresh clean database"
If a user deploys an Apollo instance with a clean database, the user has to register an admin user account. After this registration the Apollo UI displays 'Loading' modal and the modal stays like that.

On the server side, it looks like Apollo is searching for organism preferences and since there is no organism added to Apollo, `getCurrentOrganismPreference` throws an empty Iterable exception.

Co

[2016-06-30 18:34] nathandunn commented on #1150
@deepakunni3  this should be fixes in #1151

[2016-06-30 18:47] nathandunn opened #1152 "allow for sequence download of a highlighted region"
We could do this in JBrowse, but probably easier than that would just be to add a menu (download highlighted region).

[2016-06-30 19:01] #1150 closed

[2016-06-30 19:15] nathandunn commented on #1152
We can just add an option to this screen:

<img width="450" alt="screen shot 2016-06-30 at 3 14 49 pm" src="https://cloud.githubusercontent.com/assets/751274/16501045/7478166a-3ed5-11e6-8c15-97f286548749.png">

[2016-06-30 19:41] nathandunn commented on #1152
For straight JBrowse this works over the reference sequence:

<img width="846" alt="screen shot 2016-06-30 at 3 40 25 pm" src="https://cloud.githubusercontent.com/assets/751274/16501770/12a7e33a-3ed9-11e6-8e6b-e78abf5142c6.png">

[2016-06-30 19:56] nathandunn commented on #1152
However, if I add this to SequenceTrack, it only tries to pull annotated sequences, which is not what we want.

[2016-06-30 20:52] nathandunn commented on #1152
This code detects if there is a highlighted region:

[code]

[2016-07-01 03:15] nathandunn commented on #1152
We are just doing a regular export this way.  You have to be logged in:

<img width="593" alt="screen shot 2016-06-30 at 11 14 18 pm" src="https://cloud.githubusercontent.com/assets/751274/16510921/8b0fd65e-3f18-11e6-835a-fa66f2ee2130.png">
<img width="455" alt="screen shot 2016-06-30 at 11 14 31 pm" src="https://cloud.githubusercontent.com/assets/751274/16510920/8b0fd744-3f18-11e6-8407-9a67e86877

[2016-07-01 03:18] nathandunn commented on #1152
@monicacecilia  Can you review that this is okay.   Typically this was done on the sequence track, but that is not always visible.  At least with this change it is possible to do it, but you have to be logged in.

[2016-07-01 14:30] deepakunni3 opened #1155 "Certain scripts that use web services fail"
- [x] add_users.groovy
- [x] alter_group_permissions.groovy
- [x] alter_user_groups_and_permissions.groovy
- [ ] delete_annotations_from_organism.groovy

When trying to delete annotations for an organism, the server throws the following error:
[code]

- [x] get_fasta.groovy
- [x] get_gff3.groovy
- [x] transfer_annotations2to2.groovy
- [ ] stress_test.groovy

While running a stress test the script

[2016-07-01 14:32] childers opened #1156 "Current organism, addStores and addTracks information lost when clicking "Show Annotator Panel""
This might be similar or related to issue #1140,  #1141;  loadLink not passing all parameters through, but when I try to pass addStores and addTracks information through to the new Apollo2 view (via the Show Annotator Panel) the information from my current view is completely lost.  I lose the organism I was working on, and the track and datastore are also lost once I load the organism.

/apollo-2.

[2016-07-01 15:25] nathandunn commented on #1152
- [ ] change ```Highlighted Genome``` to ```Highlighted Region```

FYI @aswd

[2016-07-01 16:53] deepakunni3 commented on #1146
After inspecting the script it looks like all features are added via `addFeature()`, including protein coding genes. This assumption seemed to have worked previously but as of Apollo 2.0.3 we changed the way `addFeature` and `addTranscript` methods are used.

We clearly differentiate the use case where `addTranscript` is called for protein coding features and `addFeature` for all other non-coding

[2016-07-01 17:08] childers commented on #1144
I tested this on our instance that uses mater as the upstream and it worked.  Thanks!
![create_featuretype_works](https://cloud.githubusercontent.com/assets/421248/16528745/b7bc91f0-3f8c-11e6-846b-118407f83f1d.png)

[2016-07-01 17:08] nathandunn commented on #1144
👍

[2016-07-01 17:09] nathandunn commented on #1156
Looks like I am forgetting to copy it in the link, but it makes sense.

[2016-07-01 17:20] nathandunn commented on #1146
Interesting, because the script seems to differentiate between the two.   Hopefully it will be an easyish fix by just calling the other service.

[2016-07-01 17:21] nathandunn commented on #1155
👍   Thanks for doing this.  Will try to get these fixed.

[2016-07-01 18:33] deepakunni3 commented on #1146
The fix should be straightforward.

[2016-07-01 18:51] nathandunn commented on #1156
Use-cases:

- [ ] logged out and viewing a public genome and click "Annotator Panel" (uses the clientToken instead of the organism ID)
- [ ] logged in and clicking on "Annotator Panel" passes token, but not the organism

[2016-07-02 01:42] nathandunn opened #1160 "refactor annottrack.js client"

[2016-07-04 20:32] nathandunn opened #1161 "mysql error when getting timestamps"
[code]

[2016-07-04 23:46] erasche opened #1162 "Projection: get annotation features from multiple sections of the same and different scaffolds"
Would be nice for phages, and let us "re-open" them when we discover that the left/right ends are not where the assembler opened them.

Discussed briefly with @nathandunn at GMOD2016 but wanted to document for the future. This would be a nice to have for the phage community.

[2016-07-05 10:01] loraine-gueguen opened #1163 "Error when deleting a DBXRef entry or a Gene Ontology ID entry from the Information Editor"
Hi,

I have apollo 2.0.3 with a postgres database.
It is not possible to delete a DBXRef entry or a Gene Ontology ID entry from the Information Editor.
The SQL requests seems to try to delete the entry in the dbxref table without firstly removing the entry in the feature_dbxref table.

Here is the error message :

[code]

Loraine Guéguen

[2016-07-05 15:41] childers opened #1164 "Is there an account recovery option?"
If I forget my password, is there any option to reset it other than having an admin manually update it?

[2016-07-05 16:45] nathandunn commented on #1162
@erasche   This would be splitting an existing scaffold at some arbitrary point and then re-arranging it using the existing projection code?

[2016-07-05 16:45] erasche commented on #1162
@nathandunn yep, precisely.

[2016-07-05 16:57] aselawsd opened #1165 "Extract arbitrary sequence regions from genome"
For manual annotation it would be great if arbitrary regions (within or between transcripts) can be extracted from the genome for further analysis. Ideally user should be able to highlight the region of interest on the reference sequence and right click and extract.

example - Extract 5' UTR region preceding an annotated transcript to check for RNA structure or promoters.

[2016-07-05 17:14] nathandunn commented on #1161
I think its because there are null dates in the preference table, which might be due to the script or just MySQL in general (haven’t seen this with PostgreSQL).    Looking here:

http://stackoverflow.com/a/36963716/1739366

I think you can set the sql_mode different and it might fix it.

[code]

If you could verify that the lastUpdated / dateCreated is null (my theory) that would help:

If you cou

[2016-07-05 17:15] nathandunn commented on #1165
@aselawsd  does

#1154 / #1152 provide the functionality you want?   I was going to have @monicacecilia  review this as well.

[2016-07-05 17:22] nathandunn commented on #1165
Closed as dupe of #1152

[2016-07-05 17:22] #1165 closed

[2016-07-05 17:23] nathandunn commented on #1165
@aselawsd Do you want to test this in the master, or can you wait for this to be further reviewed?

[2016-07-05 17:33] aselawsd commented on #1165
I am in no hurry. Please put the fix through your normal testing and
approval/review process

On Tue, Jul 5, 2016 at 12:23 PM, Nathan Dunn <notifications@github.com>
wrote:

[2016-07-05 18:19] nathandunn commented on #1164
Not currently.  I've added it multiple times to Grails instances and I can provide source if needed sooner than later.   Its not a lot of code, but needs to be tested well.   Conversely you can wrap this behavior externally.

[2016-07-05 18:34] nathandunn commented on #1163
Error is here:

https://github.com/GMOD/Apollo/blob/master/grails-app/services/org/bbop/apollo/RequestHandlingService.groovy#L183-L187

It ignores that DBXref can be shared, which was not true in Apollo 1, but is very true in Apollo 2.  Should be an easy fix.

[2016-07-05 18:57] nathandunn commented on #1163
PR #1166 should fix this.   Thanks for reporting.

[2016-07-05 19:46] childers commented on #1164
Thanks for the perspective, I agree that this is something that needs testing.  I was looking at the functions that require manual intervention, and this was one that is partially in place in Apollo2. I'm glad this was already on your radar.

[2016-07-05 21:28] nathandunn commented on #1156
I'm pulling the comment off of #1156 from @childers

<img width="1335" alt="apollo2 0 4-incorrect_redirect" src="https://cloud.githubusercontent.com/assets/421248/16586306/29aaba72-4293-11e6-98e9-5ba2cee78838.png">

[2016-07-05 21:33] nathandunn commented on #1156
@childers  I'm trying to clarify what you were doing.

I'm reading it as:
1 - click blast link.  Expected: Link to proper scaffold occurs with dynamic track.  Actual == expected
2 - While on that blast link, go to another scaffold.  Expected: Goes to the selected scaffold.  Actual: Goes to a random scaffold.  ??

It looks like there is something really screwed up in the query string, but I'm tryin

[2016-07-05 22:44] nathandunn commented on #1161
Tested locally with MySQL and I didn't run into any problems.

[2016-07-05 22:46] nathandunn commented on #1161
Possibly the script (or extended use) leads to additional problems.  I had tested with mac on homebrew:

    mysql  Ver 14.14 Distrib 5.7.12, for osx10.11 (x86_64) using  EditLine wrapper

[2016-07-05 22:46] nathandunn commented on #1161
Against master.

[2016-07-06 07:29] loraine-gueguen commented on #1163
thanks!

[2016-07-06 13:22] childers commented on #1156
@nathandunn halfway right.
1 - click BLAST link, Jbrowse/Apollo-classic mode (do you have proper names for the classic/paneled views?) displays as normal. - > if I click on the "Show Annotator Panel" It takes me to a random scaffold.  The developer panel imaga above shows that it is sending the loc value to the proper scaffold. Since it is passing the right scaffold name, I don't understand why it

[2016-07-06 13:24] childers commented on #1156
1) I'll wipe my repo and do a clean clone off master since the changes are in it now.
2) I'll also create a new database in case there is something weird about the schema being from an earlier apollo2 release.

I'll update once it's all together and I've had a chance to test it a few times.

[2016-07-06 14:30] nathandunn commented on #1161
Deleting contents of preference table worked.

[2016-07-06 14:30] #1161 closed

[2016-07-06 18:44] nathandunn commented on #1156
/Tigriopus%20californicus/jbrowse/?loc=scaffold_173%3A215514..215948&addStores=%7B"url"%3A%7B"type"%3A"JBrowse%2FStore%2FSeqFeature%2FGFF3"%2C"urlTemplate"%3A"https%3A%2F%2Fgmod-dev.nal.usda.gov%2Fwebapp%2Fmedia%2Fblast%2Ftask%2F840d15063f164f28909c423561a94ad7%2FTCALIF_genome_v1.0_new_ids.fasta.gff"%7D%7D&addTracks=%5B%7B"label"%3A"BLAST%2B%20Results"%2C"category"%3A"0.%20Reference%20Assembly"%2C

[2016-07-06 18:44] nathandunn commented on #1156
Clicking on the Annotator Panel seems to set the wrong scaffold.

[2016-07-06 18:48] nathandunn commented on #1156
In the preferences, that seems pretty straight-forward, unless it is parsing incorrectly.

@childers  Let me know if you saw anything in the error logs.

[2016-07-06 20:03] childers commented on #1156
Well, at first it seemed pretty nonchalant, then it threw some errors:
[code]

[2016-07-06 20:20] childers commented on #1156
in localhost.2016-07-06.log:

[code]

[2016-07-06 20:24] nathandunn commented on #1156
Hmm . . none of those are serious.  Was looking more for parse errors.  I’ll take a look and see.

[2016-07-06 21:49] nathandunn commented on #1156
Hmm . . I'm having trouble reproducing these.   My guesses are:
1 - old code  (unlikely)
2 - its pulling a scaffold ID from another organism (without that scaffold) and so it just picks one at random
3 - something in the loadLink screen is causing issues.

@childers
If you get rid of the extra store data in the link, does it cause problems?

e.g., if you put an alert before this final string, what

[2016-07-07 13:27] childers commented on #1156
I'm creating and populating an entirely new database to test this with.

[2016-07-07 14:56] lfaino opened #1170 "upgrade to latest version failed"
Dear Nathan
Luigi again. I upgraded my WebApollo from 2.0.1 to 2.0.3 version but the 2.0.3 do not work. I can login in WebApollo as user but it is loading for ever and does not display anything

any idea?

thanks
Luigi

[2016-07-07 15:51] nathandunn commented on #1170
Did you install bower?   npm install -g bower?   If not, then you need to install it (you may need sudo access) and then an ./apollo clean-all ./apollo deploy

If you’d already installed  bower, then if you have tomcat log files (the catalina.out) or anything in the javascript console, that would be helpful.

Thanks,

Nathan

[2016-07-07 16:28] nathandunn commented on #52
Somewhat related to #1146 in that that will be pulling up gene fixes.

[2016-07-07 16:35] lfaino commented on #1170
I installed the bower but i get this set of errors

cStack trace:
Error: EACCES: permission denied, open '/home/luigi/.cache/bower/registry/bower.herokuapp.com/lookup/dojox_3fc01'
    at Error (native)

Console trace:
Error
    at StandardRenderer.error (/usr/local/lib/node_modules/bower/lib/renderers/StandardRenderer.js:81:37)
    at Logger.<anonymous> (/usr/local/lib/node_modules/bower/lib/bin/b

[2016-07-07 16:52] nathandunn commented on #1170
Are you doing the install as root? (that should be fine).  This is what should be called:

bower install -f --allow-root

What happens if you type it again?

Nathan

[2016-07-07 17:39] nathandunn commented on #52
@satta  and FYI @deepakunni3

The server-side never sees the additional annotations.    The methods to be fixed (specifically to support Chado / JBrowse) are these sets of methods in DraggableHTMLFeatures:

https://github.com/GMOD/Apollo/blob/master/client/apollo/js/View/Track/DraggableHTMLFeatures.js#L1156-L1253

For gene / mRNA we have [createAnnotations](https://github.com/GMOD/Apollo/blob/mast

[2016-07-07 17:58] erasche opened #1172 "If client token isn't provided, garbage is logged."
Made requests like

`http://localhost:8080/apollo/group/loadGroups/`
and
`http://localhost:8080/apollo/group/loadGroups/?clientToken=1641778653382828351543745751`

Saw this in logs. The garbage being decoded worries me that it's accessing memory it shouldn't be somewhere.

[code]

[2016-07-07 18:11] nathandunn commented on #1172
I think its just a log error, but good to note either way as I do occasionally see garbage loaded as a client_token in the preference table.

[2016-07-07 18:26] childers commented on #1172
FWIW, I saw that type of message yesterday when I was loading organisms into the database via web service calls.

[2016-07-07 18:33] nathandunn commented on #1172
Good to know. Thanks.

[2016-07-07 19:41] nathandunn commented on #1170
Though you may need to run it with sudo depending on how you are installing it.   It should have been run this way, so not sure why it's failing.

[2016-07-07 20:01] deepakunni3 commented on #1170
@nathandunn I think this issue might be similar to #1150.

@lfaino Are you using the Apollo 2.0.3 release or deploying from master branch?

[2016-07-07 20:07] lfaino commented on #1170
I cloned from github and deployed my self.  If I remember well, apollo local works...

[2016-07-07 20:08] deepakunni3 commented on #1170
@lfaino Ah, okay.

[2016-07-07 20:11] nathandunn commented on #1170
So Apollo local works and running through tomcat does not?

Nathan

[2016-07-07 20:14] lfaino commented on #1170
I will check tomorrow to be sure but I think that it worked with apollo local. I do not think that it is a tomcat problem because the old version still works

[2016-07-08 04:20] nathandunn commented on #1170
If it worked with Apollo local and not remote it might be that the exploded war directory was not removed from the original webapp directory.

Nathan

[2016-07-08 11:29] lfaino commented on #1170
hi Nathan,
if i run  "bower install -f --allow-root" as normal user, I get this error:

/usr/local/lib/node_modules/bower/lib/node_modules/configstore/index.js:54
				throw err;
				^

Error: EACCES: permission denied, open '/home/luigi/.config/configstore/bower-github.json'
You don't have access to this file.

    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.fs.readFil

[2016-07-08 11:32] lfaino commented on #1170
to install bower, I use:

sudo npm install -g bower

[2016-07-08 14:54] loraine-gueguen commented on #1146
Please find a test case with the enclosed files:

perl add_transcripts_from_gff3_to_annotations_test_print_lg.pl -U http://mmodev2:8085/apollo -u apollo_dev_admin@sb-roscoff.fr -p xxxxxxxx -i test_import_annotation_2.gff3 > perl_script.out

[bug_load_annotation.tgz.zip](https://github.com/GMOD/Apollo/files/354496/bug_load_annotation.tgz.zip)

[2016-07-08 15:08] loraine-gueguen commented on #1147
Time data for a 16,616 bp long gene:
![time_example](https://cloud.githubusercontent.com/assets/16136876/16691790/5cf4f1c0-452e-11e6-9a62-d5890dbb4667.png)

[2016-07-08 15:23] deepakunni3 commented on #1146
@loraine-gueguen Thank you for the GFF3. This should be helpful in debugging and testing out fixes.

[2016-07-11 14:35] deepakunni3 opened #1173 "Improper handling of features in bulk import"
When doing a bulk importing, if the GFF3 has features on scaffolds/chromosome that doesn't exist in Apollo then these annotations are added to the first found sequence from the sequence list.

The right behavior would be to return an error indicating that no sequence could be found for the feature.

[2016-07-11 16:21] nathandunn commented on #1173
@deepakunni3  Is this part of your other bug fix? #1171

[2016-07-11 16:38] deepakunni3 commented on #1173
Unfortunately, no. It might have to come in separately.

[2016-07-11 16:53] nathandunn commented on #1172
Observed in REST web services as well (delete_all_organims).

[2016-07-11 16:59] nathandunn commented on #1173
Yikes okay.  Well, we definitely need to fix this as well.

[2016-07-11 17:27] nathandunn commented on #1170
@lfaino  Since I think you installed the other files using sudo access, I think what you need to do is one of two things:

1 - fix permissions to not require sudo in your config and local directories (i.e., use owner):  ie., ```sudo chown -R luigi ~/.config```
- OR -
2 - install the app using sudo:  ```sudo bower install -f --allow-root``` and then change the ownership in the directory afterwards

[2016-07-11 17:32] nathandunn commented on #1173
@deepakunni3  A lot of not specifying the organism comes from the older version of Apollo (where you only ever had a single organism).  I think it would be good to tighten this up to either get it from the organism or the client_token (which contains other settings in addition to organism).

[2016-07-11 17:46] #1172 closed

[2016-07-11 17:47] nathandunn commented on #1172
@childers  / @erasche   This should be generating proper tokens.  Not so worried about memory access in Java, but those were definitely garbage strings.

[2016-07-12 08:36] lfaino commented on #1170
Hi Nathan,
i re started from scratch and now when I run "apollo run-local 8085" i can see webapollo but jbrowse do not work. in the terminal where i started apollo, i see this error

|     83 | call                              in     ''
|    383 | execute . . . . . . . . . . . . . in org.apache.shiro.subject.support.DelegatingSubject
|    362 | doFilterInternal                  in org.apache.shir

[2016-07-12 13:10] lfaino commented on #1170
Hi @nathandunn ,
I find out the problem or at least what i did solved the problem.
I use mysql Server version: 5.7.12-0ubuntu1.1 as database and i think that the problem was there.

In the catalina.out file, i found this error:

2016-07-12 14:25:47,026 [http-bio-8080-exec-1] ERROR spi.SqlExceptionHelper  - Value '0000-00-00 00:00:00' can not be represented as java.sql.Timestamp
2016-07-12 14:25:47

[2016-07-12 16:26] nathandunn opened #1174 "delete_annotations_from_organism.groovy script, if no annotation is present gives improper error"
From Jaques Dainant

problem removing organism features for organism: org.hibernate.exception.SQLGrammarException: could not extract ResultSet”
Could be nice to not have an error message but something telling something like “no annotation to remove”.

[2016-07-12 16:35] nathandunn opened #1175 "can not delete user with annotations"
If a user has annotations the feature_event table is populated, so removing the user won't work.   Might be better to "inactivate" instead of delete so that we retain annotation history.   Need to discuss with @monicacecilia

<img width="596" alt="screen shot 2016-07-12 at 9 33 12 am" src="https://cloud.githubusercontent.com/assets/751274/16775110/ea468ef2-4813-11e6-9001-d9ecb6a88a0e.png">

[2016-07-12 16:46] nathandunn commented on #1170
Thanks for sharing (and continuing to work on it).  I had another user with a similar problem.  They removed the preference database entires and that fixed it, but this solution is more correct.   I'll add some documentation to fix this.

[2016-07-12 16:46] #1170 closed

[2016-07-12 17:11] erasche commented on #1175
I've hit this as well. We have users we wish to remove from the system because they no longer do annoyation. (maybe this is just a visual clutter / UX issue).

[2016-07-12 17:16] nathandunn commented on #1175
Do you thing it would make more sense to have “inactive” users, so that you know what user’s did what, even if they are no longer part of the system.

@childers / @mpoelchau  ?

[2016-07-12 17:20] erasche commented on #1175
Aye, :+1: for inactive. Retaining history of a user's actions is important IMO.

[2016-07-12 17:24] nathandunn commented on #1170
@lfaino  Feel free to re-open if you run into additional issues.

[2016-07-12 17:30] nathandunn commented on #1175
Looks like this is a dupe of #777  . . . where we indicated that we wanted an inactive user instead.   I'll expand that issue a bit.

[2016-07-12 17:30] #1175 closed

[2016-07-12 17:40] nathandunn opened #1177 "move some web services scripts from examples directories"
@deepakunni3  Let me know what you think.

[code]

[code]

[code]

Proposal:

- [ ] Everything in shell and perl directories stays.

- [ ] Move the migration scripts in the groovy directory to ```tools/migration```

- [ ] Remove tools/cleanup/remove_temporary_files.sh

- [ ] Move the chado / alter / add / get_ scripts that are not part of migration from the groovy directory to tools/data.

- [ ] M

[2016-07-12 17:43] nathandunn commented on #1177
- [ ] move scripts/* scripts/development/
- [ ] move tools/* scripts/* ?

[2016-07-12 20:23] nathandunn commented on #1146
@loraine-gueguen   This fixby @deepakunni3  is in master now.   There are actually quite a few changes as a result of this, but all to the better.    If you get a GFF3 from an annotation, you can see the type of annotation that is expected, but it should conform to the [GFF3 spec](https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md) that we are using.   Let us know if you e

[2016-07-13 07:13] lfaino commented on #1170
Hi @nathandunn ,
I have only one last question. why when i run the software in local i did not get the error?

Luigi

[2016-07-13 14:04] loraine-gueguen commented on #1146
@nathandunn @deepakunni3 Thank you for the fix.

[2016-07-13 15:05] nathandunn commented on #1170
@lfaino  They use different databases.  When you use run-local it uses the development database and when you deploy into tomcat it uses a production database.   So, you may have had changes made when you ran production, but not local.

[2016-07-13 15:43] nathandunn commented on #1155
@deepakunni3  Can you close / check this when you have a moment?

[2016-07-13 15:43] nathandunn commented on #1155
I'll close it if it is working.

[2016-07-13 15:48] deepakunni3 commented on #1155
@nathandunn Yes, this was tested while testing the PR. The scripts work as intended.

[2016-07-13 15:49] #1155 closed

[2016-07-13 15:49] nathandunn commented on #1155
Thanks

[2016-07-13 20:29] mpoelchau commented on #777
Sorry to be late to the discussion! In response to the discussion in issue #1175:

Yes, to inactive users. However, how exactly would this differ from removing all permissions from all organisms? Would you change the 'global role' to 'inactive' in this case?

[2016-07-13 20:45] nathandunn commented on #777
@mpoelchau  Yes, it would be globally inactive.  The key, is if there is any data associated with that data, we don't disassociate it, but a user can no longer log-in and they don't show up to normal users in lists.

[2016-07-13 21:23] nathandunn commented on #1042
Should be working now.   Nothing to test without additional configuration.

[2016-07-13 21:23] #1042 closed

[2016-07-14 01:53] nathandunn opened #1178 "add user/organism-admin permission level"
Related to #771 and related to [this thread](http://comments.gmane.org/gmane.science.biology.gmod.apollo/1920).

I think that the proposal would be to add another permission level between organism-admin (when you select a user as an admin for a single organism) and "write".  A super-admin would remain the same and be required to add users to groups (so super-admin,organism-admin,**user-admin**,wri

[2016-07-14 01:55] nathandunn commented on #1178
Confluence permissions are fairly similar to our use-cases where a "space" is like an organism:

https://confluence.atlassian.com/doc/space-permissions-overview-139521.html

[2016-07-14 17:59] nathandunn opened #1179 "adding comments to sequence alteration fails to create sequence alternation"
![screen shot 2016-07-14 at 10 59 45 am](https://cloud.githubusercontent.com/assets/751274/16850046/19305e60-49b2-11e6-8b5c-054f5fd19b68.png)
![screen shot 2016-07-14 at 10 59 41 am](https://cloud.githubusercontent.com/assets/751274/16850047/19310c7a-49b2-11e6-9fcb-3490db049781.png)

[2016-07-14 18:28] nathandunn commented on #115
Probably the easiest thing to do in light of #1167 would be to add a simple Java Integration and stub passwords, so long as LDAP is the only authenticator.   Obviously you can still use REMOTE_USER, but adding the LDAP authentication would not be hard.   However, I don't really know enough about how this would work for an individual system to work with it.  Using individual Java (do people use Has

[2016-07-14 19:38] nathandunn commented on #1179
To test.  Add a genomic insertion with a comment and confirm that it works.

[2016-07-18 23:37] nathandunn commented on #1106
This is done and working.

[2016-07-18 23:37] #1106 closed

[2016-07-19 00:10] nathandunn commented on #1152
FYI @monicacecilia   notes on issue:  https://github.com/GMOD/Apollo/issues/1152#issuecomment-229975747

[2016-07-19 03:00] nathandunn commented on #1152
- [ ] is missing start by one

[2016-07-19 14:41] mpoelchau commented on #1178
@nathandunn:

At a first glance, I find the distinction between organism admin and user admin a bit confusing, but I understand why you're making that distinction - the organism admin in the current Apollo setup is simply a user with admin permissions for that organism, rather than the special set of permissions that we're discussing. Might be good to come up with a different name than user-admin

[2016-07-19 18:07] nathandunn opened #1182 "create docker / Apollo 2.0.4 image on docker hub - post-release"
Update version here once released:

- [x] update hash key and create the proper tag https://github.com/GMOD/docker-apollo
- [x] also create a release at https://github.com/GMOD/docker-apollo
- [x] update readthedocs as well
- [x] push tagged docker build

[2016-07-19 18:19] nathandunn commented on #1178
@mpoelchau   I think this sounds good (though WebServices (just documentation) is visible by all).

Organism-manager or something like that probably makes sense.  Whoever adds it first gets to decide ;)

[2016-07-21 17:44] nathandunn opened #1183 "allow export of bookmarks similar to scaffolds"

[2016-07-21 18:09] nathandunn opened #1184 "add ellipsis with popup to indicate "partial""
Over-ride featdiv

[2016-07-21 19:17] nathandunn opened #1185 "loadLink ambiguous method overloading"
http://icebox.lbl.gov/Apollo-staging/annotator/loadLink?loc=Group5.14:1102987..1158819&organism=3836&tracks=

Give:

{"error":"Ambiguous method overloading for method org.apache.shiro.authc.UsernamePasswordToken#.\nCannot resolve which method to invoke for [null, null] due to overlapping prototypes between:\n\t[class java.lang.String, class [C]\n\t[class java.lang.String, class java.lang.String]"}

[2016-07-21 19:42] nathandunn commented on #1185
To Test:  Test loadLink as you normally would.  Should be working now.

[2016-07-26 04:27] nathandunn opened #1186 "docker: user (including admin) may not have permissions for new organisms if pre-registered"
If I register a user using the ```apollo-config.groovy``` (https://github.com/GMOD/docker-apollo), I can not seem to be able to add new organisms and I get this error, even though the user is an admin:

[code]

[2016-07-26 17:31] nathandunn commented on #1186
I think that this is a docker volume mounting issue only (and probably specific to the mac).

[2016-07-26 17:31] #1186 closed

[2016-07-26 23:51] nathandunn opened #1187 "plugins should allow JSONArray of JSONObjects or strings"
From: https://github.com/GMOD/docker-apollo/issues/6

[This](https://github.com/GMOD/Apollo/blob/master/grails-app/controllers/org/bbop/apollo/JbrowseController.groovy#L375) expects plugins in json format:

[code]

But we should also probably assume this format is valid as well and implies the same thing:

    "plugins" : ["WebApollo"]

[2016-07-26 23:54] nathandunn commented on #1187
If this is the only "feature" left, its an easy fix for 2.0.4, but otherwise, its easy to move to 2.0.5.

[2016-07-27 19:00] #1187 closed

[2016-07-27 21:52] monicacecilia commented on #86
Reorganizing details in this issue for easier tracking.

-----

Comments from Nathan:

This is a duplicate of #494  . . .  Basically expand attributes to work like canned comments for attribute key/value pairs.  In the VB and USDA workflow there is need for this.

Todo-list:
- [x] provide canned attribute key values (add CannedAttribute object) similar to CannedComment object
- [x] for each Canned

[2016-07-27 23:32] monicacecilia commented on #86
@nathandunn:

- I can confirm that I can enter new _Canned Comments_ and new _Canned Values_.

- I am unable to see the result of entering new 'key' terms. The column labeled with the word _Tag_ in the _Attributes_ box of the _Information Editor_ does not reflect these changes. Are you expecting it to appear elsewhere?

[2016-07-27 23:38] nathandunn commented on #86
This is what I see:

<img width="346" alt="screen shot 2016-07-27 at 4 36 18 pm" src="https://cloud.githubusercontent.com/assets/751274/17196289/592679b2-5418-11e6-960f-21631c3dcb2b.png">

Perhaps what we mean is "Canned Tag" instead of "Canned Key".

Also, if you click on the term (please let me know how to improve this interface), you can see that for the Tag, it only shows up for Gene and not M

[2016-07-27 23:39] monicacecilia commented on #86
OH? That's what I added. But I cannot see it in the same session, despite 'refresh cache' action.

[2016-07-27 23:41] monicacecilia commented on #493
bah. I logged out one window and the other window doesn't know it. I keep conducting operations and none of them go through, but I also do not receive any errors.

[2016-07-27 23:42] erasche commented on #86
(just wanted to chime in, this looks great, my older artemis users were asking for something like this since all of our students consistently screwed up spelling the word `Product` with consistent capitalisation ;)

Restricting their answers for product to a CV will be absolutely amazing for our workflows.)

[2016-07-27 23:45] nathandunn commented on #86
@monicacecilia  Not in the MRNA or the Gene?

[2016-07-27 23:46] monicacecilia commented on #86
I think it was just upset with me. I can see it now....

[2016-07-27 23:47] monicacecilia commented on #86
@erasche yay, we're happy to be able to make you guys happy. 😄

[2016-07-27 23:47] monicacecilia commented on #86
💃 !!

[2016-07-27 23:47] #86 closed

[2016-07-27 23:50] nathandunn commented on #493
That is not the desired behavior!   I'll take a look.

[2016-07-28 00:14] monicacecilia commented on #1140
@nathandunn and what about #1156? Are you still working on that one? Or did @childers respond about his testing to you outside of GH?
I ask because this seems to be directly affected by that issue.

[2016-07-28 00:16] monicacecilia commented on #1144
I can confirm that it is possible to create new _Feature Type_ entries. 💃

[2016-07-28 00:16] #1144 closed

[2016-07-28 00:16] nathandunn commented on #1140
It largely works.  They were going to retest, but I don't think they've gotten to it.   If there is a bug there they will very likely be the only ones to run into it.   I can remove the other one from 2.0.4.   We can always patch that later if need be.

[2016-07-28 00:20] monicacecilia commented on #1140
_"largely"_ 😰

[2016-07-28 00:21] monicacecilia commented on #1156
@nathandunn ok. Thanks for updating the milestone. 👍

[2016-07-28 00:21] nathandunn commented on #1140
Well, it works perfect for me, but I can't test it the way @childers  can.   This feature was largely non-functional when doing loadLinks before, so this is a vast improvement.  Unclear what the edge-cases are in this case.

[2016-07-28 00:24] monicacecilia commented on #1140
Copy that. I'll close, then we leave #1156 pending, and move from there if we need to address additional issues. 👍

[2016-07-28 00:24] #1140 closed

[2016-07-28 00:38] nathandunn commented on #493
Confirmed that the "logout" message is being sent to all "users" (and they all get the popup), but only the initiator is actually logged out.

[2016-07-28 00:58] monicacecilia commented on #1146
I can confirm that exported GFF3 is doing what is expected according to the description in this issue.

- In this image, the genes shown above were exported and re-imported as a track below.

![screen shot 2016-07-27 at 5 43 46 pm](https://cloud.githubusercontent.com/assets/1714621/17197510/27b0d85a-5422-11e6-9c1b-2d81be28ab12.png)

- Metadata for the imported, manually annotated gene models, is i

[2016-07-28 00:58] #1146 closed

[2016-07-28 01:03] monicacecilia commented on #1147
💃

[2016-07-28 01:03] #1147 closed

[2016-07-28 01:15] nathandunn commented on #1152
Is there more coming on this?

[2016-07-28 01:15] monicacecilia commented on #1152
yes. be patient. this is not ready.

[2016-07-28 01:42] monicacecilia commented on #1152
Well, something smells badly here.

Steps I took:
1. I highlighted a region using the button to the right of the 'Search' box in the main annotation panel.
2. I pulled the 'Save track data' menus to export FASTA from the highlighted region from 2a. _User-created Annotations_ area and from 2b. Automated predictions track (in this case OGSv3.2).

Results:
- Error: When trying to obtain the FASTA fil

[2016-07-28 01:44] monicacecilia commented on #1163
💃

[2016-07-28 01:44] #1163 closed

[2016-07-28 01:45] monicacecilia commented on #1179
💃

[2016-07-28 01:45] #1179 closed

[2016-07-28 01:49] monicacecilia commented on #1185
💃

[2016-07-28 01:49] #1185 closed

[2016-07-28 01:56] monicacecilia commented on #493
- Currently, if I have 2 windows open in the same browser and log out of one of them, I do not see a message in the other window. If instead I am in two different browsers and log out of one of the windows, the other browser gets an alert.

[2016-07-28 01:59] nathandunn commented on #493
Yes.  This is a bug.   The alert should happen in both, but actually expiring the session only occurs in the first.

[2016-07-28 01:59] nathandunn commented on #493
I've started a fix for it, but it needs more testing.

[2016-07-28 03:23] wangzhennan14 opened #1190 "There is an error when I run ./apollo release"
Hi,
    When I use web apollo, there are so many troubles, now there is an error, can you help me to solve this  problem?

:installJBrowse
installing jbrowse [git:[url:https://github.com/gmod/jbrowse, tag:1.12.2-apollo, alwaysPull:false, alwaysRecheck:false], plugins:[WebApollo:[included:true], RegexSequenceSearch:[included:true], HideTrackLabels:[included:true]]]
Cloning: https://github.com/gmod/

[2016-07-28 03:36] nathandunn commented on #1190
You need to install node.js and use node.js to install bower.

Nathan

[2016-07-28 13:41] nathandunn commented on #493
@monicacecilia  This fix in #1191 will be in RC3.

[2016-07-28 13:43] nathandunn commented on #1190
https://nodejs.org/en/download/

```npm install -g bower```

[2016-07-28 13:45] nathandunn commented on #1190
Also, you may wish to use ```./apollo deploy``` to confirm that you can get it to work and then use ```./apollo release``` (which is more experimental) once you have confirmed it is working.

[2016-07-28 13:52] nathandunn commented on #1152
- [ ] add defline to exported FASTA in the annotation track
- [ ] remove the 'FASTA' option from the Evidence tracks (that was an option that was added, but not completed, and should not have been in there)

[2016-07-28 13:54] nathandunn commented on #1152
@monicacecilia  I'm not entirely sure what this means:

This is the only screen I see off of the evidence track:

<img width="598" alt="screen shot 2016-07-28 at 6 53 36 am" src="https://cloud.githubusercontent.com/assets/751274/17214955/13a0917a-5490-11e6-8f61-f800ef3cd636.png">

[2016-07-28 14:20] nathandunn commented on #1152
exported sequences (from the UcA) now looks like this:
<img width="542" alt="screen shot 2016-07-28 at 7 18 54 am" src="https://cloud.githubusercontent.com/assets/751274/17215992/b4c75e28-5493-11e6-8b23-ee2ea60ad8f3.png">

[2016-07-28 14:41] brkldj opened #1193 "'JSONObject["clientToken"] not found.' when running add_transcripts_from_gff3_to_annotations.pl"
Hi,

I'm trying to add a gff file to the annotation track directly via command line (instead of dragging every gene model), as described [here](http://genomearchitect.readthedocs.io/en/latest/Data_loading.html#gff3). When running add_transcripts_from_gff3_to_annotations.pl, I get errors like this:
[code]
catalina.out has entries of this type:
[code]
I'm assuming this has something to do with authe

[2016-07-28 14:44] nathandunn commented on #1193
Was just about to ask what version you were using.  We had a bug like that earlier, but am fairly certain it is now fixed.  This is how you check:

![screen shot 2016-07-28 at 7 43 22 am](https://cloud.githubusercontent.com/assets/751274/17216815/056679e2-5497-11e6-8da7-fd5d47201b90.png)

[2016-07-28 14:49] brkldj commented on #1193
Help->Get version returns a "HTTP Status 404" error by Tomcat, so I was wondering if there is an alternative (command-line?) option of checking the version.

[2016-07-28 15:01] nathandunn commented on #1193
Sure.  If you cloned from git, do ```git status``` or ``` git log | head -6``` and I can figure it out.

[2016-07-28 15:03] nathandunn commented on #1193
Otherwise, it is whatever release you downloaded from:  https://github.com/GMOD/Apollo/releases

[2016-07-28 15:07] brkldj commented on #1193
Great, thanks. Does this help?

[code]

[2016-07-28 15:13] nathandunn commented on #1193
Yes.  That is a pretty old non-release version (2.0.3-RC1 [release candidate 1] i.e., we fixed things after it went in).  We'll have a fully-vetted 2.0.4 release out sometime this month.  Master should be relatively stable (a couple more pull requests will be going in today) if you need to get stuff done sooner than later:

[code]

You should see a large number of file changes with the git pull.

[2016-07-28 15:40] brkldj commented on #1193
I now have:
[code]
The errors that I now get of the following type:
[code]
-- the problematic part is now addTranscript (before it was addFeature).

[2016-07-28 16:04] nathandunn commented on #1193
How are you running the command (what is on the command-line)?

If you have some sample GFF3, that would help as well.

We’ve been testing this function, explicitly and it has been working, but there are always cases we didn’t consider.

[2016-07-28 16:12] monicacecilia commented on #493
How long is it supposed to take for the warning to be triggered?
Losing connectivity does trigger the warning box in approx. 30 seconds or so. Wondering if that is expected and correct. Thanks.

[2016-07-28 16:25] monicacecilia commented on #1152
@nathandunn That was my mistake. I was still talking about the 'Save track data' menu option in the Uc-A area. Here is that error explained again:

- Error: When trying to retrieve either the _genomic.fasta_, _peptide.fasta_, _cds.fasta_, or _cDNA.fasta_, files from the _User-created Annotations_ area, __while there is a highlighted region__, the four files looked exactly the same as just exportin

[2016-07-28 16:25] nathandunn commented on #493
30 seconds is correct.  The client calls home.   Not as nice as a push, but I think better than what we have.

[2016-07-28 16:27] nathandunn commented on #493
Also, a push (e.g., a session timeout) would not indicate server or internet failure, whereas this would.

[2016-07-28 16:29] nathandunn commented on #1152
Gotcha.   The CDS, peptide, and cDNA should ignore the highlighted region and they are not.   I can fix.

[2016-07-28 16:29] monicacecilia commented on #493
It works well.

[2016-07-28 16:31] monicacecilia commented on #1152
Correct. If there is an option to export data only from the highlighted region, then the other options should not be only from the highlighted region. That would be redundant. As it currently appears, we are exporting nucleotides when an amino acid sequence is expected. That is incorrect.

[2016-07-28 17:24] brkldj commented on #1193
This is how I run it:
`/home/brkldj/software/Apollo/tools/data/add_transcripts_from_gff3_to_annotations.pl -U localhost:8080/apollo -u 'me@mail.com' -p 'pass' -i test7.gff -t mRNA -o "species1"`

Attached is a minimum example gff file with a random gene (I added .txt because otherwise I can't upload it)
[test7.gff.txt](https://github.com/GMOD/Apollo/files/388958/test7.gff.txt)

Here is the complet

[2016-07-28 17:49] nathandunn commented on #1193
[code]

This worked for me:

![screen shot 2016-07-28 at 10 44 57 am](https://cloud.githubusercontent.com/assets/751274/17223208/68ee17d6-54b0-11e6-95d8-3f2bded881a2.png)

Somehow I don't think you have a clean build.  Did you replace your war file after you did deploy?

http://genomearchitect.readthedocs.io/en/latest/Migration.html?highlight=tomcat#migration-from-2-0-x-to-2-0-y-on-production

If

[2016-07-28 23:36] nathandunn opened #1194 "document "canned" things"
- [x] canned comments
- [x] canned tags / keys
- [x] canned values
- [x] note how they interact with FeatureType

~-[ ] change canned "keys" to canned "tags"~

[2016-07-29 01:48] monicacecilia commented on #1152
Hooray! 💃

[2016-07-29 01:48] #1152 closed

[2016-07-29 01:52] monicacecilia commented on #493
I can confirm that it works for
- [x] Two separate windows in same browser 💃
- [x] Two tabs in same browser 💃
- [x] Two separate windows in different browsers 💃

!!

[2016-07-29 01:52] #493 closed

[2016-07-29 06:06] nathandunn opened #1195 "clicking "show annotator panel" fails in logged-in apollo mode"
Clicking on "show annotator panel" in full-screen mode leads to this screen, where the clientToken is obviously not being transformed into a string properly.:

http://icebox.lbl.gov/Apollo-staging/annotator/index?clientToken=[Ljava.lang.String;@6acd68b8&tracklist=1&highlight=0..-1&tracks=DNA,Annotations,Nurse,Forager,Official%20Gene%20Set%20v3.2&nav=1&overview=1

<img width="1326" alt="screen shot

[2016-07-29 06:50] nathandunn commented on #1195
So, this is pretty inconsistent and flaky.    I think, related to #1126, we should change the behavior to open and close the side-bar only.  It would be a lot cleaner and give the eventual correct behavior:

<img width="565" alt="screen shot 2016-07-28 at 11 46 02 pm" src="https://cloud.githubusercontent.com/assets/751274/17240104/ffa8ec06-551d-11e6-95c5-52ab84cf603c.png">

[2016-07-29 11:28] brkldj commented on #1193
Good point, I didn't replace the war file.

With the new version add_transcripts_from_gff3_to_annotations.pl works fine (it's still running, but it has none of the errors that appeared before). Thanks!

[2016-07-29 11:28] #1193 closed

[2016-07-29 20:38] monicacecilia commented on #1195
I did not see the 404 error; instead if I am currently in the _Full-screen view_ and choose to _Show Annotator Panel_, then the annotator panel shows up again, __and__ the JBrowse list of available tracks remains in the window as such:
![screen shot 2016-07-29 at 1 34 13 pm](https://cloud.githubusercontent.com/assets/1714621/17262692/aeeca888-5591-11e6-8ce1-9df43055378c.png)

[2016-07-29 20:57] nathandunn commented on #1195
Would it be okay if the show annotate / full screen options just opened and closed the annotator panel (i.e., the same as the button at the top)?

Nathan

[2016-07-29 21:01] monicacecilia commented on #1195
No, I think that dismisses the original intent of having the _Full-screen view_: to offer the ability to include the JBrowse menu, or remove it.

[2016-07-29 21:15] nathandunn commented on #1195
You can do that already be choosing the native track list from the track menu.

Nathan

[2016-07-29 21:15] nathandunn commented on #1195
We can fix that either way.

Nathan

[2016-07-29 21:26] monicacecilia commented on #1195
Yes. That's already addressed with the toggle menu to _Show JBrowse Track Selector_. Unfortunately, at the moment, the _Full-screen view_ is the __only__ way in which we can display the data in the browser without being logged into Apollo.

[2016-08-01 11:06] brkldj opened #1197 "Can annotation track be exported as gff3 on command line?"
Hi all,

does [this thread](http://gmod.827538.n3.nabble.com/Export-curation-track-using-command-line-tool-td4046178.html) reflect the most up-to-date information or is there by now a simpler way of exporting annotation track data on command line?

[2016-08-05 09:20] loraine-gueguen commented on #1147
I have tested apollo 2.0.4-RC3 : the display time for Information Editor panel is far better. Thanks !

[2016-08-05 09:22] loraine-gueguen commented on #1163
I have tested apollo-2.0.4-RC3 : I can delete GO terms and dbxref now. Thanks !

[2016-08-05 18:53] monicacecilia commented on #1197
Hi @brkldj,
The thread you refer to no longer reflects the most current information for Apollo. A number of changes have been introduced in the past 2 years, which included a substantial restructure of the architecture.

@deepakunni3 has made tremendous improvements to our ability to export data in several formats using the _Annotator Panel_, and although there currently isn't a way to export GFF3

[2016-08-05 18:57] erasche commented on #1197
https://github.com/TAMU-CPT/galaxy-apollo/blob/master/export.py will likely accomplish what you need. it requires the webapollo.py file that is in the same folder and a number of dependencies to function (bcbio-gff, biopython), but that downloads gff3 and fasta sequences from an apollo instance.

Hope this helps.

[2016-08-08 14:31] nathandunn commented on #1195
Talked with i5K people today and I proposed a solution where full-screen mode would just slide out the annotator panel.  They said they would be fine with that, but that users would be confused as to where the track panel went to and how do you get it back.   This brings up why doesn't the track panel not have a show-hide button in the first-place, which we could add?

WRT to logged out, jbrowse o

[2016-08-08 14:46] nathandunn commented on #1195
To fix:

- [ ] initially (prior to this), we have 3 current organisms, but we only want the one with the sequence populated (others should be deleted, or never created).  If it is a different sequence it could just be ignored
- [ ] when coming back (clicking AnnotatorPanel) we should delete any preference that shares the organism, and doesn't have
- [ ] when coming back (clicking AnnotatorPanel),

[2016-08-08 15:51] monicacecilia commented on #1195
@nathandunn This may be a little 'meta' but if you look up this thread, you can see that I had already shared the same objection to your idea that "full screen mode just slide[s] out the _Annotator Panel_".
Your solution was to toggle the JBrowse track list, as it is already possible from the _Annotator Panel_ using the _Show JBrowse Track Selector_ button.
Again I add: Unfortunately, at the momen

[2016-08-08 15:54] nathandunn commented on #1195
Yeah.  That is what I was responding to.   We definitely need that functionality as well.

[2016-08-08 15:54] nathandunn commented on #1195
This proposal was just a proposal . .  I'm going try and address the stuff in [this comment](https://github.com/GMOD/Apollo/issues/1195#issuecomment-238260600) first.

[2016-08-08 17:51] nathandunn commented on #1195
ClientToken was being handled in twice, so it was a string array instead of a string . . which confused java

[2016-08-08 18:57] arcadeo opened #1198 "compilation error: startup failed."
Hi there, I'm trying to test Apollo on my server (RHEL6), but I keep encountering this issue.
Any help would be appreciated.
`./apollo run-local`
Buildfile: ~/Apollo/build.xml

copy.apollo.plugin.webapp:

setup-jbrowse:

git.clone:
     [exec] Result: 128

copy.apollo.plugin.jbrowse:
     [echo] copying plugin to jbrowse git ...
     [echo] Will be setting up jbrowse
   [delete] Deleting directory

[2016-08-08 19:01] nathandunn commented on #1198
Two quick questions:

1 - what version of Apollo are you using?
2 - what version of Java are you using (should be 7 or above, Oracle or OpenJDK should be fine)

Nathan

[2016-08-08 22:50] arcadeo commented on #1198
Hi Nathan,
I'm trying to install/use Apollo-2.0.2.
And I have Java 7
java version "1.7.0_111"
OpenJDK Runtime Environment (rhel-2.6.7.2.el6_8-x86_64 u111-b01)
OpenJDK 64-Bit Server VM (build 24.111-b01, mixed mode)

Arcadio

[2016-08-08 23:51] nathandunn commented on #1198
I think it has to do with an older version of that cache plugin, which we have since updated.

We are planning to release a 2.0.4 this week (knock on wood).  I think what would be the most help is to download and install our [third release candidate](https://github.com/GMOD/Apollo/releases/tag/2.0.4-RC3) (we'll have at least one more before we release) and see if it that fixes the issue.

[2016-08-08 23:53] arcadeo commented on #1198
Thanks, I'll be on the lookout, and good luck with the release

[2016-08-08 23:54] nathandunn commented on #1198
Great.   You might want to test this release candidate just to make sure it fixes your issue.  Doing the "run-local" as you just did should be a sufficient test to make sure that it has fixed the problem.

[2016-08-09 18:15] monicacecilia opened #1200 "Fix display of 'Create User' button in User tab of the Annotator Panel"
The _Create User_ button in the _User_ tab of the _Annotator Panel_ is cut off in Firefox (v48.0) for Mac (MacOS 10.11.6).

![screen shot 2016-08-09 at 11 09 46 am](https://cloud.githubusercontent.com/assets/1714621/17527889/fd34bb46-5e21-11e6-8f04-80372b80a406.png)

[2016-08-09 18:21] monicacecilia commented on #1195
Tested all functionality. Nearly all steps worked as expected, except:

- if users is not given permissions, then they are unable to browse public genomes using the link in the 'You do not have permissions' dialog box. Instead, they see this window:
![screen shot 2016-08-09 at 11 17 11 am](https://cloud.githubusercontent.com/assets/1714621/17528223/4c9e13ac-5e23-11e6-9cd6-e761ba4b96b2.png)

- if l

[2016-08-09 18:43] nathandunn commented on #1200
Fixed for firefox and updated the annotator panel as well (appears similar in Chrome, as well):

![screen shot 2016-08-09 at 11 42 13 am](https://cloud.githubusercontent.com/assets/751274/17528986/75f127e6-5e26-11e6-9671-81c321d88776.png)
![screen shot 2016-08-09 at 11 42 08 am](https://cloud.githubusercontent.com/assets/751274/17528983/75eaecdc-5e26-11e6-9ff5-a664e9d827f1.png)
![screen shot 2016-

[2016-08-09 19:02] nathandunn commented on #1195
To reproduce, login, go to /apollo/jbrowse/  . . was because it was returning the index.html if you had a valid user, but not a valid organism or client_token.

Fixed.

[2016-08-09 20:45] monicacecilia commented on #1200
it is fixed! 💃

[2016-08-09 20:45] #1200 closed

[2016-08-09 20:46] monicacecilia commented on #1195
It is fixed. All other steps in the above testing work. Gets a 💃 !

[2016-08-09 20:46] #1195 closed

[2016-08-09 21:37] monicacecilia opened #1201 "Refresh required to recalculate CDS after removing sequence alteration."
@deepakunni3 @nathandunn
If there is a gene model in the U-cA area,  and I add a sequence alteration that modifies the CDS,
and then I remove the sequence alteration: the CDS does not go back to what it was before, until the window is refreshed. So although the longest ORF might be recalculated after each operation, it is not apparent until after refreshing.

[2016-08-09 21:50] nathandunn commented on #1201
The issue I am seeing is that it is not re-calculating the longestORF in that region, refresh or not.   I have to explicitly recalculate it.   The code is definitely in there.

[2016-08-09 21:52] monicacecilia commented on #1201
Exactly what I said to you earlier.
And if you conduct a second operation (without refresh), you also force the ORF recalculation.

[2016-08-09 21:53] nathandunn commented on #1201
Sorry, by refresh I thought you meant refresh the screen.

[2016-08-09 21:53] nathandunn commented on #1201
Yes, what you are experience is consistent with what I see.   Hopefully an easy fix.

[2016-08-09 21:59] nathandunn commented on #1201
This was failing to flush properly (due to the grails upgrade, we have to do this a bit more explicitly now).  I'm going to check for a few other locations as well:

[code]

[2016-08-09 22:01] deepakunni3 commented on #1201
@nathandunn Yes, I see what is happening. A flush seems to fix this issue.
Its surprising that we didn't see this earlier in any of our previous releases.

[2016-08-09 22:03] monicacecilia commented on #1201
@deepakunni3 shhhhhh 👀  don't tell anybody.
:bowtie:

[2016-08-09 22:05] nathandunn commented on #1201
I went through and didn't see any more obvious places.  We have so many default operations that flush, sequence alteration just uses a slightly different mecahnism.

[2016-08-09 22:17] deepakunni3 commented on #1201
@monicacecilia No, I am sure it wasn't there before (i.e. Apollo 2.0.1 or 2.0.2).

Must be careful with the use of flush when saving or deleting.

[2016-08-09 22:18] nathandunn commented on #1201
@deepakunni3  It was the upgrade to 2.5.4 upgraded hibernate to make the use of flush a bit more required.

[2016-08-09 22:18] deepakunni3 commented on #1201
Aah, okay! Thanks for getting the fix in. 👍

[2016-08-09 22:20] monicacecilia commented on #1201
@deepakunni3 I am certain that this delay was not there when I tested 2.0.2. I tested the behavior and it recalculated ORF right away.

[2016-08-09 22:36] nathandunn commented on #1201
@monicacecilia  Ready to test

[2016-08-09 22:47] monicacecilia commented on #1201
Tested. ORF is now being recalculated as expected. 💃

[2016-08-09 22:47] #1201 closed

[2016-08-10 21:33] #1182 closed

[2016-08-14 14:01] monicacecilia commented on #1198
@arcadeo for your information, Apollo v 2.0.4 is now released. You can find it at https://github.com/GMOD/Apollo/releases/tag/2.0.4
We are very positive this version has addressed and solved the problem you reported in this issue. Please let us know if there is anything else we can do to help.

[2016-08-14 14:01] #1198 closed

[2016-08-14 14:01] #1190 closed

[2016-08-16 16:19] loraine-gueguen opened #1202 "Schema update errors when upgrading to 2.0.4"
Hi,

I had some errors when deploying release 2.0.4 (upgrade from 2.0.2) :

[code]

And a warning probably linked to the previous error when I log in to apollo through a browser:

`2016-08-16 17:57:39,317 [http-bio-8080-exec-1883] WARN  apollo.PreferenceService  - Multiple preferences found: 2`

Indeed, the table "preference" already had entries before upgrade to release 2.0.4, and the 3 new colum

[2016-08-16 16:26] nathandunn commented on #1202
@loraine-gueguen  Thanks for bringing this to our attention.

If you type: ```delete from preference``` and restart does it solve your problem?

[2016-08-16 16:35] nathandunn commented on #1202
Sorry, to be more specific:

- stop tomcat (or wherever you're putting the .war file)
- In the database: ```delete from preference;```
- start tomcat

Please let me know if this does or does not fix it.   I'll upgrade the database migration script to correspond to this and let the community know once we get it fixed.

Thanks.

[2016-08-16 17:48] nathandunn opened #1203 "add github doc and javadoc to internal documentation"
grails produces its own doc as does the GWT java code.

[2016-08-16 17:58] nathandunn commented on #1202
@loraine-gueguen  If that doesn't work, then instead of deleting the content from the preference table, you can drop the preference table instead, and it will get regenerated when you start back up.

[2016-08-16 19:23] nathandunn commented on #667
Fixed in:  commit #ea23783

[2016-08-16 19:23] #667 closed

[2016-08-16 22:01] nathandunn opened #1204 "projection: fix sequence projection"
- [x] simple scaffold
- [x] combined scaffold, first position
- [x] combined scaffold, second position (error)
  - [x] add tests for combined scaffolds for middle, start and ends of both using refSeqProjectionServe.projectSequence
- [x] projected scaffold, first position (just wrong)
  - [x] add tests
- [x] projected scaffold, second position (also wrong)
  - [x] add tests
- [x] confirm caching (o

[2016-08-16 22:02] nathandunn opened #1205 "projection: set_longest_orf miscalculates when setting exon boundaries"
projection: set_longest_orf miscalculates.

Dependent on #1204

[2016-08-16 22:04] nathandunn opened #1206 "projection: should be able to merge projected features in projection"
- [x] works on any combination of full scaffolds with tests
- [x] write test
- [x] fix viewPartials in projection : #1215
- [x] merge on single feature sub-scaffold
- [x] merge on multiple feature sub-scaffold
- [x] merge OVER multiple feature sub-scaffold
- [x] #1204
- [x]  #1205
- [x] fix addExon #1211
   - [x] CDS still fails as part of this
- [x] test/fix handleIsoforms
- [x] **unignore the te

[2016-08-16 22:08] nathandunn opened #1207 "projection: edit bookmark name and range"
- [ ] allow editing of bookmark range
- [ ] allow editing of bookmark name (and other details, like a note?)

[2016-08-16 22:11] nathandunn commented on #1184
- [ ] indicate in full scaffold
- [ ] indicate in partial scaffold
- [ ] flush top legend right (for the LHS ones)

[2016-08-16 22:15] nathandunn opened #1208 "projection: project tracks in chunks"
- [x] handle for full scaffold (probably working?)
- [x] handle multiple full scaffolds
- [x] handle for partial scaffolds
   - [x] functionality works
- [x] handle multiple partial scaffolds:
   - [x] second scaffold not showing up
-  ~~uses histogram at the wrong zoom (have to zoom in a lot to show tracks)~~ handled in #683
- [x] cache similar to SequeneCache:
  - [x] database cache
  - [x] set

[2016-08-16 22:17] nathandunn commented on #716
Closing for now.  Can re-open later.  I think it is fixed as part of #444.

[2016-08-16 22:17] #716 closed

[2016-08-16 22:17] nathandunn commented on #684
May get bumped to 2.1.1

[2016-08-16 22:20] nathandunn commented on #996
Poorly defined.  Closing.   We kind of do a lot of this now, though it can definitely be improved.

[2016-08-16 22:20] #996 closed

[2016-08-16 22:22] nathandunn commented on #997
put hooks in JBrowse to remove these issues:

- [ ] https://github.com/GMOD/jbrowse/issues/787
- [ ] https://github.com/GMOD/jbrowse/issues/786

[2016-08-16 22:24] nathandunn commented on #950
Converted to single issues.

[2016-08-16 22:24] #950 closed

[2016-08-16 22:25] #752 closed

[2016-08-16 22:26] #594 closed

[2016-08-16 22:27] nathandunn commented on #51
this works except for #1205  , setting the longest ORF.  Finishing up there.

[2016-08-16 22:27] #51 closed

[2016-08-16 22:29] nathandunn commented on #677
Currently (because they are so small), we are just creating these on the fly anyway.

[2016-08-16 22:29] #677 closed

[2016-08-16 22:29] nathandunn commented on #676
While this IS AWESOME (and largely worked), it is not actually part of our requirements.

[2016-08-16 22:29] #676 closed

[2016-08-16 22:33] nathandunn commented on #624
Handling some of this in #1207 .  Needs some clarification on:

@selewis

Can definitely create unions and select individuals to create lists, but not sure how this would work with an XOR.

[2016-08-16 22:34] nathandunn opened #1209 "projection: handle VCF view"

[2016-08-17 05:03] nathandunn commented on #1194
For whenever.

[2016-08-17 05:04] nathandunn commented on #1162
Once I get a little further along we'll see if its a part of the beta release or not.

[2016-08-17 05:06] nathandunn commented on #1202
@loraine-gueguen  Just to clarify (and so I can better provide a solution for other users as well), what version are you upgrading from?  Typically we have scripts that do the upgrade between versions, but we might missed something between 2.0.3 and 2.0.4.  If you were running off of master, then the advice I'd given previously is probably the best option.

[2016-08-17 08:56] loraine-gueguen commented on #1202
@nathandunn
I am upgrading from release 2.0.2.
Indeed, doing `delete from preference;` before upgrading from 2.0.2 to 2.0.4, fix it : no more ERROR messages, and the 3 new columns are clean with a "not null" constraint.

However, I have already upgraded my production instance to 2.0.4 yesterday and have had the ERROR messages for the schema update. So, the table "preference" is structured this way