[2014-02-07 15:47] bmpvieira opened #1 "Missing LICENSE file"
This information is missing in the git repo.
Also, although the paper says it's open source it doesn't specify which license.
If in doubt, I would recommend using the MIT license.

[2014-02-07 20:08] #1 closed, assigned to nobody

[2014-03-31 19:43] S2KFan opened #2 "Bug on reference sequence track when hiding"
If you are not logged into WebApollo, and you zoom-in to the base level, and then zoom back out, there is a shadow that covers up other tracks where the reference track was.

[2014-03-31 20:02] #2 closed, assigned to nobody

[2014-04-01 20:10] S2KFan opened #3 "Disable "Create new annotation" menu item when user is not logged in"
"Create new annotation" menu item should be disabled if the user is not logged in.

[2014-04-01 20:10] #3 closed, assigned to nobody

[2014-04-02 19:27] monicacecilia opened #4 "Exporting FASTA per selected region, not per scaffold."
I may have misunderstood this, but I thought this was already possible? If so, how?
I am re-opening an issue, just to make sure.

cheers,
~moni.

Anthony Bretaudeau wrote (March 3, 2014):
"On WebApollo, when I zoom to a specific region, I would like to be able to extract the fasta sequence corresponding to the selected region.
This is possible in JBrowse by clicking on the Reference Sequence track

[2014-04-02 19:35] monicacecilia opened #5 "Export Chado - error message."
On the Demo site,
in the 'Select Reference Sequence' window,
when selecting File > Export > Chado for a scaffold, or a group of scaffolds,
Web Apollo issues an error, hanging with the message: "Data Adapter. Error writing Chado".

![screen shot 2014-04-02 at 12 30 44 pm](https://cloud.githubusercontent.com/assets/1714621/2595688/82f33cc4-ba9d-11e3-9ca3-7fcf4615592a.png)

[2014-04-02 20:05] #5 closed, assigned to nobody

[2014-04-04 12:18] yeban opened #6 "Select and un-select an exon - you can still resize the exon."
And that seems unusual.

[2014-04-04 19:34] #6 closed, assigned to nobody

[2014-04-10 18:28] monicacecilia opened #7 "Updates to 'recent changes' history page."
Add a list of metadata fields that can be customized into the recent changes page.
For example, include 'Status'.

[2014-04-10 18:33] monicacecilia opened #8 "Add button to 'History' window."
Add a button to revert the model to a specific version in the 'History' window options. This would replace the right-click function to change back to that model.
Suggested label for the button: 'Revert to this version'.

[2014-04-20 12:11] yeban opened #9 "Activating edge matching on the selected feature even when no feature in other track aligns with the selected feature is confusing."
So I select a feature and its edges do not match with any other feature in all tracks displayed. Yet, `left-edge-match` and `right-edge-match` classes are applied to the selected feature. This is confusing because a user will be tempted to scroll down to look for corresponding edge-matched feature and find none.

This happens because FeatureEdgeManager iterates through all tracks including the one

[2014-04-24 19:02] #8 closed, assigned to nobody

[2014-04-29 12:05] childers opened #10 "Forced ASCII sort on tracks in non-simple mode"
I've noticed that our tracks are now displayed as an ASCII sotred list (CAPS first), as opposed to being defined in one of the configuration files.  Does anyone know where this can be reset?

If I reset the trackSelector type to Simple, it reverts back to our pre-defined order, but we lose the advantages of the new selector.  Is there a way to have the best of both worlds?

[2014-04-29 12:08] childers opened #11 "No record of feature deletion"
Could you add a trigger to log when a user deletes an annotation?  Ideally it would have the id for the deleter, the locus of the feature and the creator of the deleted feature.  If this is just a tab-delimited text file in the directory it would be great.  If it was viewable for admins through the admin menu it would be even better.

[2014-05-07 19:02] S2KFan opened #12 "GFF3 output phase wrong"
From Marc Hoppner:

I apologise if this was already discussed (couldn’t find anything) - but with the latest version of WebApollo I am seeing some worrying issues with CDS features. Basically, all phases are wrong after importing the GFF file into WA and then dumping it again through the web interface. One example - the input was a Maker-derived annotation, which was loaded as track, the annotatio

[2014-05-07 19:02] #12 closed, assigned to nobody

[2014-05-19 19:24] #10 closed, assigned to childers

[2014-06-18 16:49] cmdcolin opened #13 "Add encrypted user database"
Specifications:

Allow user to migrate to encrypted version easily
Using encrypted version is optional (not forced on users when upgrading versions)
Should be supported by both java and perl components
Ideally use standard crypt format

This was started previously here:

b25780b8e6
79d43929e84

But then reverted here 6278a44c8dc

[2014-06-18 17:17] #13 closed, assigned to nobody

[2014-07-16 20:55] monicacecilia opened #14 "Connection problems lead to stalling edits."
1.
Users are experiencing problems when trying to change an exon boundary.
The behaviour includes:
- the boundary bounces back and remains unchanged
- after refreshing (cleaning cache) the boundary can be changed
- after refreshing (cleaning cache) the boundary is ALREADY changed

The problem may be the result of latency issues, connection timeouts, or connection lag. It could be also the result o

[2014-07-17 18:47] monicacecilia opened #15 "Unable to use edge matching to "set as x' end""
Function to use edge matching to "set as 3' (or 5') end" does not work with RNAseq data on Amel demo in icebox as of July 15, 2014. This function was working well until first week of June 2014.

No error log captured yet.

[2014-07-18 04:00] monicacecilia opened #16 "Offending exon with "non canonical" (and non existent) boundaries, and an artificial intron"
After inspecting a gene model on the bedbug instance of Web Apollo, I learned that Apollo is acting as though there is an intron of length = 0bp. (the previous exon "ends" one position (bp) before). I discovered the error by using the square brackets [] to move between exons.

Below are Console erros, as well as the fragment of the .css that describes non-canonical warning in the offending exon.

[2014-07-28 14:23] childers opened #17 "Support of community level private evidence tracks"
Some of our annotation communities have private data they would like to make available to the annotators but not the public.  Could you implement a category of track that is only visible if you are logged in and have read permissions?

[2014-08-19 00:32] monicacecilia opened #18 "Error when annotating more than 20 isoforms."
From Monical Poelchau:
"One of our annotators is working on a gene model with ~20 isoforms. When attempting to drag more evidence into the user-created annotations track in the area of this gene model, we get the error 'Error writing transcript:null'. Catalina.out output is pasted below."

java.lang.NullPointerException
        at org.gmod.gbol.bioObject.CDS.overlaps(CDS.java:187)
        at org.b

[2014-09-08 17:53] childers opened #20 "recentChanges.jsp not working on ssl based connections"

[2014-09-09 13:49] childers opened #21 "Feature request for add-bw-track.pl"
Typo in help: the usage text refers to the program as "add_bw_track.pl", where is should be "add-bw-track.pl"

There are options I manually set that are usable, but not recognized as command line set parameters. I would like these parameters as optional command line options.
"clip_marker_color"
"height"
"bg_color"

[2014-09-09 14:25] #21 closed, assigned to nobody

[2014-09-09 17:31] nathandunn opened #22 "Integrate maven, simplify build"
Integrating Maven to build and simplifying source.  Will have simple wrapping scripts:

./build.sh
./run.sh
./debug.sh # same as run, but with debug port open
./test.sh
./export_chado.sh
./clean.sh

active dev: https://github.com/nathandunn/Apollo

[2014-09-11 08:03] monicacecilia opened #23 "Provide submenu when merging two different feature types."
In an instance using the November Web Apollo release (at NAL/USDA), several pseudogene annotations have an mRNA child feature. This is not biologically sound - and frankly should not be possible (check SO).

Monica Poelchau found this out after the annotator conducted the modifications. Neither her nor I have not been able to reproduce it.

![screen shot 2014-09-11 at 1 00 56 am](https://cloud.git

[2014-09-12 15:05] deepakunni3 opened #24 "Special characters in password while using add_user.pl"
A user reported an issue when using special characters in passwords (in this case the $ sign) while using add_user.pl

http://gmod.827538.n3.nabble.com/Bug-in-user-data-perl-scripts-td4045525.html

[2014-09-12 18:32] #24 closed, assigned to nobody

[2014-09-13 06:52] spficklin opened #25 "Bug in JBrowse authentication in development code."
At the hackaton this past January, some changes were made to the server/WebApollo/src/org/bbop/apollo/web/Login.java file to support OAuth authentication.  It changed the way HTTP GETs were handled.  This inadvertantly broke the logins through JBrowse.  I have committed a fix to my forked copy of Apollo, and I have a patch I can supply.

[2014-09-15 04:28] spficklin opened #26 "Change Track Name"
We are trying to manage multiple instances of WebApollo using the same user database.  We are handling it in this way:

1)  Each instance of WebApollo has it's own config.xml file with the annotation_track_name element customized with a unique project name.
2)  Reference sequences are prepared using the extract_seqids_from_fasta.pl and are given a prefix (-p option)  that matches the project name.

[2014-09-15 21:56] #25 closed, assigned to nobody

[2014-09-23 17:20] nathandunn opened #27 "extend mRNA causes 500 error"
Notes from Asela:

        Action                                                                                                                                                               Error
    Drag gene from evidence track to User Annotation track                                             "POST /myGenome/AnnotationEditorService HTTP/1.1" 200 466 and "GET /myGenome/AnnotationChangeNotifi

[2014-09-23 22:22] nathandunn opened #28 "properly handle BAD track additions"
e.g., when importing a GFF3 file with both gene and mRNA on the same region into jbrowse, when the imported track is annotated, it causes an error, but still "adds" the annotation and leaves the database in an inconsistent state.   It also is unclear what would be annotated, as well.   We should disallow this type of annotation explicitly.

[2014-09-26 15:07] childers opened #29 "Add multiple editor (owners) tag to exported gff3/json"
Currently the exported gff3 contains a field for owner, which is the user that created that model.
Our usage tracking would be greatly enhanced if the exported gff3 would also include an 'editor' tag, which consists of a list of all users that modified the model.

[2014-09-29 18:03] childers opened #30 "Genome insertion trigers recalculate CDS on non-coding features"
If a sequence insertion is made on the exon for a feature, Web Apollo calculates the longest CDS.  This is a problem for non-coding features, which are not supposed to have CDS features.
Here is an example:
###
    Scaffold1	WebApollo	gene	870322	875660	.	+	.	Name=73DAC4E888056EE3754995061F15375C;
    Scaffold1	WebApollo	tRNA	870322	875660	.	+	.	Name=LdecTmpM001045-RA;
    Scaffold1	WebApollo	exon

[2014-09-29 20:08] #22 closed, assigned to nobody

[2014-09-30 15:55] #7 closed, assigned to nobody

[2014-10-02 18:40] #20 closed, assigned to nobody

[2014-10-03 23:04] nathandunn opened #32 "Provide support for regulatory sites such as transcription binding sites, promoters"
This will be done similar to #524 (and is dependent on it)  . . . at least initially.  We need visualizations for it later that imply a different relationship, as well as new data-types and SO terms.

[2014-10-05 04:18] nathandunn opened #33 "GFF3 exports bad coordinates"
2014-10-04 22:59 GMT-04:00 Daniel Hughes <dsth@cantab.net>:
aha, the very last buggy model:

gff is 1-based coordinates - but the problem is probably the same sort of thing as before given the GBOL that follows the gff - it'd take looking at it properly to see what's going on as updating the start to either 1 or 2 results in stops in the coding sequence:

##sequence-region Scaffold6154 1 10437
Sca

[2014-10-06 22:13] nathandunn opened #34 "Overlapper issue"
- Overlapper issue - Not sure what the deal is, but it might be worth noting that we're using the November 2013 WA version for this particular genome (didn't want to deal with updating issues while people were actively annotating).

[2014-10-06 23:17] nathandunn opened #35 "##sequence-region Scaffold6154 1 10437 - 0-base issue"
The ##sequence-region Scaffold6154 1 10437 - 0-base issue - yep, this is a problem, but I don't understand how this should throw this particular model out of frame, since the CDS starts at bp 2... confused.

[2014-10-06 23:18] nathandunn opened #36 "add screen for models where no info is added?"
Gene models in web apollo gff3 with unmodified coordinates – yes, that can happen, although we’ll need to screen for models where no additional info was added.

[2014-10-07 19:54] nathandunn opened #37 "selectTrack.jsp will hang for large data"
Chris C reported that the selectTracks.jsp hangs sometimes.

I think it is getting a timeout because it is loading ALL of the tracks into the page.  They said they have up to 100K, so that might be problematic to load that much data in.

[2014-10-07 19:55] nathandunn opened #38 "recentChanges.jsp produces out of memory errors for large amounts of data"
I get a 4GB out of memory error when loading the JSP for ALL of the data.   I think that the only solution for this would be to go to an actual servlet, though I'm not entirely sure.

[2014-10-10 22:42] #37 closed, assigned to nathandunn

[2014-10-10 22:43] #38 closed, assigned to nathandunn

[2014-10-13 18:52] nathandunn opened #39 "highlight feature via API"
By making an API call via JBrowse, we should be able to highlight a feature:

http://icebox.lbl.gov/WebApolloDemoStaging/jbrowse/?loc=Group1.1%3A1114135..1122637&tracks=DNA%2CAnnotations%2CForager%2CAmel_4.5_NCBI_EST.gff%2CNCBI%20RefSeq%20Noncoding%20RNA%2CAugustus%20Set%2012%2CCflo_OGSv3.3%2CAmel_4.5_brain_ovary.gff%2CGeneID%2CDmel_r5.42%2CAech_OGSv3.8%2CNvit_OGSv1.2&highlight=
- adding: &select=

[2014-10-14 21:47] cmdcolin opened #40 ""Combination tracks" using discrete features"
JBrowse allows some interesting "combination tracks" to be declared on discrete features.

WebApollo is more limited in the sense that discrete features aren't allowed in WebApollo's Combination tracks.

Compare the behavior of regular JBrowse instance
http://jbrowse.org/code/JBrowse-1.11.5/?data=sample_data%2Fjson%2Fvolvox

With WebApollo (produces a red icon when trying to drop a "GFF" type trac

[2014-10-17 22:12] nathandunn opened #41 "link Annotations / Types to Sequence Ontology directly to allow for in-line validation, searching, and export"

[2014-10-17 22:14] nathandunn opened #42 "add appropriate NCBI validation checks"
Requested these checks from NCBI.  I think it would make sense for ALL users to have access to most of these.   I think it would make sense for them to choose which errors / warnings they want to see (its possible that some might be slow).   I think that many of these may come on the newer UI.

[2014-10-17 22:20] nathandunn opened #43 "(3d) Handle bulk updates / deletes (approval rejects) changes"
![screenshot-localhost_8080_2014-10-01_10-15-31](https://cloud.githubusercontent.com/assets/751274/4686909/ca98156e-564b-11e4-89b0-5a5fb099d754.png)

[2014-10-17 22:23] nathandunn opened #44 "Move to using websockets from long-polling"

[2014-10-17 22:27] nathandunn opened #45 "Awareness of other users, add notification sidebar of ongoing edits (yours and others)"
Should be able to note:
1 - see who else is looking and/or editing in a region
2 - follow other user's navigation

[2014-10-17 22:29] nathandunn opened #46 "Update web-services to use swagger or graphql"
http://swagger.io/
- Integrate with Swagger to define / document API
- Add integration tests for each

[2014-10-17 22:31] nathandunn opened #47 "Add ability to drop down a boundary line, or set a line that stays on a coordinate, as a point of reference"
- Ability to bookmark a set of favorite 'locations' so that user's can come back and hop between them.
- Create the ability to mark things after executing searches. For instance dropping a pin after reaching a specific nucleotide coordinate, or a 'line' marking a range of interest.
- f I have a list of sites that I want to keep checking, does WebApollo have a way to look through a list of regions

[2014-10-17 22:35] nathandunn opened #48 "Allow arbitrary search (including notes field)"
This will be provided as part of the refactor.  How this works with the UI, I'm not sure.

==== Previous Note =====

I was considering this proposal to allow multiple name stores in JBrowse and struck me that it could be useful for webapollo as well GMOD/jbrowse: #499

There could be a REST API within WebApollo that serves up the names of the features that are annotated in the User-created annotat

[2014-10-17 22:52] nathandunn opened #49 "Coordinate editing of homologs across organisms"

[2014-10-17 22:53] nathandunn opened #50 "Support Multiple Genomes in a single instance"
Talked with @colindiesh . . .. the JBrowseDataServlet can simply use ?data=<genome-data-directory> for a particular genome. So, now we need to link (in thd database) Genomes to directory files. Not sure if that is a config or a database thing. I want to start moving stuff into the website with a database backing, so it will probably be there.
Sep 11 at 10:43 am - Edit - Delete
Nathan Dunn (ndunn)

[2014-10-22 22:15] nathandunn opened #51 "annotate genes split across scaffolds"
- [ ] **allow annotation of features when second contiguous projection**
- [ ] annotation when second contiguous projection can be projected off-site (or not at all)
- [ ] test annotation when cross annotation (not folded)
- [ ] test annotation when folded (and with padding)
- [x] getFeatures should project properly
  - [x] projecting in ref seq is failing
  - [x] fix offset no-exon projection whe

[2014-10-23 23:07] nathandunn opened #52 "Importing features should be able to (optionally) include metadata"
From: http://gmod.827538.n3.nabble.com/Meta-data-from-evidence-tracks-td4046592.html
## Question/Issue 1:

I noticed that when creating transcripts from evidence, that all meta data (like ‘description, dbxref) are lost. This is a bit of a problem, since my workflow/rationale looks like this:
- create annotation with maker
- functionally annotate maker annotation
- load as track into WebApollo
- Ma

[2014-10-24 16:28] jwlin opened #53 "Can't logout in selectTrack.jsp when tomcat's CORS filter is set"
If tomcat's CORS filter is set, the logout post to server in selectTrack.jsp will be forbidden (pic.1), but the logout button in track page works (pic.2). The reason is CorsFilter.java only proceeds with requests with a content-Type header. I think adding a content-Type header in selectTrack.jsp's logout function would be a proper solution. It's a typical header for post request, even if in this l

[2014-10-24 16:54] #53 closed, assigned to nobody

[2014-10-28 18:52] mpoelchau opened #55 "in-frame stop codons not identified after manually setting translation start"
The 'set translation start' option does not re-calculate the translation stop at the display level - models that have in-frame stop codons are displayed as complete, and the exported gff3 contains the display-level coordinates, although the protein sequence appears to be calculated correctly in the 'Get sequences' option. Is it possible to set the default behavior to recalculate the stop after man

[2014-10-30 17:54] nathandunn opened #56 "Bug with very small scaffold size"
Originally from here:  https://trello.com/c/dwVW1PUx

This is lower priority but may be good to look at when looking at other reference seek bugs (#52)

[2014-10-31 16:04] nathandunn opened #57 "information-editor drop-down should go near the top"
Dan L reported

- propose moving to the top in the same group as "Get Sequence" or "Zoom to Base Level"

[2014-10-31 16:09] nathandunn opened #58 "Edit Config should be a proper form, not JSON string"

[2014-10-31 16:12] nathandunn opened #59 "gff3 import should fail gracefully"
Dan L says

[2014-11-05 17:53] nathandunn opened #61 "tag annotations that will be replaced with a computationally predicted gene set"
i5k pilot group have suggested one model for dealing with a simple merge of manually curated gene models from Web Apollo with a (one) computationally predicted gene set. The idea would be to enforce a ‘tag’ via Web Apollo, where the annotator would have to specify whether and which gene models from a pre-specified gene set should be replaced by the manually curated gene model.

[2014-11-12 13:55] nathandunn opened #62 "export Gff3 not working"
At http://icebox.lbl.gov:8080/WebApolloDemoStaging/selectTrack.jsp
and at http://icebox.lbl.gov:8080/WebApolloDemoStaging/sequences

File/Export/FASTA/peptide

http://imgur.com/gmIJd4s

Error Log: (not very informative)
POST http://icebox.lbl.gov:8080/WebApolloDemoStaging/IOService 400 (Bad Request) jquery-1.8.2.js:8416send jquery-1.8.2.js:8416jQuery.extend.ajax jquery-1.8.2.js:7968write_data sele

[2014-11-12 13:55] nathandunn opened #63 "export Fasta not working consistently"
At http://icebox.lbl.gov:8080/WebApolloDemoStaging/selectTrack.jsp
and at http://icebox.lbl.gov:8080/WebApolloDemoStaging/sequences

File/Export/FASTA/CDS

http://imgur.com/EveQ2s6

Error Log:
POST http://icebox.lbl.gov:8080/WebApolloDemoStaging/IOService 400 (Bad Request) jquery-1.8.2.js:8416send jquery-1.8.2.js:8416jQuery.extend.ajax jquery-1.8.2.js:7968write_data selectTrack.jsp:34099(anonymous

[2014-11-12 13:59] nathandunn opened #64 ""Default track select""
1. What is the "Default Track Select"?
   When was this added, and
   what is the use?

It is neither possible to organize groups by name nor length on this page:
http://icebox.lbl.gov:8080/WebApolloDemoStaging/sequences

http://imgur.com/ppHDkg3

[2014-11-12 14:04] nathandunn opened #65 "remove "export" functionality from "changes" page"
1. Export functionality not available from change log page (expected); it should either be removed from the page where the change log is visible, or a better explanation should be included. "Not available on Change Log" or "Only available for tracks".

http://imgur.com/XjfQvEf

[2014-11-12 14:05] nathandunn opened #66 "somehow getting from selectTrack.jsp by default"
1. "look and feel" of change log page is different from track selecting page. --> because of "selectTrack.jsp to Sequences" change.

[2014-11-12 14:07] nathandunn opened #67 "verify that the version goes to the correct place now."
6. Is this intentional? The Help/Version: 1.0-SNAPSHOT menu sends users to
https://github.com/GMOD/Apollo/commit/master
This is not useful information.

[2014-11-12 14:07] nathandunn opened #68 "change labels so that we can test Apis mellifera"
1. Because these are no longer "Apis mellifera" (the labels read "A. cerana") data, I am unable to test whether remote URLs can be open.

[2014-11-12 14:08] nathandunn opened #69 "get rid of general link"
1. Help
   http://icebox.lbl.gov/webapollo/docs/help.html

"General" under the Help menu should include more information. Else, get rid of "General" and leave only "User Guide" link.

[2014-11-12 14:12] nathandunn opened #70 "(2d) support canned comments"
11.
there were no "canned comments" to test on the information editor.

[2014-11-12 15:10] nathandunn opened #71 "Go term link not disappearing"
10.
the "GO term" window stayed after I closed the Information Editor. I was not able to get rid of it until I refreshed the window.

no error in console.

http://imgur.com/92o68Xb

[2014-11-12 19:44] monicacecilia opened #72 "Number of groups shown in Sequences page does not agree with selection"
In the Sequences page, when selecting how many groups to display from the drop-down menu, users must move to the next page before the change takes effect. That is,  the user must change the "Show" option from the menu, then click "next" or "previous" for the change to take effect, and then go back to previous or next if the group that the user needs is not displayed in that page any more.

This be

[2014-11-12 20:41] mpoelchau opened #73 "(2d) isoforms should belong to the same gene model, removing overlap should result in transcripts that belong to separate gene models"
Hi there,

We've noticed a number of issues pertaining to the correct gene parent assignment of multiple mRNAs. I have identified one source for these errors. If a user creates multiple annotations, then modifies them such that they do not overlap anymore, the original gene parent assignment is retained, instead of assigning a new gene parent ID. See the attached image for an example.
![untitled 2

[2014-11-13 01:10] #72 closed, assigned to monicacecilia

[2014-11-13 01:17] #64 closed, assigned to monicacecilia

[2014-11-13 02:13] selewis opened #74 "Need a convention for releases that includes JBrowse"
It's confusing (and annoying) to have two version counts when one of them depends on the other.

We should change the identification of releases to include the JBrowse release# as well.

e.g. JB12.23-AP45.67

or something like that

[2014-11-13 19:57] nathandunn opened #75 "move all shell scripts to bin directory?"
move *.sh *.pl stuff out of the tools/users/ directory and merge with jBrowse.

[2014-11-13 20:10] nathandunn opened #76 "move build to maven . . set version properly"
should be 1.0-SNAPSHOT should go to: https://github.com/GMOD/Apollo/tree/1.0
should be 1.0.0-RC1   should go to: https://github.com/GMOD/Apollo/releases/tag/1.0.0-RC1

[2014-11-13 20:11] #69 closed, assigned to monicacecilia

[2014-11-13 22:12] #66 closed, assigned to monicacecilia

[2014-11-14 17:56] nathandunn opened #77 "create integrity filter for exports"
Dan Lawson (EBI) found some examples where people have managed to drag similarities into the annotation window that don't get processed cleanly. Here is what they look like in the GFF3 export, note the lack of exons or CDS features. Obviously the referential integrity of the file is broken and we need to implement a filter before handling this data. It would be great if such a filter could happen

[2014-11-14 17:59] nathandunn opened #78 "add an interim export panel"
Regarding the ability to export: would still like to be able to turn off the FASTA part of this (makes the file smaller) and would like to see options for including the author and timestamp data so that the data can be used downstream when it comes to processing/filtering the files.

[2014-11-14 18:02] nathandunn opened #79 "add filter summary of predictions by user"
A simple summary overview of the number of predictions (with some sort of faceting/breakdown) available under the admin tab would be really useful. These are more operational things about how people use WebApollo as part of a community annotation project rather than issues with the interface/functionality etc. Dan Lawson commented on wishing to get statistics of the number of predictions broken do

[2014-11-15 00:34] monicacecilia opened #80 "Incorrect handling of pseudogene features"
We must improve the way Apollo handles pseudogenes.

Currently, Apollo treats pseudogenes as separate entities with PARENT pseudogene and child transcript, and separate from any other isoforms of the same gene (if the case applies). This is because Web Apollo currently follows rules as displayed on the GMOD's Chado Best Practices (last updated in 2007).
http://gmod.org/wiki/Chado_Best_Practices#Ps

[2014-11-15 01:14] nathandunn opened #81 "Apollo should allow for any feature from the evidence tracks to be dragged up and annotated as gene."
====== Colin ====

The way that things are now causes us to lose information at the gene level, because we are only using the transcript information. I brought this up at the hackathon and although we didn't get anywhere, we agreed that it was important.

From my experience, the technical issue is that if we try to load the gene level using HTMLFeatures, it doesn't enumerate the transcripts and in

[2014-11-18 18:00] #63 closed, assigned to monicacecilia

[2014-11-18 18:26] #76 closed, assigned to nathandunn

[2014-11-19 16:22] cmdcolin opened #82 "Unexpected URLencoding of multiple items in GFF3 export"
See http://gmod.827538.n3.nabble.com/attribute-tags-URL-encoding-problem-td4047073.html
 Example on user interface of behavior

![screenshot-icebox lbl gov 2014-11-19 09-51-43](https://cloud.githubusercontent.com/assets/6511937/5109271/c84aa152-6fd5-11e4-83ce-1284bfd16061.png)

Output
Test=1%2C2;
Expected output
Test=1,2;

[2014-11-19 20:08] #68 closed, assigned to monicacecilia

[2014-11-19 22:07] nathandunn opened #83 "duplicate attribute gff3 export encodes incorrectly"
I've noticed that the attribute option is ASCII encoding all commas when exporting to gff3, including the commas that delineate multiple entries for that tag. I've included a snippet of gff3 as an example.  In it, I made three separate entries with the same tag, two of which were model names, and the third was just some text with a comma in it.  All three commas were replaced in the exported gff3.

[2014-11-19 22:09] #83 closed, assigned to nobody

[2014-11-20 02:32] nathandunn opened #84 "create additional set-opts between tracks (jbrowse?) that support combination of variant tracks"
Should support the ability to merge 2 vcf tracks, or a single dna track and a vcf track to create other tracks (e.g., statistical likelihood of variant).

[2014-11-20 02:53] nathandunn opened #85 "create a variation track (JBrowse?) that shows relative population #"
So, e.g,. for 1K genome, should be able to show (via TCGA height) relative abundance when zoomed in and variability (fuzziness?) when zoomed out.    When combined with other tracks, you should be able to do a comparison (see previous bug) and view uniqueness of variation.

[2014-11-20 17:01] childers opened #86 "Add "canned attributes" to support a custom Attribute section"
Is there a framework for creating a custom Attribute section?  Attributes are currently completely general, but we could benefit from having a custom tag/value attribute section.  Our current solution is to modify the existing Attribute in order to meet our needs, but it would be much preferable if we could customize it via an Attributes configuration file, either to extend or to create a new set

[2014-11-20 23:24] nathandunn opened #87 "(2h) readthrough_stop_codon loops back through ORF and recalculates"
When setting the longest readthrough_stop_codon, loops to the end of the ORF and goes back to the start, ignoring the current exon.

Setting gene:  GB51598-RA

http://icebox.lbl.gov/WebApolloDemo/jbrowse/?loc=Group1.37%3A176611..181225&tracks=DNA%2CAnnotations%2CGeneID%2COfficial%20Gene%20Set%20v3.2&highlight=

vs:

http://icebox.lbl.gov/WebApolloDemoStaging/jbrowse/?loc=Group1.37%3A178762..179684

[2014-11-21 00:47] monicacecilia opened #88 "BLAT should fail gracefully if inappropriate sequence"
BLAT searchers should fail gracefully:
-- a warning alerting users they have pasted the inappropriate query to the search settings (protein and nucleotide) should appear, consequently avoiding performing the search if the correct query is not used.

[2014-11-21 00:49] monicacecilia opened #89 "GFF3 per feature"
Would be nice to have the option to visualize the GFF3 file on a per-feature basis.

[2014-11-22 19:16] nathandunn opened #90 "evaluate pull requests"
Evaluate 2 pull requests . .. especially for colors.

[2014-11-24 19:15] nathandunn opened #91 "repeated requests for content"
It seems that when scrolling at the base level, the client is repeatedly requesting the sequence data and re-downloading it many many times, and it is not every getting cached either.
== reported by @cmdcolin  ==

This means that even scrolling a small distance at the base level can result in several megabytes of the same little file to be downloaded repeatedly....

I am wondering if perhaps this

[2014-11-24 23:23] #65 closed, assigned to monicacecilia

[2014-11-24 23:24] #74 closed, assigned to monicacecilia

[2014-11-24 23:40] #71 closed, assigned to monicacecilia

[2014-11-25 00:39] monicacecilia opened #92 "Error logs when launching Apollo instance"
Below are errors that are now always present when launching WA. Are these "expected".
I don't recall seeing these ones before. Do we know what is causing these warnings?

This happened when launching the Web Apollo Demo:

![screen shot 2014-11-24 at 4 29 02 pm](https://cloud.githubusercontent.com/assets/1714621/5175980/24cd928e-73f7-11e4-8890-d5492381c68a.png)

Console (transcribed):
- Failed to l

[2014-11-25 02:43] monicacecilia opened #93 "Add frame to the panel with exon details."
It would be very nice to include coordinates and phase of each exon when visualizing "Get Sequence" and / or "History".

[2014-11-25 16:51] nathandunn opened #94 "pull fixes from 1.0 releases"
Want to make sure we pull all of the fixes through as applicable.   Will list them as necessary.

- #91

[2014-11-25 18:03] monicacecilia opened #95 "allow setting of alternate translation codes per organism"
About testing alternate codes (translation tables) @selewis asked:
During the testing was there testing for the alternate protein coding
function? (for those weird creatures that don't use the same translation
code as most others).

[2014-11-25 23:00] #57 closed, assigned to nathandunn

[2014-11-26 17:05] #90 closed, assigned to nathandunn

[2014-11-26 17:07] nathandunn opened #96 "create apollo "deploy-precompiled" target to build precompiled target"
We need to create an apollo "deploy-precompiled" target to build precompiled target.

[2014-11-26 17:55] #15 closed, assigned to nobody

[2014-11-26 18:04] nathandunn opened #97 "not creating the jbrowse "bin" directory properly during deployment"
not creating the jbrowse "bin" directory properly during deployment.  Here is the setup.log:
- cd src/main/webapp/jbrowse
  ./install_jbrowse.sh: line 25: cd: src/main/webapp/jbrowse: No such file or directory
- chmod +x bin/cpanm
  chmod: bin/cpanm: No such file or directory
- bin/cpanm -v --notest -l ../../../../extlib DBI DBD::Pg Crypt::PBKDF2 LWP::UserAgent JSON
  ./install_jbrowse.sh: line 27

[2014-11-26 18:54] #92 closed, assigned to nobody

[2014-12-01 22:00] #97 closed, assigned to nobody

[2014-12-02 22:16] nathandunn opened #98 "error parsing GFF3 with comments"
From Kamran Karimi,

If I load the file to display “WebApollo Features” (the default), it would show “loading” on the tracks but nothing would happen after that. The problem is that the code seems to fail to parse gff3 comments. I made the file load and display successfully by removing all comments except for the ubiquitous “##gff-version 3” comment. It would be great if the code could handle comm

[2014-12-02 22:20] nathandunn opened #99 "Gff3 import failure"
From Kamran Karimi (related to #98).

If I loaded the file to display “WebApollo Sequences” (or anything other than features), nothing would display. The file name would be added to the local tracks list, but nothing would show up in the track area. The “Open files” window would not close either. Because the tack was not displayed, it is not possible to remove these tracks (the mechanism to delete

[2014-12-02 22:28] nathandunn opened #100 "If a track is deleted from the list of local tracks, the number of local tracks is not decreased."
Related to #98 and #99.

![image002](https://cloud.githubusercontent.com/assets/751274/5272196/6c3c5298-7a2f-11e4-9447-07c50cc75efa.jpg)

[2014-12-02 22:40] #98 closed, assigned to nobody

[2014-12-03 20:58] cmdcolin opened #101 "Fix some issues with bulk export"
1) evaluate whether https perl modules should be added to default setup (if using a blank machine, are there any additional system prerequisites, i.e. libssl?)
2) processing of https url in `export_annotations_to_gff3.pl` has a small glitch
3) the new sequences page should ideally use the "all_tracks" method instead of adding all tracks to the request header too
4) maybe this is not an issue, and

[2014-12-04 00:27] monicacecilia opened #102 "Login credentials for multiple Web Apollo instances"
It would be practical to have a single authentication event for users to annotate more than one Web Apollo instance, when a single group (e.g VectorBase, i5K@NAL) is hosting all the instances of interest.

@nathandunn I am not sure if this would be directly related to the "multiple genomes" issue (https://github.com/GMOD/Apollo/issues/50), as it does not involve visualization of multiple genomes i

[2014-12-04 19:23] nathandunn opened #103 "problem with Chado export of DBXref where DB is not in Chado DB"

[2014-12-04 21:47] nathandunn opened #104 "add detailed History features"
https://trello.com/c/avnpfrR8

- Add History for metadata changes. Include "Who", "Date", "Why".
- Export of history data. See comments from Colin below.
- MD5 Checksum
- Add capability to list all gene models that have changed since a specified date, or that were changed by a certain user.

[2014-12-04 21:54] nathandunn opened #105 "add error filters for annotations"
- [ ] stop-codon missing calculation filter
- [ ] CDS calculation filter
- [ ] Gene models in web apollo gff3 with unmodified coordinates  (from #36)

in doc / Common  Eukaryotic Annotation Errors

From: https://trello.com/c/klpi7XLl

[2014-12-04 23:22] nathandunn opened #106 "Validate Metadata in Information Editor, should provide a round-trip for gff3, fasta, chado"

[2014-12-04 23:31] nathandunn opened #107 "search function where users can search a gene by its ID and figure out if disagrees between gene sets, either at an exon level, transcript level or gene level"
Detecting novel genes, disagreements between independent gene sets, partial genes, prioritizing of RNAseq sets based on tissue or timepoint)

https://trello.com/c/6hytltJg

Monica Munoz-Torres
Ability to conduct searches (query the genome with a string of residues) on 'region specific areas" instead of scaffold-wide; specially useful with very large chromosomes.

Deepak
A search function where use

[2014-12-04 23:33] nathandunn opened #108 "create integration test for the REST api"
http://chopsticks.lbl.gov/apollo_web/web_service_api.html

[2014-12-05 00:31] #103 closed, assigned to cmdcolin

[2014-12-09 00:24] monicacecilia opened #109 "Show track label function does not stay when changing scaffolds"
If I choose the option to not "Show track label", it works on the current scaffold/group, but it is not remembered from scaffold to scaffold. So when I change to a different group, the track labels are again visible, even though the option is unmarked from the "View" top-level menu. See image below.

![screen shot 2014-12-08 at 4 04 30 pm](https://cloud.githubusercontent.com/assets/1714621/5350224

[2014-12-09 01:28] nathandunn opened #110 ""move to opposite strand" should be available for features in the evidence area as well."
Lengthier but clearer.   "move to opposite strand" should be available for features in the "evidence" area as well

[2014-12-09 20:33] cmdcolin opened #111 "Resolve some error/reporting on 1.x branch"
Previous versions of WebApollo used the ErrorReportValve to output plain text errors, instead of "pretty printed" html reports. Now 1.x branch doesn't use the ErrorReportValve but is instead using log4j2 to cover this.

The log4j2 seems to cover many of the scenarios but some server errors output HTML which the client parses as JSON, and then the javascript console will say

[code]

This could pro

[2014-12-11 17:32] monicacecilia opened #113 "GFF3 stop-codon issue"
VectorBase reported:
We encountered the problem that using gff3 submissions from the community included some which visually looked fine but subsequently after export and processing contained in-frame stop codons. So the issue here is that the imported model from gff3 didn't highlight any internal stop codons (normal exon height for CDS). I had checked that the translation was sensible but didn't n

[2014-12-13 01:46] nathandunn opened #114 "notify user if a backend failure occurs"
From #111

[2014-12-13 01:47] #111 closed, assigned to nobody

[2014-12-16 17:42] nathandunn opened #115 "allow LDAP authentication for 2.0"
Shiro has a way to use LDAP:

http://isis.apache.org/components/security/shiro/using-ldap.html

and spring security has a direct plugin that supports both SHIRO and LDAP

http://grails.org/plugin/spring-security-shiro
http://grails.org/plugin/spring-security-ldap

all from:
http://grails.org/plugin/spring-security-core

[2014-12-16 20:47] #96 closed, assigned to deepakunni3

[2014-12-16 20:50] nathandunn opened #116 "Add an option under the 'Tools' menu to extract a reference sequence slice"
From: https://trello.com/c/tLwokYuo

From Monica Poelchau

Based on an annotator comment who wanted a reference sequence slice when zoomed out. Setting 'ALWAYS_SHOW=true' in the deployed root (jbrowse/plugins/WebApollo/js/View/Track/SequenceTrack.js) works for this, but looks pretty awkward.

[2014-12-16 20:54] #100 closed, assigned to cmdcolin

[2014-12-18 16:27] cmdcolin opened #118 "Speed up set_track_permissions.pl"
See http://gmod.827538.n3.nabble.com/A-python-script-to-insert-and-set-a-new-WebApollo-user-td4046546.html

[2014-12-18 17:38] #118 closed, assigned to nobody

[2014-12-18 21:17] monicacecilia opened #119 "Forward reference sequence barely visible in dark color scheme"
As shown in the image below, it is difficult to read the forward strand of the reference sequence when zoomed to base level.

![screen shot 2014-12-18 at 1 14 51 pm](https://cloud.githubusercontent.com/assets/1714621/5496043/22e198fc-86b8-11e4-8d74-e484f761787a.png)

[2014-12-18 22:34] monicacecilia opened #120 "Changing the color scheme overwrites the 'color by CDS' command."
Changing the color scheme overwrites the 'color by CDS' command.

[2014-12-18 22:44] monicacecilia opened #121 "Page with Changes is not available"
http://icebox.lbl.gov/WebApolloDemoStaging/changes gives 500 Error.
Has this been deleted?

[2014-12-18 22:48] monicacecilia opened #122 "Typo on right-click menu: replace 'opposte' with 'opposite'"
![screen shot 2014-12-18 at 2 47 14 pm](https://cloud.githubusercontent.com/assets/1714621/5497275/d94a0640-86c4-11e4-98ff-67c715a71f79.png)

[2014-12-18 23:55] #121 closed, assigned to nathandunn

[2014-12-18 23:56] #89 closed, assigned to monicacecilia

[2014-12-18 23:58] #101 closed, assigned to cmdcolin

[2014-12-19 00:38] nathandunn opened #123 "should indicate if nothing to export on User Annotation"
From #62

@monicacecilia
the "export nothing if there is nothing there" is what I don't think useful when exporting annotations from individual sequence scaffolds/contig/group (tracks? whatever we are calling it these days).

why create a file at all if no annotations are present?

Perhaps it makes sense at the 'bulk' level. Create a global GFF3 with exported annotations from all sequence groups?

[2014-12-19 00:38] #62 closed, assigned to monicacecilia

[2014-12-30 11:22] mpoelchau opened #124 "Problem displaying genes with many isoforms on smaller screens"
Hi there,

Our annotators have noticed that there is no way to view many isoforms in the user-created annotations track at a normal zoom level if the number of isoforms exceeds the dimensions of your screen. For example, on my 13" laptop I can see 18 isoforms at normal zoom level, but I can't scroll up and down in the user-created annotations track in order to see the remainder (firefox; zooming o

[2015-01-01 02:25] alpapan opened #125 "information editor -> 'Add' button not working"
Hello

A critical issue:

In the NAL's installation of WebApollo, the Add button of the information editor seems broken. Second issue is that the existing data are not available to view either (e.g. Comments and GO terms)

This is separate for Gene and mRNA. For mRNA I can fix it if either i) select Get Sequence first or ii) select another mRNA (if one exists) and go back. However, no comments are

[2015-01-01 02:27] alpapan opened #126 "feature request: colour contributed annotation by status"
As the title says, it would be great for ubercurators if we could - optionally - see the different gene models with different colours depending on their selected Status

[2015-01-01 02:31] alpapan opened #127 "double-clicking transcript in annotator panel focuses the jbrowse window"
Hello

Just a gripe that you're probably hearing a lot... it is really hard changing the co-ordinate of the exons using the current click, drag and drop function.

One (difficult) option would be to automatically 'stick' to splice junction sites and start/stop codons, or sites supported by the 'ends' of other features (as per the red vertical bars currently visualised).

Another option would be to

[2015-01-01 02:41] alpapan opened #128 "feature request: be nice to folks not praying at the Apple temple"
Hello (again)

On
http://icebox.lbl.gov/WebApolloDemo/jbrowse

![untitled](https://cloud.githubusercontent.com/assets/608484/5591548/4dfc249a-91bb-11e4-92a1-085db976eede.png)

The Option key is an Apple phrase...

how about
from "option-click" change to "Opt/Ctrl click"
(or just not mention it all... the Help could have all the keyboard shortcuts)...

but in reality on Windows7 PCs it seems to be

[2015-01-01 02:47] alpapan opened #129 "documentation update: jump to next exon"
I think that in a previous version, we could jump to the next exon/intron junction of a gene model (Rob did it for us)

That has now disappeared and now we have to zoom out and back in again (or scroll endlessly across large intron).

It would be great to have a keyboard shortcut that can do that...

thanks
a

[2015-01-01 02:53] nathandunn commented on #129
What version are you running?

Sent from my iPhone

[2015-01-01 02:59] alpapan commented on #129
I used the public demo

On 1 January 2015 at 13:53, Nathan Dunn <notifications@github.com> wrote:

[2015-01-01 03:01] alpapan commented on #129
(no rush, for me it's 2pm on 1st Jan and I already had my new year
celebration ;-) )

On 1 January 2015 at 13:59, Alexie Papanicolaou <alpapan@gmail.com> wrote:

[2015-01-01 04:50] alpapan commented on #129
got it from an email. it is square brackets []. and the gene needs to be
selected.
Searching for 'shortcut' on the webapollo manual didn't show anything.
there are scattered mentions within the text for the various shortcuts

would be great to have a help cheatsheet.

On 1 January 2015 at 14:01, Alexie Papanicolaou <alpapan@gmail.com> wrote:

[2015-01-02 17:31] nathandunn commented on #124
Colin,

I think that the problem here is that even if I do get Y-bars, but you are still unable to scroll.   I don’t think we want #1.   I think that #2 (temporarily unpinning) would make sense, but like you said, it screws up the display when I’ve tried it.

For #3, a temporary fix is to remove the labels when editing the config for the annotation track when editing the track config (    "showLab

[2015-01-02 17:36] nathandunn commented on #128
The apple gods were not be pleased, but all (modern) apple keyboards also have an "alt" above the word option, so I made that change.

[2015-01-02 17:36] #128 closed

[2015-01-02 17:41] nathandunn commented on #125
@alpapan    My intuition is that you are correct that it is a corrupt BDB.   Our 2.0 release is doing away with it.  My guess is that the information being retrieved is broken and is somehow killing any event code.  If this is seriously blocking then shoot me an email (Monica and Chris should have it) and I'll tree to see if there isn't a workaround.

[2015-01-02 17:43] nathandunn commented on #126
You mean like approved, awaiting feedback, etc. etc. etc.  I like this feature.

[2015-01-02 17:50] nathandunn commented on #127
the idea with the 2.0 release is that you can do this directly similar to the older desktop apollo (still working on the exact UI, but you get the idea):
![screen shot 2015-01-02 at 9 49 25 am](https://cloud.githubusercontent.com/assets/751274/5598097/bbfa405e-9264-11e4-89d1-aa96589462cd.png)

[2015-01-02 17:58] nathandunn commented on #129
The shortcut is “shift-[“ or “shift-]” after you have selected that genome (I think we are talking about the same thing).  Seems to work.

http://icebox.lbl.gov/WebApolloDemo/jbrowse/?loc=Group3.1%3A12821..21728&tracks=DNA%2CAnnotations%2COfficial%20Gene%20Set%20v3.2%2CGeneID%2COfficial%20Gene%20Set%20v1.0&highlight= <http://icebox.lbl.gov/WebApolloDemo/jbrowse/?loc=Group3.1:12821..21728&tracks=DN

[2015-01-02 18:01] nathandunn commented on #129
@monicacecilia
1 - should / do we incorporate the help here (http://icebox.lbl.gov/webapollo/docs/help.html)  . . . I can make sure it is in a drop-down if so, or if there is a more appropriate link
2 - Wherever we have this data, we should make sure to add this tip for Alexie if its not already in the user's guide.

[2015-01-02 20:48] nathandunn commented on #44
So, using the grails-websocket would be by far the easiest as it wraps both Spring and Stomp and would result in most likely a lot less code:

https://github.com/zyro23/grails-spring-websocket

However, since everything is so dojo-fied . . it might be very problematic.    If I re-enable the service via the service endpoint (AnnotationEditorEndpoint) it might work well enough.

[2015-01-02 21:10] nathandunn commented on #44
The AMD is the bigger problem . . . even if I get the older code in there, adding the annotation to the controllers, means that I still need access to the grails service classes.   I can do this via websockets . . . or somehow include HTML that will bridge the two implementations.  Its unfortunate that dojo does not support stomp.

[2015-01-02 21:19] cmdcolin commented on #44
we use a couple non-AMD modules in webapollo. it's a little hacky but i have examples of this setup at the top of main.js to load some bbop modules.

[2015-01-02 21:25] nathandunn commented on #44
Awesome.  I see.      That looks pretty straight-forward.      Doing this with spring and stomp library support eliminates a lot of code.

I also wanted to note that websockets are very well supported on all major web browsers except IE 8 and 9.

Nathan

[2015-01-02 21:30] cmdcolin commented on #44
ie8 and 9 are not really supported by jbrowse either. from the homepage

    Microsoft Internet Explorer (9 and later, 10 required for BAM, BigWig, VCF+Tabix)

[2015-01-02 22:35] nathandunn commented on #44
That worked great . . . in here . . . now trying to put it all back together . . on this branch (grails1-realdata) until after the conference.

https://trello.com/c/drb7Fzk4

[2015-01-02 22:35] nathandunn commented on #44
Note that I also added a "./copy_client.sh" method for the inteirm.

[2015-01-02 22:47] cmdcolin commented on #44
why is sockjs needed? it says it is websocket emulation

[2015-01-02 22:55] nathandunn commented on #44
The most important reason to use it is because it integrates directly with Spring and thus Grails.

SockJS, from this description:

https://github.com/sockjs/sockjs-client <https://github.com/sockjs/sockjs-client>

tries to use native web sockets first and then uses the fallback.    This is nice, but definitely not essential.

I think the other reason is that its a nice wrapper around web sockets,

[2015-01-02 23:19] cmdcolin commented on #44
sockjs has an extra protocol layer built on top of websockets. i would personally vote against it since we already established we don't need the additional backwards compatibility.

[2015-01-02 23:26] cmdcolin commented on #44
i dunno. i guess things like socket.io also have an extra protocol. it just seems like it is kind of a silly thing to have but i won't protest

[2015-01-03 00:06] nathandunn commented on #44
Convenience wrappers are good things.  Especially if they implement a lot of sane defaults that provide stability, performance, and scalability.

Nathan

[2015-01-03 00:47] cmdcolin opened #130 "Can't proxy to a subpath"
If you setup an apache proxy such as

ProxyPass /subpath tomcat:8080/
ProxyPassReverse /subpath tomcat:8080/

And then tomcat:8080/WebApollo is a deployed instance, then if you access it, e.g. http://mysite/subpath/WebApollo/sequences:

Then the login button tries to fetch the following with AJAX

POST http://mysite/subpath/Login?operation=login

Which fails -- it should be requesting http://mysit

[2015-01-03 00:48] nathandunn commented on #130
@cmdcolin   Is this in 1.0.3?

[2015-01-03 01:04] cmdcolin commented on #130
Yep forgot to mention that. I actually ported all our instances to 1.0.3 today. it was quite nice actually :)

[2015-01-03 01:07] selewis opened #131 "Export of introns only"
Based on the recent article in Science where the bird genome evolutionary tree people ended up using introns to determine the phylogenetic trees.

All the introns for the ref. sequence. Named by transcript + indication it's an intron, and then sequentially numbered 5' to 3'

Might be useful to have this for exons too.

[2015-01-03 01:08] nathandunn commented on #131
should work like the "get sequence" function for individual features

[2015-01-03 02:37] nathandunn commented on #130
@cmdcolin  That is great.   Do you want to take a stab at this one?

[2015-01-05 17:29] childers opened #132 "Link-outs for features not working"
One of our project coordinators generated and configured tracks for their browser using the linkTemplate option to handle linking out to their external resources. See (https://github.com/GMOD/jbrowse/issues/120) for more information.  This worked for them when it was a JBrowse-only instance, but not once we migrated their data and configuration to a Web Apollo instance.

The left click behavior ne

[2015-01-05 17:41] nathandunn commented on #132
@cmdcolin   Colin, is this something you know about directly?  If not, I'll take a look (just assign it back to me).

[2015-01-05 17:50] childers opened #133 "Mixed Content error when adding GO terms on an https instance"
Adding GO annotations in the information editor is failing on our instances due to a mixed content error.  Our instances are all running over ssl, and the call back to the GO lookup resource (golr.berkeleybop.org) is running over http.  I tried navigating to is as an https link, https://golr.berkeleybop.org and it timed out.  Is that server not accepting ssl requests at all?

![mixed_content_go-te

[2015-01-05 17:57] nathandunn commented on #133
Chris,

I think long-term we’ll want to allow GOLR over https or have it run locally.

In the interim, I think you can allow mixed content, so it should work:

http://247support.custhelp.com/app/answers/detail/a_id/11736/~/chrome-and-firefox%3A-blank-page-or-blocked-mixed-content <http://247support.custhelp.com/app/answers/detail/a_id/11736/~/chrome-and-firefox:-blank-page-or-blocked-mixed-content

[2015-01-05 18:36] childers commented on #133
Nathan,
I had thought about that first, but was hoping for a solution that didn't involve coordinating each user to help them relax their security settings.
Chris

[2015-01-05 18:39] nathandunn commented on #133
I sent a message to our GOLR providers here at BBOP.   If they can provide an https service, we can link to that instead.   I’m hopeful that we can do that.

Nathan

[2015-01-05 18:41] childers commented on #133
Great, thanks!

[2015-01-05 19:59] cmdcolin commented on #132
It's true that the click handler is hijacked by webapollo making linkTemplate unusable. It is also true that the click event is hijacked whether or not the user is logged in or not.

I would probably use the right-click menu (i.e. menuTemplate) instead. You could also use the onClick function which does work for adding a click event.

[2015-01-05 23:47] nathandunn commented on #133
@selewis  @monicacecilia   Note: I asked GBOL group about adding https support so that we don't get the mixed-content error.

[2015-01-06 16:27] childers commented on #132
That's the same conclusion I had come to in terms of bringing this functionality back for them.

It would be nice if there was a graceful transition of functionality so features aren't totally lost, but I imagine there are too many potential gotchas for that to be feasible.

[2015-01-08 17:28] nathandunn opened #134 "invalidate user if too many attempts"

[2015-01-08 20:55] nathandunn opened #135 "changing name for gene in info editor (in 2.0) somehow has extra exons being interpreted"
The return JSON is fairly similar in both cases.    Works for updateSymbol and updateDescription . . return JSON *looks* correct.  Also works in transcripts, as well.

[2015-01-11 00:57] nathandunn commented on #135
not longer a problem

[2015-01-11 00:57] #135 closed

[2015-01-11 01:01] monicacecilia commented on #135
hooray!

On Sat, Jan 10, 2015 at 4:57 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-01-11 01:13] nathandunn opened #136 "integrate with iPlant both authentication and URL storage"

[2015-01-11 01:34] selewis commented on #136
Thanks. We should add this to the trello board as well.

Sent from my iPhone

[2015-01-11 01:54] nathandunn commented on #136
https://trello.com/c/iWgHusys

[2015-01-12 01:20] nathandunn opened #137 "(2d) stress test / bootstrap large data"
- [x] evaluate that we are meeting overall load performance, we are doing 2 actions (write only) / want about 3 / sec: should still be fine, since they were 100% write operations and we are going to 20% write.
- [x] redo tests for more users, reasonable frequency of events as below in typical numbers
  - [x] fix memory for a longer time:
    - [x] [turn off GUI listeners] (http://www.ubik-ingenier

[2015-01-12 01:39] nathandunn opened #138 "add "official gene-set" track"

[2015-01-12 01:49] nathandunn opened #139 "enable oauth login to enable drupal authentication"
related to pull request #117   . . .

[2015-01-12 02:07] nathandunn opened #140 "add "official gene-set" track"
NAL / i5K can have:
- 100 organisms per server( ? . . not sure what that limit is)
- 5K annotations per organism
- up to 100K sequences per organism

- so maybe 1Mil annotations per server

[2015-01-12 02:07] nathandunn commented on #140
dup

[2015-01-12 02:07] #140 closed

[2015-01-12 02:08] nathandunn opened #141 "web service support for GenSAS functionality"
- [X] add_user
- [ ] remove_user  (need to document)
- [ ] add_sequences (need clarification . . . maybe add organism?)

[2015-01-12 02:12] nathandunn opened #142 "marke deletes in UI relative to OGS"
things with a status of delete should be explicit in the interface (red check, etc. etc. )

[2015-01-12 02:13] nathandunn opened #143 "design "plugin" architecture for panels & preferences"

[2015-01-12 02:14] nathandunn opened #144 "design "plugin" for custom checks"

[2015-01-12 21:18] selewis commented on #137
I still am strongly against relational. It just isn't suited to genomic
feature data. I think it will waste time going in this direction.

On Sun, Jan 11, 2015 at 5:20 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-01-12 21:29] nathandunn commented on #137
Can you provide some examples / reasoning?   I think that are many examples of this working, but I might be missing something.  I’m not wedded to one or the other either way, just want good reasoning either way.   Going non-relational won’t necessarily give us a speed-up if done for the wrong reasons.

Nathan

[2015-01-12 21:49] selewis commented on #137
When you have a chance to skype, or you're back (no rush)

On Mon, Jan 12, 2015 at 1:29 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-01-12 21:51] nathandunn commented on #137
Let’s chat when I’m down next.   I’ve got quite a bit of work to do before we have to make that decision.  Most of the grails code is pretty database neutral thus far.

Nathan

[2015-01-12 23:58] nathandunn opened #145 "chado export plugin"
need to write a plugin to export chado
- need to check the version to double-check and otherwise annotate
. . this is a table in chado_props

[2015-01-15 00:00] nathandunn opened #146 "auto-register installs to collect usage / install data"
Allows us to collect usage data.   On install . ..  asks users if they want to send registration / usage data.   I think that GMOd in a box already does this.

[2015-01-15 00:19] selewis commented on #146
+1

On Wed, Jan 14, 2015 at 4:00 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-01-15 08:31] nathandunn opened #147 "encrypted database passwords should be the default + more doc (if not there)"

[2015-01-15 08:32] nathandunn commented on #147
I created EncryptedLocalDbAuthentication. This can be enabled by turning on <authentication_class>org.bbop.apollo.web.user.encryptedlocaldb.EncryptedLocalDbUserAuthentication</authentication_class> and can be used with command line scripts like add_user.pl with the -e option
- Colin

[2015-01-16 17:00] cmdcolin commented on #56
I tried several approaches and think this will basically require a rewrite of the sequence track.  this comes back to the main problem being that the bases are drawn in "plain text" and are not in divs, so it has a hard limit on the "zoom level" that the bases will be drawn at, and this isn't respected when the scaffold is really small, and then this causes a host of problems.
i would probably rec

[2015-01-16 17:07] cmdcolin commented on #132
I started a section in the configuration guide for this. For this particular instance, I would avoid the click actions, so I think just documenting it is better than the graceful degradation into a right-click option. Also, linkTemplate isn't documented in jbrowse either...so that needs updating as well

[2015-01-16 17:07] #132 closed

[2015-01-16 17:20] cmdcolin commented on #129
This is in the user guide under 4.2.2 Exon Structure Integrity. There is currently no documentation of this "inside" webapollo similar to how jbrowse has the help popup box, but that can be a separate issue i guess

[2015-01-16 17:20] #129 closed

[2015-01-16 18:42] nathandunn commented on #132
@cmdcolin  @childers   IS there a JBrowse bug for documenting linkTemplate?

[2015-01-16 18:44] nathandunn commented on #56
I think that sounds like a good plan.  Sounds like a significant amount of work to do the rewrite.

[2015-01-16 19:37] nathandunn opened #148 "make GOLR server / URL configurable"
- [x] bootstrap proxy work
- [x] make golr proxy config work
- [x] create doc for proxy

[2015-01-16 20:26] nathandunn opened #149 "create legacy BDB importer"

[2015-01-16 20:33] nathandunn opened #150 "wire ontology / subgraph lookups to scigraph"
Can be used in place of written in directly.

Wire Scigraph for Ontologies for subclassing / instances via main class in Scigraph-core (via yam) . . reference: https://gist.github.com/ccondit/ee1c5451bf899fc996fc

http://geoffrey.crbs.ucsd.edu:9000/scigraph/docs/

[2015-01-16 21:28] selewis commented on #56
But on the plus side it will enable us to (finally!) support true
reverse-complement.

Hooray for that.

On Fri, Jan 16, 2015 at 10:44 AM, Nathan Dunn <notifications@github.com>
wrote:

[2015-01-17 04:01] nathandunn commented on #148
there are many servers and we may want to move to other servers eventually.

[2015-01-20 19:25] cmdcolin opened #151 "Need to fix the log4j2 file output"
Maybe it is my setup, but I can't get the rolling file appender to work, even after uncommenting the lines for it.

I realized a potential root of the cause while debugging it.

For example, before uncommenting the FileName property, it was outputting to
~/logs/${FileName}
After uncommenting the FileName property, it was outputting to
~/${Directory}/test.log
Note that these are literal filenames,

[2015-01-20 19:26] cmdcolin commented on #151
To fix it, I made the properties sections look like this

        "properties": {
            "property": [{
                "name":"Directory",
                "value":"${sys:user.home}/logs"
            },
            {
                "name":"FileName",
                "value":"test.log"
            }]
        },

Note that I changed the two instances of "property" under the "properties" sectio

[2015-01-20 19:27] cmdcolin commented on #151
Also, we might want to also allow the option to output to the catalina.home/logs directory instead of sys.user_home/logs since sometimes tomcat doesn't have a home directory

[2015-01-20 20:45] cmdcolin commented on #151
I pushed the changes that I mentioned and added new catalina sample logger. I also changed test.log to webapollo.log.

[2015-01-20 22:26] nathandunn opened #152 "Slight vulnerability: a user can use the API to create arbitrary filesystem paths"
https://trello.com/c/VvyBCiwn

[2015-01-20 22:35] selewis commented on #152
That sounds nasty. Any way of closing it?

On Tue, Jan 20, 2015 at 2:26 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-01-20 22:57] cmdcolin commented on #152
I tested it again to confirm that it is still a problem in 1.x. Refer to the trello card for the command. I can also start looking into a fix

[2015-01-21 16:37] nathandunn commented on #148
from Seth, other public URL's that could be used:

http://golr.geneontology.org/

As a useful balanced point to get the data, but they seemed rather
lukewarm about it with all of the other stuff that we're trying to do
over there. Until it is sorted out, it may be better to pick one of the
golr instances and depend on that (stanford should have better downtime
numbers than us in this case).

http:

[2015-01-21 16:48] cmdcolin commented on #152
I think I fixed the bug so now it will only open the session data and create database files if the user is authenticated. This prevents nonsense files from being created.

If we want, we can add an extra layer to prevent directory traversals too, but since the allowed track names are currently loaded in the database, it is not possible to do the directory traversals anymore.

[2015-01-21 17:59] nathandunn commented on #151
"Also, we might want to also allow the option to output to the catalina.home/logs directory instead of sys.user_home/logs since sometimes tomcat doesn't have a home directory"

catalina.home/logs should be the default for an installed tomcat instance.  For a dev instance it should be local (I think it puts the catalina.home directory in the current directory), so we just need to make sure that a "

[2015-01-21 18:04] nathandunn commented on #109
@deepakunni3   Deepak, this is related to #119 and #120.   Need a better way to do persistence (maybe in the session?) between selections.

[2015-01-21 18:07] nathandunn commented on #113
@monicacecilia  I wonder if you could double-check this or I can shoot an email to the folks at VectorBase to see if they can reproduce it on our demo servers.

[2015-01-21 18:35] cmdcolin commented on #109
I think it's not really a persistence thing. Reason being is that the mechanism of action was not to "prevent" the track labels from being drawn but rather to "hide them". Therefore if they are redrawn, we have to decide the hide them again.

[2015-01-21 20:35] cmdcolin commented on #151
I tried to summarize here

http://webapollo.readthedocs.org/en/latest/Configure/#logging-configuration

Copy/paste

[2015-01-21 20:56] cmdcolin commented on #109
I added a change to the show/hide track labels that uses the track.label property, and I also made it persistent with the "cookie". We can also perhaps control how persistent it is with the cookie expiration or add it to the WebApollo session data as nathan said.

[2015-01-21 21:03] cmdcolin commented on #116
I realized that the problem with simply adding this exportFormats thing is basically due to the fact that WebApollo's sequence track uses "two store classes".

The main store class is called ScratchPad and it stores the sequence alterations.
The secondary store class is normal SequenceChunks class, but it is kept as a private variable.

Since we override the main store class with ScratchPad, the d

[2015-01-21 21:05] selewis commented on #109
Be best to have the default be 'hidden' (rather than the other way around).

Another feature I'd like to add is color matching - make the text or
background color in the track list match the primary color of the track.

On Wed, Jan 21, 2015 at 12:56 PM, Colin Diesh <notifications@github.com>
wrote:

[2015-01-21 21:07] selewis commented on #116
Hi Colin,

So would it be a decision left to the user whether to export the
ref-sequence with or without the edits incorporated?

For translational frameshifts (i.e. that only impact the resultant peptide)
I would assume these are incorporated on export. (please tell me that we
have added the ability to annotate translational frameshifts...)

-S

On Wed, Jan 21, 2015 at 1:03 PM, Colin Diesh <notif

[2015-01-21 21:15] cmdcolin commented on #116
Yes the sequence change do affect the protein coding sequence that you export. It is not yet optional how it is exported though, they are incorporated automatically. And the export is only from the "get sequence" menu on the specific features, while I think MP was interested in the export of the reference sequence for some whole region.

[2015-01-21 21:30] nathandunn commented on #151
Great.  Thanks,

Nathan

[2015-01-21 21:49] cmdcolin commented on #109
Eh the thing I committed actually has bugs. If you don't mind i'll keep hacking away instead of reverting it for now

[2015-01-21 22:27] nathandunn commented on #109
That is fine as long as its mostly useable if folks download the trunk.

[2015-01-22 00:01] monicacecilia commented on #116
@selewis: "please tell me that we have added the ability to annotate translational frameshifts..."
Suzi, could I please ask you to explain what you mean by this?

Currently Web Apollo allows users to make single base modifications to annotate frameshifts by creating genomic edits (in/del/sub). Operation from the right click menu when zoomed to base level. Outcome: ORFs are modified; underlying ref

[2015-01-22 00:39] monicacecilia commented on #113
@nathandunn the latter. I'll send the email.

[2015-01-22 00:44] selewis commented on #116
Nothing to do with the DNA.

There are transcripts in existence that naturally have 'skips' during their
translation as the ribosome is chugging along down their length producing
the resultant peptide. When these are known to exist for certain proteins
we need to give the biologist curators the ability to annotate them in
order to correctly generate the naturally produced protein.

-S

On Wed, Jan

[2015-01-22 00:45] selewis commented on #116
p.s. we had this feature in the old version of apollo along with stop-codon
read-throughs. Two odd, but naturally occurring exceptions to the general
rules.

On Wed, Jan 21, 2015 at 4:44 PM, Suzanna Lewis <selewis@lbl.gov> wrote:

[2015-01-22 00:58] monicacecilia opened #153 "Create Help Page"
Provide users with a cheat sheet that is available from the UI.  - include keyboard commands and usage.

[2015-01-22 01:02] monicacecilia commented on #116
aaaah, yes, that's a mainly viral thing, isn't it?
In >45 annotated genomes (euk) I have not come across one such gene nor a request for the feature.
Could come in handy if/when supporting viral genomes.

[2015-01-22 04:08] selewis commented on #116
Drosophila has it apparently, the one I know best.

-S

On Wed, Jan 21, 2015 at 5:02 PM, Monica Munoz-Torres <
notifications@github.com> wrote:

[2015-01-22 17:36] nathandunn commented on #153
add the jbrowse + any other doc and then assign it back to me or Colin.

[2015-01-22 17:36] nathandunn commented on #153
@monicacecilia  should be under jbrowse/docs

[2015-01-22 17:38] nathandunn commented on #151
I will test and close.

[2015-01-22 17:39] nathandunn commented on #152
I will test.

[2015-01-22 17:46] nathandunn commented on #124
in milestone 2.0 we can use the collapse option

[2015-01-22 17:49] monicacecilia commented on #124
Proposed solutions to address this issue:
1. vertical height of a track should become configurable
2. a scroll bar should allow users to navigate this
3. add a collapse ability: everything in the track has the same Y coordinate - which could be useful at times -- so allow it to be on-off
4. set a cap on the max number of elements shown on a track at the same time. indicate that there are more elem

[2015-01-22 17:50] nathandunn commented on #133
related to #148 . . . no available yet

[2015-01-22 19:48] cmdcolin commented on #153
The actual source for the help popup box is in JBrowse's QuickHelp.js but it is also quite configurable via the config.

    quickHelp→content 	Sets the content of the help dialog.
    quickHelp→href 	    Sets the content of the help dialog using and XHR to retrieve content.
    quickHelp→title     	Sets the title of the help dialog.

This was previously undocumented (along with a bunch of other t

[2015-01-22 20:10] cmdcolin commented on #110
We had a short discussion during the meeting about how proper rendering of the paired-end alignments could go a ways towards fixing this problem. Reference: https://github.com/GMOD/jbrowse/pull/485

[2015-01-22 22:23] alpapan commented on #124
Seems only 2. can be useful to curators who don't know how to edit the
config
On 23/01/2015 4:49 am, "Monica Munoz-Torres" <notifications@github.com>
wrote:

[2015-01-22 22:47] nathandunn commented on #124
Alexie, I think editing the config and setting (    "showLabels": false) is the quickest workaround right now that helps (doubles the amount you can see), but does not fix the problem.  They will unfortunately have to edit the config JSON.

With 2.0, you should see a non-JSON editing of tracks.

[2015-01-26 17:53] nathandunn commented on #151
seems to be working as required

[2015-01-26 17:55] nathandunn commented on #152
reviewed and looks correct.  Session only opened when needed and user is authenticated.

[2015-01-26 17:55] #152 closed

[2015-01-26 18:16] nathandunn commented on #130
So in login.html . . .

var pathname = location.pathname;
context = /^\/([^\/]+)\//.exec(pathname)[1];
. . .and is posted via:
url: "/" + context + "/Login?operation=login",

Have to fix this for *each* login strategy.  Possibly changing to jsp might make more sense (and more accurately grab the context) .

[2015-01-26 18:31] nathandunn commented on #130
Actually I don't think that the login property is the problem.  1) the subpath between the tomcat and apache proxies must match.  pathA and pathB must be identical (currently).   2) The login post appears to be fine.   However, when a "post" is sent, the session is not authenticated when it comes back.  It knows how to handle bad passwords, etc.

ProxyPass /pathA tomcat:8080/pathB
ProxyPassReverse

[2015-01-26 18:33] nathandunn commented on #130
This is correct as it is mapped to the Web Apollo context on port 8080.
"http://mysite/subpath/Login?operation=login"

This should fails.
"Which fails -- it should be requesting http://mysite/subpath/WebApollo/Login?operation=login"

[2015-01-26 18:54] nathandunn commented on #130
The problem is that even though the login is successfully the username is not being set within the session.  Trying to fix that here with this:

https://rvdb.wordpress.com/2012/04/26/reverse-proxying-tomcat-webapps-behind-apache/

[2015-01-26 19:00] nathandunn commented on #130
@cmdcolin   Having done this often using both using Shiro and Spring in Grails, I think that the easiest answer is to move this to 2.0 where this should be taken care of automatically.

In the interim, the Apache setting that I got to work is the following (note the reverse cook path):

ProxyRequests     off
<Location /apollo-proxy/ >
    ProxyHTMLEnable On
    ProxyPass  http://localhost:8080/apo

[2015-01-26 19:02] nathandunn commented on #130
@cmdcolin  I take that back . . . it fails for jbrowse / annotation portion . . .

So, my suggestion is that you pick the same subpath but use a different virtual name for the host (if you need that).

[2015-01-26 19:28] nathandunn commented on #148
tested and working

[2015-01-28 22:32] nathandunn commented on #147
@cmdcolin
1 - upgrade the default in the XML file to use 		<authentication_class>org.bbop.apollo.web.user.localdb.EncryptedLocalDbUserAuthentication</authentication_class>
2 - set the direction to reflect the encryption
3 - mention using encrypt_user_passwords.pl for upgrading the databse if desired
4 - leave that in there commented out: <authentication_class>org.bbop.apollo.web.user.localdb.Local

[2015-01-29 17:27] nathandunn commented on #113
Note: Moni has written and waiting.  We need their GFF3 in order to test.

[2015-01-29 18:12] nathandunn opened #154 "add evidence code to GO Attributions"
Business logic for handling attributes + reference required for each evidence code.

http://geneontology.org/page/go-annotation-file-formats
http://geneontology.org/page/guide-go-evidence-codes

Need to restrict for type (Gene, mRNA, ncRNA, etc. etc.)

Possibilities:
- organism specific genome publication
- canned pseudopublication for Apollo as a default
- inferred sequence similarity based on th

[2015-01-29 18:12] nathandunn commented on #154
@monicacecilia  @selewis   FYI

[2015-01-29 18:14] nathandunn commented on #154
use IC in the meantime as boiler-plate . . . with the idea that we will be exporting to GAF at some point

[2015-01-29 18:15] monicacecilia commented on #154
- publication of individual gene from evidence (before there is a genome sequence)

[2015-01-29 20:47] selewis commented on #124
We truly need both #1 and #3 to be implemented. We had both in desktop
Apollo (remember expand/collapse) and both are useful in many situations.

In addition #2 & #4 are alternate choices for the same thing (i.e. we need
#1 & #3 & 2/4). I prefer #2, a scroll bar that only appears as needed
(which in effect is the visual indicator of #4)

On Thu, Jan 22, 2015 at 9:49 AM, Monica Munoz-Torres <
notif

[2015-01-30 21:21] cmdcolin commented on #124
For #1 there is a configuration variable maxHeight, and this is simply a cutoff with a warning (see http://i.imgur.com/fPOB14v.png). Interestingly...the default maxHeight on CanvasFeatures is about 600 whereas the default maxHeight on HTMLFeatures is 1000, which is actually very tall (probably higher than most screens). If we set it to be a more reasonable value, then at least the user would know

[2015-02-01 15:41] selewis commented on #124
That would go a long way towards helping. Is there a toggle for the user
(e.g. perhaps a checkbox menu item on the track) to collapse/expand?

But we will still need the #2+#4 combo eventually.

On Fri, Jan 30, 2015 at 1:21 PM, Colin Diesh <notifications@github.com>
wrote:

[2015-02-02 20:07] cmdcolin commented on #48
I started some work on this here https://github.com/GMOD/jbrowse/issues/499

[2015-02-02 20:10] cmdcolin opened #156 "Create the "public" permission level for organisms so that some organism annotations are publicly available"
I think we should have some option to allow non-logged in users to view annotations on the User-created annotation track. The feature has been requested by Chris and maybe other users as well (see recent mailing list threads).

I don't think there was an issue open on trello -or- github, so I am just creating this for now.

[2015-02-02 22:45] cmdcolin commented on #148
I haven't been able to get this to work yet. Not sure why?

Also, I guess this is a template string that is filled in at compile/build time?  I wouldn't  want our configuration variables to proliferate like this too much.

[2015-02-02 22:47] nathandunn commented on #148
Not all of the URL's that are available work. . . the idea is that it should just be easy to swap them out.  That is a default set.

[2015-02-02 22:54] cmdcolin commented on #148
Ya, I think I tried them all though, and couldn't get any to work?

[2015-02-02 22:59] nathandunn commented on #148
This one doesn’t work (right now):  http://golr.geneontology.org/ <http://golr.geneontology.org/>

but the other two should:

http://a2-proxy2.stanford.edu:8080/solr/select?defType=edismax&qt=standard&indent=on&wt=json&rows=10&start=0&fl=*,score&facet=true&facet.mincount=1&facet.sort=count&json.nl=arrarr&facet.limit=25&fq=document_category:%22ontology_class%22&fq=source:(biological_process%20OR%20

[2015-02-02 22:59] nathandunn commented on #156
This is kind of a big piece for the 2.0 version (public annotations and tracks).    We can move it there unless she needs it sooner.

[2015-02-02 23:25] cmdcolin commented on #148
Basically I don't get any auto-completion on GO terms in the Information Editor.

Example: normally i click on the "Enter new Gene Ontology ID", then I hit "z", and then I wait for it to return something like "zinc binding", but this doesn't happen.

I tried using origin/master and checking out 1.0.3 and same results for both

[2015-02-02 23:28] nathandunn commented on #148
I think that you need to type at least 3 letters.  I can double-check with Seth, but that appears to work and for datasets this large, that is the way I would typically implement them.

Nathan

[2015-02-02 23:33] cmdcolin commented on #148
Oh for some reason I thought I could just hit 1 letter. Thanks for clarifying, seems to work after 3

[2015-02-02 23:58] monicacecilia commented on #107
@deepakunni3 Your suggestion seems to be a specialization of databases in charge of maintaining gene sets for the long term. I think it is very useful for this case!
How have you implemented this on BGD? That is, could you show us a little screenshot of how you visualize the disagreements?

[2015-02-03 01:09] cmdcolin commented on #156
I'll set the 2.0 milestone on it.

[2015-02-03 02:31] deepakunni3 commented on #107
@monicacecilia In case of BGD, we computed the disagreements between gene sets using Bedtools. Some genes disagreed at exon level where as others disagreed at transcript level. This was made available to the end users of BGD via CGI scripts. So, in principle what we did was precompute the disagreements on the basis of genome arithmetic. Extending the functionality of Apollo to allow for dynamic ca

[2015-02-03 02:54] monicacecilia commented on #107
Brilliant. Thanks for sending more details!

[2015-02-03 14:37] selewis commented on #107
How is this different than the edit-distance score?

On Tue, Feb 3, 2015 at 2:54 AM, Monica Munoz-Torres <
notifications@github.com> wrote:

[2015-02-03 16:58] nathandunn opened #157 "error retrieving sequence"
https://trello.com/c/Q3vS3uLx

I stumbled on a server crash with retrieving peptide sequence for a certain feature

Select the rightmost exon on ERROR1 or ERROR2 here and select "Get sequence"

http://icebox.lbl.gov/WebApolloDemo/jbrowse/?loc=Group1.1%3A512371..517585&tracks=DNA%2CAnnotations%2COfficial%20Gene%20Set%20v3.2%2CGFF3_Annotations-Group1.1_0&highlight=

Error: Feb 02, 2015 8:22:17 PM or

[2015-02-03 17:04] nathandunn commented on #157
@cmdcolin  The error is the charAt (and probably the substring call, as well)  . . . the CDS sequence is empty I would expect the Peptide sequence to also be empty.  Proposed fix (hopefully readable)  :

Would propose

                } else if (gbolFeature instanceof Exon && ((Exon) gbolFeature).getTranscript().isProteinCoding()) {
                    String rawSequence = getCodingSequenceInPhase

[2015-02-03 18:21] childers opened #158 "UI request for 'sequences' view"
I like the new sequences interface, but was not clear how the Search button interacts with the two sets of textboxes below.  Right now, the location of the Go Button is clearly connected to the number of sequences in the view, but the Search  button looks like it got wedged in above everything else.
![new_wa_ui_filters](https://cloud.githubusercontent.com/assets/421248/6024688/0d4c68c0-ab9b-11e4-8

[2015-02-03 18:32] nathandunn commented on #158
Should be pretty easy:

http://getbootstrap.com/css/#forms-example

[2015-02-03 19:56] nathandunn commented on #157
@cmdcolin  let me know if you have any thoughts on this, as I think it will make sense to merge it in . . .

[2015-02-04 22:45] nathandunn commented on #119
@deepakunni3   I'm going to have moni do the final testing for user-related stuff.  Either way, thanks for getting it in.  I'm sure its fine.

[2015-02-05 19:17] nathandunn commented on #153
![screen shot 2015-02-05 at 11 13 52 am](https://cloud.githubusercontent.com/assets/751274/6067348/9f16d5cc-ad28-11e4-9d58-60512a5ba016.png)
![screen shot 2015-02-05 at 11 13 59 am](https://cloud.githubusercontent.com/assets/751274/6067349/9f1830de-ad28-11e4-9ecc-5de4f08cde73.png)

[2015-02-05 19:36] nathandunn commented on #139
@cmdcolin   Here is the original one.  The oauth should be in there.  Just isn't doing anything.

[2015-02-05 19:57] cmdcolin commented on #139
Thanks for pointing me to it. I'll see what I can do.

[2015-02-05 23:42] nathandunn opened #160 "validate / fix set jbrowse version to be >= set version"
If Colin releases the next version of JBrowse (1.11.6), we should set the version in Apollo for the 1.0.4 release.  Otherwise, we'll continue to use mainline until the final release.

[2015-02-06 15:07] shashankx opened #161 "Apollo error"
i have downloaded the Apollo software for windows, after successful installation, when i open the Apollo , it shows an error:
The JVM could not be started. The main method may have thrown an exception.

How to resolve this problem

[2015-02-06 17:07] nathandunn commented on #161
We need some more information:
1 - what version did you install (URL?)
2 - how did you install (just using maven?)
3 - do you have any log files I could see?

I would highly recommend install Cygwin or better yet VirtualBox / Linux as we don't do a lot of windows support, though it should work in theory being Java.

[2015-02-06 17:07] nathandunn commented on #161
We need some more information:
1 - what version did you install (URL?)
2 - how did you install (just using maven?)
3 - do you have any log files I could see?

I would highly recommend install Cygwin or better yet VirtualBox / Linux as we don't do a lot of windows support, though it should work in theory being Java.

[2015-02-06 17:08] cmdcolin commented on #161
@nathandunn  I think this is referring to the old Desktop Apollo

[2015-02-06 17:23] shashankx commented on #161
url -http://apollo.berkeleybop.org/current/install.html

there is option name with JAVA VM or Without JAVA VM for windows, i tried both and got same error.

the file looks something like this:
Apollo_windows_with_jre.exe

I am not a programmer, so i prefer to use window over Linux.

[2015-02-06 17:24] monicacecilia commented on #161
@shashankx, like Colin, I think you have downloaded the desktop version of Apollo. As seen in our website at http://genomearchitect.org/desktop-apollo we are no longer developing the desktop version of Apollo and that support for its use has been discontinued.

With that said, it sounds like your Java VM is having memory issues. For suggestions on how to fix this problem you could try reading thro

[2015-02-06 17:25] shashankx commented on #161
can u guide me how to install this software on Linux, i appreciate it

[2015-02-06 17:34] nathandunn commented on #161
@shashankx   Like Moni and Colin said, I would recommend installing the Web Apollo version (which is what I thought you had):

https://github.com/GMOD/Apollo/releases

To install Linux on Windows, you could virtualbox with Ubuntu (or your favorite flavor of Linux):

https://www.virtualbox.org/wiki/Downloads

[2015-02-06 17:34] #161 closed

[2015-02-06 17:48] shashankx commented on #161
So, i need to type command:
Setup environment:
export PGUSER=web_apollo_users_admin
export PGPASSWORD=password
export WEBAPOLLO_USER=web_apollo_admin
export WEBAPOLLO_PASSWORD=web_apollo_admin
export WEBAPOLLO_DATABASE=web_apollo_users
export ORGANISM="Pythium ultimum"
export JBROWSE_DATA_DIR=`pwd`/data
export WEBAPOLLO_DATA_DIR=`pwd`/annotations

than download the webApollo
unzip it

then,
sudo y

[2015-02-06 17:52] nathandunn commented on #161
I typically just use “initdb”

It also might be like this:

http://serverfault.com/questions/350045/postgresql-service-initdb-doesnt-work <http://serverfault.com/questions/350045/postgresql-service-initdb-doesnt-work>

e.g., postgresql93-setup

Nathan

[2015-02-06 18:01] shashankx commented on #161
Again error-
[root@root Apollo-1.0.3]# sudo su -c "PGSETUP_INITDB_OPTIONS='--auth-host=md5' initdb"
initdb: no data directory specified
You must identify the directory where the data for this database system
will reside.  Do this with either the invocation option -D or the
environment variable PGDATA.
[root@root Apollo-1.0.3]# sudo su -c "PGSETUP_INITDB_OPTIONS='--auth-host=md5' postgresql93-setup

[2015-02-06 18:12] cmdcolin commented on #161
@shashankx can you please post the OS that you are using? if you are using redhat or centos, you might review the setup guide here https://wiki.postgresql.org/wiki/YUM_Installation

just add the environment variable

    export PGSETUP_INITDB_OPTIONS='--auth-host=md5'

in addition to the instructions in the guide since we want to ensure password based authentication

[2015-02-06 18:15] nathandunn commented on #161
The instructions given below with the first error are correct:

Though I find it a bit odd, as usually it will use a default directory.  But I would also recommend following Colin’s advice and look how to do it for your specific instance.   It should save you quite a bit of time.

Nathan

[2015-02-06 18:29] shashankx commented on #161
I believe Colin's advice works pretty good.

Shashank

[2015-02-06 20:43] cmdcolin opened #162 "Tomcat: Too many open files error"
If a bunch of tracks are opened at once, then many duplicate file handles are opened for config.properties, basically until it hits the system limit.

Normal operation: around 250 file handles open

After opening up about 10 bam tracks and scrolling around: over 800 file handles open, all duplicates of config.properties

It will just increase until the "too many open files error" or the garbage co

[2015-02-07 01:12] nathandunn commented on #162
@cmdcolin   It looks like it opens 1-3 files per track loaded and doesn't seem to increase (most of the time) and will eventually release the file handles.

Loading the bam track (Forager RNA-Seq reads), I see that it loads around 14 . . . goes up to 20 or so and then plateaus.

With 3 BAM files I got it to around 80-100 . . and it kind of maxed out (moving back and forth and changing groups).

Th

[2015-02-07 01:17] cmdcolin commented on #162
should probably call propertyFile.close()

I wasn't sure whether we should put it in the try{} finally {} block or just manually close it

[2015-02-07 01:18] cmdcolin commented on #162
Actually we should probably just load the file into memory so that it doesn't have to do that on every get request right?

[2015-02-07 01:23] nathandunn commented on #162
I think it is working now . . . It probably wouldn't hurt to have it in the init, but performance wise it doesn't make any difference and I am using the "request" explicitly.

[2015-02-07 01:38] nathandunn commented on #162
That is what I ended up doing.  I had a note to do that eventually.

Nathan

[2015-02-09 16:51] nathandunn opened #163 "specify URL parameter to hide entire navbar"
@cmdcolin Was wondering if you had any ideas on how to hide the menuBar programmatically. I put the hooks in and they seem to work. I would assume that this (where query=dojo/query) would do the trick, but not seeing it (note that it is on a branch): query('.menuBar').style('display','none');

[2015-02-09 17:21] nathandunn commented on #163
@cmdcolin   Was wondering if you had any ideas on how to hide the menuBar programmatically.  I put the hooks in and they seem to work.   I would assume that this (where query=dojo/query) would do the trick, but not seeing it (note that it is on a branch):             query('.menuBar').style('display','none');

https://github.com/GMOD/Apollo/commit/bca5af6c807331a6ad1fd61dd0c2845166f1dd14

[2015-02-09 17:41] cmdcolin commented on #163
I'm not sure exactly what you mean but it looks like this when i use your method

![screenshot-jbrowse org 2015-02-09 11-40-52](https://cloud.githubusercontent.com/assets/6511937/6111703/86de2bec-b050-11e4-9a72-bdf213ec1288.png)

[2015-02-09 17:45] nathandunn commented on #163
My theory is that I’m calling the “hide” method in the wrong place.

Nathan

[2015-02-09 17:49] cmdcolin commented on #163
Yes, it probably needs to be called after some milestone is passed because the DOM is not necessarily constructed when the plugin is initialized. Even still, the hide method has problems, as in my screenshot, there's a large gap.

I would look into JBrowse's Browser.js to see how the "show_nav" option functions, and see if a new option can be added to it

[2015-02-09 17:52] nathandunn commented on #163
Ahh . . . that makes more sense ..  I'll take a look.

[2015-02-09 18:20] cmdcolin commented on #139
The OAuth api is fairly complex and I don't have time to review all the intricacies right now. I almost got it to authenticate using the existing code, but it I had to change lines 222-225 to a get request instead of a post and then i still didn't end up with an ID token after that.

So, deferred for now.

I will probably review this later when time is available http://oauthbible.com

For now I'll

[2015-02-09 18:21] nathandunn commented on #139
I think that is a good call.  I moved it.

[2015-02-09 18:21] nathandunn commented on #162
@cmdcolin  If you think this fixed it I would say go ahead and close it.

[2015-02-09 18:43] cmdcolin commented on #162
Thanks it seems to work so i'll close it for now

I would prefer this, it looks a little messy currently, so...whenever we get a chance in our copious amounts of free time...refactor it

[2015-02-09 18:57] cmdcolin commented on #162
Reopen:

I thought this was a fluke but the first time you open webapollo after a deploy, it returns

    SyntaxError: expected expression, got ')' when parsing data/trackList.json.

This is reproducable on two different servers but I haven't narrowed down the cause yet.

[2015-02-09 18:57] cmdcolin commented on #162
Exact error screen

![screenshot-localhost 8080 2015-02-09 12-57-21](https://cloud.githubusercontent.com/assets/6511937/6113237/385c8e04-b05b-11e4-8e82-839367357ab5.png)

[2015-02-09 19:35] nathandunn commented on #162
Hmm . . do you have the trackList.json?   It could be something introduced by the JBrowse Servlet, but I suspect its a faulty tracklist.json.  I just tested this and it worked great.

[2015-02-09 20:02] cmdcolin commented on #162
I'm fairly sure it is independant of trackList.json (i tested two different servers, local dev and production) and both have it

It only happens the first time you access it, after that, presumably, the config.properties is initialized (since it is initialized within the GET request handler)

For completeness though here is a basic trackList.json

    {
       "share_link" : 0,
       "plugins" :

[2015-02-09 20:05] nathandunn commented on #162
I but it is having all of the asynchronous requests coming through.   I guess we’ll have to move it to the init servlet method.  Give me a few to fix this.

Nathan

[2015-02-09 20:27] nathandunn commented on #162
There were a few problems . . . and it was serendipity that it was working in the first place (properties was checking for a global, but assigning a local).

Both of these are now fixed (doing in the init servlet).

Let me know if it doesn’t fix it for you.  Still not sure why it ended up working for me.

Nathan

[2015-02-09 21:15] cmdcolin commented on #162
Looks good now

[2015-02-09 21:15] #162 closed

[2015-02-10 04:21] cmdcolin commented on #163
Added here

https://github.com/GMOD/jbrowse/commit/a4fbb03d9d8f81e7390418e6752a4ffdea59b43a
https://github.com/GMOD/jbrowse/commit/398b56f537e5a09916b7864ebd671c473a525b0c

[2015-02-11 00:08] nathandunn commented on #163
@cmdcolin   Sorry to be ignorant, but how would I hide the navbar?   Is it something I can call from trackList.json?

[2015-02-11 00:20] cmdcolin commented on #163
Ya you can set "show_menu" in the trackList.json outside of the "tracks" section

Additionally, you could add it to jbrowse_config.json or jbrowse.conf, but I tested and trackList.json works too

[2015-02-11 00:35] nathandunn commented on #160
@cmdcolin   Working iwth the beta version . . . need to get working on the 1.11.6 version when released.

[2015-02-11 00:53] nathandunn commented on #163
Great.  Will give it a shot.

Nathan

[2015-02-11 02:53] cmdcolin commented on #163
For reference, a screenshot using show_menu=false

![screenshot-localhost 2015-02-10 20-27-32](https://cloud.githubusercontent.com/assets/6511937/6141115/e19c6ff0-b166-11e4-877e-2972deb3b5f6.png)

[2015-02-11 03:09] cmdcolin commented on #163
@nathandunn to be clear, do you want to hide the navbar (which includes the zoom button, etc) or just the menu (which is just the option that I added?)

[2015-02-11 13:54] nathandunn commented on #163
@cmdcolin  Just the menu.  What you have is perfect.  Thanks!

[2015-02-11 14:20] nathandunn commented on #163
@cmdcolin   Works great.  Thanks!

http://icebox.lbl.gov/WebApolloHuman/jbrowse/?loc=chr20%3A324640..331161&tracks=DNA%2CAnnotations%2COGS-GRCh38%2COGS-GRCh38-gene&highlight=

[2015-02-11 14:20] #163 closed

[2015-02-11 23:33] cmdcolin commented on #147
Another change for this was added here 1c34a587a8e3d167

[2015-02-12 17:40] cmdcolin commented on #88
This is a random issue that I saw, but if you give the wrong path to a blat database in the blat_config.xml, it doesn't seem to throw an error; it is just empty when you hit the search

[2015-02-12 21:48] nathandunn opened #164 "dynamically add variants to an OGS track"
@cmdcolin   FYI . . .

Related to:  https://github.com/monarch-initiative/monarch-app/issues/655

We would like to specify a track and introduce the variants dynamically DIRECTLY on the track if possible, or dynamically add a different track if not, either as a specific color / line (min 1-pixel) or as a small dot / \* above.  Having an additional click callback or sane default behavior would be g

[2015-02-12 21:49] nathandunn commented on #164
FYI @cmdcolin  @GreggHelt2  . . .. not sure about Trellis-related stuff.

[2015-02-13 02:05] nathandunn commented on #160
Need to make sure to automatically to update the version if the wrong version (too early) of jbrowse installed . . .

[2015-02-13 17:40] nathandunn commented on #160
Re-thinking: I think a "release" I think it should be fine as-is.  For folks updating within git, they should be doing an "apollo clean-all" anyway.  Will have to put that in the doc.

[2015-02-13 17:40] #160 closed

[2015-02-16 20:50] cmdcolin commented on #148
@deepakunni3 reports that it is not properly replacing the GOLR_URL in RC1 and I can't get it to do the replacement either

[2015-02-16 20:51] cmdcolin commented on #133
I had the idea that Apollo could proxy requests to the GOLR server to avoid this issue

[2015-02-16 21:49] nathandunn commented on #148
@deepakunni3   Can you let me know how you’re replacing them?   i.e. step / by step

Nathan

[2015-02-16 21:51] nathandunn commented on #133
That's not a bad idea.  @childers  If this is a show-stopper, we can do *probably* do this.   Not a great solution, but a sufficient work-around.

[2015-02-16 22:00] deepakunni3 commented on #148
@nathandunn I was testing out the 1.0.4 RC1 and while adding GO terms to a new annotation, there is no autocompletion. Checked further and saw that GET request to GOLR server has a 404 error and the request url has @GOLR_URL@ in it.

[2015-02-16 23:33] cmdcolin commented on #148
I reverted a commit I did previously and it seems fixed now

[2015-02-16 23:36] nathandunn commented on #148
@cmdcolin
Ah . .  should @deepakunni3  re-test?

[2015-02-16 23:42] cmdcolin commented on #148
@nathandunn Actually no, it still doesn't seem to work. I don't understand what the deal is with this is.

[2015-02-16 23:50] deepakunni3 commented on #148
One observation, when I checkout from master branch, the GO autocompletion works fine.
But it seems broken on 1.0.4 RC1.

[2015-02-17 00:45] cmdcolin commented on #148
@deepakunni3 Are you sure about this? I am testing this off master and I cannot get it to work.

I propose a fix like this

    diff --git a/build.xml b/build.xml
    index e257fe8..460a5b5 100644
    --- a/build.xml
    +++ b/build.xml
    @@ -225,10 +225,10 @@
             </copy>
         </target>

    -    <target name="copy.apollo.plugin.webapp" unless="jbrowse.precompiled" if="jbrowse.webap

[2015-02-17 13:35] childers opened #166 "unable to determine MIME type"
I've started getting this error a lot since updating to 1.0.4-SNAPSHOT.
[code]

[2015-02-17 14:14] childers commented on #133
We had the idea of a local proxy to the GOLR resources too.  I don't mean
to be dense, but when you mention proxy requests through Apollo, do you
mean through the service locally, through an additional proxy on our side,
or through your servers at the LBL?

On Mon, Feb 16, 2015 at 4:51 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-02-17 15:14] cmdcolin commented on #166
Currently we have some hardcoded assumptions that makes it require .bw filetypes for the JBrowseDataServlet

In this case, it doesn't matter since it is expecting text/plain anyways for bigwig files, but if you renamed them to .bw it would reduce the errors

This could be something that could be made more configurable though

See https://github.com/GMOD/Apollo/blob/a1e7d9eab9c8dd6c0de4624764f61dcf

[2015-02-17 16:42] childers commented on #166
Thanks for the clarification!

[2015-02-17 17:00] childers commented on #166
I'd like to request adding .bigwig to that block of tests if possible.

[2015-02-17 17:20] nathandunn commented on #133
I *think* the idea is that instead of querying remotely to a remote server on the client that instead you just query locally using the current protocol and the server connects to the http server.   It will be a bit slower (probably twice), but would work.

Nathan

[2015-02-17 18:05] nathandunn commented on #148
@deepakunni3    @cmdcolin

I think that the issue is that it won't recopy unless A) the file isn't there or B) it hasn't been updated.

I am going to test a bit more.  But if you have the RC1, @deepakunni3   you should confirm that it works in case B (touch client/apollo/js/View/Track/AnnotTrack.js and apollo deploy) and case A (./apollo clean-all   ./apollo deploy).  Using deploy or release shoul

[2015-02-17 18:07] nathandunn commented on #148
Since there are changes between RC1 and 1.0.3 the update should be fine.    I will continue testing against master on my end, though.   I had reverted back to the 1.0.3 change for now as I think its the most robust depending on how the build is done and it seems to be working.

[2015-02-17 18:59] nathandunn commented on #148
So the problem here is that now it copies into jbrowse-download from the client.  However it does not copy from jbrowse-download into src/main/webapp . . . , so if changes are made to the client they don't get propagated properly.  . . .    ./apollo run and ./apollo deploy should be able to pick up any changes.

I'm going to mess with this a bit.

[2015-02-17 21:06] deepakunni3 commented on #148
@nathandunn I tried with 1.0.4 RC1 and the GOLR_URL works for case B but not case A.

[2015-02-17 23:12] nathandunn commented on #148
@deepakunni3  @cmdcolin    As awesome an idea as this would be, configuring over the build for a system that is intermittently down just isn't making sense.

It should A) be in the config, not in the code (even the build code).
B) It should be somewhat configurable at runtime.
C) not be all that complicated.

I'm going to leave the other servers in the comments in the AnnotTrack.js so that folks c

[2015-02-17 23:21] cmdcolin commented on #148
Agree.

[2015-02-18 16:01] #151 closed

[2015-02-18 23:08] monicacecilia opened #167 "Nicer UI for algebraic combination of continues features"
Modifications:
* Add the formula to the 'About this Track' information.
* Change the track label to display the formula.
* Add ability to change the name of the resulting track in "Combination tracks".
* Modify 'Left or Right' option to appear only after selecting appropriate operations (e.g. subtraction).

From Trello at http://goo.gl/XDl1TS in card "Nicer UI for algebraic combination of continuo

[2015-02-18 23:49] monicacecilia opened #168 "Add sequence search track function is not retrieving amino acid strings"
Unable to locate an amino acid sequence using the File --> Add sequence search track function.
I was able to visualize results from nucleotide strings, but the function is not retrieving amino acid strings in any direction. I tried copying a string of at least 100 aa, typing strings of shorter length, in both directions. I was not able to retrieve the strings I was able to see in the sequence abov

[2015-02-19 00:54] monicacecilia opened #169 "Mislabeled column in page with Changes log"
In the "changes" page there is a column header labeled as "Group" where the identifiers of the gene and mRNA features appears (if assigned). Also, the group/scaffold/chromosome appears listed under the "Track" column. I don't understand why has the name of the gene/mRNA been labeled as "Group".

http://icebox.lbl.gov/WebApolloDemoStaging/changes

![screen shot 2015-02-18 at 4 50 17 pm](https://clo

[2015-02-19 00:57] monicacecilia commented on #120
Tested and it is fixed.

[2015-02-19 00:58] monicacecilia commented on #109
Tested - it works now.

[2015-02-19 01:03] nathandunn commented on #166
@deepakunni3   This can be closed, right?

[2015-02-19 01:11] cmdcolin commented on #168
Weird, I can look into it. Seems to not affect 1.0.3 and is new

[2015-02-19 01:20] monicacecilia commented on #153
@nathandunn Please review the following:
* The Web Apollo general info menu item should appear first in the list, and should be labeled differently. For now, change to "General" without the question mark.
* I updated the contents of the Web Apollo Help page for better wording, correction of typos, and clarification on "Information Editor". Help File available at:  https://github.com/GMOD/Apollo/bl

[2015-02-19 01:22] monicacecilia commented on #168
Yeah, it was not there in the last release. I checked and it worked then.

[2015-02-19 01:48] monicacecilia commented on #158
@nathandunn The visual aid on "what to type" helps. It looks good.

Both the "Go" and "Search" buttons perform the same function. That is, I tried "Search" for a group name or "Search" for the scaffolds/groups with the specified length, and I also tried "Go" for a scaffold/group or a page displaying results.  In my opinion,Chris' suggestion about lowering the "Search" button would work. But I'll l

[2015-02-19 02:25] cmdcolin commented on #168
this is technically a jbrowse bug introduced in 1.11.6. my bad. if you want to cross post it there feel free

[2015-02-19 02:26] cmdcolin commented on #168
the issue should be limited to the described function (not able to search amino acids due to codontable implementation change in 1.11.6)

[2015-02-19 02:28] cmdcolin commented on #168
in case there is interest in fixing this in the new webapollo we could add a "hotfix" to the jbrowse repo during build...

[2015-02-19 08:05] monicacecilia commented on #168
Yes, this must be fixed before 1.0.4 can be officially released, so we need a patch on JBrowse.

[2015-02-19 12:47] childers opened #170 "Unstable instance on 1.0.4-SNAPSHOT"
The instances on our staging environments are unstable, and catalina.out has the following errors, one for each instance.  Have you seen this before?:
[code]

[2015-02-19 15:37] nathandunn commented on #170
I have not seen it but I also don't run jmx.  What version are you using and how is it unstable?  We are on 1.0.4rc2 and will probably have an rc3.

Sent from my iPhone

[2015-02-19 15:52] deepakunni3 commented on #166
@nathandunn Yes. It has been tested and it works for *.bigwig files.

[2015-02-19 15:52] #166 closed

[2015-02-19 15:53] childers commented on #170
Sorry, I think this was caused by another out of memory error. I'm looking at RC2 on our staging machine, but am having other problems with it.

[2015-02-19 16:04] cmdcolin commented on #168
I can add a patch inside apollo to fix this using the "monkey patching" technique, commonly used for fixing "bugs" in dependencies...

    +    monkeyPatchRegexPlugin: function() {
    +        require(['RegexSequenceSearch/Store/SeqFeature/RegexSearch'], function(RegexSearch) {
    +            RegexSearch.prototype.translateSequence=function( sequence, frameOffset ) {
    +                var sl

[2015-02-19 16:22] cmdcolin commented on #168
It'll be monkey patched for now since 1.0.4 should be out the door. patch committed.

[2015-02-19 16:47] nathandunn opened #171 "export CDS fails"
from nicolas.francillonne@versailles.inra.fr:

I'm working on an instance of WebApollo-2014-04-03 and I wish to export for each annotation CDS fasta sequence.

On my "selectTrack.jsp" I select all my track then in file ==> export ==> Fasta I download my CDS.
Then I get "Error writing CDS"

I can download all my Gff3, cDNA without issue and when I select some of my reference sequence instead of all

[2015-02-19 16:48] nathandunn commented on #171
Transcript transcript = getTranscript();
String residues = transcript.getResidues();
int begin;
int end;
transcript.convertSourceCoordinateToLocalCoordinate(getFeatureLocation().getFmax());
if (getFeatureLocation().getStrand() == -1) {
    end = transcript.convertSourceCoordinateToLocalCoordinate(getFeatureLocation().getFmin()) + 1;
    begin = transcript.convertSourceCoordinateToLocalCoordinate(g

[2015-02-19 16:52] nathandunn commented on #170
I am available on Skype if need be.

[2015-02-19 16:56] nathandunn commented on #171
gist: https://gist.github.com/nathandunn/3f83511fbf6060bba700

[2015-02-19 16:57] nathandunn commented on #169
@monicacecilia   I think that the column Track should be "Sequence" and the column Group should be "Annotation".  Agree?

[2015-02-19 17:23] nathandunn commented on #171
FYI @cmdcolin

[2015-02-19 17:59] nathandunn commented on #168
I confirmed it is working, but will send it back to moni when we do RC3

[2015-02-19 18:01] nathandunn commented on #170
@childers   I added you back.  Was going to assign you, but no matter.  Just update the status when you are ready.

[2015-02-19 18:08] nathandunn commented on #158
@monicacecilia  @childers   I fixed the above error (will be in RC3).  While the points about the Go and Search are true, I'm trying to avoid spending too much time on this interface.

That being said, since they are the same function, I could just call the "Go" button "Search" and get rid of the other awkward search button.

[2015-02-19 18:14] monicacecilia commented on #158
:+1:  @nathandunn if it's easy, let's make the switch. Thanks!

[2015-02-19 18:22] nathandunn commented on #158
You mean moving the buttons around?

Nathan

[2015-02-19 18:23] monicacecilia commented on #169
@nathandunn agreed. :+1:

[2015-02-19 18:26] #158 closed

[2015-02-19 18:29] childers commented on #170
Thanks, since this might be resolved already, I'll close it now, and it will hopefully not resurface.

[2015-02-19 18:29] #170 closed

[2015-02-19 19:14] nathandunn commented on #170
@childers

Are you still planning on testing RC2 in the staging environment?

Nathan

[2015-02-19 21:19] nathandunn commented on #153
@cmdcolin   Not sure what the best way to do this is.   I thought I had added this, but the "General" label still shows up on the bottom.  Not sure what the easiest way to update this in the plugin is.    Either remove and add manually like I had started to do or there is a way to do the config differently then I see.

[2015-02-19 21:38] monicacecilia opened #172 "Rename "Edit Annotation" menu item back to "Information Editor""
Don @nathandunn

The "Edit Annotation" item from the right-click menu (of an annotation) needs to be renamed back to "Information Editor".

The item does not allow annotators to modify the structural annotation per se, but to add metadata to the annotation (such as DBXRefs, PubMedIDs, comments, GO terms, etc) so "Information Editor" as it appears in the title of the dialog box is more appropriate.

[2015-02-19 21:49] nathandunn commented on #172
How about “Edit Information” or preferably “Edit Metadata”.

I don’t think that its exactly wrong as “Edit Annotation” as we only show what you can edit.

I just don’t want to have a “noun” there.

Nathan

[2015-02-19 21:51] cmdcolin commented on #153
I fixed most of the things that were mentioned. I didn't use nathans url at help/apollo_quick_help.html yet because the icons are broken and because it uses css sprites so it's annoying to recreate the icons

[2015-02-19 22:05] nathandunn commented on #153
@cmdcolin   Looks great.  Thanks.

[2015-02-19 22:12] monicacecilia commented on #172
"Edit Information"

"Show History"

[2015-02-20 00:05] cmdcolin commented on #167
I randomly did some work on this and got part of it to work. This also attempts to fix #40

![screenshot-localhost 8080 2015-02-19 18-03-06](https://cloud.githubusercontent.com/assets/6511937/6279011/b590f794-b861-11e4-9893-ed420725b6b9.png)

Work is on CombinationMod branch

[2015-02-20 00:50] cmdcolin commented on #171
A place where it would get to simply returning -1 would be in convertSourceCoordinateToLocalCoordinate in AbstractSingleLocationBioFeature but  CDS.getTranscript()==null in the stack trace to even go to this location. I tried loading the given GFF myself to see what the deal was but couldn't reproduce the error. Maybe I would ask what the "history" on the given feature is to see if a strange opera

[2015-02-20 00:57] cmdcolin commented on #171
Actually there are definitely multiple paths to just getting -1 there, but it's not clear from the stack trace. Perhaps we need to check for -1 and throw a better error, because it seems like some code is returning -1 as an error code and it's not being caught

[2015-02-20 00:58] nathandunn commented on #171
I think that it is probably an orphaned CDS being exported.

Nathan

[2015-02-20 18:53] monicacecilia commented on #167
# Update:
Modifications:
**Completed:**
* :ok_hand: ~~Add the formula to the 'About this Track' information.~~ Formula is visible from "View Formula" menu option under the track drop-down menu. The operation and the ability to change it is also available from the drop-down menu under "Change Last Operation". - This was done for release 1.0.3.

![screen shot 2015-02-20 at 10 38 08 am](https://cloud

[2015-02-20 21:10] monicacecilia commented on #113
The example Vector Based offered was not actually a bug on Apollo. It had to do with the input GFF3 file they were receiving from their users.
@mpoelchau this issue must not be related to #55  I'm closing this issue and commenting there to keep in mind for further review.
Thank you.

[2015-02-20 21:10] #113 closed

[2015-02-20 21:18] monicacecilia commented on #55
@nathandunn just in case, let's be sure re-check this on 2.0, when appropriate.

[2015-02-20 21:21] nathandunn commented on #55
@monicacecilia   Moni, I have a Trello card in 2.0 that says to check for *ALL* closed 1.0 bugs and make sure that they are both working and that the patches have been pulled over.     I assigned you to that card.  https://trello.com/c/Za55Z2jz

[2015-02-20 21:23] monicacecilia opened #173 "A warning message should be issued when Set as 3' end / Set as 5' end is not possible."
The inability to use RNAseq reads to set as 3'end or 5' end should fail more gracefully.
I am aware that because some of the reads I am trying to use as reference are in the opposite strand Apollo won't set the boundaries; but because the reads are not directionally labeled, and not all users are necessarily aware of this, it is confusing.

Currently, the ability to use the read is grayed out and

[2015-02-20 21:24] #55 closed

[2015-02-20 21:26] monicacecilia commented on #119
Fixed.

[2015-02-20 21:27] monicacecilia commented on #147
Thank you.

[2015-02-20 21:27] #147 closed

[2015-02-20 21:27] nathandunn commented on #173
@monicacecilia   I think that the User's Guide should be sufficient.   They gray implies disabled.

[2015-02-20 21:58] nathandunn commented on #172
ready for testing

[2015-02-20 21:59] nathandunn commented on #171
@monicacecilia  @cmdcolin   I am clearing this from the release schedule for now.  I doubt it will involve a bug-fix, but we can cross that bridge when we get it it.

[2015-02-20 22:07] monicacecilia commented on #172
Looks faaaabulous. :+1:

[2015-02-20 22:11] monicacecilia commented on #153
Brilliant!

-- updated a word on the document at https://github.com/GMOD/Apollo/blob/1efa27115ba77e9ffb3170602d836d6f69c95ae0/client/apollo/js/View/Dialog/Help.js

[2015-02-20 22:11] #153 closed

[2015-02-20 22:15] monicacecilia commented on #171
:+1:

[2015-02-20 22:16] monicacecilia commented on #168
Good. It is working again.
@cmdcolin did you already create an issue on the JB repo? or a reminder? should I?

[2015-02-20 22:17] monicacecilia commented on #169
brrrrrrilliant!
Thanks!

[2015-02-20 22:17] #169 closed

[2015-02-20 22:23] cmdcolin commented on #168
Ah I'll do that.

[2015-02-20 22:26] monicacecilia commented on #168
Thank you.

[2015-02-23 02:45] nathandunn opened #174 "setup google analytics"

[2015-02-23 02:46] nathandunn opened #175 "setup google analytics for 2.0"
should be easily configurable by the user

[2015-02-23 19:52] cmdcolin commented on #174
Duplicate of #175?

[2015-02-23 19:58] nathandunn commented on #174
No, different milestones.   Both lower priority.

[2015-02-23 22:00] cmdcolin opened #176 "The "Previous" button on the sequences page doesn't update datagrid"
Found while testing 1.0.4-RC3

![screenshot-localhost 8080 2015-02-23 15-55-20](https://cloud.githubusercontent.com/assets/6511937/6338430/7456de5e-bb74-11e4-818f-c4507faf0a34.png)

[2015-02-23 22:04] monicacecilia commented on #176
darn! good catch, thanks!
it did on RC2, right?

[2015-02-23 22:07] nathandunn commented on #176
Confirmed about RC2.  I’ll fix it in the mainline.

Nathan

[2015-02-23 22:08] cmdcolin commented on #176
It's already fixed here https://github.com/GMOD/Apollo/commit/39b9fd4ec34f61d542784e0a4796063acbe8e550

[2015-02-23 22:10] nathandunn commented on #176
Great thanks.    If this is the only thing (knock on wood) I’ll tag without the RC4.

Nathan

[2015-02-23 22:13] cmdcolin commented on #176
It looks like the search button is weird too. Doesn't match full strings.

![screenshot-localhost 8080 2015-02-23 16-12-54](https://cloud.githubusercontent.com/assets/6511937/6338771/e54a8fdc-bb76-11e4-9115-cc2016c4669f.png)
![screenshot-localhost 8080 2015-02-23 16-12-27](https://cloud.githubusercontent.com/assets/6511937/6338772/e9200970-bb76-11e4-9302-72217e0994b8.png)

[2015-02-23 22:15] cmdcolin commented on #176
Oh, actually, the problem is when you have the "Offset" specified AND you search for the string. I think the search should reset the offset to 0

[2015-02-23 22:22] nathandunn commented on #176
@monicacecilia   Whatever you think is the most intuitive.  I think I played with it both ways, but doesn't mean I ended up with the correct solution.

[2015-02-23 22:27] cmdcolin commented on #176
I guess I'll leave it as is. The workaround would be sort of non-intuitive due to the current way things work.

[2015-02-23 23:44] monicacecilia commented on #176
@nathandunn As I understand the current design, the two searches cannot be combined. That is, either the curator is looking for a known (or partially known) sequence (group/scaffold/chromosome) and enters the ID (or partial ID) on the "Search by Name" field, or the curator browses through all sequences, visualizing a finite number of sequences at a time. The curator can also determine where the di

[2015-02-23 23:47] monicacecilia commented on #176
Oh, since we are looking at the "Sequences" page, the "Help" menu is missing the "Web Apollo Help" menu item. Could we please add it?

![screen shot 2015-02-23 at 3 45 53 pm](https://cloud.githubusercontent.com/assets/1714621/6340335/38e16444-bb73-11e4-92e4-bfbcf0b01731.png)

[2015-02-23 23:56] nathandunn commented on #176
You sure you want it on this page?   I didn’t add it here as it doesn’t apply to anything on this page.

Nathan

[2015-02-24 00:00] nathandunn commented on #176
1.4 you won’t be able to do with this interface.  You can do this with Colin’s older interface as long as you don’t have too much data.

This is because a back-end sort would require a full scan of the database which causes a memory leak, ergo 2.0.

Yeah, I’m itching to get this out as well.

Nathan

[2015-02-24 00:03] monicacecilia commented on #176
Yep, as I said, 1.4 & 2.1 can wait for v2.0

Yes I am sure.

~m.

[2015-02-24 17:04] deepakunni3 opened #177 "Handling empty fields in GFF3 export"
Found while testing Apollo 1.0.4 RC3

While exporting GFF3 from 'Select sequence' page or while getting a GFF3 for a single annotation in the user-created annotations track, column 6 and 8 of the GFF3 should have  a  '.' when it is empty. Currently it is a blank.

![screen shot 2015-02-24 at 11 02 33 am](https://cloud.githubusercontent.com/assets/4530272/6354376/af38ac64-bc14-11e4-9bff-812a3062154

[2015-02-24 17:40] cmdcolin commented on #177
I can reproduce in 1.0.4 RC3 and I also did the same action in the 2014-04-03 version and it did not have this problem.

[2015-02-24 18:11] deepakunni3 commented on #177
I can reproduce the same issue on Apollo 1.0.1 and Apollo 1.0.2.

[2015-02-24 19:08] monicacecilia commented on #177
Good eye.

Le sigh. It is surprising to see this error introduced :( I missed it in my visual checks - more concerned with whether the file was produced and how coordinates added up to CDSs and exons. -- btw, I found an interesting pattern with CDS / exon coordinates organization but I am looking more into that before I create an issue.

We should have a GFF3 validation check.

[2015-02-24 19:36] nathandunn commented on #177
I'll take a look (sorry I've been in the air). Thanks for catching.

Sent from my iPhone

[2015-02-24 20:01] nathandunn commented on #177
Found bug.  Was part of initial refactor .. Very bizarre  .. Will check it in and update soon.

Sent from my iPhone

[2015-02-24 20:40] nathandunn commented on #177
I think that the order is comes from recursing (depth-first) down:

Gene -> subfeatures (by location) -> subfeatures (by location)

This is the most efficient way of doing this for this architecture.  If there is a preferred ordering, create another github issue, set it to milestone 2 and give it to Deepak who is currently working on it.

I’m going to keep checking for possible issues.

Nathan

[2015-02-24 22:22] monicacecilia commented on #176
Fixed. Thank you!

[2015-02-24 22:22] #176 closed

[2015-02-24 23:03] monicacecilia commented on #177
Checked that (dots) for empty fields have been reestablished on GFF3 export.

Will check on follow up about oder in separate issue, if applicable.

Thank you!

[2015-02-25 01:50] monicacecilia commented on #119
Related to this, I just found an additional bug on the display. (notice it is already present on the first image posted at the top of this issue).
When visualizing the window on the "Dark" display, the labels for each element inside the User-created Annotation area are "invisible". This happens because in "Dark" mode the characters the labels are white, and not visible with the light yellow backgr

[2015-02-25 03:42] cmdcolin commented on #119
I was under the impression that we changed the color to teal @deepakunni3

Apparently the webapollo_track_styles was using a css override over this but I think after correction it was planned to look like this

![screenshot-localhost 8080 2015-02-24 21-41-59](https://cloud.githubusercontent.com/assets/6511937/6364579/00610a7e-bc6e-11e4-8a4e-972319bc74fe.png)

[2015-02-25 04:02] deepakunni3 commented on #119
Yes, the idea was for the U-cA track to be teal. I checked what was going on and it does seem that webapollo_track_styles.css overrides the color to the default.

I tried removing the !important tag from webapollo_track_styles.css and it looks just like above. But another thing that got my attention was that now U-cA becomes transparent on mouse-over action. @cmdcolin Have you noticed the same beh

[2015-02-25 04:29] cmdcolin commented on #119
Ya I have noticed that, and fixed it on the refactor branch (i changed div.track_annotation with .track.track_annotation). I have several other fixes on my refactor branch that i'm going to backport here to fix this.

[2015-02-25 20:22] cmdcolin opened #179 ""Show track labels" makes feature labels go offscreen"
https://trello.com/c/4BWzodSz/334-when-track-label-is-hidden-feature-labels-should-be-moved

[2015-02-26 18:19] cmdcolin opened #180 "Bad layout on changes page"
![bad_layout2](https://cloud.githubusercontent.com/assets/6511937/6398481/8bcd6168-bdb1-11e4-8173-e44d126ca66c.jpg)

Screenshot in chrome on 1.0.3 pictured above with bad layout. The issue is a weird thing with "cleanup_logo" function being called prematurely.

[2015-02-26 19:02] cmdcolin opened #181 "Plus/minus strand filters make bigwig go to zero"
In previous versions strand filters have a side effect of filtering out features with no strand specified. This actually had the weird effect of making bigwig tracks go to zero as well since they are composed of small quantitative features with no strand iirc

This was changed to not do this on 1.0.4-various-fixes

Some screenshot examples before&after applying the "minus strand filter"

![screens

[2015-02-27 17:03] #179 closed

[2015-02-27 18:01] nathandunn commented on #171
@monicacecilia   Can we close this for now?

[2015-02-27 19:15] #171 closed

[2015-02-27 20:02] nathandunn commented on #119
![screen shot 2015-02-27 at 12 00 57 pm](https://cloud.githubusercontent.com/assets/751274/6420143/71f887fa-be78-11e4-8bbc-f1b7164c2b22.png)

[2015-02-27 20:05] selewis commented on #119
Black would show up equally well (if not better) on both the cream or the
blue background. Can we just keep it black in either mode please.

On Fri, Feb 27, 2015 at 12:02 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-02-27 20:26] cmdcolin commented on #119
I made it back to black on the annotation track. Sorry about the confusion (I mixed up the unused feature_name with feature-name)

[2015-03-02 17:37] nathandunn opened #182 "add user uses outdated server configuration"
Guilty line of code:
public ServerConfiguration(InputStream configuration) throws ParserConfigurationException, SAXException, IOException {
        throw new RuntimeException("No longer supported");
    }

Need to double-check if there are other usages.

Nathan

===================
===================

from Marc Hoppner:

Mar 02, 2015 9:28:57 AM org.apache.catalina.core.StandardWrapperValve invoke

[2015-03-02 20:54] childers opened #183 "problem using embedded mode nav option"
I was looking into the URL tags for doing an embedded mode, and ran across a problem.  Setting the 'nav' tag disables ability to resize tracklist panel. This is true whether nav=0 or nav=1.  The resize bar for the Available Tracks section can be dragged, but it is now independent from the Available Tracks panel. I reproduced this with multiple versions of Web Apollo, including the Genome Architect

[2015-03-02 21:08] cmdcolin commented on #183
I can confirm this is a problem is WebApollo specific. It seems to be due to adding menu options outside of the condition if(browser.config.show_nav) in the plugin which produces a "crash" (and then the "crash" prevents further things like resizing the track list)

[2015-03-02 22:23] #182 closed

[2015-03-03 00:37] cmdcolin commented on #183
Should be ok now @nathandunn

[2015-03-03 03:03] nathandunn commented on #183
When doing nav=0  , resizing of track is not correct.   Starts out okay and then the following occurs when I drag the right side of the track panel (this is chrome).  nav=1 seems to work fine:

![screen shot 2015-03-02 at 6 59 38 pm](https://cloud.githubusercontent.com/assets/751274/6455826/53ee941e-c10e-11e4-9e12-539c59fdcaaf.png)

http://icebox.lbl.gov/WebApolloDemoStaging/jbrowse/?loc=GroupUn41

[2015-03-03 03:09] cmdcolin commented on #183
That's what it looked like before my bugfix, but I think I fixed that. Maybe you didn't deploy my bugfix to webapollo demo staging. I think I can tell from the source code even though it's minified that it doesn't include my change :)

[2015-03-03 03:15] nathandunn commented on #183
@cmdcolin   I think I deployed the non-release version over the release version, so probably still seeing the later.   I will redeploy and check again.  Thanks.

[2015-03-03 03:19] nathandunn commented on #183
that worked .. thanks.

[2015-03-03 03:19] #183 closed

[2015-03-03 15:04] mpoelchau opened #184 "allow custom date formatting for GFF3 files"
A minor quibble, but I thought I'd bring it up - the month numbering in the gff3 export starts with 0 instead of 1, so if you're expecting to see a February creation and modification date, you'll see what looks like a January date, instead. I've seen this in 1.0.4-RC3 and the November 2013 versions of Web Apollo.

[2015-03-03 18:21] nathandunn commented on #184
@mpoelchau  @monicacecilia  Just to clarify.  It has stayed the same between versions?

We have to be a bit careful about this, as its done both for human and machine readability.

My thought would be to have (yet another) configuration for specifying dates throughout the app so that if I decided to output as Jan-07-2015 from server A, it could do an ingest the same way.   Personally, because of t

[2015-03-03 18:32] mpoelchau commented on #184
Sorry - I had no idea this would be a big deal! FYI, the day numbering (not month) starts with 1, not 0 - not sure if this makes things more difficult for you. So, an annotation I made today dates to 2015-02-3.
This is definitely a very minor issue, so certainly 2.0 or even later would be fine. Since I've seen it in both the 1.0.4-RC3 and the November 2013 versions, I assume it's been there the en

[2015-03-03 19:08] nathandunn commented on #184
I think its a good idea either way.  Its silly to have something be an artifact of the way Java implements its date function.   Its not consistently human or machine-readable outside of Apollo.

[2015-03-03 19:09] nathandunn commented on #184
@spficklin   FYI, not sure how you are parsing the GFF3 dates on import into GenSAS, but wanted you to be aware just in case.

[2015-03-03 19:41] spficklin commented on #184
Are you referring to dates in the header comment information of the GFF for when the GFF was created?  Or are these dates associated with annotations?

We don't currently parse dates in GenSAS.  But I agree that the month would be less confusing if it started with 1 rather than 0.  My personal preference for writing out dates is always YYYY-MM-DD (E.g. 2015-01-02).  It's not standard for humans bu

[2015-03-03 20:19] selewis commented on #184
Nathan,

Couldn't it be DDMMYYYY rather than MMDDYYYY?

Much better for sorting on date easily.

But spelling it all out (Mon, 03 Jul 2006 21:44:38 GMT) or an ISO string is
nicest.

I'd vote for 2.0n if possilble

On Tue, Mar 3, 2015 at 10:32 AM, mpoelchau <notifications@github.com> wrote:

[2015-03-03 20:21] selewis commented on #184
+1  YYYY-MM-DD

On Tue, Mar 3, 2015 at 11:41 AM, spficklin <notifications@github.com> wrote:

[2015-03-03 20:22] nathandunn commented on #184
I think that YYYYMMDD or YYYY-MM_DD may make the most sense.  Regardless, it *should* be formattable and whatever goes out should come in.   I have scheduled it for 2.0 and will give it to @deepakunni3  to chew on as he's already working on this code.    Thanks for the input.

[2015-03-05 21:32] cmdcolin commented on #157
@nathandunn sorry I forgot about this issue. I think this patch is good, and I understand it now. If we want to add that it would be fine with me.

[2015-03-05 21:33] nathandunn commented on #157
@cmdcolin   Yeah, go ahead and merge it in and add it to the changelog .  Moni will test them tomorrow.

[2015-03-05 21:33] nathandunn commented on #157
@cmdcolin   Assign it to me when you're done.

[2015-03-05 22:13] cmdcolin commented on #81
Here's one mailing list thread that is important to this http://gmod.827538.n3.nabble.com/Error-trying-to-add-CDS-as-a-gene-to-user-annotation-td4047026.html#a4047041

[2015-03-05 22:54] nathandunn commented on #157
@monicacecilia   on staging and ready for fun!

[2015-03-06 01:22] cmdcolin opened #185 "If the browser is refreshed, jbrowse page becomes very slow (firefox caching issue)"
In #91 we solved a problem where the page repeatedly requests the same content by adding some http cache headers

Unfortunately, I found that this mechanism breaks down if you simply refresh the browser in Firefox. It looks like the issue might be because it begins adding a header called Cache-control: "max-age=0" to all HTTP requests including the ajax requests, which makes the problems from #91

[2015-03-06 01:23] cmdcolin opened #186 "small issue with the User-created annotations track"
I thought that I'd just create a github issue for this, just to be thorough.

The 1.0.4-RC5 has the "delete track" and "pin to top" options available on the User-created annotations track
![screenshot-icebox lbl gov 2015-03-05 17-53-49](https://cloud.githubusercontent.com/assets/6511937/6518552/0a182592-c36d-11e4-962f-a2c274fa5194.png)

That is unintentional as these options are normally unavailab

[2015-03-06 01:24] cmdcolin commented on #186
Fixed here https://github.com/GMOD/Apollo/commit/86d9d89c776deecba60198c466e39121340fab75

[2015-03-06 17:24] cmdcolin commented on #185
Note: This only happen if it's running through an apache proxy

[2015-03-06 22:28] monicacecilia commented on #119
Fixed now.

[2015-03-06 22:31] monicacecilia commented on #157
fixed. thank you!!

[2015-03-06 22:31] #157 closed

[2015-03-06 22:55] monicacecilia commented on #180
Checked. update looks fine. Thank you!

[2015-03-06 22:55] #180 closed

[2015-03-06 22:58] monicacecilia commented on #186
Fixed. Unexpected features are no longer on the U-cA. --

[2015-03-06 22:59] cmdcolin opened #187 "Deleted transcripts show up in information editor until page refresh"
Create 3 features...
![screenshot-icebox lbl gov 2015-03-06 16-57-28](https://cloud.githubusercontent.com/assets/6511937/6538012/1606c916-c422-11e4-8cb4-a36dfb07c3a3.png)

Then delete 2 and view the Information Editor...
![screenshot-icebox lbl gov 2015-03-06 16-57-50](https://cloud.githubusercontent.com/assets/6511937/6538013/184f161a-c422-11e4-822b-b117de235473.png)

A page refresh solves the pr

[2015-03-07 00:07] monicacecilia commented on #187
Against my very strong thoughts about it ( :) ), @nathandunn and I have decided to punt this one over to 1.0.5 or later.

[2015-03-07 00:07] #187 closed

[2015-03-07 00:14] monicacecilia commented on #181
The bug reported here has been fixed. Thanks!

Note: The behavior when applying both filters (toggle plus strand, toggle minus strand) at once results in bigwig files "displayed at 0" (both XY coverage and heatmap coverage display). This is acceptable and expected, not a bug -- if there are no data on either strand, then no coverage to display.

[2015-03-07 00:30] monicacecilia opened #188 "Pseudogene + gene merge causes problems."
Deatils available at https://trello.com/c/RkKguV4L

[2015-03-07 01:35] monicacecilia opened #189 "List of changes is displayed different depending on drop down menu selection."
Failing item 17) at https://github.com/GMOD/Apollo/blob/master/docs/TestScript.md  "Check all filters, pagination, and number of results shown."

Depending on whether 10, 25, or 100 is selected from the drop down menu next to the word "Show", the list of changes is different. At times (with "100") well over 50 changes are visible, but when choosing "25" only one full page is visible, and only a fe

[2015-03-07 02:05] monicacecilia opened #190 "Connection to GOLR fails, unable to add GO terms."
Unable to add GO terms.
Error on console:
<code>
GET http://a2-proxy1.stanford.edu:8080/solr/select?defType=edismax&qt=standard&…e_id%5E1&json.wrf=jQuery17106870290483348072_1425692421690&_=1425692716805 net::ERR_CONNECTION_REFUSED
</code>

Apollo is trying to reach this URL:
http://a2-proxy1.stanford.edu:8080/solr/select?defType=edismax&qt=standard&indent=on&wt=json&rows=10&start=0&fl=*,score&fac

[2015-03-07 02:07] kltm commented on #190
Just to clarify the the URL, the new one should look like:

 http://golr.geneontology.org/solr/

It is currently believed that this is the '''forever''' URL.

[2015-03-07 02:12] monicacecilia commented on #190
Thank you @kltm !

[2015-03-07 02:13] kltm commented on #190
As an update, I believe that production has flipped the switch on the new setup, and due to their firewall rules, the old URLs may not be functional anymore.
If this is a problem, we may be able to get them to turn the old ones back on again temporarily.
@cmungall I don't think anybody else was using our services in anger yet?

[2015-03-07 02:15] monicacecilia commented on #190
Well, it may be the case we have to report on the update and let all developers know of the change in URL, even if they are using the old version.
I believe you are correct, no one *that we know of* is using them in anger. yet.

[2015-03-07 17:13] nathandunn commented on #190
@monicacecilia  @kltm   Thanks.  Yes, it would be good to announce it just in case and where to fix it.

[2015-03-07 17:34] nathandunn commented on #190
@monicacecilia   This is ready to go on staging.

[2015-03-07 18:48] mpoelchau commented on #190
I'm getting a similar error (not the same since we've been using a proxy due to mixed content issues). So, http://golr.geneontology.org/solr/ is the way to go now? I'll let our annotators know to temporarily stop using the GO field until we've updated.

[2015-03-07 18:53] monicacecilia commented on #190
Yes, that's the new one.

The changes have been quite inconvenient but peeps at Stanford promise this *is the one*!

Here's hoping.

[2015-03-07 19:13] nathandunn commented on #190
It is fixed in the master (now) and will be fixed in the 1.0.4 release.

Do you think its worth  a separate announcement as it will effect *ALL* versions of the installed code.

Worst-case updating from 1.0.3 to 1.0.4 should be pretty easy and require no configuration changes.

[2015-03-09 19:31] nathandunn commented on #189
ready to test on icebox staging

[2015-03-09 20:01] monicacecilia commented on #189
Brilliant. Works well now. thank you!

[2015-03-09 20:01] #189 closed

[2015-03-09 21:18] kltm commented on #190
I have a rather long winded suggestion that would probably go better in its own ticket, but since I'm not sure how usable you'd find it, I figure I can test it here first as it would partially address the disruption caused here by the GO (sorry). It boils down to a single URL announcements file that apollo periodically consumes to communicate with downstream users and installations.

The idea woul

[2015-03-09 21:51] cmdcolin opened #192 "Add ability to annotate single level features"

[2015-03-09 21:54] nathandunn commented on #190
We thought about doing the same thing in the server code with duct-tape and bailing wire.

However, if you do publish an API for the GOLR server that would allow that, that would be great.   I will use it in Apollo2 for sure and in Apollo1 if we have a chance.

Thanks,

Nathan

[2015-03-09 21:58] cmdcolin opened #193 "Allow annotating single-level features"
For the 2014-04-03 release I made a code patch to prevent single-level features from being annotated because it caused a javascript crash (this is all documented in meeting notes e.g. here https://docs.google.com/presentation/d/1Ij5fz-TwJqshixYHD_sPlynm-rJpcuOE48T4OiyIPEc/edit?usp=sharing)

This was a cause for concern for some annotators
http://gmod.827538.n3.nabble.com/Error-trying-to-add-CDS-as

[2015-03-09 21:58] cmdcolin commented on #193
Note: issue split #81

[2015-03-09 21:59] cmdcolin commented on #193
See c86905b for patch

[2015-03-09 22:09] cmdcolin commented on #193
Hi @nathandunn feel free to try this out. Basically, what you will see is if you take a feature like

    Group1.1    amel_OGSv3.2    match   514009  514378  .   -   0   ID=GB42155-RA

And then drag it to the annotation, the exported GFF will be

    ##gff-version 3
    Group1.1	.	gene	507599	515039	.	-	.	ID=E08C811759E39D9ED1047B2A60337AC7
    Group1.1	.	mRNA	514009	514378	.	-	.	Name=GB42155-RA;P

[2015-03-09 22:15] nathandunn commented on #193
too funny, was just about to do the same thing:

    ##gff-version 3
    Group1.1    Prodigal:2.60   CDS 796 1557    .   -   0   ID=PROKKA_00001;inference=ab initio prediction:Prodigal:2.60;locus_tag=PROKKA_00001;Name=hypothetical protein
    Group1.1    Prodigal:2.60   CDS 1952    2398    .   +   0   ID=PROKKA_00002;inference=ab initio prediction:Prodigal:2.60;locus_tag=PROKKA_00002;Name=hypothet

[2015-03-09 22:23] nathandunn commented on #193
test procedure:
1 - create GFF3 file from above
2 - open Group1.1 for Honeybee
3 - annotate with evidence from that track

On Staging (1.0.4) this works.  On Demo (1.0.3) we get a warning saying that we can not annotate that type of feature.   The fix for 1.0.3 disallowed this as prior it just crashed without any type of warning.

*IF* the annotation is correct then the 1.0.4 version is correct.

[2015-03-09 22:33] monicacecilia opened #194 "Single URL announcements file to communicate with downstream users and installations."
From conversation at https://github.com/GMOD/Apollo/issues/190 with @kltm

Seth Carbon:
"I have a rather long winded suggestion that would probably go better in its own ticket, but since I'm not sure how usable you'd find it, I figure I can test it here first as it would partially address the disruption caused here by the GO (sorry). It boils down to a single URL announcements file that apollo per

[2015-03-09 22:34] monicacecilia commented on #190
@nathandunn, this is working now on Staging. Thanks!
I've sent you the draft text for a separate announcement. Please proofread and send back at your earliest convenience. Thank youuuuu! I'm closing this issue, as it pertains to 1.0.4.

@nathandunn @kltm, I've created a new issue here https://github.com/GMOD/Apollo/issues/194 for future implementation. Thank you!

[2015-03-09 22:34] #190 closed

[2015-03-09 22:41] nathandunn commented on #192
@cmdcolin  Can this be deleted?

[2015-03-09 22:41] nathandunn commented on #193
@monicacecilia   ready for your view

[2015-03-09 22:43] cmdcolin commented on #192
@nathandunn ya. duplicate of #193 sorry bout that. closed for now

[2015-03-09 22:43] #192 closed

[2015-03-09 23:04] monicacecilia commented on #193
Thanks for the explanation. Working now.

[2015-03-10 17:17] monicacecilia opened #195 "Demo cannot show "Dark" color scheme. OK on Staging."
At genomearchitect.org/WebApolloDemo the "Dark" color scheme cannot be enabled. "Dark" theme works well on Staging.

Error shown on console:
<code>
GET http://icebox.lbl.gov/WebApolloDemo/jbrowse/data/tracks.conf 404 (Not Found)dojo.js:357
</code>

![screen shot 2015-03-10 at 10 11 36 am](https://cloud.githubusercontent.com/assets/1714621/6580463/fed500b6-c70d-11e4-93cb-03633bbfe504.png)

[2015-03-10 17:34] nathandunn commented on #195
@monicacecilia   I was able to reproduce this when I was using the cached version of genomearchitect.

That being said, it is silly and dangerous that we force a user to blow out their cache when a version is updated.    Grails assets does this automatically (and I think GWT).    If dojo doesn't have this mechanism (which would surprise me), I think it wouldn't be too hard to have it use this mech

[2015-03-10 17:36] monicacecilia commented on #195
I've cleaned the cache a few times and I still am not able to see the "Dark" theme.

[2015-03-10 17:38] nathandunn commented on #195
Have you tried this with an incognito browser?  I’m sure you have, just wanted to double-check.   I shouldn’t say that I cleared my cache, but I did use an incognito browser.

Nathan

[2015-03-10 17:40] monicacecilia commented on #195
Well, refreshing with cache flush (Mac/Chrome/ Shift+command+R = cache is ignored & resources are requested like no cache existed) does not work. Only After cleaning **all** browsing data.
meh.

[2015-03-10 17:58] nathandunn commented on #195
Yeah.  Its 2015.  We probably need a better solution.

Nathan

[2015-03-10 19:38] rdhayes commented on #195
We have similar concerns with caching in JBrowse itself, so I'd be willing
to help out testing of mod_pagespeed or whatever architecture change looks
best.

Richard D. Hayes, Ph.D.
Joint Genome Institute / Lawrence Berkeley National Lab
http://phytozome.jgi.doe.gov

On Tue, Mar 10, 2015 at 10:58 AM, Nathan Dunn <notifications@github.com>
wrote:

[2015-03-10 23:30] nathandunn opened #196 "visualize hover of annotation for split and make intron use-cases"

[2015-03-10 23:39] monicacecilia commented on #196
--> visualize coordinates when hovering over reference sequence (?)

[2015-03-11 00:16] nathandunn commented on #196
In the first screen, I want to see a hover over the AnnotTrack sequence (even if pulled from the reference sequence).  The way we get the hover in the reference sequence would be acceptable.

We had also talked about the ability to possibly get location information (like a number), as well.

[2015-03-11 00:58] nathandunn commented on #195
Thanks.

Nathan

[2015-03-11 04:04] cmdcolin commented on #196
You can hold shift and it will display the vertical bar with the position label. That might be helpful, but there could be more enhancements

For example, @yeban showed some examples of repositioning the label on the afra project

See screenshots here https://github.com/GMOD/jbrowse/issues/545

[2015-03-11 04:07] cmdcolin commented on #196
I'm still confused what the original issue here is though because features already have a sequence overlay if you are zoomed into max depth

[2015-03-11 15:53] nathandunn commented on #196
@cmdcolin   I updated the screen links.  I think the screen shots are pretty close (and definitely an improvement), but actually highlighting the sequence letters is what will eventually be needed.  Nothing high priority now.

[2015-03-16 04:40] yeban commented on #196
I will be surprised if it's not already possible to get hold of the span element that holds a single base, to which you can then add a css class for highlight. Last I checked WA, it doesn't use span tags for each base but lays out 25 bp of sequence per block in one div which would make highlighting refseq a bit difficult.

[2015-03-16 15:36] cghiban opened #197 "How do I change the way UTRs are displayed?"
Hi,

Some people don't like how WebApollo displays UTRs by default? They are displayed as shorter boxes than the exons. Is this something I can fix as a user? Is so, could you give me a few hints on where to start?

Thanks,
Cornel

[2015-03-16 16:35] nathandunn commented on #197
You would customize it in your trackList.json or tracks.conf file (though there may be a more universal solution):

http://gmod.org/wiki/JBrowse_Configuration_Guide#HTMLFeatures_Configuration_Options <http://gmod.org/wiki/JBrowse_Configuration_Guide#HTMLFeatures_Configuration_Options>

I don’t see a direct hook for what you are trying to do, but worst-case you would have to dig into jbrowse itself

[2015-03-16 17:53] cghiban commented on #197
Hi Nathan,

What if i change the CSS or UTR features? Seems easier this way..

[2015-03-16 17:56] nathandunn commented on #197
Oh, that is exactly right, not sure why that didn't pop out at me at first:

style→subfeatureClasses	Key-value pairs of CSS classes for subfeatures, organized by feature type. Example: { "CDS" : "transcript-CDS","UTR" : "transcript-UTR" }

Let me know if you need me to keep this open.

[2015-03-16 17:56] #197 closed

[2015-03-18 14:43] erasche commented on #115
Just wanted to chime in, this should be supported under [RemoteUserAuth](https://github.com/GMOD/Apollo/blob/master/src/main/java/org/bbop/apollo/web/user/remoteuser/RemoteUserAuthentication.java) with an upstream proxy like apache or nginx that support LDAP. Might save you the trouble of implementing it in java.

[2015-03-18 14:48] erasche commented on #50
If there's any way to support multiple organisms from a single chado database with as little webapollo configuration required as possible, that would be extremely useful to us.

- We stuff many viruses in a single chado instance (the overhead would be silly for <100kb genomes to have multiple chados).
- We plan to add more organisms to a chado instance

So if we can do that without reconfiguring w

[2015-03-18 14:57] childers opened #198 "updated gff3_config.xml not recognized."
Our customized gff3_config.xml continues to get overwritten with the default version during the
 ./apollo deploy phase.
 Is this being treated differently than the other config files? The quick start guide doesn't mention copying it into the base directory before running deploy, and if I do copy it in, it uses a default version ( src/main/webapp/config/gff3_config.xml ). Should I just update the c

[2015-03-18 15:17] childers commented on #198
Update, it looks like my updated gff3_config.xml in the base git directory was overwritten with the default. version.

[2015-03-18 16:21] nathandunn commented on #50
So multiple organisms will be supported in 2.0, a pretty major rewrite, and configuration will be very minimal: enter the organism name and the jbrowse data directory.

Chado export #145   will be added in 2.1.   I'm going to move your comments there as I think it seems to make sense to support either.

[2015-03-18 16:21] nathandunn commented on #145
From #50 - @erasche

If there's any way to support multiple organisms from a single chado database with as little webapollo configuration required as possible, that would be extremely useful to us.

We stuff many viruses in a single chado instance (the overhead would be silly for <100kb genomes to have multiple chados).
We plan to add more organisms to a chado instance
So if we can do that without

[2015-03-18 16:27] nathandunn commented on #198
I can make this another "sample_XX"_config.xml.   Looks like I need one for chado, one for fasta, one for gff3, one for mapping.

By default these should all copy over.

[2015-03-18 16:28] erasche commented on #50
Ah, sounds good. Thanks @nathandunn

[2015-03-18 16:29] nathandunn commented on #198
I can make this change pretty quickly and get it out today if that sounds good.

[2015-03-18 16:42] childers commented on #198
Will that cause it to behave the same way as the other configuration files?

Updating the copy in < src/main/webapp/config/gff3_config.xml > did let me use my modified file, but just having it in the base git directory did not.

[2015-03-18 16:58] nathandunn commented on #198
Short answer yes.

Here are the explicit steps I would take:

1 - in git, move src/main/webapps/gff3_config.xml to ./sample_gff3_config.xml
2 - during the deploy step  if you had a gff3_config.xml in your base directory it would copy that.  Otherwise it would complain that you don’t have them specified . . . similar to other required files.

Let me know if that sounds good.

Nathan

[2015-03-18 17:05] childers commented on #198
1. That is exactly what I ended up doing, and it worked just fine.
2. Before updating the file in src/main/webapps/config, it was silently overwriting my custom file with the default that came prepackaged in src/main/webapps/config.  I assume that it is still doing this, only now it is overwriting what I have with the updated copy.

[2015-03-18 19:24] childers opened #199 "Problem finding JBlibs"
I was attempting to run add_transcripts_from_gff3_to_annotations.pl , and it died with the following error:

`$ perl add_transcripts_from_gff3_to_annotations.pl
Can't locate JBlibs.pm in @INC (@INC contains: /app/data/WebApollo_deployment/1.0.4/tools/data/../../src/perl5 /opt/ActivePerl-5.16/site/lib /opt/ActivePerl-5.16/lib .) at add_transcripts_from_gff3_to_annotations.pl line 10.
BEGIN failed--

[2015-03-18 19:44] cmdcolin commented on #199
I believe you first need to run "apollo deploy" or "install_jbrowse.sh" to get all the perl/jbrowse libraries initialized first, which is true of the Makefile based deployment strategy as well.

If you want to avoid this, you can run "cpanm ." or "cpan ." inside of your custom jbrowse directory and this will install the JBLibs to the system perl

[2015-03-18 19:58] nathandunn commented on #198
Let me know if this works .. . .

[2015-03-18 20:46] childers commented on #199
This release of JBrowse was one I had used and set up in the past with setup.sh.  To be safe, I reran the script, before navigating to the Web Apollo directory and running the make file.

Previously, I had just run ./apollo deploy several times to build some instances for testing. The deploy command succeeds, and the instances seem to work fine. The scripts still fail unless I manually load the li

[2015-03-18 20:48] nathandunn commented on #199
Is this a JBrowse bug?   I also noticed I have to add libraries when setup.sh is missing them.   I’m happy to test any changes on a vanilla Ubuntu / RedHat instance.

Nathan

[2015-03-18 20:50] childers commented on #199
I think this is something with Web Apollo, but only because the issue is with me trying to run the accessory scripts. I know that it will make a jbrowse-download directory if you don't specify the JBrowse location with a make command, could that be part of the problem?

[2015-03-18 20:52] nathandunn commented on #199
I see.  Yeah, we might need to add this into the apollo binary somehow, either as a “usage” or a direct install in the same way that jbrowse does its install magic.

Nathan

[2015-03-19 21:18] erasche opened #200 "Apollo expects to be run in a subdirectory"
I deployed Apollo in `$CATALINA_HOME/webapps/ROOT/`, overwriting everything in that folder.

[code]

That snippet on the /sequences route expects locations to be `/some_path/sequences`, and won't accept other options. I imagine that snippet will likewise have issues if deployed under paths like `/a/b/c/apollo/sequences`.

xref http://gmod.827538.n3.nabble.com/WebApollo-500-on-Login-Route-in-contai

[2015-03-19 21:21] cmdcolin commented on #200
This is sort of a different manifestation of the same problem brought up here https://github.com/GMOD/Apollo/issues/130

[2015-03-19 21:25] erasche opened #201 "Apollo doesn't play nicely with proxies."
Internally, the Login form seems to be accessed via a GET request (e.g. `http://localhost:8080/apollo/user_interfaces/encryptedlocaldb/login.html`), which seems a bit odd.

Unfortunately, the URL that's constructed to do that is the one visible to the end user. If the user is accessing Apollo at a location that's not known or understood internally, then Apollo fails to load the login form. In my s

[2015-03-19 21:26] erasche commented on #200
So it is! I'll close this as a duplicate and cross post there. Thanks!

[2015-03-19 21:26] #200 closed

[2015-03-19 21:29] erasche commented on #130
As mentioned in #200, the regex for capturing context/path has some small issues whereby Apollo can't be deployed at tomcat's root.

[code]

[2015-03-19 21:30] erasche commented on #201
xref http://gmod.827538.n3.nabble.com/WebApollo-500-on-Login-Route-in-container-td4048805.html

[2015-03-19 21:42] nathandunn commented on #201
Thanks @erasche   I didn't write this code originally (just migrated it).   I do think we need to be *very* aware of the DNS proxy issues going forward.

The URL request to the file-system, I agree, is weird.  Typically it should be a compiled JSP (which would fix the other problems).

This would be a fairly straight-forward fix if it would help you.  Let me know.

[2015-03-19 21:55] erasche commented on #201
This would be incredibly useful for me to have; this issue limits us to one docker containers/one Apollo instance per host.

(I don't know how much you use docker...) With docker we run 1 service per container. Multiple Apollos in a single container is discouraged in lieu of a single Apollo instance per container, running multiple times on different ports. If a fix can be produced for this, then I

[2015-03-19 22:13] nathandunn commented on #201
I'll try to make that happen in the next week or 2.

[2015-03-19 22:14] erasche commented on #201
Sounds good. Again, if there's anything I can do to help, I'd be happy to, but I'm afraid it's probably outside the scope of my abilities currently.

[2015-03-19 22:28] nathandunn commented on #201
It's not a hard fix (I hope).  Sharing any info about docker and integrating stuff into your pipeline would be a significant contribution to the community.

Nathan

[2015-03-19 22:30] erasche commented on #201
Absolutely, will do!

tor. 19. mar. 2015 kl. 17.28 skrev Nathan Dunn <notifications@github.com>:

[2015-03-23 19:24] nathandunn commented on #201
@erasche  I merged this into mainline.

[2015-03-23 19:39] erasche commented on #201
Thanks @nathandunn !

[2015-03-23 19:40] nathandunn commented on #201
@erasche   We'll close it when it goes into 1.0.5.   Thanks.

[2015-03-23 19:40] nathandunn commented on #201
@erasche   I take that back :)

[2015-03-23 19:40] #201 closed

[2015-03-24 20:24] erasche opened #203 "RemoteUser does not currently auto-add users to tracks"
Building upon the original PR I opened in #60, we use `REMOTE_USER` authentication because we'd rather offload authentication to our university. One of the major joys of it is not managing a user list, and having people automatically added to services on first login (c.f. gitlab/mediawikis which both auto-create users with default permissions).

I'd like to add a configurable option to support aut

[2015-03-24 21:14] nathandunn commented on #203
I *think* I would edit the RemoteUserAuthentication.java class and quite probably the ServerConfiguration (and thus config.xml).

I think what you are wanting is for it to automatically submit the JSON if it is not there locally if configured to auto_add, then just copy the JSON post from addUser.jsp.

[2015-03-24 21:35] cmdcolin commented on #203
I think this is a good observation.  I had noted where even the BrowserId login requires you to have been added to the user list manually but didn't really have a plan to fix it, but it seems fairly reasonable to allow some users to be added automatically.

[2015-03-24 22:08] erasche commented on #203
@nathandunn I considered doing that (and please forgive me if I'm misunderstanding your suggestion), but the JSON post for addUser requires it be posted from a session that's permitted to manage users. Unregistered users won't have that permission, and I figured the POST would be useless, I further figured the server wouldn't be able to submit some kind of "privileged" request to itself for managi

[2015-03-24 22:44] nathandunn commented on #203
You’re right, not sure why I would do a post if you already have access to the API.   I would use:

UserManager.getInstance().addUser() in the RemoteAuthentiation method to add it locally.

Nathan

[2015-03-26 14:38] erasche commented on #203
- auto-creation of users implemented
- debugging issues with auto-track-permissions now.
- need to add unit tests for permissions code

Initial work here: https://github.com/erasche/Apollo/commit/6fc2e0f0c3e05525a0e9481a45329de6273c5baa in case anyone has comments/opinions on it. I plan to re-write the history to remove unnecessary changes/whitespace removal before making the PR.

Automatic user c

[2015-03-26 22:56] erasche commented on #134
I may be poking my nose into things, but has something like [Apache Shiro](http://shiro.apache.org/) been considered for this, since they have *lots* of auth features?

[2015-03-26 22:57] erasche commented on #134
Edit: Ah, I see this now in #115

[2015-03-26 23:10] erasche opened #205 "On GFF3 export if tmp dir non-existent, explicitly fail"
Currently on requesting GFF3 for the User Annotation track generates an exception if the `tmp` directory doesn't exist.

[code]

It would be nice if Apollo would try to create this on demand, or as part of the `deploy` target for a cleaner solution.

[2015-03-27 04:42] nathandunn commented on #134
Eric,

The 2.0 roadmap contains a lot of this stuff.  We are using Shiro over grails for authentication.  I’ve had pretty good luck with it thus far.

Nathan

[2015-03-27 04:45] nathandunn commented on #205
Eric, I think the correct behavior is to specifically fail.  If it tries to create a directory based on a default, we don't want it create directories and dumping files.   However a NPE is just not good practice.

[2015-03-27 04:55] erasche commented on #205
Okay, sounds fine to me. I'll dig into the code and see if I can't have it
return a more useful error.

tor. 26. mar. 2015, 23.45 skrev Nathan Dunn <notifications@github.com>:

[2015-03-30 14:02] Juke34 opened #206 "Ontology Attributes from my gff3 file disappear using add_transcripts_from_gff3_to_annotations.pl script"
Hello everyone,
Using the script "add_transcripts_from_gff3_to_annotations.pl" my Ontology attributes are not kept. Indeed when I'm looking "Edit information" nothing appear (except for other attributes as _AED=0.05).

my original feature is like that:
	maker   mRNA    852190  872265  507     -	.	ID=maker-scaffold_0-exonerate_protein2genome-gene-8.12-mRNA-1;Parent=maker-scaffold_0-exonerate_protei

[2015-03-30 15:14] cmdcolin commented on #206
The GO ontology term will only be loaded from and saved to the DBXRef field so in this case you are correct in your assessment of that issue. Does it need to be customized for your case to allow other fields to be loaded?

That's an important issue that needs fixing. Cross reference https://github.com/GMOD/Apollo/issues/52

[2015-03-30 19:05] monicacecilia commented on #206
@Juke34, as you have noted, - and as @cmdcolin has explained before - at this time we do not support saving metadata from the evidence tracks into the new User-created Annotations. We have taken notice of the request, from you and other users, and are now looking into it.

Additional commentary on this is available from #52 as noted before. I previously commented: "Until now Apollo has not importe

[2015-03-30 20:21] monicacecilia opened #207 "Add ability to annotate terminators."
As suggested by @erasche, it would be nice to have the ability to add other genomic features such as terminators.

We will welcome help in defining the elements that can be represented:
* Will we need to distinguish between Rho-dependent and Rho-independent terminators?
* More information on how these elements are identified / predicted and additional details on their recognition - how does RNApol

[2015-03-30 21:02] erasche opened #208 "Logging/Audit trail for annotation edits."
Per email comments, we'd be interested in increased logging on the Changes page. @monicacecilia mentioned that there were plans for this, though what information should be visible was less well defined.

Here's a non-exhaustive, very wishlist-y list of features that would be nice in increased logging:

- basically we want an audit trail, where every notation corresponds to a diffable change in the

[2015-03-30 21:15] nathandunn commented on #208
@erasche   Thanks.  I put this in 2.1  . . . however, knowing who the annotation owners will come in 2.0.

[2015-04-02 23:05] nathandunn opened #209 "shiro login / logout invalidates session"
Related to this:

http://stackoverflow.com/questions/8882153/shiro-session-already-invalidated

But the grails / shiro plugin somehow doesn't work quite correctly.

My guess is that it has to do with the websocket thread versus the AJAX posts (which work fine).

For now passing the username through the JSON Object works fine, though not my preference.

[2015-04-02 23:06] nathandunn commented on #209
This is kind of related, though it uses the Atmosphere framework:

https://jfarcand.wordpress.com/2011/07/13/quick-tip-using-apache-shiro-with-your-atmospheres-websocketcomet-app/

This is more or less what I did, but passing it as a JSON object instead.

[2015-04-06 02:21] nathandunn commented on #209
working

[2015-04-06 02:21] #209 closed

[2015-04-06 02:21] nathandunn commented on #205
@deepakunni3   Feel free to close if this is no longer relevant or if it is working now.

[2015-04-06 02:22] nathandunn commented on #88
@cmdcolin   I believe this is in the BLAT realm.

[2015-04-06 02:24] nathandunn commented on #130
@cmdcolin   Can you test for 2.0 when you have a chance?

[2015-04-06 02:27] nathandunn commented on #156
I need to set a "public" flag for viewing organisms via a group.

[2015-04-06 02:29] nathandunn commented on #18
I believe that this is related to the bug where if there is too many isoforms it becomes impossible to drag in the first place.

[2015-04-06 02:36] nathandunn commented on #14
should be a non-issue in 2.0

[2015-04-06 02:37] nathandunn commented on #27
fixed in 2.0.0?

[2015-04-06 02:38] nathandunn commented on #26
Need to make sure we're handling this case.  I largely left the "Annotations-" prefix, but I like Stephen's solution better.

[2015-04-06 02:53] nathandunn commented on #16
Want to retest this in 2.0.0.

[2015-04-06 02:57] nathandunn commented on #114
Should be working , if not need to fix.

[2015-04-06 03:00] nathandunn commented on #28
@deepakunni3   Feel free to kick this down the road (2.1) if it looks tough.   Basically, should issue an error of some type.  It might be that this is more appropriate for @cmdcolin   as well.

[2015-04-06 03:03] nathandunn commented on #33
@deepakunni3   Can you verify that this does or does not work.   Can kick to 2.0.1 if no time.

[2015-04-06 03:05] nathandunn commented on #44
hell's yes!

[2015-04-06 03:05] #44 closed

[2015-04-06 03:13] nathandunn commented on #102
I have a notion of sharing between instances for 2.1 . ..  we'll be able to get multiple organisms per instance . .  so we'll see how that scales.   We also have plans to allow logins with Drupal, Oauth, etc. etc.

[2015-04-06 03:16] nathandunn commented on #34
Probably just need to double-check or clarify.

[2015-04-06 03:26] nathandunn commented on #35
Need to verify / fix.

[2015-04-06 03:27] nathandunn commented on #39
For after the 2.0.0 release (I think).

[2015-04-06 03:44] nathandunn commented on #173
@monicacecilia   Probably just need to discuss.  If there is stuff to do for this one it should be moved to do to 2.0.1.

[2015-04-06 03:45] nathandunn commented on #131
@deepakunni3   . . . if you don't think that this is reasonable to get this done by this week, move it to 2.0.1 (May) or 2.1 (Summer)

[2015-04-06 03:49] nathandunn commented on #51
The architecture is setup to support this, but almost all of the code I converted from 1.0 assumed that there would always be a single feature location per feature.

[2015-04-06 03:50] nathandunn commented on #48
Some of this is functional.   Not sure if this is the related to the evidence or annotation tracks.   We need to explore this a bit more either way.

[2015-04-06 03:56] nathandunn commented on #93
I think that the detailed view might fix this (but am unsure)

[2015-04-06 04:00] nathandunn commented on #79
This might come in 2.0  as well.

[2015-04-06 04:00] nathandunn commented on #75
probably mostly done

[2015-04-06 04:15] nathandunn commented on #9
Need to review this one again.

[2015-04-06 04:33] nathandunn opened #210 "validate / pull in new 1.0 bugz"

[2015-04-07 16:34] nathandunn opened #211 "BAM / BigWig tracks not working"
This should be fixed.

[2015-04-07 16:39] nathandunn opened #212 "on hitting return should "submit" login form"

[2015-04-07 16:57] cmdcolin commented on #212
Should be ready on the 2.0 branch. Sorry I stole the issue from you ^_^

[2015-04-07 17:24] nathandunn commented on #212
Worked for me.  No problem so long as we get the BLAT stuff finished.

[2015-04-07 17:25] nathandunn opened #213 "logout button in jbrowse window broken"

[2015-04-07 17:26] nathandunn commented on #213
from @monicacecilia

When attempting to Logout:
"ErrorCtor {message: "Unable to load ../Login?operation=logout status: 500", response: Object, status: 500, responseText: "<!DOCTYPE html>↵<!--[if lt IE 7 ]> <html lang="en"…lay:none;">Loading&hellip;</div>↵</body>↵</html>↵", xhr: XMLHttpRequest…}"

[2015-04-07 17:29] nathandunn opened #214 "browser refresh should bring a user back to the same place"
Funny . . . it does this, but not for selected ones.

[2015-04-07 17:38] nathandunn opened #215 "when switching organisms, should propagate to all other pages"
from @monicacecilia

After switching from bee to human, in both places where the word "Organism" appears, I am still able to "Export" the last selected scaffold (Group) of bee.

-- This is only in theory: I am able to initiate the command to "Export" by clicking on the last selected Group (which still appears after switching to human), but the error to Export still appears. Notice in the image I w

[2015-04-07 17:38] nathandunn commented on #215
I think that this needs a bit more discussion, but overall it makes sense.

[2015-04-07 17:41] nathandunn opened #216 "user create needs to be more intuitive"
from @monicacecilia

I first typed the info on the fields and then clicked "Create". Which made everything disappear, so I assume it was done. -- then I could not find the user.

It was only after the third time that I realized that typing the info on the fields, then clicking on "Create" was not the appropriate order. I needed to first click "Create", then type, then click "Save".

[2015-04-07 17:46] nathandunn commented on #216
@monicacecilia   Can you put in what you would like / expect to see (pictures or words) and I'll make that happen.   We have a similar structure for group and organism, so something more intuitive makes a lot of sense so that we can propagate it throughout the UI.      This is why engineers shouldn't design user interfaces ;)

[2015-04-07 21:21] nathandunn opened #217 "delete organism no longer working"

[2015-04-08 17:10] #14 closed

[2015-04-08 17:19] monicacecilia commented on #26
@nathandunn  says that we can store the "new" name in the database, which will over-ride the display.

[2015-04-08 17:31] nathandunn opened #218 "uniquename should be shorter with no dashes and informative"
Should be: Name-Type-Date-UniqueKey

Maybe we don't need UniqueKey if we do compairsons

[2015-04-08 17:39] monicacecilia commented on #33
@nathandunn shares that this is fixed and we won't see the error again on 2.0. If this resurfaces, please let us know.

[2015-04-08 17:39] #33 closed

[2015-04-08 17:47] nathandunn opened #219 "need to be able to share url's and specify organism"
1 - need to be able to share url's

Can not copy and paste URL's and use them separately . . . need to be able to do that and specify the organism.

[2015-04-08 17:51] nathandunn commented on #217
Had to fix to work on other things.

[2015-04-08 17:51] #217 closed

[2015-04-08 17:55] monicacecilia commented on #27
@nathandunn I have been testing this on 2.0 and [happily] I have not been able to reproduce it. For now I am closing this issue and if it reappears on 2.0, we'll address it again.

[2015-04-08 17:55] #27 closed

[2015-04-08 17:56] monicacecilia commented on #50
This is done!!

[2015-04-08 17:56] #50 closed

[2015-04-08 17:57] monicacecilia commented on #34
Unable to reproduce this.
Should it arise again after 2.0, let's bring it back. I'm closing for now.

[2015-04-08 17:57] #34 closed

[2015-04-08 18:00] nathandunn commented on #131
@deepakunni3  You're still welcome to do this, just wanted to plan out the 2.0.0 release, though.

[2015-04-08 18:01] monicacecilia commented on #16
After testing, have not been able to reproduce. This is good!
I am closing this issue for now, and I am positive 2.0 won't be sending this error again - connectivity and latency should not be that much of an issue with the new architecture. *here's hoping*.

[2015-04-08 18:01] #16 closed

[2015-04-08 18:12] deepakunni3 commented on #131
@nathandunn  I can start on this after I finish the export feature.

[2015-04-08 18:15] nathandunn commented on #131
Okay.  If you think that it will take more than a day (roughly), then leave it for 2.1.

I have some other stuff for the 2.0.0 release for you to do, as well.

Thanks!

Nathan

[2015-04-08 18:30] monicacecilia opened #220 "(1w) Add ability to change type for feature in UcA area"
Add ability to change type for feature in UcA area.
Leftover from issue #23

[2015-04-08 18:31] monicacecilia commented on #23
@nathandunn will do what he proposed on 2014-10-02 for 2.0

The ability to change the type of a feature after it has been dragged to Uc-A area should also be implemented, but will add an issue for 2.1. See #220

[2015-04-08 18:31] #23 closed

[2015-04-08 18:38] nathandunn commented on #130
tested it on a locally deployed tomcat and works

[2015-04-08 19:08] selewis commented on #50
Cheers! Huzzah!

On Wed, Apr 8, 2015 at 10:56 AM, Monica Munoz-Torres <
notifications@github.com> wrote:

[2015-04-08 19:10] selewis commented on #131
Right, low priority.

Reverse complement - now that's a high priority.

On Wed, Apr 8, 2015 at 11:15 AM, Nathan Dunn <notifications@github.com>
wrote:

[2015-04-08 19:45] monicacecilia commented on #35
I need more background to test this.

[2015-04-08 19:49] monicacecilia commented on #75
@nathandunn it's done.

[2015-04-08 19:49] #75 closed

[2015-04-08 19:59] nathandunn opened #221 "Genes not displaying correctly"
Probably has something to do with the JBrowse Controller and established Mime-Type

![screen shot 2015-04-08 at 12 58 32 pm](https://cloud.githubusercontent.com/assets/751274/7054082/fe107dac-ddee-11e4-99b4-402b713062f6.png)

[2015-04-08 20:01] nathandunn commented on #93
This *should* be recorded on the FeatureLocation object

[2015-04-08 20:02] monicacecilia commented on #93
From old time Apollo...
![screen shot 2015-04-08 at 1 02 01 pm](https://cloud.githubusercontent.com/assets/1714621/7054151/85ff27d6-ddef-11e4-84c2-0ddcb6eeb7db.png)

[2015-04-08 20:03] cmdcolin commented on #35
While it's unclear how the original problem was generated, I have tried to simulate inputs that might cause problems like this. In once case,  i used my script test_add_feature.pl to generate inputs where fmin/fmax are larger than UINT_MAX (other thread https://github.com/GMOD/Apollo/issues/33#issuecomment-90984341)

For example this command that i mentioned in that thread still has problems with

[2015-04-08 20:04] monicacecilia commented on #114
Nothing has broken yet... so I have not seen the error. __*here's hoping*__.

[2015-04-08 20:05] nathandunn commented on #35
@cmdcolin   K . . thanks I'll take a look.

[2015-04-08 20:05] #114 closed

[2015-04-08 20:13] cmdcolin commented on #221
This is normally just missing CSS. There is a lot of custom CSS on honey bee example. Normally we add a folder called our_css to the plugins/WebApollo/css/ directory and then include them in plugins/WebApollo/css/main.css or add them using the css flag in the trackList.json
http://gmod.org/wiki/JBrowse_Configuration_Guide#Click_Configuration_Options

[2015-04-08 20:17] nathandunn commented on #210
redundant with #94

[2015-04-08 20:17] #210 closed

[2015-04-08 20:28] monicacecilia commented on #125
This seems to be another connectivity ^/∨ latency issue.
We are confident that 2.0 will take scare of this conflicts; I am closing this issue.

[2015-04-08 20:28] #125 closed

[2015-04-08 20:30] nathandunn commented on #221
@cmdcolin   I'm fairly certain that is not the issue, though a good place to start . . . I think its that I'm setting the mime-type incorrectly in the JBrowseController.  It was working before I put the code in their to support bigwig and bam files.

[2015-04-08 20:54] monicacecilia commented on #127
The ability to modify the coordinates is now available on 2.0.

For now, however the panel on the right, where the coordinates are modified is not "talking" to the annotation on the UcA area. That is, although modifying the coordinates using the "Max" and "Min" fields will immediately and effectively change the coordinates of the feature in the UcA area, selecting the feature on the panel on the r

[2015-04-08 20:56] monicacecilia commented on #173
Necessary action: add a warning when setting 3'/5' end is not possible.
*Warning: Cannot set end; selected evidence supports opposite strand.*

[2015-04-08 21:04] nathandunn commented on #35
We won't encounter reference sequences scaffolds larger than an int value.

[2015-04-08 21:04] #35 closed

[2015-04-08 21:14] monicacecilia commented on #173
@nathandunn an example on how to set end of an exon using RNAseq as reference.
https://youtu.be/VgPtAP_fvxY

[2015-04-08 21:29] monicacecilia commented on #211
Beautiful!

[2015-04-08 21:29] #211 closed

[2015-04-08 21:30] monicacecilia commented on #212
no more clicks!

[2015-04-08 21:30] #212 closed

[2015-04-08 21:30] nathandunn opened #222 "apollo short-cuts absorbed by interface"
Example - arrow-keys and brackets can be used to navigate.  Works in full-screen mode.

The MainPanel absorbs the click events and doesn't distribute to the IFrame.  May need to register key-commands as part of the plugin in the same way:

http://stackoverflow.com/questions/13438246/is-there-a-way-to-send-keyboard-key-press-to-iframe-content

otherWindow.postMessage(message, targetOrigin, [transfe

[2015-04-08 21:31] monicacecilia commented on #214
@nathandunn not funny. :-1:  :)

[2015-04-08 21:39] nathandunn commented on #215
when switching organisms, should update EACH panel

[2015-04-08 21:42] nathandunn commented on #216
hide fields if not selected or not used .

[2015-04-08 22:01] nathandunn commented on #219
can also "generate" a URL, as well

[2015-04-08 22:17] cmdcolin commented on #222
I think clicking on the genome browser itself allows the keyboard events to work. I had originally been worried by this which motivated me to post the jbrowse issue about embedding without the iframe, but i think that just clicking on the genome browser allows keyboard shortcuts to work

[2015-04-08 22:18] cmdcolin commented on #222
That said, it probably wouldn't hurt to pass through the keyboard shortcuts even when it is not selected

[2015-04-08 22:20] nathandunn commented on #222
It doesn’t work.   The keyboard events are not propagated to the iframe.

Nathan

[2015-04-08 22:24] cmdcolin commented on #222
Oh. I guess it does propagate them in firefox...chrome/safari not so much...

[2015-04-08 22:30] selewis commented on #93
In old time apollo we calculated it on the fly (silly to record it as it
should be derived). it is captured automatically when the translation is
done.

-S

On Wed, Apr 8, 2015 at 1:02 PM, Monica Munoz-Torres <
notifications@github.com> wrote:

[2015-04-09 00:02] nathandunn commented on #214
related to #215 . .  context switching for some organisms do not seem to get stored . ..  probably need a preferences JSON for this

[2015-04-09 00:03] nathandunn opened #223 "transaction history / undo /redo works for all but transcript split / merge operations"

[2015-04-09 00:03] nathandunn commented on #223
https://trello.com/c/9Qu5jxSD

[2015-04-09 00:14] nathandunn commented on #218
@monicacecilia  @selewis

The more I look at this, the more I think that the UUID is the correct way to go.  We still have the name, but it is a global identifier related to time-stamps.     If I send you a GFF3 file with my UUID's, and you make changes, I can correlate it back to my own system.   And its a standard!!

[2015-04-09 00:19] selewis commented on #218
What am I missing?

Yes we absolutely need a UUID.

This also serves as the symbol (aka name, aka label) if none other is
available.

But note! The UUID and the symbol are -not- the same thing. We need both.
UUID for all the reasons you say computer operations etc. And a name for
the biologists to refer to it in common parlance.

-S

On Wed, Apr 8, 2015 at 5:14 PM, Nathan Dunn <notifications@githu

[2015-04-09 00:28] nathandunn commented on #218
Right .. We have a name and a symbol of a gene.  The unique name is the identifier.  Just looks ugly to have the uuid in the gff3 but it is only marginally worse than current.

Nathan

[2015-04-09 00:31] #218 closed

[2015-04-09 00:32] selewis commented on #218
Please, please do not call it a name. It's an ID, call it such. "Name" is
far too ambiguous and calling an ID a name will confuse people. Don't!

That is - don't have a "name" and a "symbol". Either have
a) name and ID
or
b) symbol and ID

On Wed, Apr 8, 2015 at 5:28 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-04-09 00:34] selewis commented on #218
You've closed this, but I sure hope it's not left standing as "name" and
"ID" are treated as the same thing!

If so then please re-open.

On Wed, Apr 8, 2015 at 5:31 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-04-09 03:00] nathandunn commented on #218
There is no change from the original feature object.

Properties are id name, uniqueName, and symbol .. Same as before.  The only change is that uniqueName is calling the Java uuid method directly instead of rolling our own.

Nathan

[2015-04-09 03:24] nathandunn commented on #93
Not sure if these are correct, you'll have to double-check.

[2015-04-09 05:10] nathandunn commented on #219
It is in the link icon . . .

[2015-04-09 05:15] nathandunn commented on #222
So, if you "select an annotation" (not a jbrowse track) then everything works as expected.   They keys that we're trying to remap are:

- arrow keys (left and right at least)
- brackets
- squigglies

It might be possible to just propagate these if they are in the Annotation window.

[2015-04-09 05:22] nathandunn commented on #222
@monicacecilia   This has a workaround (click on an annotation) . .  but still needs to be fixed .. . just removing the "important" label.

[2015-04-09 13:59] selewis commented on #218
Think I need more information. Talk later today.

On Wed, Apr 8, 2015 at 8:00 PM, Nathan Dunn <notifications@github.com>
wrote:

[2015-04-09 17:14] nathandunn commented on #219
link should be in the blue section to *ALWAYS* represent what is going on in the JBRowse windwo

[2015-04-09 17:15] nathandunn opened #224 "can not delete a Pseudogene"
447d-82f6-3726ef7e92c2', sequenceLength=null, status=null, dateCreated=Thu Apr 09 10:15:03 PDT 2015, lastUpdated=Thu Apr 09 10:15:03 PDT 2015}
found the method deleteFeature
researcher roles? ADMIN
2015-04-09 10:15:12,693 [clientInboundChannel-2] ERROR springwebsocket.GrailsSimpAnnotationMethodMessageHandler  - Unhandled exception
java.lang.reflect.InvocationTargetException
	at org.bbop.apollo.Ann

[2015-04-09 17:24] nathandunn opened #225 "when click on "Exon" in details panel, should highlight"

[2015-04-09 17:28] monicacecilia commented on #127
The action item in this issue has been completed. More functionality coming up in #225
I am closing this one.

[2015-04-09 17:28] #127 closed

[2015-04-09 17:33] nathandunn opened #226 "get rid of "Type" in Tracks panel"

[2015-04-09 17:33] nathandunn opened #227 "re-enable jbrowse-style look and feel the tracklist"
@cmdcolin   Note that this is 2.1

[2015-04-09 17:37] monicacecilia commented on #221
Genes are displayed correctly now. Thanks!

[2015-04-09 17:37] #221 closed

[2015-04-09 17:39] nathandunn opened #228 "sandbox user annotations on the same organism"
My thought is that user's will have a "different" type of permission on an organism, allowing them to see only annotations within their group or self.

There is a trello card.

[2015-04-09 17:41] monicacecilia commented on #226
Not a permanent change. The intention is to update it to have something that is more informative.
See issue #227

[2015-04-09 17:46] monicacecilia commented on #213
New logout button on the Annotator panel works.
The logout button on the JBrowse window does not.

[2015-04-09 17:46] nathandunn commented on #213
I need to redeploy this with a "copy_client.sh" command or via the Apollo binary.

[2015-04-09 17:47] nathandunn opened #229 "(3d) add a "read only my annotations" user / group level"
Related to sandboxing.

[2015-04-09 17:50] monicacecilia commented on #215
No, there error remains. The last selected group is persistent even after changing organisms.
![screen shot 2015-04-09 at 10 49 33 am](https://cloud.githubusercontent.com/assets/1714621/7073141/3350dcf2-dea6-11e4-956e-e121e405f6c7.png)

[2015-04-09 17:53] nathandunn opened #230 "only allow organisms allowed in organism tab (for organism admin's only)"

[2015-04-09 17:54] monicacecilia commented on #216
Not ready yet.
The "Create" button is available when no users are selected.
If a user is selected then then the "Create" button is disabled. There is no easy way to "unselect" a user. Command + click is simply not intuitive. An alternative would be to click outside the list of users, or hitting "esc".
Regardless, the "Create" button remains disabled even after "de-selecting" a user with "Command +

[2015-04-09 17:58] monicacecilia commented on #93
![screen shot 2015-04-09 at 10 57 58 am](https://cloud.githubusercontent.com/assets/1714621/7073300/4fcabece-dea7-11e4-988a-dcdc7ffd134e.png)

[2015-04-09 18:00] nathandunn commented on #93
Phase should be 0,1,2

[2015-04-09 18:10] nathandunn opened #231 "gff3 export works"
@deepakunni3   For you to mark ready and assign to me when it is ready (I'll then send it to Moni to test).

[2015-04-09 18:10] nathandunn opened #232 "FASTA export works"
@deepakunni3   For you to mark ready and assign to me when it is ready (I'll then send it to Moni to test).

[2015-04-09 18:12] nathandunn opened #233 "BLAT search and configuration"
@cmdcolin  For you to mark ready and assign to me when it is ready (I'll then send it to Moni to test).

[2015-04-09 18:29] nathandunn commented on #93
So starts at 0 (fixed).  Calculated as follows:

        int length = 0;
        for (Exon exon : exons) {
            if (!exon.overlaps(cds)) {
                continue;
            }
            int fmin = exon.getFmin() < cds.getFmin() ? cds.getFmin() : exon.getFmin();
            int fmax = exon.getFmax() > cds.getFmax() ? cds.getFmax() : exon.getFmax();
            String phase;

[2015-04-09 18:29] nathandunn commented on #93
So, the first exon is *ALWAYS* 0.

[2015-04-09 18:58] nathandunn opened #234 "fix apollo binary"
https://trello.com/b/ns56thpP/web-apollo

[2015-04-09 21:35] nathandunn commented on #230
seems to be working already . . .

[2015-04-09 21:35] #230 closed

[2015-04-09 23:34] selewis commented on #93
Yep! Looks right to me.

On Thu, Apr 9, 2015 at 11:29 AM, Nathan Dunn <notifications@github.com>
wrote:

[2015-04-09 23:34] nathandunn opened #235 "exon / CDS should ALSO be editable text fields, but nudge up and down"
can be "nudged", but not an open text fields

[2015-04-09 23:49] #234 closed

[2015-04-10 00:24] nathandunn commented on #214
Duh . .  I need to keep a JSON object of session preference:

    { defaults:
       [{  organism: 'bee',sequence:'Group1.10'}, { organism: 'human':sequence:'chr4' }]
       ,{defaultOrganism:'bee'}
   }

[2015-04-10 01:17] nathandunn commented on #215
Currently the work is stashed

[2015-04-10 01:51] nathandunn commented on #231
@deepakunni3   I optimized your call (ignore the white-space).

If you have a way to flag "all" that would probably be optimal.  I'm not sure what the limit for "inList" is when exporting all.    (imagine you had 1K annotated sequence groups) . . .

Anyway, lower priority.  You can review it, mark it as ready and send it back to me.

[2015-04-10 01:52] nathandunn commented on #232
@deepakunni3   Looks like the same code as in #231 . . . just review and send back.  If there is a way to fix for "all" that would be great.

Nathan

[2015-04-10 01:53] nathandunn opened #236 "need a "gant" to call 'ant devmode' (using AntBuilder?) for gwt"
for "./apollo run"

[2015-04-10 02:34] nathandunn commented on #231
@deepakunni3  The change amounts to doing a single query with a join to feature location so that we only fetch sequences that have annotations.   When you do a "Sequence.findByName()" it is actually executing a SQL query.    Which is fine, unless they are in a loop of 5K!    Anyway, it is always best to get it to work first and then optimize it.

[2015-04-10 03:59] nathandunn commented on #214
Need to be able t save the userprefs as well
![img_0170](https://cloud.githubusercontent.com/assets/751274/7081694/537740c0-defb-11e4-8d68-ff9c6e6f572a.jpg)

[2015-04-10 05:07] nathandunn commented on #233
@deepakunni3   I think you marked the wrong one.

[2015-04-10 05:08] nathandunn commented on #232
@deepakunni3   Looks like you tried to assign 233 . . . I'll just assign it back.   No worries.

[2015-04-10 05:16] nathandunn commented on #215
Need a domain object:  Preference with fields: User user, JSONObj value, String name # name of preference.    This will be a pretty loose way to do this.       So, when we switch out of the organism, it will go to the Preference table and pick out the value for that organism . .  these will be organismId, organismName, referenceSequence, browser info.

Conversely, I could instead use a database ta

[2015-04-10 05:19] nathandunn commented on #214
Need a domain object: Preference with fields: User user, JSONObj value, String name # name of preference. This will be a pretty loose way to do this. So, when we switch out of the organism, it will go to the Preference table and pick out the value for that organism . . these will be organismId, organismName, referenceSequence, browser info.

Conversely, I could instead use a database table called

[2015-04-10 15:36] #205 closed

[2015-04-10 15:37] nathandunn commented on #236
grails create-script run-devmode
in the generated RunDevmode.groovy use AntBuilder.groovy to call "ant devmode"

http://docs.groovy-lang.org/latest/html/documentation/ant-builder.html
Should be able to use this to execute the devmode and then the run targets. .  . .

grails
gwt-devmode
run

[2015-04-10 15:40] deepakunni3 commented on #205
This shouldn't happen the way it is currently implemented, unless the server hard disk has insufficient space.

[2015-04-10 15:56] nathandunn commented on #235
This just needs two buttons (or something like that) that will allow user's to increase / decrease fmin and fmax.  There is some code in there for the old text-box that handle the onChange event.  It should really just mimick that and check for fmin < fmax, etc. and gray out the buttons while requests are in transit.

[2015-04-10 16:56] nathandunn commented on #94
https://github.com/GMOD/Apollo/issues?q=milestone%3A1.0.3

https://github.com/GMOD/Apollo/issues?q=milestone%3A%221.x+release%22

https://github.com/GMOD/Apollo/issues?q=milestone%3A1.0.4

https://github.com/GMOD/Apollo/issues?q=milestone%3A%221.0+-+Mavenized+Builds%22

[2015-04-10 17:01] nathandunn commented on #122
re-applying fix in 2.0.0

[2015-04-10 17:03] nathandunn commented on #82
@deepakunni3   Can you recheck this for 2.0.0?  Thanks.

[2015-04-10 17:08] nathandunn commented on #30
@monicacecilia   I want to retest this in 2.0.0  I looked and it appears that we have the correct code in there, but I want some separate eyes to verify.

[2015-04-10 17:16] nathandunn commented on #91
Need to re-apply this patch . . . behavior seems to have regressed.    This is because the seqMapper code doesn't use the caching mechanism:

def seqMapper() {
        String fileName = getJBrowseDirectoryForSession()
        File file = new File(fileName + "/seq/${params.a}/${params.b}/${params.c}/${params.group}");
        if (!file.exists()) {
            log.error("Could not get seq file " + f

[2015-04-10 17:25] nathandunn commented on #168
@cmdcolin   Can you re-review this monkey-patch and send it back as ready with a patch if needed.

Thanks.

[2015-04-10 17:28] nathandunn commented on #193
@cmdcolin   Can you verify that your patch is set.  If there is no patch needed just assign it to @monicacecilia  marked as Ready.   Otherwise assign it to me with the patch and I'll send it up.

[2015-04-10 17:29] nathandunn commented on #186
@monicacecilia   I don't *think* this is broken, but wanted you to verify.

[2015-04-10 17:33] nathandunn commented on #181
@cmdcolin   Can you confirm that this patch is there.  If it is there, assign it to @monicacecilia  to review or assign it to me to push.   Thanks!

[2015-04-10 17:35] nathandunn commented on #177
@deepakunni3   Can you close this if it is working (pretty sure it is).

[2015-04-10 17:50] nathandunn commented on #172
Will have to have @monicacecilia  retest now that I've refixed.

[2015-04-10 17:52] nathandunn commented on #119
@monicacecilia   Needs to be rested.

[2015-04-10 17:53] nathandunn commented on #120
@monicacecilia  Needs to be retested.

[2015-04-10 17:56] nathandunn commented on #109
@monicacecilia   Needs to be rested in 2.0.0

[2015-04-10 18:00] nathandunn commented on #70
@monicacecilia   Need to retest.

[2015-04-10 18:13] nathandunn commented on #67
I need to review this.

[2015-04-10 18:18] nathandunn opened #237 "(2h) web_sevices_api (add organism notes)"

[2015-04-10 18:21] nathandunn commented on #237
should look like:

![screen shot 2015-04-10 at 11 19 00 am](https://cloud.githubusercontent.com/assets/751274/7094084/7231d728-df73-11e4-9fbe-13d99e52a086.png)

Help should be a "popup", "version" should go to the correct page.  Web services API page should work (convert to a gsp? )

[2015-04-10 18:25] selewis opened #238 "In tables (like the annotation panel) the text in the column shouldn't overlap with other columns"
See this for Type and Length columns in the annotation panel

[2015-04-10 18:30] nathandunn commented on #87
@monicacecilia   If you could retest this that would be great.  Thanks.

[2015-04-10 18:31] selewis opened #239 "In ref sequence tab labels are needed"
The text field for entering the ref sequence ID should be labeled.
and the number (font is too small as well) should clearly state "number of ref sequences"

[2015-04-10 18:32] selewis opened #240 "Under organism tab the column named Sequences should be Ref sequences"
Be consistent throughout the application in naming things

[2015-04-10 18:35] selewis opened #241 "Get rid of extraneous Ref Sequence text field above the tabs"
It's redundant with what's under the Ref Sequence tab and is confusing because as a user I assumed it must be somehow someway different.

[2015-04-10 18:37] selewis opened #242 "Add non-editable field in annotation tab to echo what ref sequence currently is being viewed (or add extra column in table)"
That way it clearly differentiates between current status and the text field for searching for a new ref sequence to view

[2015-04-10 18:43] selewis opened #243 "On annotations tab make it clear what ref sequences the current list refers to"
1. The ref sequence text field label should be changed to "Ref Sequence(s)"
2. The field shouldn't be brought up empty, but (in grayed-out text) should say "All"
3. The second search field should be labeled "Annotation Name" (whatever you end up calling it, but use the same words consistently) to match the column heading.
Generally speaking never have an unlabeled text field, far too amiguous.

[2015-04-10 18:45] selewis opened #244 "Annotation details panel refreshes self twice on initial load"
I typed "lalalala" into the description text field and after switching back an forth to other annotations the entire panel disappeared!!

[2015-04-10 18:47] selewis commented on #244
Wait, could be wrong. Problem seems to be that there are no "details" for pseudogenes. That's not right.

[2015-04-10 18:49] selewis commented on #244
Need a much clearer indication of what gene/transcript row in the table is currently being shown in the details panel. Perhaps an arrowhead pointing at the matching row.

[2015-04-10 18:53] selewis commented on #244
The clicking behavior genes on this panel is heterogeneous. Sometimes it opens and closes, other times it selects. Rather see a right/down arrowhead or a plus/minus symbol of the hierarchy.

[2015-04-10 18:54] selewis commented on #244
Details panel needs a lot of reworking, missing information right now. Needs to replace that stupid dialog box...

[2015-04-10 20:13] deepakunni3 commented on #177
Empty fields are now replaced with a period.

[2015-04-10 20:13] #177 closed

[2015-04-10 21:43] nathandunn commented on #94
All are reviewed.  I pulled in anything to be retested in already.

[2015-04-10 21:43] #94 closed

[2015-04-10 22:17] nathandunn opened #245 "GFF3 / FASTA - optimize performance"
We are doing a lot of loops within loops . . . just need a better join query here so that there is a single query.

        for (Sequence eachSeq in sequenceList) {
            List<FeatureLocation> featureLocationList = sequenceService.getFeatureLocations(eachSeq)
            if (featureLocationList.size() == 0) {
                log.debug "No features on sequence ${eachSeq}"
                cont

[2015-04-10 22:21] nathandunn opened #246 "GFF3 / FASTA - workaround the popup"
Somehow we need to not have it issues another popup.  Chrome likes to block popups and you have to specifically disallow.

Possible better solution:
- issue a meta refresh to the link for the response
- create a link with a key.  Store the link and temp file in a session object.  Delete the tmp file and link when done.  (similar to the 1.0 solution).

[2015-04-10 22:28] nathandunn commented on #245
@deepakunni3   What I would typically do would be:

select distinct f from FeatureLocation fl join fl.sequence s join fl.feature f where s in (:sequenceList)

something like that.  If you need to filter by feature type you could do f.ontologyId in (:ontologyIdList). .  . . something like that.

[2015-04-11 00:33] nathandunn opened #247 "merge in origin master"
There are a few dependencies on this.

[2015-04-11 00:36] nathandunn commented on #237
Also need to move the "version" out of the "index" tab and into the "version" drop-down

[2015-04-11 01:22] nathandunn commented on #247
I'll do a first-pass of this on Monday and then have @cmdcolin  review.

[2015-04-11 21:26] nathandunn commented on #247
Related to #248 request

[2015-04-12 17:07] cmdcolin commented on #247
I merged the #248 so it should be ready now. I think some things that still need checking out are things like

In help menu

Version does not work
Web Services API link does not work

Dunno if we want to update those. It might be cool if the Version one is sort of a popup is similar to jbrowse, but not essential.

[2015-04-12 17:16] cmdcolin commented on #237
The help menu should match now. I am not sure what the other tasks mentioned are (maybe has to do with sidebar?)

[2015-04-12 17:18] cmdcolin commented on #224
I was able to delete pseudogene so seems fixed